{% extends "template/onenews.html" %}
{% set title = 'Introducing http://sleducacional.org/' %}
{% block content %}
<img src='{{ newsFolder }}bruno_sleducacional.jpg'
     alt='picture of the sleducational group with bruno'
     style='float: right; padding-left: 10px; cursor: pointer;'
     class='col-xs-12 col-md-4'
     />
<img src='{{ newsFolder }}bruno_sleducacional_mug.jpg'
     alt='picture of the sleducational group with bruno'
     style='float: right; padding-left: 10px; cursor: pointer;'
     class='col-xs-12 col-md-4'
     />
<p>Back from Latinoware in Brazil, it was a great experience for me to
go that far and discover how much GCompris is appreciated.</p>

<p>I met the organisation sleducational.org which is focused on free
software in education and driven by teachers. They are making a great
job in explaining how free software can be used in day to day
training. They know pretty well GCompris since Frederico, the team
leader, is also the translator of GCompris in Brazilian
Portuguese.</p>

<p>To me, it is an excellent news to see an organisation taking our
work further and providing a local support to teachers in Brazil
looking for educational tools.</p>

<p>Also, I got a lot of feedback and this is mandatory to make sure we
continue to be focused on the needs of our users.</p>

<p>And of course it gave me a lot of new ideas for GCompris, just need
to find some time to code, hopefully when the release 9.4 will be
released.</p>

<p>PS: The mug offered by sleducacional to Bruno.</p>
{% endblock %}
