{% extends "template/onenews.html" %}
{% set title = 'Google Summer of Code' %}
{% block content %}
<p>We have 2 students working on GCompris this summer as part of the Google Summer of Code 2011. This year for the first time I proposed GCompris as a project and myself as a mentor.</p>
<p>Srishti will be working on adding activities to let non blind children discover the blind world by learning the Braille code.</p>
<p>Karthik will let our children discover the music world, an important domain in which GCompris is weak.</p>
{% endblock %}
