{% extends "template/onenews.html" %}
{% set title = 'GCompris on Tablets' %}
{% block content %}
<p>Who said GCompris does not run on tablet ?</p>
<p>You don’t imagine the number of people complaining the GCompris does not run on tablet, phone and tv. It is way too much work to port it. I am glad to show the world that choosing the proper hardware, developers don’t have to recode everything.</p>
<p>Look at the <a href='http://www.youtube.com/watch?v=gqkoa0zPEr4'>video here</a>.</p>
{% endblock %}
