{% extends "template/onenews.html" %}
{% set title = 'Novo s&iacute;tio web' %}
{% block content %}
<p>O nosso s&iacute;tio web j&aacute; tem 10 anos de idade e estava precisando dar 
uma remodelada.</p>

<p>Esse agora n&atilde;o &eacute; mais baseado em um CMS, mas sim completamente 
codificado em Python, usando o <a href='http://jinja.pocoo.org/'>gerador 
de modelos de documentos jinja2</a> e gerado estaticamente.</p>

<p>O s&iacute;tio agora &eacute; gerado dinamicamente, incluindo as p&aacute;ginas com 
imagens das telas do GCompris. E o mais interessante &eacute; que a nova 
estrutura do s&iacute;tio pode ser traduzida usando arquivos .po, exatamente 
como funciona a tradu&ccedil;&atilde;o do software GCompris. Isso facilita bastante 
o trabalho dos tradutores em manterem o s&iacute;tio atualizado.</p>

<p>O c&oacute;digo-fonte do s&iacute;tio pode ser encontrado 
<a href='https://github.com/bdoin/GCompris-site'>nesse reposit&oacute;rio do 
github</a></p>.
{% endblock %}
