{% extends "template/onenews.html" %}
{% set title = 'Sgaoileadh 14.03' %}
{% set withlongcontent = 1 %}
{% block content %}
<h4>Feartan mòra</h4>
<ul>
<li class="puce">Cuiridh sinn taic ri cànanan le ioma-ghrafan a-nis ann an click_on_letter – le
GunChleoc.</li>
<li class="puce">’S  urrainn dhut an cruth-clò a thaghadh a-nis ann an còmhradh nan roghainnean – le Bruno Coudoin.
Chaidh am feart seo a chur an àite taghadh nan craiceann. thug sinn an craiceann “gartoon” on a tha e gun fheum a-nis.</li>
</ul>
{% endblock %}
{% block longcontent %}
<h4>Atharraichean beaga</h4>
<ul>
<li class="puce">Chuir sinn “pastel” an àite “torta” san eacarsaich teacsa airson na Spainntis</li>
<li class="puce">Cuiridh sinn taic ri fuaimean ionadaichte a-nis – le GunChleoc. Gabhaidh an guth “yummy yummy” aig gnumch eadar-theangachadh a-nis ann an voices/$LOCALE/misc/eat.wav</li>
<li class="puce">Chuir sinn cùlaibh stampa ri hexagon – le Bruno Coudoin.
Thàinig an cùlaibh o openclipart.org.</li>
<li class="puce">Dh’ùraich sinn an seòladh aig FSF's – le Daniel Mustieles.</li>
<li class="puce">Ann an cruinn-eòlas, chàir sinn an iomradh do sri_lanka.ogg – le Bruno Coudoin.</li>
<li class="puce">Chuir sinn faidhlichean fhaclan a bha a dhìth ris a’ chrochadair – le Bruno Coudoin. Cha robh an liosta Ghàidhlig air a stàladh. Chuir sinn liosta san Fhraingis ris. Chàir sinn an taic ri sràcan. Bha an còd a thug sùil airson litir le sràc san fhacal ri lorg briste.</li>
<li class="puce">Chàir sinn an rianachd ach an gabh i ri cur a-steach le UTF-8 – le Bruno Coudoin.</li>
<li class="puce">Chàir sinn logadh a-steach le teacsa – le Bruno Coudoin.</li>
<li class="puce">Chàir sinn liosta loga na rianachd, bha an cleachdaiche 0 a dhìth – le Bruno Coudoin.</li>
<li class="puce">Chàir sinn mearachd sgrìobhaidh sa chobhair: ctrl-q an àite ctrl-x – le Bruno Coudoin.</li>
<li class="puce">Chàir sinn bugaichean sa chleas Oware – le Nicolas
Adenis-Lamarre.</li>
<li class="puce">Clì no deas, chàir sinn na mìneachaidhean, ainm as fearr air na putannan airson eadar-theangachadh – le Bruno Coudoin.</li>
<li class="puce">Chàir sinn na tachartasan briogaidh ann an cuairt an uisge agus dealain – le Hans de
Goede.</li>
<li class="puce">Chuir sinn faidhlichean a bharrachd on chraiceann “gartoon” ris – le Bruno Coudoin.</li>
<li class="puce">Thagh sinn “gartoon” mar an craiceann tùsail agus thug sinn “babytoy” air falbh</li>
<li class="puce">Chàir sinn fòrmat nan dealbhan san stàlaichear airson Windows – le Bruno Coudoin.</li>
<li class="puce">Dh’atharraich sinn a’ cho-dhealbhachd ann an còmhradh nan roghainnean ach am bi barrachd rùim airson teacsa ann – le Bruno
Coudoin.</li>
<li class="puce">Cànan, chàirich sinn am modh “air ais dhan leibheil roimhe” – le Bruno Coudoin. Chàir sinn an gairm dhan stuth a bharrachd ach an cuir sinn gach soirbheachas air an loga mar bu chòir.</li>
<li class="puce">Cànan, chàir sinn an sreath tòiseachaidh sa mhodh cuimhne air leibheilean – le Bruno
Coudoin. Chaidh am putan “deiseil” a leigeil seachad sa mhodh cuimhne air leibheilean.</li>
<li class="puce">Cànan, chàir sinn mearachd python exec – le Bruno Coudoin. Bhiodh caochladair ‘ga chleachdadh gun luach tùsail nan robh mearachd san t-sreath tòiseachaidh.</li>
<li class="puce">Cànan, chuir sinn an tionndaidh air loidhne http://gcompris.net/activity/lang  againn fhèin dhen cleas an àite http://laske.fr/abecedarium/ (cur an àite sa chòd agus sna h-eadar-theangachaidhean).</li>
<li class="puce">Piseach air co-dhealbhachd na rianachd – le Bruno Coudoin. Bha leubailean nam mòidealan ro mhòr agus chaidh gliocasan-sgrìn a chur ’nan àite.</li>
<li class="puce">Dh’atharraich ainn an ceadachas againn a-rithist ach an aithris e GPLV3+ mar bu chòir</li>
<li class="puce">Chàir sinn taghadh gnuchess mar bhun-roghainn – le Cosimo Cecchi</li>
<li class="puce">Chuir sinn litrichean Fraingis le sracan ri briog air litir.</li>
<li class="puce">gnumch, chàir sinn an t-ionadachadh aig eat.wav. Gabhaidh eat.wav air ionadachadh a chur ann an voices/$LOCALE/misc/eat.wav</li>
</ul>
<h4>ùrachadh an eadar-theangachaidh</h4>
<ul>
<li class="puce">Chàirich sinn an t-eadar-theangachadh dhan Ruisis – le Stas Solovey.</li>
<li class="puce">Dh’ùraich sinn an t-eadar-theangachadh dhan Phortagailis Bhraisileach – le Adorilson Bezerra.</li>
<li class="puce">Dh’ùraich sinn an t-eadar-theangachadh dhan Phortagailis Bhraisileach – le Enrico Nicoletto.</li>
<li class="puce">Dh’ùraich sinn an t-eadar-theangachadh dhan Phortagailis Bhraisileach – le Rafael Ferreira.</li>
<li class="puce">Dh’ùraich sinn an t-eadar-theangachadh dhan t-Seicis – le Marek Černocký.</li>
<li class="puce">Dh’ùraich sinn an t-eadar-theangachadh dhan Danmhairgis – le Joe Hansen.</li>
<li class="puce">Dh’ùraich sinn an t-eadar-theangachadh dhan Duitsis – le Herman van Beem.</li>
<li class="puce">Dh’ùraich sinn an t-eadar-theangachadh dhan Fhraingis – le Bruno Coudoin.</li>
<li class="puce">Dh’ùraich sinn an t-eadar-theangachadh dhan Ghailìsis – le Gonçalo Cordeiro</li>
<li class="puce">Dh’ùraich sinn an t-eadar-theangachadh dhan Ghearmailtis – le Christian Kirbach.</li>
<li class="puce">Dh’ùraich sinn an t-eadar-theangachadh dhan Ghreugais – le Yannis Kaskamanidis.</li>
<li class="puce">Dh’ùraich sinn an t-eadar-theangachadh dhan Ungairis – le Gabor Kelemen</li>
<li class="puce">Dh’ùraich sinn an t-eadar-theangachadh dhan Liotuainis  – le Aurimas Černius.</li>
<li class="puce">Dh’ùraich sinn an t-eadar-theangachadh dhan Ghàidhlig – le GunChleoc.</li>
<li class="puce">Dh’ùraich sinn an t-eadar-theangachadh dhan t-Sèirbis – le Мирослав Николић.</li>
<li class="puce">Dh’ùraich sinn an t-eadar-theangachadh dhan Spàinntis – le Daniel Mustieles.</li>
<li class="puce">Dh’ùraich sinn an t-eadar-theangachadh dhan Spàinntis – le Milagros Alessandra Infante Montero.</li>
<li class="puce">Dh’ùraich sinn an t-eadar-theangachadh dhan Spàinntis – le by Rafael Ferreira</li>
<li class="puce">Dh’ùraich sinn liosta nam faclan Ruisis – le Mayya Sharipova.</li>
<li class="puce">Dh’ùraich sinn liosta nam faclan Gàidhlig – le GunChleoc.</li>
<li class="puce">Dh’ùraich sinn an guth Beurla – le Philip Morris agus Julia Wycherley</li>
</ul>
{% endblock %}
