{% extends "template/onenews.html" %}
{% set title = 'Помогите нам сделать новую, более совершенную графику' %}
{% set withlongcontent = 0 %}
{% block content %}
<p>Мы запускаем <a href=http://igg.me/at/gcompris-unified-graphics>кампанию крауд-финансирования</a> с целью создания новой улучшенной и унифицированной графики GCompris.</p>

<p>В настоящее время графические элементы являются одной из самых слабых частей пакета программ, так как она была сделана разработчиками с использованием бесплатных свободных изображений и очень небольшим вкладом художников.</p>

<p>Чтобы решить эту проблему, мы нашли Тимофея Гиета (Timothée Giet), талантливого художника, заинтересованного в работе над полной графической реконструкцией. Он достаточно давно вносит вклад в программы класса Free-Software и является активным членом команды Krita, т.е. частью сообщества KDE.</p>

<p>Создание новых графических элементов более чем для 100 упражнений это большая работа, поэтому нам <a href=http://igg.me/at/gcompris-unified-graphics>нужна ваша помощь</a>, чтобы достичь этой цели.</p>
{% endblock %}
