{% extends "template/onenews.html" %}
{% set title = 'Help us bring new improved and unified graphics' %}
{% set withlongcontent = 0 %}
{% block content %}
<p>We are launching a <a href=http://igg.me/at/gcompris-unified-graphics>crowd funding campain</a> with the goal to bring a new improved and unified graphics to GCompris.</p>

<p>Currently the graphics are one of the weakest part, as they were mostly done by the developers, using free graphics assets and sparse graphic artist contributions.</p>

<p>To address this problem, we found Timothée Giet, a talented graphic artist interested in working on a complete graphics redesign.  He is a long standing Free-Software contributor, active member of the Krita team and so part of the KDE community.</p>

<p>Making new graphics for more than 100 activities is a big work, so we <a href=http://igg.me/at/gcompris-unified-graphics>need your help to achieve this goal.</a>.</p>
{% endblock %}
