{% extends "template/onenews.html" %}
{% set title = 'Version officielle sur Android' %}
{% set withlongcontent = 1 %}
{% block content %}
<p>Je suis heureux d'annoncer que nous venons de publier la première <a href='https://play.google.com/store/apps/details?id=net.gcompris'>version publique de GCompris sur le Google play store</a>.</p>
{% endblock %}
{% block longcontent %}
<p>Il y a un an, j'ai pris la décision difficile de ré-écrire complètement GCompris en QtQuick afin de pouvoir répondre aux attentes des utilisateurs de tablette tout en gardant la compatibilité PC. Comme vous l'imaginez c'est une tâche titanesque que je ne pourrai pas faire seul. Mais grâce aux nombreux contributeurs qui ont rejoint le projet nous avons pu porter 86 activités sur les 140 de la version précédente. Vous pouvez regarder <a href='http://gcompris.net/wiki/Qt_Quick_Migration_status'>cette page pour voir l'état du portage</a>. La nouvelle version est loin de la perfection mais nous continuons à l'améliorer chaque jour et nous avons déjà une bien meilleure expérience utilisateur que l'ancienne version.</p>

<p>Je tiens à remercier la <a href='https://www.kde.org/community/'>communauté KDE</a> au sens large qui nous a pris sous son aile et nous a permis d'attirer de nombreux contributeurs, développeurs, traducteurs et pour l'infrastructure de développement.</p>

<p>Quelques chiffres, en un an de GCompris nous avons fait 1211 commits réalisés par 19 contributeurs représentant 34000 lignes de code plus les 8 équipes de traduction KDE qui ont atteint les 100% (Ukrainien, suédois, portugais, polonais, français, néerlandais, portugais brésilien et chinois simplifié).</p>

<p>Comme vous allez le découvrir, la version complète sur Android est vendue 6€ mais le prix devra être ajusté. Développer un logiciel requiert un travail considérable, payer pour GCompris est une bonne façon de nous remercier et de nous donner l'opportunité de soutenir le développement. Une autre façon de nous aider est de faire connaître notre travail autour de vous et de noter GCompris sur le store.</p>
{% endblock %}
