{% extends "template/onenews.html" %}
{% set title = 'GCompris para Android' %}
{% set withlongcontent = 1 %}
{% block content %}
<p>Sai a primeira versão pública do GCompris para Android! E ela já está disponível na <a href='https://play.google.com/store/apps/details?id=net.gcompris'>Google Play</a>.</p>
{% endblock %}
{% block longcontent %}
<p>Graças ao suporte do <a href='https://www.kde.org/community/'>projeto KDE</a>, após um ano de desenvolvimento, foram convertidas 86 das 140 atividdes, em um total de 1211 commits realizados por 19 colaboradores. São ao todo aproximadamente 34.000 linhas de código e, com os esforços combinados das equipes de tradução do KDE, a interface já foi 100% traduzida para 8 idiomas: ucraniano, sueco, português do Brasil e de Portugal, polonês, francês, alemão e chinês tradicional.</p>

<p>O trabalho de migração ainda não terminou e é possível acompanhar o desenrolar das tarefas <a href='http://gcompris.net/wiki/Qt_Quick_Migration_status'>nessa página</a>.</p>

<p>O desenvolvimento do GCompris demanda bastante esforço. Por isso foi proposto um valor inicial de 6€ pelo software (sujeito a avaliação posterior). Essa é uma boa forma de colaborar com a manutenção e o desenvolvimento dessa importante aplicação. Avaliar positivamente e ajudar a divulgar o GCompris também é de grande valia.</p>
{% endblock %}
