{% extends "template/onenews.html" %}
{% set title = 'Вышел GCompris для Android' %}
{% set withlongcontent = 1 %}
{% block content %}
<p>Мы рады сообщить, что мы опубликовали в <a href='https://play.google.com/store/apps/details?id=net.gcompris'>магазине Google Play первую версию GCompris</a>.</p>
{% endblock %}
{% block longcontent %}
<p>
Год назад мы приняли жесткое решение - полностью переписать GCompris в QtQuick в целях предоставления решения для пользователей планшетных компьютеров и смартфонов, сохраняя при этом совместимость с ПК. Как вы можете себе представить, это очень сложная задача и невозможно сделать в одиночку. Благодаря помощи многих участников, которые присоединились к проекту, мы были в состоянии портировать 86 активностей из 140 унаследованной версии за прошедший год. 
Смотрите <a href='http://gcompris.net/wiki/Qt_Quick_Migration_status'>статусный отчёт</a> (на английском языке).
Мы надеемся завершить порт в наступающем году. Продолжая "шлифовать" новую версию каждый день, мы уже обеспечили лучшие возможности для пользователей, по сравнению со старой версией.
</p>

<p>
Мы хотели бы воспользоваться этой возможностью, чтобы поблагодарить <a href='https://www.kde.org/community/'>сообщество KDE</a> в целом, которое взяло нас под его милую зонтичную структуру и позволило нам привлечь многочисленных участников, в том числе разработчиков, переводчиков и предоставило нам поддержку в развитии.
</p>

<p>Несколько цифр. В течение года для GCompris было сделано 1211 правок, сделанных 19 участниками, представлено 34 000 строк кода, плюс перевода команды KDE 8, который достиг 100% покрытия в некоторых локализациях (украинской, шведской, португальской, польской, французской, голландской, китайской упрощенной и бразильской португальской). </p>

<p>
Как можно видеть, полная версия для Android продается сейчас за 6€ (евро), но цена должна быть скорректирована. Мы постараемся найти оптимальную. Разработка программного обеспечения требует много работы. Поэтому плата за GCompris является хорошим способом вознаградить нас и дать нам возможность поддерживать развитие нашего любимого проекта. Еще один очень простой способ помочь нам - поделиться новостями среди друзей и знакомых, в социальных сетях и оценить приложение в магазине Google Play.
</p>

{% endblock %}
<html><head></head><body></body></html>
