{% extends "template/onenews.html" %}
{% set title = 'GCompris goes to KDE Randa Meeting 2015' %}
{% set withlongcontent = 0 %}
{% block content %}

<p><a href='http://randa-meetings.ch/'>The Randa meeting</a> is an
annual KDE sprint that takes place in Randa, Switzerland from the 6th
to the 13th of September.</p>

<p>Participants donate their time to help improve the software you love
and this is why we need money to cover hard expenses like
accommodation and travel to get the volunteer contributors to
Randa. The Randa Meetings will benefit everyone who uses KDE software.</p>

<p>This year, the GCompris team will go to Randa Meetings to continue and
finalize the Qt Quick port. After one and a half year of development
<a href='http://gcompris.net/wiki/Qt_Quick_Migration_status'>we ported
100 activities on the 140</a> of the Gtk+ version. We have several
activities in the pipe coming from our Google of Code students. In
Randa we will continue the review and integration of the pending
activities, and define how we will implement the most challenging ones
that remains to be ported. We will also take this opportunity to
<a href='http://gcompris.net/voicestats/'>record the voice</a> of any
participant to improve our international support.</p>

<p>You can support
the <a href='https://www.kde.org/fundraisers/kdesprints2015/'>Randa
Meetings</a> by making a donation, following the official page.</p>

<a href='https://www.kde.org/fundraisers/kdesprints2015/'>
  <img src='{{ newsFolder }}Randa-Fundraiser-Banner-2015.png'
       alt='Randa Fundraiser Banner' style='float: right; padding-left: 10px; cursor: pointer;'
     class='col-xs-12 col-md-4'
       padding-right: 10px;'/>
</a>
{% endblock %}
