{% extends "template/onenews.html" %}
{% set title = 'GCompris now available on Apple iOS Store (iPad and iPhone)' %}
{% set withlongcontent = 0 %}
{% block content %}

<p>I am glad to announce that GCompris is now available on the Apple iOS store (iPad and iPhone).</p>

<p>Two years ago I just went out with the insane project of rewriting GCompris in Qt Quick and provide a version to mobile users. Many of you joined the project and made the dream comes true. We now have a free software for children available on all major platforms and most important we give them the ability to choose a free operating system.</p>

<p>We now have a solid software foundation, a vibrant little community and almost completed the Gtk+ port. There are still many things to do. I would like to see more innovative activities, we can experiment, exchange with teachers and find activities that will help them and the children in their teaching.</p>

{% endblock %}
