{% extends "template/onenews.html" %}
{% set title = 'GCompris available from the Windows Store' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='{{ newsFolder }}images/gcompris-Wstore-small.png'
     alt='GCompris in Windows Store'
     style='float: right; padding-left: 10px; cursor: pointer;'
     class='col-xs-12 col-md-4'
     onclick="window.open('https://www.microsoft.com/store/productid/9PGXJTCXN8QM')"/>
     
<p>As the title says, you can now buy the full version of GCompris for Windows 10 from the <a href="https://www.microsoft.com/store/productid/9PGXJTCXN8QM">Windows Store.</a></p>

<p>This is a good way to make it more visible and easy to find for new users. Also, if you buy GCompris from the Windows Store, you get automatic updates, you can install it easily on all your Windows systems, and it will run in a sandbox.</p>

<p>Spread the word !</p>

<img src='{{ newsFolder }}images/app-windows-blue.png'
     alt='GCompris in Windows Store'
     style='float: right; padding-left: 10px; cursor: pointer;'
     class='col-xs-12 col-md-4'
     onclick="window.open('https://www.microsoft.com/store/productid/9PGXJTCXN8QM')"/>
<br/>
<br/>

<p>If you prefer to not use the store, or if you only want the free demo version, you can still download it from our <a href="http://gcompris.net/downloads-en.html">Download page</a>, and <a href="http://gcompris.net/buy-en.html">buy the activation code</a> to unlock all the activities. The store is just one more way to distribute GCompris, and to provide some income to support the project.</p>

<p>As usual, the full version is free on Free-Software operating systems like GNU/Linux, but for proprietary operating systems like Windows, the full version has a cost. Of course, the source code of GCompris is and will always be under a Free-Software license.</p>

<p>Note: the package on the store contains the version using the software renderer instead of OpenGL, since it's the only way we have for now to make sure it will work on any computer. If you really want the version using OpenGL, get it from our <a href="http://gcompris.net/downloads-en.html">Download page</a>.</p>


{% endblock %}
