{% extends "template/onenews.html" %}
{% set title = 'Versione GCompris 0.91' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='{{ newsFolder }}images/gcompris360.png'
     alt='gcompris banner'
     style='float: right; padding-left: 10px; cursor: pointer;'
     class='col-xs-12 col-md-4'
     onclick="window.open('{{ newsFolder }}images/gcompris360.png')"/>

     
<p>Ciao,<br />
ecco a voi GCompris 0.91, una nuova versione che corregge alcuni problemi della versione precedente e migliora alcuni aspetti.</p>

<p>Ogni distribuzione GNU/Linux che fornisce la versione 0.90 dovrebbe aggiornare alla 0.91.</p>

<p>Con 68 commit dall'ultimo rilascio, l'elenco completo delle modifiche è troppo lungo per essere pubblicato.
Segue un elenco che riassume le principali.</p>

<p>Attività:</p>
<li class="puce">corretto il testo in inglese in diverse attività</li>
<li class="puce">corretta la posizione del punteggio in diverse attività</li>
<li class="puce">bloccati alcuni pulsanti e interazioni se necessari in diverse posizioni</li>
<li class="puce">molte correzioni relative all'audio in numerose attività</li>
<li class="puce">sequenza numerica (e altri basati su di esso), corretta la disposizione di base</li>
<li class="puce">aggiornato il set di dati per clic e disegna, scrivi numeri e scrivi lettere</li>
<li class="puce">gru, aggiunto set di dati localizzato</li>
<li class="puce">Luci spente, aggiunge il supporto per tastiera e altre correzioni</li>
<li class="puce">algoritmo, aggiunge il supporto per tastiera e altre correzioni</li>
<li class="puce">moneta, correzioni per la valuta locale utilizzata</li>
<li class="puce">parata, migliorata la resa audio</li>
<li class="puce">calendario, numerose piccole correzioni</li>
<li class="puce">associazioni mnemoniche, corretta la dimensione delle icone</li>
<br/>
<p>Altre modifiche:</p>
<li class="puce">riabilitati i suoni su linux</li>
<li class="puce">migliorata la riproduzione degli effetti sonori, senza alcun ritardo</li>
<li class="puce">add captions to images and OARS tags in the appdata</li>
<li class="puce">aggiunto il Gaelico scozzese al programma principale, e aggiornati alcuni set di dati per esso</li>
<li class="puce">barra principale, corretta la dimensione di alcuni elementi</li>
<li class="puce">rimosse le immagini non utilizzate</li>


<br/>

<p>Puoi trovare questa nuova versione <a href="https://gcompris.net/downloads-en.html">nella pagina di scaricamento</a>, e presto su Play Store e Windows Store.</p>

<p>Sul fronte delle traduzioni, abbiamo 16 lingue completamente supportate: 
Inglese britannico, 
Catalano, 
Catalano (Valenziano), 
Cinese tradizionale, 
Olandese, 
Francese, 
Greco, 
Indonesiano, 
Gaelico irlandese, 
Italiano, 
Polacco, 
Portoghese, 
Rumeno, 
Spagnolo, 
Svedese, 
Ucraino. 
<br />
Abbiamo inoltre 15 lingue parzialmente supportate: 

Norvegese Nynorsk (97%), 
Hindi (96%), 
Turco (90%), 
Gaelico scozzese (86%), 
Galiziano (86%), 
Portghese brasiliano(84%), 
Bielorusso (84%), 
Tedesco (81%), 
Cinese semplificato (79%), 
Russo (78%), 
Estone (77%), 
Slovacco(76%), 
Finlandese (76%), 
Sloveno (69%), 
Bretone (65%).</p>

<p>Se desideri aiutarci a completare una di queste traduzioni o aggiungerne una nuova, contattaci.</p>

<p>Inoltre, puoi aiutarci ulteriormente pubblicando commenti nella tua comunità su GCompris e non esitare a fornirci segnalazioni.</p>

<p>Grazie a tutti, <br/>
Timothée e Johnny </p>


{% endblock %}
