{% extends "template/onenews.html" %}
{% set title = 'Lansarea versiunii GCompris 0.91' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='{{ newsFolder }}images/gcompris360.png'
     alt='gcompris banner'
     style='float: right; padding-left: 10px; cursor: pointer;'
     class='col-xs-12 col-md-4'
     onclick="window.open('{{ newsFolder }}images/gcompris360.png')"/>

     
<p>Bună,<br />
Avem aici GCompris 0.91, o nouă versiune pentru corectarea câtorva erori punctuale din versiunea precedentă și îmbunătățirea altor câteva lucruri.</p>

<p>Fiecare distribuție GNU/Linux care furnizează versiunea 0.90 ar trebui să o actualizeze la versiunea 0.91.</p>

<p>Cu 68 de noi modificări față de precedenta versiune, jurnalul complet al modificărilor este prea lung pentru această postare.
Avem însă aici o listă care sintetizează modificările.</p>

<p>Activități:</p>
<li class="puce">am corectat textul în engleză din câteva activități</li>
<li class="puce">am corectat poziția scorului în câteva activități</li>
<li class="puce">am blocat câteva butoane și interacțiuni în mai multe locuri care necesitau acest lucru</li>
<li class="puce">o mulțime de corecții pentru partea audio, la mai multe activități</li>
<li class="puce">activitatea number_sequence (și alte activități bazate pe ea): corectarea formatului de bază</li>
<li class="puce">activitățile clickanddraw, drawnumbers and drawletters: actualizarea setului de date</li>
<li class="puce">activitatea crane: adăugarea setului de date localizat</li>
<li class="puce">activitatea lightsoff: adăugarea suportului pentru tastatură și alte corecții</li>
<li class="puce">activitatea algorithm: adăugarea suportului pentru tastatură și alte corecții</li>
<li class="puce">activitatea money: corecții pentru valuta locală folosită</li>
<li class="puce">activitatea ballcatch: îmbunătățirea feedback-ului audio</li>
<li class="puce">activitatea calendar: câteva micicorecții</li>
<li class="puce">activitatea memory-case-association: corectarea dimensiunilor pictogramelor</li>
<br/>
<p>Alte modificări:</p>
<li class="puce">reactivarea efectelor sonore pe Linux</li>
<li class="puce">redarea îmbunătățită a efectelor sonore, fără întârzieri</li>
<li class="puce">adăugarea de text explicativ la imagini și de etichete OARS în datele aplicațiilor</li>
<li class="puce">adăugarea Galezei Scoțiene în nucleul de limbi disponibile utilizatorilor, plus actualizarea unor seturi de date pentru această limbă</li>
<li class="puce">la bara principală de meniu: corectarea dimensiunii unor articole</li>
<li class="puce">am eliminat imaginile nefolosite</li>


<br/>

<p>Puteți găsi această nouă versiune <a href="https://gcompris.net/downloads-en.html">la pagina de descărcare</a>, și în curând în Google Play Magazin și Windows Magazin.</p>

<p>Pe partea de traducere, avem 16 limbi cu traducere completă: 
engleză britanică, 
catalană, 
catalană (valenciană), 
chineză tradițională, 
olandeză, 
franceză, 
greacă, 
indoneziană, 
galeză irlandeză, 
italiană, 
poloneză, 
portugheză, 
română, 
spaniolă, 
suedeză, 
ucrainiană. 
<br />
Avem de asemenea 15 limbi cu traducere parțială: 

norvegiană nynorsk (97%), 
hindi (96%), 
turcă (90%), 
galeză scoțiană (86%), 
galiciană (86%), 
portugheză braziliană (84%), 
belarusă (84%), 
germană (81%), 
chineză simplificată (79%), 
rusă (78%), 
estoniană (77%), 
slovacă (76%), 
finlandeză (76%), 
slovenă (69%), 
bretonă (65%).</p>

<p>Dacă dorești să ajuți la completarea vreuneia din aceste traduceri, sau să adaugi o nouă traducere, te rugăm să ne contactezi.</p>

<p>Dacă nu, ne poți ajuta și în alt fel, făcând publice aceste informații despre GCompris în comunitatea ta și dându-ne un feedback.</p>

<p>Vă mulțumim tuturor, <br/>
Timothée & Johnny </p>


{% endblock %}
