{% extends "template/onenews.html" %}
{% set title = 'Release GCompris Qt 0.90' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='{{ newsFolder }}images/r0.90-small.png'
     alt='screenshots of the new activities in version 0.90'
     style='float: right; padding-left: 10px; cursor: pointer;'
     class='col-xs-12 col-md-4'
     onclick="window.open('{{ newsFolder }}images/r0.90.png')"/>

     
<p>Hi,</p>

<p>We are happy to bring you GCompris 0.90.</p>

<p>This new version contains 8 new activities:</p>

<li class="puce"> A calendar activity where the child learns how to use it (by Amit Sagtani)</li>
<li class="puce"> Another activity based on calendar where the child has to find the date corresponding to a date + some days further/before this date (by Amit Sagtani))</li>
<li class="puce"> An activity to learn how people on a family are related and how to call this relation (started by Rajdeep Kaur on a previous GSoC, completed by Rudra Nil Basu during last GSoC)</li>
<li class="puce"> Another similar activity with questions about family members</li>
<li class="puce"> An extension of memory activities where the child has to match lowercase letters with their corresponding uppercase (by Aman Gupta)</li>
<li class="puce"> The same activity in two players mode with Tux (by Aman Gupta)</li>
<li class="puce"> The Gtk+ port and improved submarine activity where the child learns a basic overview on how to run a submarine (by Rudra Nil Basu)</li>
<li class="puce"> The digital electricity activity where the child can use different components to create an electric schema. There is also a tutorial mode to explain how to use each component (started by Pulkit Gupta on previous GSoC, completed by Rudra Nil Basu)</li>

<br/>
<p>We always have new features, content and bug fixes:</p>

<li class="puce"> Updated graphics on several activities by Timothée Giet</li>
<li class="puce"> Irish translation, voices and datasets by Séamus Ó Briain</li>
<li class="puce"> Lot of improvements on removing overriding elements issues (score were hidden behind the bar...)</li>
<li class="puce"> Add Tutorial item to be able to have activity introductions with both images and texts</li>
<li class="puce"> Add easy mode in letter in word with less words displayed</li>
<li class="puce"> Add license page</li>
<li class="puce"> Lots of small bug fixes</li>


<br/>

<p>You can find this new version <a href="https://gcompris.net/downloads-en.html">on the download page</a>.</p>

<br/>

<p>On the translation side, we have 14 languages fully supported: British English, Catalan, Catalan (Valencian), Chinese Traditional , Dutch, French, Greek, Indonesian, Italian, Portuguese,  Romanian, Spanish, Swedish, Ukrainian; <br/> And some partially supported: Belarusian (87%), Brazilian Portuguese (87%), Breton (65%), Chinese Simplified (80%), Estonian (79%), Finnish (78%), Galician(87%), German (83%),  Hindi (86%), Irish Gaelic (99%),  Norwegian Nynorsk (86%), Russian (80%), Slovak (76%), Slovenian (70%), Polish (99%), Turkish (93%).</p>

<p>If you want to help, please make some posts in your community about GCompris and don't hesitate to give feedbacks.</p>

<p>Thank you all, <br/>
Timothée & Johnny </p>


{% endblock %}
