{% extends "template/onenews.html" %}
{% set title = 'Κυκλοφορία της έκδοσης 0.96 του GCompris.' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='{{ newsFolder }}images/gcompris360.png'
     class='col-xs-12 col-md-4'
     alt='gcompris banner'
     style='float: right; padding-left: 10px; cursor: pointer;'
     onclick="window.open('{{ newsFolder }}images/gcompris360.png')"/>

     
<p>Γεια σου,<br />
Είμαστε στην ευχάριστη θέση να σας ανακοινώσουμε την κυκλοφορία της έκδοσης 0.96 του GCompris.</p>

<p>Η νέα έκδοση περιλαμβάνει ενημερωμένες μεταφράσεις για πολλές γλώσσες και τη διόρθωση μερικά σφαλμάτων.</p>

<p>Γλώσσες που μεγάλη μεταφραστική ενημέρωση:</p>

<li class="puce">Βραζιλιάνικα Πορτογαλικά (100%)</li>
<li class="puce">Βρετονικά (100%)</li>
<li class="puce">Φινλανδικά (100%)</li>
<li class="puce">Ινδονησιακά (100%)</li>
<li class="puce">Νέα Νορβηγικά (97%)</li>
<li class="puce">Πολωνικά (100%)</li>

<br/>

<p>Αυτό σημαίνει ότι υπάρχουν 19 πλήρως υποστηριζόμενες γλώσσες: Βρετανικά Αγγλικά, Βραζιλιάνικα Πορτογαλικά, Βρετονικά, Καταλανικά , Καταλανικά Βαλένθιας, Παραδοσιακά Κινέζικα, Ολλανδικά, Γαλλικά, Γαλικιανά, Ελληνικά, Ουγγρικά, Ινδονησιακά, Μαλαγιάλαμ, Πολωνικά, Πορτογαλικά, Ρουμάνικα, Σουηδικά, Ουκρανικά.</p>

<p>Ακόμη, υπάρχουν 13 μερικώς υποστηριζόμενες γλώσσες: Βασκικά (78%), Λευκορωσικά (68%), Απλοποιημένα Κινέζικα (69%), Εσθονικά (62%), Γερμανικά 84(%), Χίντι (76%), Ιρλανδικά Γαελικά (82%), Ρωσικά (77%), Σκωτικά Γαελικά (70%), Σλοβάκικα (62%), Σλοβένικα (56%), Ισπανικά (93%), Τουρκικά (73%).</p>

<p>Για αυτή την έκδοση αποφασίσαμε να κρατήσουμε τις γλώσσες που έχουν μεταφραστεί σε ποσοστά μικρότερα του 80%. Δεν θέλαμε να τις αποκλείσουμε, αλλά εάν καμία από τις επόμενες μεταφράσεις δεν ενημερωθεί, τότε στην επόμενη έκδοση θα τις απενεργοποιήσουμε: Βασκικά, Λευκορωσικά, Απλοποιημένα Κινέζικα, Εσθονικά, Χίντι, Ρωσικά, Σκωτικά Γαελικά, Σλοβάκικα, Σλοβένικα και Τουρκικά.</p>

<p>Στην έκδοση για Windows, προσθέσαμε μια νέα καταχώριση στο μενού έναρξης με το όνομα GCompris (Ασφαλής Λειτουργία). Αυτό κρίθηκε αναγκαίο καθώς ο αυτόματος εντοπισμός της υποστήριξης του OpenGL δεν ήταν αξιόπιστος. Έτσι, οι χρήστες έχουν τη δυνατότητα να επιλέξουν μεταξύ OpenGL και ασφαλούς λειτουργίας χωρίς να αλλάζουν το αρχείο ρυθμίσεων.</p>

<p>Γνωστά ζητήματα:</p>
<li class="puce">Η μπάρα προόδου των λήψεων δεν λειτουργεί πλέον. Αυτό είναι αποτέλεσμα της μετακίνησης σε https για τη φιλοξενία των αρχείων. Θα φροντίσουμε να το βελτιώσουμε στην επόμενη έκδοση.
</li>

<br/>

<p>Ως υποσημείωση αφιερωμένη στους συσκευαστές GNU/Linux διανομών, αυτή η νέα έκδοση απαιτεί OpenSSL, ώστε να είναι δυνατή η λήψη αρχείων ήχου και πρόσθετων εικόνων.</p>

<p>Ως συνήθως, μπορείτε να κατεβάσετε αυτή τη νέα έκδοση από τη σελίδα λήψεων: <a href="https://gcompris.net/downloads{{ suffix }}.html"></a>. Σύντομα, θα είναι διαθέσιμη στα Android και Windows Store.</p>

<p>Σας ευχαριστούμε όλους, <br/>
Timothée & Johnny</p>


{% endblock %}
