{% extends "template/onenews.html" %}
{% set title = 'Versão do GCompris 0.96' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='{{ newsFolder }}images/gcompris360.png'
     class='col-xs-12 col-md-4'
     alt='gcompris banner'
     style='float: right; padding-left: 10px; cursor: pointer;'
     onclick="window.open('{{ newsFolder }}images/gcompris360.png')"/>

     
<p>Olá,<br />
Estamos felizes por anunciar o lançamento do GCompris na versão 0.96.</p>

<p>Esta nova versão inclui traduções actualizadas para várias línguas, assim como algumas correcções de erros.</p>

<p>Traduções que receberam bastantes actualizações:</p>

<li class="puce">Português do Brasil (100%)</li>
<li class="puce">Bretão (100%)</li>
<li class="puce">Finlandês (90%)</li>
<li class="puce">Indonésio (100%)</li>
<li class="puce">Norueguês Nynorsk (97%)</li>
<li class="puce">Polaco (100%)</li>

<br/>

<p>Isto significa que temos agora 19 línguas totalmente suportadas: Inglês Britânico, Português do Brasil, Bretão, Catalão, Catalão (Valenciano), Chinês Tradicional, Holandês, Francês, Galego, Grego, Húngaro, Indonésio, Italiano, Malayalam, Polaco, Português, Romeno, Sueco, Ucraniano.</p>

<p>Ainda temos 15 línguas parcialmente suportadas: Basco (78%), Bielorrusso (68%), Chinês Simplificado (69%), Estoniano (62%), Finlandês (90%), Alemão (84%), Hindu (76%), Irlandês Gaélico (82%), Norueguês Nynorsk (97%), Russo (77%), Escocês Gaélico (70%), Eslovaco (62%), Esloveno (56%), Espanhol (93%), Turco (73%).</p>

<p>Optámos outra vez nesta versão por manter as traduções que desceram abaixo dos 80%. Seria triste ter de desactivar 10 línguas da aplicação mas, se ninguém actualizar as seguintes traduções, serão desactivadas na próxima versão: Basco, Bielorrusso, Chinês Simplificado, Estoniano, Hindu, Russo, Escocês Gaélico, Eslovaco, Esloveno e Turco.</p>

<p>Para a versão em Windows, adicionámos um novo elemento no menu inicial chamado GCompris (Modo Seguro) para o lançar com desenhos por software. Isto foi necessário porque a detecção do suporte de OpenGL não estava funcional. Agora, os utilizadores podem facilmente mudar entre o OpenGL e o desenho por software sem ter de mudar o ficheiro de configuração.</p>

<p>Problemas conhecidos:</p>
<li class="puce">A barra de progresso das transferências não funciona mais. Isto é um efeito colateral da nossa transição para HTTPS no alojamento dos ficheiros. Estamos a tentar melhor isto para a próxima versão.
</li>

<br/>

<p>Como nota de rodapé dedicada ao criadores de pacotes de distribuições de GNU/Linux, esta nova versão necessita agora do OpenSSL para poder obter as vozes e imagens adicionais.</p>

<p>Como de costume, poderá obter esta nova versão na nossa <a href="https://gcompris.net/downloads{{ suffix }}.html">página de transferências</a>. Também ficará disponível na loja do Android e do Windows.</p>

<p>Obrigado a todos, <br/>
Timothée & Johnny</p>


{% endblock %}
