{% extends "template/onenews.html" %}
{% set title = 'Versione GCompris 0.96' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='{{ newsFolder }}images/gcompris360.png'
     class='col-xs-12 col-md-4'
     alt='gcompris banner'
     style='float: right; padding-left: 10px; cursor: pointer;'
     onclick="window.open('{{ newsFolder }}images/gcompris360.png')"/>

     
<p>Ciao,<br />
Siamo felici di annunciare il rilascio di GCompris, versione 0.96.</p>

<p>Questa versione include la traduzione aggiornata per diverse lingue e alcune correzioni di errori.</p>

<p>Traduzioni con molti aggiornamenti:</p>

<li class="puce">Portoghese brasiliano (100%)</li>
<li class="puce">Bretone (100%)</li>
<li class="puce">Finlandese (90%)</li>
<li class="puce">Indonesiano (100%)</li>
<li class="puce">Norvegese nynorsk (97%)</li>
<li class="puce">Polacco (100%)</li>

<br/>

<p>Ciò significa che ora ci sono 19 completamente supportate: inglese britannico, portoghese brasiliano, bretone, catalano, catalano (valenzano), cinese tradizionale, olandese, francese, galiziano, greco, ungherese, indonesiano, italiano, malayalam, polacco, portoghese, rumeno, svedese, ucraino.</p>

<p>Ci sono ancora 15 lingue parzialmente supportate: basco (78%), bielorusso (68%), cinese semplificato (69%), estone (62%), finlandese (90%), tedesco (84%), hindi (76%), gaelico irlandese (82%), norvegese nynorsk (97%), russo (77%), gaelico scozzese (70%), slovacco (62%), sloveno (56%), spagnolo (93%), turco (73%).</p>

<p>Abbiamo deciso di mantenere le traduzioni che stanno sotto l'ottanta per cento. Ci dispiacerebbe dover disabilitare dieci lingue dall'applicazione, ma se non ci saranno aggiornamenti alle traduzioni, esse saranno disabilitate nel prossimo rilascio: basco, bielorusso, cinese semplificato, estone, hindi, russo, gaelico scozzese, slovacco, sloveno e turco.</p>

<p>Nella versione Windows abbiamo aggiunto al menu Start la voce GCompris (Safe Mode) per avviare il programma in modalità con resa software. Questo è stato necessario in quanto il rilevamento automatico del supporto OpenGL non si è rivelato affidabile. Ora gli utenti possono scegliere facilmente tra OpenGL e la resa software senza modificare il file di configurazione.</p>

<p>Problemi noti:</p>
<li class="puce">La barra di avanzamento degli scaricamenti non funziona più. Questo è un effetto dovuto al passaggio dell'hosting dei file a https. Stiamo cercando di risolvere il problema per il prossimo rilascio.
</li>

<br/>

<p>Come nota a margine rivolta ai creatori di distribuzioni GNU/Linux, questa nuova versione ora richiede OpenSSL per poter scaricare le voci e le immagini aggiuntive.</p>

<p>Come al solito puoi scaricare questa nuova versione dalla nostra <a href="https://gcompris.net/downloads{{ suffix }}.html">pagina di scaricamento</a>. Sarà presto disponibile anche negli store Android e Windows.</p>

<p>Grazie a tutti, <br/>
Timothée e Johnny</p>


{% endblock %}
