{% extends "template/onenews.html" %}
{% set title = 'GCompris is back on Mac OSX' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='{{ newsFolder }}images/gcompris360.png'
     alt='gcompris banner'
     class='col-xs-12 col-md-4'
     style='float: right; padding-left: 10px; cursor: pointer;'
     onclick="window.open('{{ newsFolder }}images/gcompris360.png')"/>

     
<p>Hi,<br />
Good news for Mac users: we finally have a new version of GCompris for OSX !</p>

<p>The last version of GCompris for OSX was 0.52 from 3 years ago. Since then, no one in the team could update it because of the lack of hardware. Thanks to Boudewijn from the Krita Foundation, we have now a little mac mini, old but good enough to build our packages. It took me several days of dedicated work to learn this new platform and update the build system to produce a distributable package.</p>

<br/>

<p>This package was built and tested on OSX 10.13. If you can try it on a different OSX version, please let us know if it works.</p>

<p>The .dmg installer is available <a href="https://gcompris.net/downloads{{ suffix }}#osx.html">on the download page</a>.</p>

<p>This time we decided to stop distributing it from the app-store. About the iOS version, it will take some more time before I can look at it, and we still don't have any device to test.
</p>

<p>Notes: this package is based on GCompris version 0.95. It is built with the latest version of Qt (5.12.0) which introduced some regressions. We fixed all of those issues, but some of those fixes are only in the development version for now. A few activities are broken (checkers, braille, braille_alphabet, algorithm), but we will make a new release next month that will also address those little issues. 
</p>

<p>Thank you all, <br/>
Timothée - GCompris team</p>


{% endblock %}
