{% extends "template/onenews.html" %}
{% set title = 'Κυκλοφορία της έκδοσης 0.97 του GCompris.' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='{{ newsFolder }}images/r097-small.png'
     class='col-xs-12 col-md-4'
     alt='gcompris banner'
     style='float: right; padding-left: 10px; cursor: pointer;'
     onclick="window.open('{{ newsFolder }}images/r097.png')"/>

     
<p>Γεια σου,<br />
Είμαστε στην ευχάριστη θέση να σας ανακοινώσουμε την κυκλοφορία της έκδοσης 0.97 του GCompris.</p>

<p>Η νέα έκδοση περιλαμβάνει 2 νέες δραστηριότητες:</p>

<li class="puce">Λαβύρινθος προγραμματισμού: εκμάθηση των βασικών εντολών προγραμματισμού με μερικές οδηγίες</li>
<li class="puce">Παιδικό τάνγκραμ: εκμάθηση των βασικών λειτουργιών του τάνγκραμ (αυτή η δραστηριότητα ανταποκρίνεται στο μικρότερο επίπεδο της προηγούμενης δραστηριότητας λαβύρινθου)</li>

<br />

<p>Και πολλές νέες λειτουργίες:</p>

<li class="puce">νέες υποκατηγορίες για την οργάνωση των δραστηριοτήτων</li>
<li class="puce">νέα μουσική παρασκηνίου και μουσικά κομμάτια</li>
<li class="puce">νέες ρυθμίσεις ήχου7 για τα ηχητικά εφέ</li>
<li class="puce">νέα ρύθμιση ταχύτητας σε πολλές δραστηριότητες (γράμματα, άλγεβρα, ανάγνωση, ονόματα)</li>
<li class="puce">νέα λειτουργία στο σκάκι για εμφάνιση των αιχμαλωτισμένων πιονιών</li>
<li class="puce">νέα επιλογή για μετάβαση στο επόμενο επίπεδο χειροκίνητα στις δραστηριότητες Σχηματισμός γραμμάτων και Σχηματισμός αριθμών</li>
<li class="puce">νέοι ήχοι για τα en_US</li>
<li class="puce">νέες εικόνες για τη δραστηριότητα Χρώματα</li>
<li class="puce">νέες εικόνες για τη δραστηριότητα Προσαρμοσμένα χρώματα</li>
<li class="puce">νέες εικόνες για τη δραστηριότητα Βελάκια</li>
<li class="puce">βελτίωση της διάταξης των ρυθμίσεων</li>
<li class="puce">βελτίωση της διάταξης των ρυθμίσεων της δραστηριότητας Μοίρασε τις καραμέλες</li>
<li class="puce">βελτίωση της διάταξης των κατηγοριών των δραστηριοτήτων</li>
<li class="puce">τα πηγαία αρχεία αποθηκεύονται πλέον στον διακομιστή του KDE (https://cdn.kde.org/)</li>
<li class="puce">προσθήκη διδακτικού βοηθήματος στη δραστηρίοτητα Μονοί & Ζυγοί αριθμοί</li>
<li class="puce">προσθήκη εισαγωγής στη δραστηριότητα Σύνθεση στο πιάνο</li>
<li class="puce">προσθήκη αρχείου δεδομένων για τις δραστηριότητες γραμμάτων</li>
<li class="puce">προσθήκη αρχείου δεδομένων για τα βρετονικά στις δραστηριότητες λέξεων</li>
<li class="puce">διόρθωση σφάλματος αναπαραγωγής ήχων στη Γεωγραφία</li>
<li class="puce">διόρθωση σφάλματος αναπαραγωγής ήχων στον Χρυσωρύχο</li>
<li class="puce">διόρθωση λειτουργίας πορτρέτο στις Λάμπες μετατροπής</li>
<li class="puce">διόρθωση υψηλής φόρτωσης του επεξεργαστή στο μενού</li>
<li class="puce">διόρθωση μεγέθους εικόνας στον Ανιχνευτή εικόνων</li>
<li class="puce">διόρθωση διάταξης στην Ανάμειξη χρωμάτων</li>
<li class="puce">προσθήκη πολλών άλλων μικρών διορθώσεων...</li>

<br/>

<p>Θα βρείτε πακέτα αυτής της νέας έκδοσης για GNU/Linux, Windows και MacOS στη <a href="https://gcompris.net/downloads{{ suffix }}.html">σελίδα λήψεων</a>. Αυτή η ενημέρωση θα είναι σύντομα διαθέσιμη στο Android Play store και στο Windows store. Για το Raspberry Pi, θα διαθέσουμε σύντομα έναν εγκαταστάτη. Η ενημερωμένη έκδοση για iOS δεν είναι ακόμα έτοιμη. Σημειώστε ότι το πακέτο για MacOS δεν έχει ακόμη επικυρωθεί, ελπίζουμε ότι αυτό θα γίνει στη διάρκεια του επόμενου έτους.</p>

<p>Στους ήχους, έχει προστεθεί ο ήχος "προσπάθησε πάλι", που χρησιμοποιείται σε πολλές δραστηριότητες, αντί του ήχου "έλεγξε την απάντησή σου". Μπορείς να δεις εδώ αν αυτός ο ήχος είναι διαθέσιμος στη δική σου γλώσσα: <a href="https://gcompris.net/voicestats/">https://gcompris.net/voicestats/</a> (στον τομέα "Διάφορα"). Αν θέλετε μπορείτε να βοηθήσετε προσφέροντας ηχογραφημένους ήχους στη γλώσσα σας, όπου διαπιστώνετε ότι αυτοί λείπουν.</p>

<p>Yπάρχουν 20 πλήρως υποστηριζόμενες γλώσσες: Βρετανικά Αγγλικά, Βραζιλιάνικα Πορτογαλικά, Βρετονικά, Καταλανικά, Καταλανικά Βαλένθιας, Παραδοσιακά Κινέζικα, Ολλανδικά, Γαλλικά, Γαλικιανά, Ελληνικά, Ουγγρικά, Ινδονησιακά, Μαλαγιάλαμ, Πολωνικά, Πορτογαλικά, Ρουμάνικα, Σουηδικά, Ουκρανικά.</p>

<p>Ακόμη, υπάρχουν 15 μερικώς υποστηριζόμενες γλώσσες: Λευκορωστικά (65%), Καταλανικά (Βαλένθιας 95%), Απλοποιημένα Κινέζικα (66%), Εσθονικά (93%), Φινλανδικά (86%), Γερμανικά (96%), Χίντι (73%), Ουγγρικά (95%), Ινδονησιακά (95%), Ιρλανδικά Γαελικά (78%), Νέα Νορβηγικά (93%), Ρωσικά (76%), Σκωτικά Γαελικά (67%), Σλοβένικα (54%) και Τουρκικά (95%).</p>

<p>Συνήθως στέλνουμε μεταφράσεις που έχουν φτάσει στο 80% τουλάχιστον. Ωστόσο, πολλές μεταφράσεις είναι κάτω από αυτό το ποσοστό (ειδικότερα τα σλοβένικα, λευκορωσικά και τα σκωτικά γαελικά και επίσης τα χίντι, τα ρωσικά και τα ιρλανδικά γαελικά). Αποφασίσαμε να κρατήσουμε και αυτές τις γλώσσες σε αυτή την έκδοση και ελπίζουμε πως σύντομα νέοι μεταφραστές θα τις συμπληρώσουν. Εάν λάβουμε ενημερώσεις ή νέες μεταφράσεις, θα κάνουμε μια νέα έκδοση του GCompris.</p>

<p>Γι' αυτό λοιπόν, αν η γλώσσα σας δεν είναι πλήρως μεταφρασμένη, ή δεν υποστηρίζεται καθόλου και θέλετε να βοηθήσετε, παρακαλώ επικοινωνήστε μαζί μας και εμείς θα σας κατευθύνουμε για να ξεκινήσετε τη μετάφρασή σας.</p>

<p>Ένας ακόμη τρόπος για να βοηθήσετε είναι να κάνετε μερικές αναρτήσεις στη δική σας κοινότητα σχετικά με το GCompris και μη διστάσετε να μας στείλετε τα σχόλιά σας.</p>

<p>Σημειώσεις:</p>
<li class="puce">Για τη γλώσσα μαλαγιάλαμ εντοπίσαμε μερικά ζητήματα με την προκαθορισμένη γραμματοσειρά "Andika-R". Προτείνουμε στους χρήστες αυτής της γλώσσας να επιλέξουν τη γραμματοσειρά Noto-Sans-Malayalam ή RaghuMalaylamSans από το μενού της εφαρμογής (εάν δεν είναι διαθέσιμες, θα πρέπει να τις εγκαταστήσετε στο σύστημά σας ώστε να μπορείτε να τις επιλέξετε).
</li>

<br/>

<p>Σας ευχαριστούμε όλους, <br/>
Timothée & Johnny</p>


{% endblock %}
