{% extends "template/onenews.html" %}
{% set title = 'Випуск GCompris 0.97' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='{{ newsFolder }}images/r097-small.png'
     class='col-xs-12 col-md-4'
     alt='gcompris banner'
     style='float: right; padding-left: 10px; cursor: pointer;'
     onclick="window.open('{{ newsFolder }}images/r097.png')"/>

     
<p>Привіт,<br />
Ми плануємо оголошення випуску GCompris версії 0.97.</p>

<p>У новій версії реалізовано 2 нових вправи:</p>

<li class="puce">Програмування лабіринту: для вивчення основ програмування за допомогою малого набору команд</li>
<li class="puce">Дитяча танграма: для вивчення основ створення танграм (ця вправа включає перші рівні попередньої версії вправи на складання танграм)</li>

<br />

<p>Багато нових можливостей:</p>

<li class="puce">нові підкатегорії упорядковування вправ</li>
<li class="puce">нова можливість фонової музики та звукового супроводу</li>
<li class="puce">нові параметри гучності для звукових ефектів</li>
<li class="puce">новий параметр швидкості для декількох вправ (gletters, algebra, readingh, note_names)</li>
<li class="puce">нова можливість показу знятих з дошки фігур у вправах із шахами</li>
<li class="puce">новий пункт для переходу на наступний рівень вручну у drawletters та drawnumbers</li>
<li class="puce">нове озвучування для локалі en_US</li>
<li class="puce">нові зображення у праві з кольорами</li>
<li class="puce">нові зображення у вправі advanced_colors</li>
<li class="puce">нові зображення у вправі target</li>
<li class="puce">удосконалено компонування параметрів</li>
<li class="puce">удосконалено компонування вправи share</li>
<li class="puce">удосконалено компонування вправ із поділу на категорії</li>
<li class="puce">файли ресурсів тепер зберігаються на сервері KDE (https://cdn.kde.org/)</li>
<li class="puce">додано навчальний рівень для вправи на парні-непарні числа</li>
<li class="puce">додано вступ до вправи piano_composition</li>
<li class="puce">додано набір даних для малаяламської мови у вправі gletters</li>
<li class="puce">додано набір даних для бретонської мови для вправи wordsgame</li>
<li class="puce">уможливлено озвучування вправи з географії</li>
<li class="puce">уможливлено відтворення звуків у вправі mining</li>
<li class="puce">виправлено книжковий режим у вправі binary_bulb</li>
<li class="puce">зменшено навантаження на процесор при показі меню</li>
<li class="puce">виправлено розмір зображення-підказки у вправі photo_hunter</li>
<li class="puce">виправлено компонування у color_mix</li>
<li class="puce">а також багато інших незначних виправлень…</li>

<br/>

<p>Посилання на пакунки нової версії для GNU/Linux, Windows та MacOS можна знайти на <a href="https://gcompris.net/downloads{{ suffix }}.html">сторінці отримання пакунків</a>. Невдовзі пакунки оновленої версії з'являться у крамницях Android Play та Windows. Також невдовзі буде додано посилання на пакунок для Raspberry Pi. Роботу над створенням пакунка для iOS ще не завершено. Зауважте також, що пакунок для MacOS ще офіційно не затверджено — ми намагатимемося зробити це наступного року.</p>

<p>Щодо озвучування: додано новий звук «повторити спробу», який використовується у декількох вправах замість звуку «перевірити відповідь». Ви можете перевірити, чи доступний цей звук вашою мовою за допомогою цієї сторінки: <a href="https://gcompris.net/voicestats/">https://gcompris.net/voicestats/</a> (у розділі "Misc"). Ви можете допомогти, надавши власні записи озвучування вашою рідною мовою.</p>

<p>Це означає, що повністю реалізовано підтримку 20 мов: баскської, бразильської португальської, бретонської, британської англійської, каталанської, традиційної китайської, голландської, французької, галісійської, грецької, македонської, італійської, малаялам, польської, португальської, румунської, словацької, іспанської, шведської, української.</p>

<p>Підтримку 15 мов усе ще реалізовано не повністю: білоруської (65%), каталанської (валенсійського варіанта, 95%), китайської спрощеної (69%), естонської (93%), фінської (86%), німецької (96%), хінді (73%), угорської (95%), індонезійської (95%), ірландської гельської (78%), норвезької нюноршк (93%), російської (76%), шотландської гельської (67%), словенської (54%), турецької (95%).</p>

<p>Зазвичай, ми постачаємо переклади, які є повними принаймні на 80%. Втім, цього разу рівень деяких перекладів впав до позначки, яка є нижчою за 80% (особливо, словенською, білоруською та шотландською гельською, а також хінді, російською та ірландською гельською). Ми вирішити зробити виняток для цього випуску і сподіваємося, що наші давні та нові перекладачі невдовзі доповнять ці переклади. Якщо матимемо оновлення перекладів, обов'язково випустимо оновлену версію із оновленими перекладами.
<br/></p>

<p>Отже, якщо переклад вашою рідною мовою потрапив до списку частково підтримуваних або його ще немає у списку перекладів взагалі, а ви хочете допомогти нам, будь ласка, зв'яжіться із нами для отримання настанов щодо того, як розпочати переклад.</p>

<p>Крім того, ви можете допомогти, розміщуючи дописи про програму GCompris у вашій спільноті та надсилаючи нам ваші відгуки.</p>

<p>Нотатки:</p>
<li class="puce">Нами помічено проблеми із типовим шрифтом «Andika-R» у малаяламській. Рекомендуємо користувачам малаяламської версії вибрати шрифт Noto-Sans-Malayalam або RaghuMalaylamSans у меню програми (якщо цього шрифту немає у списку, вам доведеться встановити його у вашій системі, щоб скористатися ним).
</li>

<br/>

<p>Дякуємо вам усім, <br/>
Timothée і Johnny</p>


{% endblock %}
