{% extends "template/onenews.html" %}
{% set title = 'GCompris orain toki guztietan instalatzeko doan da' %}
{% set withlongcontent = 0 %}
{% block content %} 

     
<p>Kaixo,<br />
Pozarren berri ematen dugu GCompris bertsio osoa orain kosturik gabe eskuragarri dagoela euskarria duten plataforma guztietarako!</p>

<p>Gure webgunean dauden Windows eta macOS-rako instalatzaileak eguneratu ditugu aurrerantzean aktibazio koderik behar ez dezaten, eta Play eta Microsoft dendetako bertsio osoak orain doan dira.</p>

<p>Espero dugu aldaketa honek erraztuko duela munduko haur guztiak hezkuntza-software onenera iristea.</p>

<br/>

<p>Eskerrik asko guztiei, <br/>
Timothée eta Johnny</p>


{% endblock %}
