{% extends "template/onenews.html" %}
{% set title = 'Ara el GCompris és lliure per instal·lar-lo a tot arreu' %}
{% set withlongcontent = 0 %}
{% block content %} 

     
<p>Hola,<br />
Ens complau anunciar que ara està disponible debades la versió completa del GCompris per a totes les plataformes admeses!</p>

<p>Els instal·ladors per al Windows i el macOS del nostre lloc web s'han actualitzat per no tornar a requerir un codi d'activació, i la versió completa a la Play Store i a la Microsoft Store ara és debades.</p>

<p>Esperem que aquest canvi faciliti que tots els infants del món tinguen accés al millor programari educatiu.</p>

<br/>

<p>Gràcies a tots, <br/>
Timothée i Johnny</p>


{% endblock %}
