{% extends "template/onenews.html" %}
{% set title = 'GCompris er no heilt gratis for alle' %}
{% set withlongcontent = 0 %}
{% block content %} 

     
<p>Hei!<br />
Me er glade for å kunna melda at full­versjonen av GCompris no er tilgjengeleg heilt gratis for alle plattformer!</p>

<p>Installasjons­programma for Windows og macOS har blitt oppdaterte, slik at dei ikkje lenger treng nokon aktiverings­kode, og full­versjonane på Play Store og Microsoft Store er no gratis.</p>

<p>Me håpar dette gjer det lettare for alle barn i verda å få tilgang til første­klasses pedagogisk programvare.</p>

<br/>

<p>Takk, alle saman!<br/>
Timothée & Johnny</p>


{% endblock %}
