{% extends "template/onenews.html" %}
{% set title = 'Izdaja GCompris 1.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/gcompris-20years.png' class='col-xs-12 col-md-4' alt='gcompris banner'     style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/gcompris-20years.png')"/>

<p>Pozdravljeni,<br />
Za praznovanje 20 let GCompris-a z veseljem napovedujemo izdajo verzije 1.0 GCompris.</p>
<p>Ta nova različica vsebuje novo glavno funkcionalnost: dodan Meni dejavnosti z nastavitvijo izbire zbirk podatkov za več kot 50 dejavnosti, omogoča natančnejšo izbiro, česa se lahko naučimo pri dejavnostih.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/1CAgIAIRxRE" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Dodali smo tudi 4 nove dejavnosti:</p>
<li class="puce">Dolgo pričakovana dejavnost analogne elektrike, ki omogoča risanje vezij in poganjanje njihovih simulacij.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8TbbVhdqZUw" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">Naučite se števila in dveh pod-aktivnosti za učenje seštevanja in odštevanja. Učni cilj je poučevanje računanja mlajših otrok z enostavnimi izračuni.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/_xxA97bVLO8" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/rdJbGiytyCg" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">Otroška tipkovnica, kjer se pri vnosu znaka na tipkovnici prikaže na zaslonu in predvaja ustrezen zvok, če obstaja.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-PdEtP3YqjQ" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">Gravitacija, ki nadomešča stari uvod v gravitacijo, bolje razloži koncept in je bolj realistična.</li><br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/fiklpq8JldA" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Pakete te nove verzije lahko najdete za GNU/Linux, Windows, MacOS in Raspberry Pi na <a href="https://gcompris.net/downloads{{ suffix }}.html">strani za prenos</a>. Ta posodobitev bo kmalu na voljo tudi vtrgovini Android Play, skladišču F-Droid in trgovini za Windows. Upoštevajte, da paket MacOS še ni odobren.</p>
<p>Na tej strani lahko preverite stanje glasov v svojem jeziku: <a href="https://gcompris.net/voicestats/"> https://gcompris.net/voicestats/</a>. Pomagate nam lahko z lepim posnetkom vašega glasu za vsemanjkajoče vnose v vašem maternem jeziku.</p>

<p>Na strani prevoda imamo v celoti podprtih 22 jezikov: baskovski, bretonski, britansko angleški, katalonski, katalonski (Valencia), tradicionalni kitajski, nizozemski, francoski, grški, hebrejski, madžarski, indonezijski, italijanski, malajalamski, poljski, portugalski, romunski, slovenski, španski, švedski, turški, ukrajinski.</p>

<p>Delno podpiramo tudi 4 jezike: beloruskega (85%), brazilsko portugalskega (92%), nemškega (89%), litovskega (84%).</p>

<p>Kot smo objavili v prejšnjih novicah, smo se odločili, da bomo pošiljali samo prevode, ki so vsaj 80% kompletni, tako da imajo otroci boljše izkušnje in ne na pol prevedene programske opreme. Na žalost smo morali opustiti prevode za: estonski, finski, irski galski, škotski galski, galicijski, hindujski, makedonski, norveško nynorsk, ruski, slovaški in poenostavljen kitajski jezik.</p>

<p>Če je vaš jezik na delno podprtem seznamu ali ga ni več ali še ni podprt in želite pomagati, se obrnite na nas(support@gcompris.net) in vam bomo dali navodila za začetek prevajanja.</p>
<p>Drug način pomoči je, da v svoji skupnosti napišete nekaj objav o GComprisu. Ne oklevajte in nam pošljite povratne informacije.</p><br/>

<p>Hvala vsem,<br/>
Timothée in Johnny</p>{% endblock %}
