{% extends "template/onenews.html" %}
{% set title = 'O GCompris está agora grátis para instalar em qualquer lugar' %}
{% set withlongcontent = 0 %}
{% block content %} 

     
<p>Olá,<br />
Estamos felizes em anunciar que a versão completa do GCompris está agora disponível sem custo algum em todas as plataformas suportada!</p>

<p>Os instaladores para Windows e macOS no nosso site foram atualizados para não necessitarem mais de ativação do código. Dessa forma, a versão completa tanto na Play Store quanto na Microsoft Store agora é gratuita.</p>

<p>Nós esperamos que essa mudança facilite o acesso de todas as crianças do mundo ao melhor software educacional.</p>

<br/>

<p>Obrigado a todos, <br/>
Timothée e Johnny</p>


{% endblock %}
