{% extends "template/onenews.html" %}
{% set title = 'GCompris est maintenant gratuit sur toutes les plateformes' %}
{% set withlongcontent = 0 %}
{% block content %} 

     
<p>Bonjour,<br />
Nous sommes heureux de vous annoncer que la version complète de GCompris est maintenant gratuite sur tous les systèmes d'exploitation supportés !</p>

<p>Les installateurs pour Windows et MacOS ont été mis à jour et ne nécessitent plus de code d'activation pour déverrouiller l'ensemble des activités. Les versions sur le Play store et le store Microsoft sont maintenant gratuites.</p>

<p>Nous espérons que ce changement facilitera l'accès à tous les enfants dans le monde à de meilleurs logiciels éducatifs.</p>

<br/>

<p>Merci à tous, <br/>
Timothée & Johnny</p>


{% endblock %}
