{% extends "template/onenews.html" %}
{% set title = 'GCompris tanimë është I lirë të instalohet kudo' %}
{% set withlongcontent = 0 %}
{% block content %} 

     
<p>Njatjeta,<br />
Jemi të gëzuar të njoftojmë se versioni i plotë i GCompris-së tani është i passhëm pa pagesë për çdo platformë të mbuluar prej nesh!</p>

<p>Instaluesit për Windows dhe macOS në sajtin tonë janë përditësuar për të mos kërkuar më kod aktivizimi, dhe versioni i plotë te shitorja Play dhe shitorja e Microsoft-it tani janë falas.</p>

<p>Shpresojmë se kjo lëvizje do ta bëjë më të lehtë për krejt fëmijët në botë të përdorin programin më të mirë edukativ.</p>

<br/>

<p>Faleminderit të tërëve, <br/>
Timothée & Johnny</p>


{% endblock %}
