{% extends "template/onenews.html" %}
{% set title = 'Το GCompris είναι τώρα Ελεύθερο να εγκατασταθεί οπουδήποτε' %}
{% set withlongcontent = 0 %}
{% block content %} 

     
<p>Γεια σου,<br />
Είμαστε στην ευχάριστη θέση να σας ανακοινώσουμε ότι η η πλήρης έκδοση του GCompris είναι τώρα διαθέσιμη χωρίς κόστος για κάθε διαθέσιμη πλατφόρμα!</p>

<p>Τα προγράμματα εγκατάστασης για Windows και macOS στον ιστότοπό μας έχουν ενημερωθεί ώστε να μην απαιτούν πλέον κωδικό ενεργοποίησης και η πλήρης έκδοση στο Play store και στο Microsoft store είναι τώρα δωρεάν.</p>

<p>Ελπίζουμε ότι αυτή η κίνηση θα διευκολύνει την πρόσβαση στο καλύτερο εκπαιδευτικό λογισμικό για όλα τα παιδιά του κόσμου.</p>

<br/>

<p>Σας ευχαριστούμε όλους, <br/>
Timothée & Johnny</p>


{% endblock %}
