{% extends "template/onenews.html" %}
{% set title = 'Utgivning av GCompris 1.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/gcompris-20years.png' class='col-xs-12 col-md-4' alt='gcompris banner' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/gcompris-20years.png')"/>

<p>Hej,<br />
För att fira att GCompris är 20 år, är vi glada att tillkännage utgivningen av GCompris version 1.0.</p>
<p>Den nya versionen innehåller en ny huvudfunktion: tillägg av menyn Aktivitetsinställningar med val av datauppsättning för mer än 50 aktiviteter, vilket gör det möjligt att mer specifikt välja vad som går att lära sig i aktiviteten.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/1CAgIAIRxRE" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Vi har också lagt till fyra nya aktiviteter:</p>
<li class="puce">Den sedan länge emotsedda aktiviteten Analog elektricitet, som låter oss rita kretsar och simulera dem.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8TbbVhdqZUw" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">Lär dig siffror och två delaktiviteter för att lära dig addition och subtraktion. Målet är att lära yngre barn koncepten, med lätta beräkningar.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/_xxA97bVLO8" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/rdJbGiytyCg" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">Bebistangentbord där vi visar ett tecken på skärmen, när det skrivs in på tangentbordet, och läser upp det med motsvarande röst om den finns.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-PdEtP3YqjQ" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">Gravitation, som ersätter den gamla Introduktion till gravitation, som har en bättre förklaring av konceptet och är mer realistisk.</li><br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/fiklpq8JldA" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Paket av den nya versionen för GNU/Linux, Windows, MacOS och Raspberry Pi finns på <a href="https://gcompris.net/downloads{{ suffix }}.html">nerladdningssidan</a>. Uppdateringen kommer också snart att vara tillgänglig i Android Play Store, F-Droid arkivet och Windows Store. Observera att MacOS-paketet är inte ännu är attesterat.</p>
<p>På följande sida kan du kontrollera röststatus på ditt språk: <a href="https://gcompris.net/voicestats/">https://gcompris.net/voicestats/</a>. Du kan hjälpa oss genom att tillhandahålla en bra inspelning med din röst för alla saknade poster på ditt modersmål.</p>

<p>På översättningssidan har vi nu fullständigt stöd för 22 språk: baskiska, brasiliansk portugisiska, bretonska, brittisk engelska, franska, galiciska, grekiska, holländska, indonesiska, italienska, katalanska, katalanska (valencianska), malayalam, polska, portugisiska, rumänska, slovenska, spanska, svenska, traditionell kinesiska, ukrainska, ungerska.</p>

<p>Vi har också fyra språk som delvis stöds: vitryska (85 %), brasiliansk portugisiska (92 %), tyska (89 %), litauiska (84 %).</p>

<p>Som nämnts i tidigare nyheter, har vi bestämt att bara leverera översättningar som är minst 80 % färdiga för att ge barn en bättre upplevelse och inte halvöversatt programvara. Tyvärr har vi varit tvungna att avstå från översättningarna av estniska, finska, irländsk gäliska, skotsk gäliska, galiciska, hindi, makedonska, nynorska, ryska, slovakiska och förenklad kinesiska.</p>

<p>Om ditt språk finns i listan över delvis stödda språk, inte längre stöds eller ännu inte stöds alls, och du vill hjälpa till, kontakta oss gärna (support@gcompris.net) så ger vi dig instruktioner för att komma igång med översättning.</p>
<p>Ett annat sätt att hjälpa till är att göra några inlägg i din gemenskap om GCompris, och tveka inte att ge oss återkoppling.</p><br/>

<p>Tack allesamman, <br/>
Timothée och Johnny</p>{% endblock %}
