{% extends "template/onenews.html" %}
{% set title = 'O GCompris é agora Gratuito para ser instalado em todo o lado' %}
{% set withlongcontent = 0 %}
{% block content %} 

     
<p>Olá,<br />
Estamos felizes por anunciar que a versão completa do GCompris está agora disponível sem qualquer custo para todas as plataformas suportadas!</p>

<p>Os instaladores para o Windows e macOS na nossa página Web foram actualizados para não pedirem mais nenhum código de activação, e a versão completa na loja Play e da Microsoft é agora gratuita.</p>

<p>Esperamos que esta decisão possibilite que todas as crianças no mundo tenham acesso ao melhor 'software' educativo.</p>

<br/>

<p>Obrigado a todos, <br/>
Timothée & Johnny</p>


{% endblock %}
