{% extends "template/onenews.html" %}
{% set title = 'GCompris je zdaj mogoče prosto namestiti povsod' %}
{% set withlongcontent = 0 %}
{% block content %} 

     
<p>Živjo,<br />
Z veseljem vam sporočamo, da je celotna različica GComprisa zdaj je na voljo brezplačno za vsako podprto platformo!</p>

<p>Namestitveni program za Windows in macOS na našem spletnem mestu je bil posodobljen, da ne zahteva več aktivacijske kode in popolna različica v trgovini Play in Microsoftova trgovina je zdaj brezplačna.</p>

<p>Upamo, da bo ta poteza olajšala dostop vsem otrokom na svetu do najboljše izobraževalne programske opreme.</p>

<br/>

<p>Hvala vsem<br/>
Timothée & Johnny</p>


{% endblock %}
