{% extends "template/onenews.html" %}
{% set title = 'Hedhje në qarkullim e GCompris 1.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/gcompris-20years.png' class='col-xs-12 col-md-4' alt='gcompris banner'     style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/gcompris-20years.png')"/>

<p>Njatjeta,<br />
Që të kremtojmë 20 vjetët e GCompris-it, jemi të gëzuar të njoftojmë hedhjen në qarkullim të GCompris version 1.0.</p>
<p>Ky version i ri përmban një veçori të re të rëndësishme: shtimin e menusë Rregullime Veprimtare me përzgjedhje Grupi të Dhënash për më tepër se 50 veprimtari, çka lejon zgjedhje më specifike se ç’mund të mësohet në veprimtaritë.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/1CAgIAIRxRE" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Shtuan gjithashtu 4 veprimtari:</p>
<li class="puce">Veprimtaria e pritur prej kohësh, Elektricitet Analog, që na lejon të vizatojmë qarqe dhe të xhirojmë simulimin e tyre.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8TbbVhdqZUw" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">Mësim shifrash dhe dy nënveprimtari për të mësuar mbledhje dhe zbritje. Synimi është t’u mësohen këto koncepte fëmijëve të vegjël, me llogaritje të thjeshta.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/_xxA97bVLO8" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/rdJbGiytyCg" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">Tastierë çiliminjsh, ku, kur shtypet një shkronjë te tastiera, e shfaqim te ekrani dhe luajmë zërin përkatës, në pastë.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-PdEtP3YqjQ" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">Rëndesa, që zëvendëson Hyrje Në Rëndesë të dikurshme, shpjegon më mirë konceptin dhe është më realiste.</li><br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/fiklpq8JldA" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Te <a href="https://gcompris.net/downloads{{ suffix }}.html">faqja e shkarkimit</a> mund të gjeni paketa të këtij versioni të ri për GNU/Linux, Windows, MacOS dhe Raspberry Pi. Ky përditësim do të jetë gjithashtu së shpejti i passhëm te shitorja Android Play, depoja F-Droid dhe shitorja Windows. Kini parasysh që paketa për MacOS s’është e noterizuar.</p>
<p>Gjendjen për zërat në gjuhën tuaj mund ta kontrolloni në këtë faqe: <a href="https://gcompris.net/voicestats/">https://gcompris.net/voicestats/</a>. Mund të na ndihmoni duke na dhënë një incizim të hijshëm me zërin tuaj për krejt fjalët që mungojnë në gjuhën tuaj.</p>

<p>Për sa i përket përkthimit, kemi 22 gjuhë që mbulohen plotësisht: Baske, Bretone, Anglishte Britanike, Katalanase, Katalanase (Valencie), Kineze Tradicionale, Holandeze, Frënge, Greke, Hebre, Hungareze, Indoneziane, Italiane, Malajalame, Polake, Portugeze, Rumune, Sllovene, Spanjolle, Suedeze, Turke, Ukrainase.</p>

<p>Kemi gjithashtu 4 gjuhë të mbuluara pjesërisht: Bjelloruse (85%), Portugalishte Brazili (92%), Gjermane (89%), Lituaneze (84%).</p>

<p>Siç është thënë edhe në lajmet e mëparshme, vendosëm të hedhim në qarkullim vetëm përkthime që janë të paktën 80% të plotësuara, që fëmijët të mund të përdorin një version sa më të plotë dhe jo një program të përkthyer përgjysmë. Për fat të keq, na u desh të linim jashtë përkthimin për gjuhët: Estonishte, Finlandeze, Irlandeze Gaelike, Skoceze Gaelike, Galiciase, Hindi, Maqedonase, Norvegjeze Nynorsk, Ruse, Sllovake dhe Kineze të Thjeshtuar.</p>

<p>Nëse gjuha juaj gjendet në listën e të mbuluarave pjesërisht, ose nuk mbulohet më, dhe dëshironi të ndihmoni, ju lutemi, lidhuni me ne (support@gcompris.net) dhe do t’ju japim udhëzime si të filloni të përktheni.</p>
<p>Një rrugë tjetër për të ndihmuar është të shkruani në bashkësinë tuaj postime rreth GCompris-it, dhe mos ngurroni të na jepni idetë tuaja.</p><br/>

<p>Faleminderit të tërëve, <br/>
Timothée & Johnny</p>{% endblock %}
