{% extends "template/onenews.html" %}
{% set title = 'ജികോംപ്രി 1.0-ന്റെ പ്രകാശനം' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/gcompris-20years.png' class='col-xs-12 col-md-4' alt='ജികോംപ്രി 1.0-ന്റെ പ്രകാശനം' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/gcompris-20years.png')"/>

<p>നമസ്കാരം,<br />
ജികോംപ്രിയുടെ 20-ാം വാർഷികം ആഘോഷിക്കുന്നതിനായി ജികോംപ്രി പതിപ്പ് 1.0 പ്രകാശനം ചെയ്യുന്ന വിവരം ഞങ്ങൾ സസന്തേഷം അറിയിക്കുന്നു.</p>
<p>ഈ പുതിയ പതിപ്പിന്റെ ഒരു പ്രധാന സവിശേഷത ഓരോ പ്രവർത്തനത്തിലും എന്താണു പഠിക്കേണ്ടതെന്നു കൂടുതൽ കൃത്യമായി തിരഞ്ഞെടുക്കാൻ അനുവദിക്കുന്ന, ഡാറ്റാസെറ്റ് തിരഞ്ഞെടുപ്പോടുകൂടിയ പ്രവർത്തന ക്രമീകരണ മെനു 50-ൽ അധികം പ്രവർത്തനങ്ങളിൽ ചേർത്തിരിക്കുന്നു എന്നതാണ്.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/1CAgIAIRxRE" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>കൂടാതെ 4 പുതിയ പ്രവർത്തനങ്ങളും ഞങ്ങൾ ചേർത്തിട്ടുണ്ട്:</p>
<li class="puce">ദീർഘകാലമായി കാത്തിരുന്ന, സർക്യൂട്ടുകൾ വരയ്ക്കാനും സിമുലേറ്റ് ചെയ്യാനും കഴിയുന്ന അനലോഗ് വൈദ്യുതി പ്രവർത്തനം.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8TbbVhdqZUw" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">അക്കങ്ങൾ പഠിക്കാം എന്ന പ്രവർത്തനവും തുക കാണാം, കുറയ്ക്കാൻ പഠിക്കാം എന്നീ ഉപപ്രവർത്തനങ്ങളും. എളുപ്പമുള്ള കണക്കുകളിലൂടെ ചെറിയ കുട്ടികളെ ഈ ആശയങ്ങൾ പഠിപ്പിക്കുക എന്നതാണ് ഇവയുടെ ലക്ഷ്യം.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/_xxA97bVLO8" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/rdJbGiytyCg" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">കുട്ടി കീബോർഡ്, കീബോർഡിൽ ഒരു ക്യാരക്ടർ ടൈപ്പ് ചെയ്യുമ്പോൾ അത് സ്ക്രീനിൽ കാണിക്കുകയും അനുയോജ്യമായ ശബ്ദം ലഭ്യമാണെങ്കിൽ അതു പ്ലേ ചെയ്യുകയും ചെയ്യുന്നു.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-PdEtP3YqjQ" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">ഗുരുത്വാകർഷണം, പഴയ ഗുരുത്വാകർഷണത്തെ പരിചയപ്പെടാം എന്നതിനു പകരം, ഈ ആശയം മെച്ചപ്പെട്ട രീതിയിലും തന്മയത്വത്തോടെയും വിശദീകരിക്കുന്നു.</li><br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/fiklpq8JldA" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>ഈ പുതിയ പതിപ്പിനായുള്ള ഗ്നു/ലിനക്സ്, വിൻഡോസ്, മാക്ഒയെസ്, റാസ്ബെറി പൈ പാക്കേജുകൾക്ക് <a href="https://gcompris.net/downloads{{ suffix }}.html">ഡൗൺലോഡ് പേജിൽ</a> നോക്കുക. ഈ അപ്ഡേറ്റ് ആൻഡ്രോയ്ഡ് പ്ലേ സ്റ്റോറിലും എഫ്-ഡ്രോയ്സ് റെപ്പോസിറ്ററിയിലും വിൻഡോസ് സ്റ്റോറിലും ഉടൻ തന്നെ ലഭ്യമാകും. മാക്ഒയെസ് പാക്കേജ് നോട്ടറൈസു ചെയ്തിട്ടില്ലെന്നത് ശ്രദ്ധിക്കുക.</p>
<p>താങ്കളുടെ ഭാഷയിലുള്ള ശബ്ദങ്ങളുടെ നില ഈ താളിൽ പരിശോധിക്കാവുന്നതാണ്: <a href="https://gcompris.net/voicestats/">https://gcompris.net/voicestats/</a>. താങ്കളുടെ പ്രാദേശിക ഭാഷയിൽ ലഭ്യമല്ലാത്ത എല്ലാ ഭാഗങ്ങൾക്കും താങ്കളുടെ ശബ്ദത്തിന്റെ ഹൃദ്യമായ റെക്കോർഡിങ് നല്കി ഞങ്ങളെ സഹായിക്കാവുന്നതാണ്.</p>

<p>തർജമയെ കുറിച്ച്, ഞങ്ങൾ 22 ഭാഷകൾ പൂർണമായി പിന്തുണയ്ക്കുന്നു: ബാസ്‌ക്, ബ്രിട്ടൺ, ബ്രിട്ടീഷ് ഇംഗ്ലീഷ്, കത്തലൻ, കത്തലൻ (വാലെൻഷ്യൻ), ട്രഡിഷണൽ ചൈനീസ്, ഡച്ച്, ഫ്രഞ്ച്, ഗ്രീക്ക്, ഹീബ്രു, ഹംഗേറിയൻ, ഇന്തോനേഷ്യൻ, ഇറ്റാലിയൻ, മലയാളം, പോളിഷ്, പോർച്ചുഗീസ്, റൊമേനിയൻ, സ്ലൊവേനിയൻ, സ്പാനിഷ്, സ്വീഡിഷ്, തുർക്കിഷ്, ഉക്രേനിയൻ.</p>

<p>ഭാഗികമായി പിന്തുണയ്ക്കുന്ന 4 ഭാഷകളും ഉണ്ട്: ബെലാറഷ്യൻ (85%), ബ്രസീലിയൻ പോർച്ചുഗീസ് (92%), ജർമൻ (89%), ലിത്വേനിയൻ (84%).</p>

<p>മുമ്പത്തെ വാർത്തയിൽ പറഞ്ഞതുപോലെ, കുട്ടികൾക്ക് മികച്ച അനുഭവം പ്രദാനം ചെയ്യുന്നതിനായി പകുതി തർജമ ചെയ്ത സോഫ്റ്റ്‌വെയർ എന്നതിനു പകരം 80% എങ്കിലും പൂർത്തിയായ തർജമകൾ മാത്രം ചേർക്കുവാനായി ഞങ്ങൾ തീരുമാനിച്ചു. നിർഭാഗ്യവശാൽ ഈ ഭാഷയ്ക്കായുള്ള തർജമകൾ ഉപേക്ഷിക്കേണ്ടി വന്നു: എസ്തോണിയൻ, ഫിന്നിഷ്, ഐറിഷ് ഗാലിക്, സ്കോട്ടിഷ്, ഗാലീഷ്യൻ, ഹിന്ദി, മസഡോണിയൻ, നോർവീജിയൻ നിനോർസ്ക്, റഷ്യൻ, സ്ലോവാക്, സിംപ്ലിഫൈഡ് ചൈനീസ്.</p>

<p>താങ്കളുടെ ഭാഷ ഭാഗികമായി പിന്തുണയ്ക്കപ്പെട്ട പട്ടികയിലാണെങ്കിലൊ അതിലില്ലെങ്കിലൊ ഇതുവരെ പിന്തുണയ്ക്കപ്പെട്ടിട്ടില്ലെങ്കിലൊ, താങ്കൾക്ക് സഹായിക്കുവാൻ താൽപര്യമുണ്ടെങ്കിൽ, തർജമ ചെയ്തു തുടങ്ങാനുള്ള നിർദേശങ്ങൾക്കായി ദയവായി ഞങ്ങളെ ബന്ധപ്പെടുക (support@gcompris.net).</p>
<p>താങ്കളുടെ കൂട്ടായ്മയിൽ ജികോംപ്രിയെ കുറിച്ചുള്ള പോസ്റ്റുകൾ എഴുതുക എന്നതാണ് സഹായിക്കാനുള്ള മറ്റൊരു മാർഗം, മാത്രമല്ല ഞങ്ങൾക്ക് ഫീഡ്‌ബാക്ക് നല്കാനും മടിക്കരുത്.</p><br/>

<p>എല്ലാവർക്കും നന്ദി, <br/>
ടിമോത്തെ & ജോന്നി</p>{% endblock %}
