{% extends "template/onenews.html" %}
{% set title = 'GCompris is now Free to install everywhere' %}
{% set withlongcontent = 0 %}
{% block content %} 

     
<p>Hi,<br />
We are pleased to announce that the full version of GCompris is now available at no cost for every supported platform!</p>

<p>The installers for Windows and macOS on our website have been updated to not require activation code anymore, and the full version on the Play store and Microsoft store are now gratis.</p>

<p>We hope that this move will make it easier for all the children in the world to get access to the best educational software.</p>

<br/>

<p>Thank you all, <br/>
Timothée & Johnny</p>


{% endblock %}
