{% extends "template/onenews.html" %}
{% set title = 'Издание на Жикомпри 1.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='news/images/gcompris-20years.png' class='col-xs-12 col-md-4' alt='gcompris banner'     style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('news/images/gcompris-20years.png')"/>

<p>Здраво,<br />
За да прославиме 20 години Жикомпри, со задоволство го најавуваме објавувањето на верзијата 1.0 на Жикомпри.</p>
<p>Оваа нова верзија содржи нова голема функционалност: менито Поставки за активност со избор на податочно множество за повеќе од 50 активности, што овозможува да се избере поконкретно што може да се научи за активностите.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/1CAgIAIRxRE" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Додадовме и 4 нови активности:</p>
<li class="puce">Долго очекуваната активност Аналогна електроника што ни овозможува да цртаме кола и да ја извршуваме нивната симулација.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8TbbVhdqZUw" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">Научете броеви и две под-активности за да научите собирање и одземањe. Целта е да ги научат овие концепти помaлите деца, со лесни пресметки.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/_xxA97bVLO8" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/rdJbGiytyCg" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">Бебешка тастатура каде што, кога ќе се напише карактер од тастатурата, ние го прикажуваме на екранот и го пуштаме соодветниот глас доколку тој постои.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-PdEtP3YqjQ" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">Гравитација, која ја заменува старата Интро гравитација, подобро го објаснува концептот и е пореална.</li><br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/fiklpq8JldA" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Може да најдете пакети од оваа нова верзија за GNU/Linux, Windows, MacOS и Raspberry Pi на <a href="https://gcompris.net/downloads{{ suffix }}.html">страницата за преземање</a>. Оваа надградба исто така ќе биде достапна наскоро во продавницата Android Play, складиштето F-Droid и Windows продавницата. Забележете дека пакетот за MacOS не е заверен.</p>
<p>На оваа страница можете да го проверите статусот на гласовите на вашиот јазик: <a href="https://gcompris.net/voicestats/">https://gcompris.net/voicestats/</a>. Можете да ни помогнете со обезбедување на убава снимка од вашиот глас за сите записи што недостасуваат на вашиот мајчин јазик.</p>

<p>Од страната на преводот, имаме 22 целосно поддржани јазици: баскиски, бретонски, британски англиски, каталонски, каталонски (валенсија), кинески традиционален, холандски, француски, грчки, хебрејски, унгарски, индонезиски, италијански, малајаламски, полски, португалски, романски, словенечки, шпански, шведски, турски, украински.</p>

<p>Имаме и 4 делумно поддржани јазици: белоруски (85%), бразилски португалски (92%), германски (89%), литвански (84%).</p>

<p>Како што беше кажано во претходните вести, решивме да прикажеме преводи што се најмалку 80% завршени за да им овозможиме на децата да имаат подобро искуство, а не половина преведен софтвер. За жал, мораше да се тргнат преводите за: естонски, фински, ирски галски, шкотски галски, галициски, хинди, македонски, норвешки нинорск, руски, словачки и кинески поедноставен.</p>

<p>Ако вашиот јазик е во делумно поддржаната листа, или го нема повеќе или сè уште не е поддржан, и сакате да помогнете, контактирајте не (support@gcompris.net) и ние ќе ви дадеме упатства за да започнете со превод.</p>
<p>Друг начин да помогнете е да напишете неколку објави во вашата заедница за Жикомпри и не двоумете се да ни дадете повратни информации.</p><br/>

<p>Ви благодариме на сите, <br/>
Timothée & Johnny</p>{% endblock %}
