{% extends "template/onenews.html" %}
{% set title = 'Llançament del GCompris 1.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/gcompris-20years.png' class='col-xs-12 col-md-4' alt='Llançament del GCompris 1.0' GCompris.' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/gcompris-20years.png')"/>

<p>Hola,<br />
Per a celebrar els 20 anys del GCompris, ens complau anunciar el llançament de la versió 1.0 del GCompris.</p>
<p>Aquesta nova versió conté una nova característica important: l'addició del menú Ajustaments de l'activitat amb selecció del Conjunt de dades per a més de 50 activitats, el qual permet triar més específicament el que es podrà aprendre sobre les activitats.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/1CAgIAIRxRE" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>També afegim 4 activitats noves:</p>
<li class="puce">La tan esperada activitat Electricitat analògica, la qual ens permet dibuixar circuits i executar la seva simulació.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8TbbVhdqZUw" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">Aprendre dígits i dues subactivitats per a aprendre sumes i restes. L'objectiu és ensenyar aquests conceptes amb càlculs senzills als infants.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/_xxA97bVLO8" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/rdJbGiytyCg" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">Teclat de nadó, on, quan s'escriu un caràcter en el teclat, el mostrem en pantalla i es reprodueix la veu corresponent, si la tenim.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-PdEtP3YqjQ" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">Gravetat, la qual substitueix a l'antiga Introducció a la gravetat, explica millor el concepte i és més realista.</li><br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/fiklpq8JldA" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Trobareu els paquets d'aquesta nova versió per a GNU/Linux, Windows, MacOS i Raspberry Pi a la <a href="https://gcompris.net/downloads{{ suffix }}.html">pàgina de baixades</a>. Aquesta actualització també estarà disponible aviat a la botiga Android Play, el repositori de F-Droid i a la botiga de Windows. Recordeu que el paquet de MacOS no està notariada.</p>
<p>Pot consultar en aquesta pàgina l'estat de les veus en el vostre idioma: <a href="https://gcompris.net/voicestats/">https://gcompris.net/voicestats/</a>. Podeu ajudar-nos proporcionant una bona gravació de la vostra veu per a totes les entrades que falten en el vostre idioma nadiu.</p>

<p>Al costat de les traduccions, tenim 22 idiomes totalment admesos: basc, bretó, anglès britànic, català, català (valencià), xinès tradicional, holandès, francès, grec, hebreu, hongarès, indonesi, italià, malai, polonès, portuguès, romanès, eslovè, espanyol, suec, turc i ucraïnès.</p>

<p>També tenim 4 idiomes parcialment admesos: bielorús (85%), portuguès brasiler (92%), alemany (89%), lituà (84%).</p>

<p>Com es va dir en la notícia anterior, vam decidir enviar només les traduccions que estiguin completades amb un mínim del 80%, de manera que els infants tinguin una millor experiència i no un programari traduït a mitges. Malauradament, vam haver d'eliminar les traduccions per a: estonià, finlandès, gaèlic irlandès, gaèlic escocès, gallec, hindi, macedoni, noruec nynorsk, rus, eslovac i xinès simplificat.</p>

<p>Si el vostre idioma es troba a la llista de parcialment admès, ja no hi és o encara no s'admet, i voleu ajudar, contacteu amb nosaltres (support@gcompris.net) i us donarem instruccions per a començar a traduir.</p>
<p>Una altra manera d'ajudar és escrivint algunes publicacions en la vostra comunitat sobre el GCompris. I no dubteu en donar-nos la vostra opinió.</p><br/>

<p>Gràcies a tots, <br/>
Timothée i Johnny</p>{% endblock %}
