{% extends "template/onenews.html" %}
{% set title = 'השקת GCompris 1.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/gcompris-20years.png' class='col-xs-12 col-md-4' alt='gcompris banner'     style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/gcompris-20years.png')"/>

<p>שלום,<br />
 כדי לחגוג 20 שנים לGCompris אנו שמחים להודיע על השקת GCompris בגירסא 1.0</p>
<p>הגירסה החדשה היא בעלת מאפיין מרכזי חדש: תוספת של תפריט הגדרות לפעילות עם מבחר ערכות  עבור יותר מ-50 פעילויות, תפריט המאפשר לבחור באופן יותר ספציפי מה ניתן ללמוד באותן פעילויות. </p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/1CAgIAIRxRE" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>הוספנו גם 4 פעילויות חדשות:</p>
<li class="puce">לאחר ציפייה ממושכת הפעילות חשמל אנלוגי שמאפשרת לנו לצייר מעגלים ולהריץ הדמיות.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8TbbVhdqZUw" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">ללמוד ספרות ושתי פעילויות מישנה ללמוד חיבור וחיסור. המטרה היא ללמד את התפיסות האלו לגילאים צעירים יותר, בחישוביות קלה.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/_xxA97bVLO8" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/rdJbGiytyCg" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">מקלדת לקטנטנים שבה כאשר מקלידים אות במקלדת, היא מוצגת על המסך ומשמיעה את הקול המתאים אם הוא קיים.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-PdEtP3YqjQ" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">כח הכבידה, שמחליפה את מבוא לכֹח הכבידה הישנה, מסבירה טוב יותר את הקונספט והיא יותר מציאותית.</li><br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/fiklpq8JldA" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>ניתן למצוא חבילות לגירסה החדשה הזו לגנוּ/לינוֹקס, וווינדווס, MaxOS ורספברי פאי ב<a href="https://gcompris.net/downloads{{ suffix }}.html">דף ההורדה</a>. </p>
<p>ניתן לבדוק את מצב הקולות בעברית כאן:  <a href="https://gcompris.net/voicestats/">https://gcompris.net/voicestats/</a>. אפשר לעזור לנו באמצעות יצירה של הקלטה טובה בקולך לכל המילים החסרות בשפתנו.</p>

<p>בצד התירגומים יש לנו 22 שפות בתמיכה מלאה: בסקית, ברטון, אנגלית בריטית, קטלנית, קטלנית ולנסיאנית, סינית מסורתית, הולנדית, צרפתית, יוונית, עברית :) , הונגרית, אינדונזית, איטלקית, מליאלאם, פולנית, פורטוגזית, רומנית, סלובנית, ספרדית, שוודית, טורקית ואוקראינית.</p>

<p>ישנן גם 4 שפות שלהם תמיכה חלקית: בילרוסית (85%), פורטוגזית ברזילאית (92%), גרמנית (89%) וליטאית (84%).</p>

<p>כפי שנכתב בחדשות הקודמות, החלטנו להוציא תרגומים שמכסים לפחות 80% כדי לאפשר לילדים/ות חווייה טובה יותר ולא תוכנה שמתורגמת חלקית. לרוע המזל, נאלצנו להסיר את התירגומים לאסטונית, פינית, גאלית אירית, גאלית סקוטית, גליציאנית, הינדית, מקדונית, נינורקית נורווגית,  רוסית, סלובקית וסינית פשוטה.</p>

<p>אם השפה שלך ברשימת הנתמכות חלקית או שאינה עוד או שאינה נתמכת עדיין כלל, וברצונך לעזור, נא ליצור איתנו קשר (support@gcompris.net) ונמסור לך הוראות כיצד להתחיל לתרגם.</p>
<p>דרך נוספת לעזור היא לכתוב פרסומים בקהילה שלך אודות ג'יקומפריז ולא להסס לשלוח לנו משוב.</p><br/>

<p>תודה רבה לכולכם, <br/>
תימוט'י וְג'וֹני</p>{% endblock %}
