{% extends "template/onenews.html" %}
{% set title = 'Κυκλοφορία της έκδοσης 1.0 του GCompris.' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/gcompris-20years.png' class='col-xs-12 col-md-4' alt='Κυκλοφορία της έκδοσης 1.0 του GCompris.' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/gcompris-20years.png')"/>

<p>Γεια σου,<br />

Για να γιορτάσουμε τα 20 χρόνια του GCompris, είμαστε στην ευχάριστη θέση να ανακοινώσουμε την έκδοση 1.0.</p>
<p>Αυτή η έκδοση περιλαμβάνει μια πολύ σημαντική λειτουργία: την προσθήκη, σε περισσότερες από 50 δραστηριότητες, της δυνατότητας 'Ρυθμίσεις δραστηριότητας' για επιλογή δεδομένων, που επιτρέπει να κάνουμε πολύ συγκεκριμένες επιλογές γι' αυτό που πρόκειται να μάθουμε σε κάθε δραστηριότητα.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/1CAgIAIRxRE" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Η νέα έκδοση περιλαμβάνει 4 νέες δραστηριότητες:</p>
<li class="puce">Την πολυαναμενόμενη δραστηριότητα 'Αναλογικός ηλεκτρισμός' που μας επιτρέπει να σχεδιάσουμε ηλεκτρικά κυκλώματα και να προσομοιώσουμε τη λειτουργία τους.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8TbbVhdqZUw" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">Τη δραστηριότητα 'Μαθαίνω αριθμούς' και δυο υποδραστηριότητες, 'Μαθαίνω πρόσθεση' και 'Μαθαίνω αφαίρεση'. Σκοπός είναι η διδασκαλία των αριθμών σε μικρά παιδιά, με εύκολες αριθμητικές πράξεις.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/_xxA97bVLO8" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/rdJbGiytyCg" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">Στο 'Παιδικό πληκτρολόγιο', όταν πατάμε έναν χαρακτήρα αυτός εμφανίζεται στην οθόνη και ακούγεται ο αντίστοιχος ήχος, αν υπάρχει.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-PdEtP3YqjQ" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">Η 'Βαρύτητα', που αντικαθιστά την παλιά 'Εισαγωγή στη βαρύτητα', εξηγεί καλύτερα την έννοια και είναι περισσότερο ρεαλιστική.</li><br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/fiklpq8JldA" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Θα βρείτε τα πακέτα αυτής της νέας έκδοσης για GNU/Linux, Windows και MacOS στη <a href="https://gcompris.net/downloads{{ suffix }}.html">σελίδα λήψεων</a>. Αυτή η ενημέρωση θα είναι σύντομα διαθέσιμη στο Android Play store, στο αποθετήριο F-Droid και στο Windows store. Λάβετε υπόψη, ότι το πακέτο για MacOS δεν έχει ακόμη επικυρωθεί.</p>
<p>Μπορείτε να δείτε σε αυτή τη σελίδα την κατάσταση των αρχείων ήχου για τη γλώσσα σας: <a href="https://gcompris.net/voicestats/">https://gcompris.net/voicestats/</a>. Αν θέλετε, μπορείτε να βοηθήσετε προσφέροντας ηχογραφημένους τους ήχους της γλώσσα σας που διαπιστώνετε ότι λείπουν.</p>

<p>Yπάρχουν 22 πλήρως υποστηριζόμενες γλώσσες: Βασκικά, Βρετονικά, Βρετανικά Αγγλικά, Καταλανικά, Καταλανικά Βαλένθιας, Παραδοσιακά Κινέζικα, Ολλανδικά, Γαλλικά, Ελληνικά, Εβραϊκά, Ουγγρικά, Ινδονησιακά, Ιταλικά, Μαλαγιάλαμ, Πολωνικά, Πορτογαλικά, Ρουμάνικα, Σλοβένικα, Ισπανικά, Σουηδικά, Τουρκικά, Ουκρανικά.</p>

<p>Υπάρχουν επίσης 4 γλώσσες που δεν υποστηρίζονται πλήρως: Λευκορωσικά (85%), Πορτογαλικά Βραζιλίας (92%), Γερμανικά (89%) και Λιθουανικά (84%).</p>

<p>Όπως είπαμε προηγουμένως, αποφασίσαμε να συμπεριλάβουμε τις γλώσσες που είναι τουλάχιστον κατά 80% μεταφρασμένες, έτσι ώστε τα παιδιά να έχουν καλύτερη εμπειρία και όχι ένα ημιτελές γλωσσικά λογισμικό. Δυστυχώς, είμαστε αναγκασμένοι να αφήσουμε εκτός τις εξής γλώσσες: Εσθονικά, Φινλανδικά, Ιρλανδικά Γαελικά, Σκωτικά Γαελικά, Γαλικικά, Χίντι, Μακεδονικά, Νέα Νορβηγικά, Ρωσικά, Σλοβακικά και Απλοποιημένα Κινεζικά.</p>

<p>Γι' αυτό λοιπόν, αν η γλώσσα σας δεν είναι πλήρως μεταφρασμένη, ή δεν υποστηρίζεται καθόλου και θέλετε να βοηθήσετε, παρακαλώ επικοινωνήστε μαζί μας (support@gcompris.net) και εμείς θα σας κατευθύνουμε για να ξεκινήσετε τη μετάφρασή σας.</p>
<p>Ένας ακόμη τρόπος για να βοηθήσετε, είναι να κάνετε μερικές αναρτήσεις στη δική σας κοινότητα σχετικά με το GCompris και μη διστάσετε να μας στείλετε τα σχόλιά σας.</p><br/>

<p>Σας ευχαριστούμε όλους, <br/>
Timothée & Johnny</p>{% endblock %}
