{% extends "template/onenews.html" %}
{% set title = 'GCompris stumm 1.1' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r1.1-small.png' class='col-xs-12 col-md-4' alt='gcompris 1.1'     style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r1.1.png')"/>

<p>Salud d'an holl,<br />
Plijet omp o kemenn stumm nevez  GCompris 1.1.</p>
<p>Ur c'hempenn eo, neuze e rankfe pep dasparzh GNU/Linux gant ar stumm 1.0 bezañ hizivaet da 1.1.</p>

<p>Setu ur verradenn eus ar c'hemmoù graet :</p>
<li class="puce">Hizivaet eo bet an tresadennoù evit 21 obererezh.</li>
<li class="puce">Ur bern fazioùigoù-meziant a zo bet mennet.</li>
<li class="puce">Ouzhpennet zo bet peadra evit Ubuntu Touch.</li>
<li class="puce">Doareoù-skrivañ broioù Turkia zo bet mennet.</li>
<li class="puce">Ur pakadig .msi all zo bet ouzhpennet evit Windows.</li>
<li class="puce">An doare AGPLv3 zo bet roet da stumm .exe GCompris abalamour  d'un dalc'h evit an elektronek daouredel.</li>
<br/>
<p>Evit ar pezh a sell ouzh an troidigezhioù :</p>
<li class="puce">Klokaet eo bet an albaneg, ar belarus, ar brazilianek, ar portugaleg hag ar ruseg.</li>
<li class="puce">Distroet eo gouezeleg Bro-Iwerzhon hag ar makedoneg (damdroet en tu all da 80% evit ar poent).</li>
<li class="puce">Ouzhpennet eo bet ar c'heriaoueg evit an obererezhioù o tennañ d'ar gerioù evit an albaneg hag ar makedoneg.</li>
<li class="puce">An holl vouezhioù a zo bet ouzhpennet evit al lituaneg.</li>
<br/>

<p>Evit ar pezh a sell ouzh an troidigezhioù, setu bremañ 27 yezh klok evidomp : albaneg, belaruseg, brezhoneg, euskareg, galisianeg, galleg, gresianeg, hebraeg, hollandeg, hungarek, indonezianeg, italianeg, katalaneg, katalaneg Bro-Valensia, makedoneg, malayameg, poloneg, portugaleg, portugaleg Bro-Vrazil, roumaneg, ruseg, sloveneg, saozneg Bro-Saoz, sinaeg hengounel,  svedeg, turkeg hag ukraineg.</p>

<p>Bez' eus ivez 4 yezh o zroidigezh damglok : alamaneg (91%), gouezeleg Bro-Iwerzhon (87%), lituaneg (96%) ha norwegeg Nynorsk (85%)</p>

<p>Bez' e c'hallit kavout pakadoù ar stumm nevez-mañ evit GNU/Linux, Windows ha MacOS war ar <a href="https://gcompris.net/downloads{{ suffix }}.html">bajenn bellgargañ</a>. An hizivaat a vo deus outañ a-benn nebeut en Android Play store hag er Windows store. Evit Raspberry Pi e kinnigimp ur stalier a-benn nebeut.</p>

<p>Trugarez d'an holl, <br/>
Timothée & Johnny</p>{% endblock %}
