{% extends "template/onenews.html" %}
{% set title = 'Κυκλοφορία της έκδοσης 1.1 του GCompris.' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r1.1-small.png' class='col-xs-12 col-md-4' alt='gcompris 1.1'     style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r1.1.png')"/>

<p>Γεια σου,<br />
Είμαστε στην ευχάριστη θέση να ανακοινώσουμε την έκδοση 1.1 του GCompris.</p>
<p>Αυτή είναι μια έκδοση συντήρησης, οπότε κάθε διανομή GNU/Linux με την έκδοση 1.0, πρέπει να ενημερώνεται σε 1.1.</p>

<p>Μια περίληψη των αλλαγών που περιλαμβάνονται:</p>
<li class="puce">Έχουν ενημερωθεί τα γραφικά 21 δραστηριοτήτων.</li>
<li class="puce">Διορθώσαμε πολλά σφάλματα.</li>
<li class="puce">Προστέθηκε μια έκδοση για Ubuntu Touch.</li>
<li class="puce">Διορθώθηκαν λάθη στα ονόματα των περιφερειών της Τουρκίας.</li>
<li class="puce">Προσθέσαμε ένα μικρό σε μέγεθος .msi αρχείο για Windows.</li>
<li class="puce">Το εκτελέσιμο του GCompris αδειοδοτήθηκε εκ νέου με την άδεια AGPLv3, λόγω μιας εξάρτησης για τη δραστηριότητα του αναλογικού ρεύματος.</li>
<br/>
<p>Σχετικά με τις μεταφράσεις:</p>
<li class="puce">Αλβανικά, Λευκορωσικά, Πορτογαλικά Βραζιλίας και Ρωσικά έχουν ολοκληρωθεί.</li>
<li class="puce">Γαελικά Ιρλανδικά και Μακεδονικά είναι και πάλι διαθέσιμα (το ποσοστό μετάφρασής του είναι μεγαλύτερο από 80% τώρα).</li>
<li class="puce">Για τα αλβανικά και τα μακεδονικά, προστέθηκαν σετ λέξεων για τις δραστηριότητες λεξιλογίου.</li>
<li class="puce">Προστέθηκαν όλοι οι ήχοι για τα Λιθουανικά.</li>
<br/>

<p>Yπάρχουν 27 πλήρως υποστηριζόμενες γλώσσες: Αλβανικά, Βασκικά, Λευκορωσικά, Πορτογαλικά Βραζιλίας, Βρετονικά, Βρετανικά Αγγλικά, Καταλανικά, Καταλανικά Βαλένθιας, Παραδοσιακά Κινέζικα, Ολλανδικά, Γαλλικά, Ελληνικά, Εβραϊκά, Ουγγρικά, Ινδονησιακά, Ιταλικά, Μακεδονικά, Μαλαγιάλαμ, Πολωνικά, Πορτογαλικά, Ρουμάνικα, Ρωσικά, Σλοβένικα, Ισπανικά, Σουηδικά, Τουρκικά και Ουκρανικά.</p>

<p>Υπάρχουν επίσης 4 γλώσσες μερικώς υποστηριζόμενες: Ιρλανδικά Γαελικά (87%), Γερμανικά (91%) και Λιθουανικά (96%) και Νορβηγικά (85%).</p>

<p>Θα βρείτε τα πακέτα αυτής της νέας έκδοσης για GNU/Linux, Windows και MacOS στη <a href="https://gcompris.net/downloads{{ suffix }}.html">σελίδα λήψεων</a>. Αυτή η ενημέρωση θα είναι σύντομα διαθέσιμη στο Android Play store, στο αποθετήριο F-Droid και στο Windows Store. Tο πακέτο για Raspberry Pi θα είναι σύντομα διαθέσιμο.</p>

<p>Σας ευχαριστούμε όλους, <br/>
Timothée & Johnny</p>{% endblock %}
