{% extends "template/onenews.html" %}
{% set title = 'Uitgave GCompris 2.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r2.0.png' class='col-xs-12 col-md-4' alt='gcompris 2.0'     style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r2.0.png')"/>

<p>Hi,<br />
We zijn blij de uitgave van GCompris 2.0 aan te kondigen. De educatieve waarde en de uren plezier en vermaak die het levert aan kinderen van alle leeftijden maken het het perfecte cadeau voor deze feestelijke vakantiedagen.</p>
<p>Het bevat vele nieuwe en verbeterde activiteiten. Hieronder is een samenvatting van ingebrachte wijzigingen.</p>

<p>Nieuwe activiteiten:</p>
<li class="puce">Babymuis is voor kinderen om voor de eerste keer te leren omgaan met een computer.</li>
<li class="puce">Oware is een traditionele Afrikaanse strategiespel, het kan gespeeld worden tegen de computer of met een vriend.</li>
<li class="puce">In Coderen van een pad (absoluut of relatief) moeten kinderen een set instructies geven om een gedefinieerd pad in een raster te volgen.</li>
<li class="puce">Decoderen van een pad (absoluut of relatief) is het tegenovergestelde. Kinderen moeten het pad maken dat overeen komt met een gedefinieerde set instructies.</li>
<li class="puce">In Hoeveelheden leren is het doel te tellen hoeveel items nodig zijn om een hoeveelheid te weer te geven.</li>
<li class="puce">In Decimale getallen leren kinderen eenheden in stukken te delen om het concept van decimale getallen te leren.</li>
<li class="puce">Decimaal optellen en decimaal aftrekken leren, gebruikt dezelfde principes als Decimale getallen leren, maar deze keer om deze bewerkingen te oefenen.</li>
<li class="puce">Met Getallen ordenen, oefenen kinderen het ordenen van getallen in oplopende of aflopende volgorde.</li>
<li class="puce">Met Letters ordenen, kunnen kinderen het ordenen van letters in alfabetische volgorde of in omgekeerde volgorde oefenen.</li>
<li class="puce">Zinnen ordenen is een stap omhoog waarin kinderen lezen en grammatica oefenen door delen van een zin te ordenen.</li>
<li class="puce">Posities is een activiteit om de termen, die de relatieve positie van een object beschrijven, te leren.</li>

<br/>
<p>Verbeterde activiteiten:</p>
<li class="puce">Analoge elektriciteit heeft een nieuwe set op het niveau van inleiding.</li>
<li class="puce">Programmeren met maze heeft een nieuwe gegevensset met lusbewerkingen en de afbeeldingsbestand in de inleiding zijn nu vertaald.</li>
<li class="puce">Activiteiten Toverhoed heeft nieuwe gegevenssets voor jongere kinderen.</li>
<li class="puce">In Zonnestelsel gebruiken we nu Aardedagen en jaren als eenheid voor alle planeten.</li>
<li class="puce">In activiteiten Aardrijkskunde, zijn alle kaarten opnieuw getekend en bijgewerkt, met betere projecties en in svg-formaat. We hebben ook nieuwe kaarten voor elk deel van Azië (Oost, Zuidoost, Zuid, Centraal en West).</li>
<li class="puce">Nieuwe afbeeldingen en visuele verbeteringen voor Hanoï activiteiten, activiteiten Ontbrekende letter, Geld, Fotojager, Eenvoudig schilderen en Tangram.</li>
<li class="puce">We hebben een nieuwe uitbreiding voor Inkscape om te helpen bij het maken van svg-kaarten en puzzels (https://invent.kde.org/education/gcompris/-/tree/master/tools/inkscape).</li>
<p>... en veel meer kleinere reparaties en verbeteringen.</p>

<br/>

<p>Aan de klant van de vertalingen hebben we nu 33 talen, 26 zijn er volledig vertaald: (Azerbeidzjaans, Albanees, Baskisch, Braziliaans-Portugees, Brits Engels, Catalaans, Catalaans (Valencia), Chinees Traditioneel, Nederlands, Ests, Fins, Frans, Grieks, Hebreeuws, Hongaars, Indonesisch, Italiaans, Litouws, Malayalam, Pools, Portugees, Roemeens, Slovaaks, Spaans, Zweeds, Oekraïens). Er zijn er 7 gedeeltelijk vertaald: (Duits (96%), Noors (Nynorsk) (96%), Wit-Russisch (83%), Macedonisch (82%), Bretons (80%), Turks (76%) en Russisch (76%)).</p>

<p>Zoals gewoonlijk kunt u de pakketten van deze nieuwe versie voor GNU/Linux, Windows, Android, Raspberry Pi en MacOS vinden op de <a href="https://gcompris.net/downloads{{ suffix }}.html">downloadpagina</a>. Deze opwaardering zal ook spoedig beschikbaar zijn in de Android Play store, de F-Droid opslagruimte en Windows store.</p>

<p>Allen hartelijk dank, <br/>
Timothée & Johnny</p>{% endblock %}
