{% extends "template/onenews.html" %}
{% set title = 'Издание на Жикомпри 1.1' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r1.1-small.png' class='col-xs-12 col-md-4' alt='gcompris 1.1'     style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r1.1.png')"/>

<p>Здраво,<br />
Со задоволство го најавуваме објавувањето на верзијата 1.1 на Жикомпри.</p>
<p>Ова e минорна верзија, така што секоја GNU/Linux дистрибуција која има верзија 1.0 треба да се ажурира на 1.1.</p>

<p>Еве резиме на вклучените промени:</p>
<ul>
<li class="puce">Графичкиот приказ е подобрен за 21 активност.</li>
<li class="puce">Поправивме многу грешки.</li>
<li class="puce">Додадена е верзија со поддршка за Ubuntu Touch.</li>
<li class="puce">Поправен е правописот на турските области.</li>
<li class="puce">Додадовме алтернативен минимален .msi пакет за Windows.</li>
<li class="puce">Жикомпри е прелиценциран на AGPLv3 поради зависност во активноста аналогна електроника.</li>
</ul>
<br/>
<p>Од страна на преводи:</p>
<ul>
<li class="puce">Завршени се преводите на албански, белоруски, бразилски, португалски и руски јазик.</li>
<li class="puce">Македонскиот и ирскиот галски јазик се вратија (делумен превод со над 80% засега).</li>
<li class="puce">Додадена е колекција на зборови за активности со речник на македонски и албански јазик.</li>
<li class="puce">Сите гласови се додадени за литвански.</li>
</ul>
<br/>

<p>Сега имаме 27 целосно поддржани јазици: албански, баскиски, белоруски, бразилски португалски, бретонски, британски англиски, каталонски, каталонски (валенсија), кинески традиционален, холандски, француски, грчки, еврејски, унгарски, индонезиски, италијански, македонски, малајаламски, полски, португалски, романски, руски, словенечки, шпански, шведски, турски и украински.</p>

<p>Имаме и четири делумно поддржани јазици: германски (91%), ирски галски (87%), литвански (96%) и норвешки нинорск (85%).</p>

<p>Пакетите од оваа нова верзија за GNU/Linux, Windows и MacOS можете да ги најдете на <a href="https://gcompris.net/downloads{{ suffix }}.html">download page</a>. Ова ажурирање наскоро ќе биде достапно во продавницата Android Play, складиштето F-Droid и продавницата Windows. Пакетот за Raspberry Pi  исто така ќе биде достапен наскоро.</p>

<p>Ви благодариме на сите, <br/>
Timothée & Johnny</p>{% endblock %}
