{% extends "template/onenews.html" %}
{% set title = 'GCompris 1.1-es verzió' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r1.1-small.png' class='col-xs-12 col-md-4' alt='gcompris 1.1'     style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r1.1.png')"/>

<p>Üdv!<br />
Örömmel jelentjük be a  GCompris  1.1-es változatát.</p>
<p>Ez egy hibajavítási kiadás így minden GNU/Linux disztibúció amely az 1.0-s változatot tartalmazza, frissítésre kerül 1.1-re.</p>

<p>A változások listája a következő:</p>
<li class="puce">21 feladat grafikája frissült</li>
<li class="puce">Rengeteg hibát javítottuknk.</li>
<li class="puce">Elkészült az Ubuntu Touch változat is.</li>
<li class="puce">Frissítésre került a török nyevterületek kiejtési része.</li>
<li class="puce">Egy alap krolátozottabb msi telepítő is elkészült Windows alá.</li>
<li class="puce">A GCompris  futtatókörnyezet újralicenszelésre került a AGPLv3 alá, a z analóg elekromosság témaköre miatt.</li>
<br/>
<p>Fordítási oldalról:.</p>
<li class="puce">Az albán, brazil, portugál és orosz nyelvi változat teljesen elkészült.</li>
<li class="puce">Az ír-gall illetve a macedón is újra bekerült a csomagba (mindkettő 80%-os készültség felett tart.)</li>
<li class="puce">A szókics feladatok immár albán és a macedón nyelveken is elérhetőek.</li>
<li class="puce">A program immár litvánul is teljes egészében "beszél".</li>
<br/>

<p>Lokalizációs szinten jelenleg 27 nyelven "beszél" a program teljesen: Albán, Baszk, Brazil, Breton, Brit Angol, Francia, Görög, Héber, Holland, Indonéz, Katalán, Lengyel Macedón, Magyar Maláj, Olasz, Orosz, Portugál, Román, Spanyol, Svéd, Szlovén, Török, Tradícionális Kínai, Ukrán és Velencei-Katalán.</p>

<p>Négy nyelv részben támogatott: Gall (87%), Litván (84%), Német (91%). ls Nyorszki Norvég (85%)-ban.</p>

<p>A GNU/Linux felhasználásra szánt új csomagok is elkészültek, Windows és MacOS-re <a href="https://gcompris.net/downloads{{ suffix }}.html">letöltési oldalon keresztül</a>. A frissítés hamarosan érkezik Androidra is a Play Áruházon illetve a Windows store-on keresztül. A Raspberry Pi csomag hamarosan szintén elérhetővé válik.</p>

<p>Mindenkinek köszönjük, <br/>
Timothée és Johnny</p>{% endblock %}
