{% extends "template/onenews.html" %}
{% set title = 'Veröffentlichung GCompris 1.1' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r1.1-small.png' class='col-xs-12 col-md-4' alt='gcompris 1.1'     style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r1.1.png')"/>

<p>Hallo,<br />
wir freuen uns, die Veröffentlichung der Version 1.1 von GCompris bekannt zu geben.</p>
<p>Dies ist eine Wartungsversion, so dass jede GNU/Linux-Distribution auf die Version 1.1 aktualisieren sollte.</p>

<p>Zusammenfassung aller Änderungen:</p>
<ul>
<li class="puce">Die Grafik für 21 Aktivitäten wurde aktualisiert.</li>
<li class="puce">Viele Fehler wurden korrigiert.</li>
<li class="puce">Es wurde eine Version für Ubuntu Touch hinzugefügt.</li>
<li class="puce">Die Rechtschreibung der türkischen Distrikte wurde korrigiert.</li>
<li class="puce">Ein minimales .msi-Alternativpaket für Windows wurde hinzugefügt.</li>
<li class="puce">Die GCompris-Programmdatei wurde aufgrund einer Abhängigkeit der analogen Elektrizität unter der AGPLv3 neu lizenziert.</li>
</ul>
<br/>
<p>Stand der Übersetzungen:</p>
<ul>
<li class="puce">Albanisch, Weißrussisch, brasilianisches Portugiesisch und Russisch sind wieder vollständig übersetzt.</li>
<li class="puce">Übersetzungen für Irisch-Gälisch und Mazedonisch sind wieder enthalten (über 80 % für diese Version übersetzt).</li>
<li class="puce">Vokabelsatz für Vokabelaktivitäten wurde für Albanisch und Mazedonisch hinzugefügt.</li>
<li class="puce">Es wurden alle Stimmen für Litauisch hinzugefügt.</li>
</ul>
<br/>

<p>Jetzt werden 27 Sprachen vollständig unterstützt: Albanisch, Baskisch, Weißrussisch, Brasilianisches Portugiesisch, Bretonisch, Britisches Englisch, Katalanisch, Katalanisch (Valencianisch), Chinesisch traditionell, Niederländisch, Französisch, Griechisch, Hebräisch, Ungarisch, Indonesisch, Italienisch, Mazedonisch, Malayalam, Polnisch, Portugiesisch, Rumänisch, Russisch, Slowenisch, Spanisch, Schwedisch, Türkisch und Ukrainisch.</p>

<p>Vier Sprachen werden teilweise unterstützt: Deutsch (91%), Irisch-Gälisch (87 %), Litauisch (96 %) und Norwegisch Nynorsk (85 %).</p>

<p>Sie finden Pakete dieser neuen Version für GNU/Linux, Windows und MacOS auf der <a href="https://gcompris.net/downloads{{ suffix }}.html">Download-Seite</a>. Diese Aktualisierung wird in Kürze im Android Play Store, im F-Droid-Repository und im Windows Store verfügbar sein. Das Paket für Raspberry Pi wird ebenfalls bald verfügbar sein.</p>

<p>Dank an alle, <br/>
Timothée & Johnny</p>{% endblock %}
