{% extends "template/onenews.html" %}
{% set title = 'Version 1.1 de GCompris' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r1.1-small.png' class='col-xs-12 col-md-4' alt='gcompris 1.1'     style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r1.1.png')"/>

<p>Bonjour,<br />
 Nous sommes heureux de vous annoncer la publication de la version 1.1 de GCompris.</p>
<p>Ceci est une version de maintenance. Ainsi, chaque distribution GNU / Linux embarquant la version 1.0 devrait mettre à jour vers la version 1.1.</p>

<p>Voici un résumé des modifications apportées :</p>
<li class="puce">Les graphismes ont été mis à jour pour 21 activités.</li>
<li class="puce">De nombreux bogues ont été corrigés.</li>
<li class="puce">Une compilation pour Ubuntu Touch a été ajoutée.</li>
<li class="puce">L'orthographe des districts de Turquie a été corrigé.</li>
<li class="puce">Un paquet alternatif minimal « .msi » a été ajouté pour Windows.</li>
<li class="puce">L'exécutable de GCompris a été passé sous une nouvelle licence, AGPLv3, à cause d'une dépendance pour l'activité « Électronique Analogique ».</li>
<br/>
<p>Du coté des traductions :</p>
<li class="puce">Les traduction pour l'albanais, le biélorusse, le portugais brésilien et le russe ont été terminées.</li>
<li class="puce">Les traductions pour le gaélique irlandais et le macédonien ont été rajoutées (traduction partielle supérieure à 80 % actuellement)</li>
<li class="puce">L'ensemble de mots pour les activités de vocabulaire a été complété avec l'albanais et le macédonien.</li>
<li class="puce">Toutes les voix ont été ajoutées pour le lituanien.</li>
<br/>

<p>À ce jour, 27 langues sont totalement prises en charge : albanais, basque, biélorusse, brésilien portugais, breton, anglais britannique, catalan, catalan (valencien), chinois traditionnel, hollandais, français, grec, hébreu, hongrois, indonésien, italien, macédonien, malayalam, polonais, roumain, russe, slovène, espagnol, suédois, turc et ukrainien.</p>

<p>Les 4 langues suivantes sont partiellement traduites : allemand (91 %), gaélique irlandais (87 %), lituanien (96 %) et norvégien Nynorsk (85 %).</p>

<p>Vous trouverez les paquets de cette nouvelle version pour GNU / Linux, Windows et MacOS sur la <a href="https://gcompris.net/downloads{{ suffix }}.html">page de téléchargement</a>. Cette version sera également disponible d'ici quelques jours dans les boutiques Android et Windows, ainsi dans le dépôt F-Droid. Le paquet pour Raspberry Pi sera disponible très bientôt.</p>

<p>Merci à vous tous et toutes, <br/>
Timothée & Johnny</p>{% endblock %}
