{% extends "template/onenews.html" %}
{% set title = 'GCompris stumm 2.4' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r2.4.png' class='col-xs-12 col-md-4' alt='gcompris 2.4' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r2.4.png')"/>

<p>Hiziv e kinnigomp stumm 2.4 GCompris.</p>
<p>Gwellaet hon eus ment an holl bakadoù evit an holl savennoù hag ar restr diavaez evit skeudennoù ar gerioù (~30% bihanoc'h).</p>
<p>M'ho peus lammet ar pellgargañ otomatik hag e fell deoc'h kaout restr klok ar skeudennoù e renkit mont er restr kefluniañ ha klikañ war "Pellgargañ restr klok ar skeudennoù".</p>
<p>M'ho peus ar stumm nevesañ e teu an destenn "Full word image set is installed" war-wel en traoñ.</p>
<p>Mouezhioù digoradur Nynorsk Norwegia a zo bet ouzhpennet gant  Karl Ove Hufthammer and Øystein Steffensen-Alværvik. Mouezhioù Malayalameg a zo bet klokaet gant Aiswarya Kaitheri Kandoth.</p>
<p>Hizivaet eo bet an tresadennoù evit meur a obererezh.</p>
<p>Mennet hon eus un nebeud kudennoù en obererezhioù Gremm adnevesadus, Kelc'hiad an dour ha Kevrediñ kempoell.</p>
<p>Bez' e c'hallit kavout pakadoù ar stumm nevez-mañ evit GNU/Linux, Windows, Raspberry Pi ha MacOS war ar <a href="https://gcompris.net/downloads{{ suffix }}.html">bajenn bellgargañ</a>. An hizivaat a vo deus outañ a-benn nebeut en Android Play store, an dastumlec'h arloadoù F-Droid hag er Windows store.</p>
<p>Trugarez d'an holl, <br/>
Timothée & Johnny</p>
{% endblock %}
