{% extends "template/onenews.html" %}
{% set title = 'GCompris 2.4-s verzió' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r2.4.png' class='col-xs-12 col-md-4' alt='gcompris 2.4' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r2.4.png')"/>

<p>Bemutatjuk  a GCompris 2.4-es verzióját.</p>
<p>A csomagméretek optimalizálásával a külső szóképek mérete nagyjából 30%-al csökkent minden rendszeren.</p>
<p>Ha kikapcsoltad az automatikus letöltést és mégis teljes szókép készletet szeretnél, menj a beállítások panelre majd azon belül kattints a "Teljes szóképkészlet letöltése " gombra.</p>
<p>A "A teljes szóképkészlet telepítve" szöveget látod, ha az már teljesen telepítve van.</p>
<p> Karl Ove Hufthammer és Øystein Steffensen-Alværvik segítségével új bejelentkező szövegek kerültek a programba Nynorski Norvég nyelven.</p>
<p>Több alkalmazás képkészlete frissült.</p>
<p>Egy hibát is kijavítottunk a Megújuló enegiák, a Víz körforgása és a Logikai asszociációk tevékenységekben.</p>
<p>Az új verzió GNU/Linux, Windows, Android, Raspberry Pi  és MacOS csomagjai a, <a href="https://gcompris.net/downloads{{ suffix }}.html">letöltési oldalon keresztül érhetőek el</a>. A frissítés hamarosan érkezik a Play Áruházba illetve a Windows store-on keresztül az F-droidra illetve a Windows store-ba is. </p>
<p>Mindenkinek köszönjük, <br/>
Timothée és Johnny</p>
{% endblock %}
