{% extends "template/onenews.html" %}
{% set title = 'Versiunea GCompris 2.3' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/gcompris360.png' class='col-xs-12 col-md-4' alt='gcompris 2.3' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/gcompris360.png')"/>

<p>Astăzi lansăm GCompris versiunea 2.3.</p>
<p>De cum am observat că versiunea 2.2 fusese lansată cu un bug care afecta 3 activități ("Ordinea alfabetică", "Numere pare și impare" și "Ordinea numerelor"), noi am decis să îl remediem rapid, cu o nouă lansare de mentenanță.</p>
<p>Puteți găsi pachete ale acestei noi versiuni pentru GNU/Linux, Windows, Raspberry Pi și macOS, în <a href="https://gcompris.net/downloads{{ suffix  }}.html">pagina de descărcare</a>. Această actualizare va fi disponibilă în curând și în Magazin Play pentru Android, în registrul de aplicații F-Droid, respectiv în Windows Magazin.</p>
<p>Vă mulțumim tuturor,<br/>
Timothée & Johnny</p>
{% endblock %}
