{% extends "template/onenews.html" %}
{% set title = 'GCompris stumm 2.2' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r2.2.png' class='col-xs-12 col-md-4' alt='gcompris 2.2' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r2.2.png')"/>

<p>Salud d'an holl,<br />
Plijet omp o kemenn stumm nevez  GCompris 2.2.</p>
<p>Ur c'hempenn eo, neuze e rankfe pep dasparzh GNU/Linux gant ar stumm 2.0 pe 2.1bezañ hizivaet da 2.2.</p>
<p>Setu ur verradenn eus ar c'hemmoù graet :</p>

<ul>
<li class="puce">Skeudennoù nevez ha traoùigoù mennet en obererezhioù Kelc'hiad an dour ha Gremm adnevesadus.</li>
<li class="puce">Skeudennoù nevez evit obererezh an Tangram.</li>
<li class="puce">Gwellaet an urzhiañ lizherennoù er c'hlavier-skramm (ober a ra gant stumm lec'hel GCompris).</li>
<li class="puce">Reizhet ur freuz pa loc'her Boest kempouezañ gant Android.</li>
<li class="puce">Ur bern reizhadennoùigoù ha gwellaennoù.</li>
</ul>
<br/>
<p>Evit ar pezh a sell ouzh an troidigezhioù :</p>
<ul>
<li class="puce">Russeg troet penn da benn.</li>
<li class="puce">Mouezhioù nevez evit norwegeg Nynorsk (estreget ar mouezhioù digoradur).</li>
</ul>
<br/>
<p>Bez' e c'hallit kavout pakadoù ar stumm nevez-mañ evit GNU/Linux, Windows ha 
 MacOS war ar <a href="https://gcompris.net/downloads{{ suffix }}.html">bajenn bellgargañ</a>. An hizivaat a vo deus outañ a-benn nebeut en Android Play store, en dastumlec'h arloadoù F-Droid hag er Windows store. Evit Raspberry Pi e kinnigimp ur stalier a-benn nebeut.</p>
 <p>Trugarez d'an holl, <br/>
Timothée & Johnny</p>
 {% endblock %} 
