{% extends "template/onenews.html" %}
{% set title = 'GCompris 2.4 Çıktı' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r2.4.png' class='col-xs-12 col-md-4' alt='gcompris 2.4' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r2.4.png')"/>

<p>Bugün, GCompris sürüm 2.4'ü yayımlıyoruz.</p>
<p>Tüm platformlar için paketlerin ve dış sözcük görselleri kümesinin boyutunu eniyiledik (aşağı yukarı yüzde otuz daha küçükler).</p>
<p>Otomatik indirmeyi devre dışı bıraktıysanız ve tüm görsel kümesini istiyorsanız yapılandırmaya gitmeli ve "Tam sözcük görsel kümesini indir"i tıklamalısınız.</p>
<p>Güncel sürüme sahip olduğunuzda "Tam sözcük görsel kümesi kurulu" metni aşağıda görüntülenir.</p>
<p>Nynorsk Norveççesi giriş sesleri, Karl Ove Hufthammer ve Øystein Steffensen-Alværvik tarafından eklendi. Malayalam sesleri ise Aiswarya Kaitheri Kandoth tarafından tamamlandı.</p>
<p>Çeşitli etkinlikler için birçok görsel güncellendi.</p>
<p>Ayrıca, Yenilenebilir Enerji, Su Çevrimi ve Mantıksal İlişkilendirmeler etkinliklerindeki birkaç hatayı düzelttik.</p>
<p>Bu yeni sürüm için olan GNU/Linux, Windows, Raspberry Pi ve macOS paketlerini <a href="https://gcompris.net/downloads{{ suffix }}.html">indirme sayfasında</a> bulabilirsiniz. Bu güncelleme kısa süre içinde Google Play Store, F-Droid deposu ve Microsoft Store'da da yerini alacak.</p>
<p>Herkese teşekkürler!<br/>Timothée ve Johnny</p>
{% endblock %}
