{% extends "template/onenews.html" %}
{% set title = 'Izdanje GCompris 2.4' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r2.4.png' class='col-xs-12 col-md-4' alt='gcompris 2.4' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r2.4.png')"/>

<p>Danas objavljujemo GCompris verziju 2.4.</p>
<p>Optimizirali smo veličinu svih paketa za sve platforme i vanjski skup slika riječi (~30% manje).</p>
<p>Ako ste onemogućili automatsko preuzimanje i želite imati kompletne slike, trebali biste otići na konfiguraciju i kliknuti na "Preuzmi cjeloviti skup slika".</p>
<p>Tekst "Cjeloviti komplet slika je instaliran" prikazan je ispod kada imate najnoviju verziju.</p>
<p>Uvodne glasove norveškog nynorska dodali su Karl Ove Hufthammer i Øystein Steffensen-Alværvik. Malajalamske glasove dovršila je Aiswarya Kaitheri Kandoth.</p>
<p>Mnogo slika je ažurirano za razne aktivnosti.</p>
<p>Također smo popravili nekoliko grešaka u aktivnostima obnovljive energije, vodenog ciklusa i logičkih udruga.</p>
<p>Pakete ove nove verzije za GNU/Linux, Windows, Raspberry Pi i macOS možete pronaći na <a href="https://gcompris.net/downloads{{ suffix }}.html">stranici za preuzimanje</ a>. Ovo će ažuriranje uskoro biti dostupno u Android Play trgovini, F-Droid repozitoriju i Windows trgovini.</p>
<p>Hvala svima, <br/>Timothée & Johnny</p>
{% endblock %}
