{% extends "template/onenews.html" %}
{% set title = 'Κυκλοφορία της έκδοσης 2.1 του GCompris.' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r2.1-small.png' class='col-xs-12 col-md-4' alt='gcompris 2.1' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r2.1.png')"/>

<p>Γεια σου,<br />
Είμαστε στην ευχάριστη θέση να ανακοινώσουμε την έκδοση 2.1 του GCompris.</p>
<p>Αυτή είναι μια έκδοση συντήρησης, οπότε κάθε διανομή GNU/Linux με την έκδοση 2.0, πρέπει να ενημερώνεται σε 2.1.</p>
<p>Η πιο σημαντική αλλαγή είναι ότι οι λήψεις στοιχείων σε ορισμένες παλαιότερες εκδόσεις Android θα πρέπει πλέον να λειτουργούν ξανά.</p>
<p>Μια περίληψη των αλλαγών που περιλαμβάνονται:</p>

<ul>
<li class="puce">Στείλτε το πιστοποιητικό SSL για λήψη των στοιχείων για παλαιότερα τηλέφωνα/tablets Android που δεν το διαθέτουν και αποτυγχάνουν να πραγματοποιήσουν λήψη δεδομένων (https://bugs.kde.org/show_bug.cgi?id=447572).</li>
<li class="puce">Έχουν ενημερωθεί τα γραφικά των δραστηριοτήτων 'Ισορρόπησε το κουτί', 'Πέρνα από πάνω μου', 'Κάνε κλικ πάνω μου' και 'Διπλό άγγιγμα ή διπλό κλικ'.</li>
<li class="puce">Διορθώθηκε ένα σφάλμα στην αντίστροφη μέτρηση όπου αφού το ψάρι έκανε μια στροφή, δεν ήταν δυνατό να κερδίσετε ακόμη και όταν εισαγάγατε το σωστό αποτέλεσμα.</li>
<li class="puce">Διορθώθηκε ένα πάγωμα που συνέβαινε στις δραστηριότητες εκμάθησης δεκαδικών κατά την αλλαγή των επιπέδων.</li>
<li class="puce">Προστέθηκαν έντονες ετικέτες στα χειριστήρια πληκτρολογίου στις δραστηριότητες κωδικοποίησης.</li>
<li class="puce">Διορθώθηκε το πρόβλημα που δεν επέτρεπε την εμφάνιση του κάτω μέρους της λίστας δραστηριοτήτων κατά την κύλιση.</li>
<li class="puce">Στα Windows αφαιρέθηκε η θαμπάδα που εμφανιζόταν στις οθόνες HiDPI κατά την εγκατάσταση του GCompris.</li>
</ul>
<br/>
<p>Από την πλευρά της μετάφρασης:</p>
<ul>
<li class="puce">Ολοκληρώθηκαν οι μεταφράσεις των Βρετονικών και των Μακεδονικών.</li>
<li class="puce">Τα Τσέχικα είναι και πάλι διαθέσιμα καθώς το ποσοστό μετάφρασής τους είναι τώρα μεγαλύτερο από 80%.</li>
</ul>
<br/>
<p>Θα βρείτε τα πακέτα αυτής της νέας έκδοσης για GNU/Linux, Windows και MacOS στη σελίδα λήψεων <a href="https://gcompris.net/downloads{{ suffix }}.html"></a>. Αυτή η ενημέρωση θα είναι σύντομα διαθέσιμη στο Android Play store, στο αποθετήριο F-Droid και στο Windows Store. Tο πακέτο για Raspberry Pi θα είναι επίσης σύντομα διαθέσιμο.</p>
 <p>Σας ευχαριστούμε, <br/>Timothée & Johnny</p>
 {% endblock %} 
