{% extends "template/onenews.html" %}
{% set title = 'השקת GCompris 2.4' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r2.4.png' class='col-xs-12 col-md-4' alt='gcompris 2.4' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r2.4.png')"/>

<p>היום אנו משיקים את גירסה 2.4 של GCompris.</p>
<p>מיטבנו את גודלן של כל החבילות לכל הפלטפורמות ושל ערכות המילים החיצוניות (קטנות ב~30%).</p>
<p>אם ביטלת את ההורדה האוטומטית וברצונך להשיג את ערכת תמונות המילים המלאה, עליך ללכת ל'הגדרות' וללחוץ על "להוריד את ערכת תמונות המילים המלאה".</p>
<p>המילים "ערכת תמונות המילים המלאה מותקנת" מוצגות למטה כאשר ברשותך הגרסא האחרונה.</p>
<p>קולות הצגה בנורווגית נירנורסק נוספו בידי קרל אובה הופטהאמר ואויסדאיין סטפנסן-אלואארוויק. קולות מליאלים הושלמו על-ידי אייסווארה קייט'רי קונדוט'.</p>
<p>עודכנו תמונות רבות במספר פעילויות.</p>
<p>תִּקַּנּוּ מספר באגים ב־"אנרגיה מתחדשת", "מחזור המים", ו־"הקשרים לוגיים".</p>
<p>כרגיל, ניתן למצוא חבילות לגירסה החדשה הזו לגנוּ/לינוֹקס, וווינדווס, MacOS ורספברי פאי ב<a href="https://gcompris.net/downloads{{ suffix }}.html">דף ההורדה</a>. עידכון זה יהיה זמין בקרוב בחנות Play של אנדרואיד, המאגרים של F-Droid והחנות של ווינדוש.</p>
<p>תודה רבה לכולכם, <br/>טימות'י וְז'וֹנִי</p>
{% endblock %}
