{% extends "template/onenews.html" %}
{% set title = 'Executament del GCompris 2.2' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r2.2.png' class='col-xs-12 col-md-4' alt='gcompris 2.2' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r2.2.png')"/>

<p>Hola,<br/>
ens complau anunciar el llançament de la versió 2.2 del GCompris.</p>
<p>Esta és una versió de manteniment, de manera que cada enviament de les distribucions de GNU/Linux de la 2.0 o 2.1 haurà d'actualitzar-se a la 2.2.</p>
<p>Ací hi ha un resum dels canvis inclosos:</p>

<ul>
<li class="puce">Imatges noves i correcció de molts problemes petits a les activitats de Cicle de l'aigua i Energies renovables.</li>
<li class="puce">Imatges noves a l'activitat de Tangram.</li>
<li class="puce">Ordenació millor de les lletres al teclat virtual (segueix l'opció de la configuració regional en el GCompris).</li>
<li class="puce">Corregix una fallada a l'Android en iniciar l'activitat Inclina la capsa.</li>
<li class="puce">Moltes altres correccions petites i millores.</li>
</ul>
<br/>
<p>Per la banda de les traduccions:</p>
<ul>
<li class="puce">S'ha completat la traducció russa.</li>
<li class="puce">S'han afegit veus noves per al noruec nynorsk (totes excepte les veus d'introducció).</li>
</ul>
<br/>
<p>Trobareu els paquets d'esta nova versió per a GNU/Linux, Windows i
macOS a la <a href="https://gcompris.net/downloads{{ suffix }}.html">pàgina de baixades</a>. Esta actualització estarà disponible prompte a la botiga Android Play, el repositori de F-Droid i a la botiga de Windows. El paquet per a Raspberry Pi també estarà disponible prompte.</p>
 <p>Gràcies a tots, <br/>Timothée i Johnny</p>
 {% endblock %} 
