{% extends "template/onenews.html" %}
{% set title = 'Wydano GCompris 2.3' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/gcompris360.png' class='col-xs-12 col-md-4' alt='gcompris 2.3' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/gcompris360.png')"/>

<p>Dzisiaj udostępniamy GCompris w wersji 2.3.</p>
<p>Ponieważ zauważyliśmy, że wersja 2.2 została wydana z błędem, który zepsuł 3 aktywności ("Kolejność alfabetyczną"," Liczby parzyste i nieparzyste" oraz \Kolejność numeryczną"), postanowiliśmy to szybko naprawić, publikując nowe wydanie poprawkowe.</p>
<p>Pakiety z nową wersją dla systemów GNU/Linux, Windows, Raspberry Pi i macOS można znaleźć na stronie <a href="https://gcompris.net/downloads{{ suffix }}.html">stronie pobierań</a>. Ta aktualizacja będzie dostępna wkrótce w sklepie Android Play, repozytorium F-Droid oraz w sklepie Windows.</p>
<p>Dzięki wam wszystkim, <br/>Timothée & Johnny</p>
{% endblock %}
