{% extends "template/onenews.html" %}
{% set title = 'Випуск GCompris 2.1' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r2.1-small.png' class='col-xs-12 col-md-4' alt='gcompris 2.1' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r2.1.png')"/>

<p>Привіт,<br />
Ми раді оголосити про випуск GCompris версії 2.1.</p>
<p>Цей випуск є проміжним, тому усім дистрибутивам GNU/Linux, до складу яких включено версію 2.0, варто оновити версію пакунка до 2.1.</p>
<p>Найважливішою зміною є те, що отримання даних для деяких старих версій Android має знову працювати.</p>
<p>Ось резюме змін:</p>

<ul>
<li class="puce">До пакунка включено сертифікат SSL для отримання даних у старих версіях Android для телефонів і планшетів, де такого сертифіката немає і система відмовляється отримувати дані (https://bugs.kde.org/show_bug.cgi?id=447572).</li>
<li class="puce">Оновлено графіку для вправ із урівноваження та витирання.</li>
<li class="puce">Виправлено ваду у вправі зі зворотного відліку: після першого повороту рибки не можна було виграти, навіть отримавши добрий результат.</li>
<li class="puce">Усунено зависання у вправах learn_decimals при зміні рівнів.</li>
<li class="puce">Додано теґ напівжирного шрифту для рядка керування з клавіатури у вправах із програмування шляху.</li>
<li class="puce">Виправлено помилку, пов'язану із тим, що нижня частина списку вправ лишалася невидимою при гортанні списку до кінця.</li>
<li class="puce">У Windows усунено розмивання на екранах із високою роздільною здатністю при встановленні GCompris.</li>
</ul>
<br/>
<p>Переклади:</p>
<ul>
<li class="puce">Завершено переклади бретонською і македонською мовами.</li>
<li class="puce">Повернуто переклад чеською мовою (тепер це частковий переклад із рівнем більше 80%).</li>
</ul>
<br/>
<p>Посилання на пакунки нової версії для GNU/Linux, Windows та MacOS можна знайти на <a href="https://gcompris.net/downloads{{ suffix }}.html">сторінці отримання пакунків</a>. Невдовзі пакунки оновленої версії з'являться у крамниці Android Play, сховищі F-Droid та крамниці Windows. Також невдовзі з'явиться пакунок для Raspberry Pi.</p>
 <p>Дякуємо вам усім, <br/>Timothée і Johnny</p>
 {% endblock %} 
