{% extends "template/onenews.html" %}
{% set title = 'Випуск GCompris 2.3' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/gcompris360.png' class='col-xs-12 col-md-4' alt='gcompris 2.3' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/gcompris360.png')"/>

<p>Сьогодні нами випущено GCompris версії 2.3.</p>
<p>Нами виявлено, що версію 2.2 було випущено із вадою, яка заважала роботі 3 вправ («Послідовність абетки», «Парні і непарні числа» та «Порядок чисел»). Ми вирішили швидко виправити цю ваду і випустити нову проміжну версію.</p>
<p>Посилання на пакунки нової версії для GNU/Linux, Windows, Raspberry Pi та MacOS можна знайти на <a href="https://gcompris.net/downloads{{ suffix }}.html">сторінці отримання пакунків</a>. Невдовзі пакунки оновленої версії з'являться у крамниці Android Play, сховищі F-Droid та крамниці Windows.</p>
<p>Дякуємо вам усім, <br/>Timothée і Johnny</p>
{% endblock %}
