{% extends "template/onenews.html" %}
{% set title = 'Llançament del GCompris 2.3' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/gcompris360.png' class='col-xs-12 col-md-4' alt='gcompris 2.3' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/gcompris360.png')"/>

<p>Avui fem el llançament del GCompris versió 2.3.</p>
<p>Ens hem adonat que la versió 2.2 s'havia distribuït amb un error que trencava 3 activitats («Ordre de l'alfabet», «Nombres parells i senars» i «Números en ordre»), hem decidit corregir-ho ràpidament amb un llançament nou de manteniment.</p>
<p>Trobareu els paquets d'aquesta nova versió per a GNU/Linux, Windows, Raspberry Pi i macOS a la <a href="https://gcompris.net/downloads{{ suffix }}.html">pàgina de baixades</a>. Aquesta actualització estarà disponible aviat a la botiga Android Play, el repositori de F-Droid i a la botiga de Windows.</p>
<p>Gràcies a tots, <br/>Timothée i Johnny</p>
{% endblock %}
