{% extends "template/onenews.html" %}
{% set title = 'Κυκλοφορία της έκδοσης 2.2 του GCompris' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r2.2.png' class='col-xs-12 col-md-4' alt='gcompris 2.2' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r2.2.png')"/>

<p>Γεια σου,<br />
Είμαστε στην ευχάριστη θέση να ανακοινώσουμε την έκδοση 2.2 του GCompris.</p>
<p>Αυτή είναι μια νέα σημαντική έκδοση, οπότε κάθε διανομή GNU/Linux με την έκδοση 2.0 ή 2.1, πρέπει να ενημερώνεται σε 2.2.</p>
<p>Μια περίληψη των αλλαγών που περιλαμβάνονται:</p>

<ul>
<li class="puce">Nέες εικόνες και πολλές διορθώσεις σφαλμάτων στις δραστηριότητες 'Κύκλος του νερού' και 'Ανανεώσιμες Πηγές Ενέργειας'.</li>
<li class="puce">Νέες εικόνες για τη δραστηριότητα 'Τάνγκραμ'.</li>
<li class="puce">Καλύτερη ταξινόμηση των γραμμάτων στο εικονικό πληκτρολόγιο (ακολουθεί τη γλώσσα που έχει οριστεί για το GCompris).</li>
<li class="puce">Διόρθωση κατάρρευσης της δραστηριότητας 'Κουτί με κλίση'.</li>
<li class="puce">Και πολλές άλλες μικρές διορθώσεις και βελτιώσεις.</li>
</ul>
<br/>
<p>Στον τομέα της μετάφρασης:</p>
<ul>
<li class="puce">Ολοκληρώθηκε η μετάφραση των Ρωσικών.</li>
<li class="puce">Προστέθηκαν νέοι ήχοι για τα Νέα Νορβηγικά (όλοι, εκτός από τους εισαγωγικούς ήχους).</li>
</ul>
<br/>
<p>Θα βρείτε τα πακέτα αυτής της νέας έκδοσης για GNU/Linux, Windows και MacOS στη σελίδα λήψεων <a href="https://gcompris.net/downloads{{ suffix }}.html"></a>. Αυτή η ενημέρωση θα είναι σύντομα διαθέσιμη στο Android Play store, στο αποθετήριο F-Droid και στο Windows Store. Tο πακέτο για Raspberry Pi θα είναι επίσης σύντομα διαθέσιμο.</p>
 <p>Σας ευχαριστούμε, <br/>Timothée & Johnny</p>
 {% endblock %} 
