{% extends "template/onenews.html" %}
{% set title = 'Izdanje GCompris 2.4' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r2.4.png' class='col-xs-12 col-md-4' alt='gcompris 2.4' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r2.4.png')"/>

<p>Danas smo objavili GCompris verziju 2.4.</p>
<p>Optimizirali smo veličinu svih paketa na svim platformama i vanjski skup slika riječi (~30% manje).</p>
<p>Ako je onemogućeno automatsko preuzimanje a želiš imati komplet svih slika, otiđi na konfiguraciju i klikni na "Preuzmi cjeloviti slikovni rječnik".</p>
<p>Tekst "Instaliran je cjelovit slikovni rječnik" biti će prikazan ispod kada koristiš najnoviju verziju.</p>
<p>Uvodne glasove norveškog nynorska dodali su Karl Ove Hufthammer i Øystein Steffensen-Alværvik. Malajalamske glasove dovršila je Aiswarya Kaitheri Kandoth.</p>
<p>Mnogo slika je ažurirano za potrebe raznih aktivnosti.</p>
<p>Također smo popravili nekoliko grešaka u aktivnostima vezanim za obnovljivu energiju, ciklus vode i logiku.</p>
<p>Pakete ove nove verzije za GNU/Linux, Windows, Raspberry Pi i macOS možeš pronaći na <a href="https://gcompris.net/downloads{{ suffix }}.html">stranici za preuzimanje</ a>. Ovo će ažuriranje uskoro biti dostupno u Google Play trgovini, F-Droid repozitoriju i na Microsoft Store.</p>
<p>Hvala svima, <br/>Timothée & Johnny</p>
{% endblock %}
