{% extends "template/onenews.html" %}
{% set title = 'Κυκλοφορία της έκδοσης 2.4 του GCompris' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r2.4.png' class='col-xs-12 col-md-4' alt='gcompris 2.4' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r2.4.png')"/>

<p>Σήμερα ξεκινά η κυκλοφορία της έκδοσης 2.4 του GCompris.</p>
<p>Βελτιστοποιήσαμε το μέγεθος όλων των πακέτων για όλες τις πλατφόρμες και το σύνολο των εικόνων για τις λέξεις (~30% μικρότερο).</p>
<p>Εάν απενεργοποιήσατε την αυτόματη λήψη και θέλετε να έχετε το πλήρες σετ των εικόνων, θα πρέπει να μεταβείτε στη Διαμόρφωση και να κάνετε κλικ στο "Λήψη πλήρους συνόλου εικόνων λέξεων".</p>
<p>Το κείμενο "Έχει εγκατασταθεί το πλήρες σύνολο των εικόνων λέξεων" εμφανίζεται παρακάτω όταν έχετε την πιο πρόσφατη έκδοση.</p>
<p>Οι φωνές εισαγωγής των Νέων Νορβηγικών προστέθηκαν από τους Karl Ove Hufthammer και Øystein Steffensen-Alværvik. Οι φωνές της γλώσσας Μαλαγιαλάμ ολοκληρώθηκαν από την Aiswarya Kaitheri Kandoth.</p>
<p>Έγινε ενημέρωση πολλών εικόνων από πολλές και διαφορετικές δραστηριότητες.</p>
<p>Διορθώσαμε επίσης ορισμένα σφάλματα στις δραστηριότητες 'Ανανεώσιμες Πηγές Ενέργειας', 'Ο κύκλος του νερού' και Watercycle και 'Σειρά των φρούτων'.</p>
<p>Όπως συνήθως, θα βρείτε τα πακέτα αυτής της νέας έκδοσης για GNU/Linux, Windows, Raspberry Pi και MacOS στη <a href="https://gcompris.net/downloads{{ suffix }}.html">σελίδα λήψεων</a>. Αυτή η ενημέρωση θα είναι σύντομα διαθέσιμη στο Android Play store, στο αποθετήριο F-Droid και στο Windows Store.</p>
<p>Σας ευχαριστούμε, <br/>Timothée & Johnny</p>
{% endblock %}
