{% extends "template/onenews.html" %}
{% set title = 'Release GCompris 2.1' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r2.1-small.png' class='col-xs-12 col-md-4' alt='gcompris 2.1' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r2.1.png')"/>

<p>Hi,<br />
We are pleased to announce the release of GCompris version 2.1.</p>
<p>This is a maintenance release, so every GNU/Linux distribution shipping 2.0 should update to 2.1.</p>
<p>The most important change is that assets downloads on some older Android versions should now work again.</p>
<p>Here is a summary of included changes:</p>

<ul>
<li class="puce">Ship SSL certificate to download the assets for older Android phones/tablets that do not have it and fails to download the data (https://bugs.kde.org/show_bug.cgi?id=447572)</li>
<li class="puce">Graphics have been updated for Balance box and Erase activities.</li>
<li class="puce">Fix a bug in reversecount where after the fish did one turn, it was not possible to win even when inputting the good result.</li>
<li class="puce">Fix a freeze in learn_decimals activities when changing levels.</li>
<li class="puce">Add bold tag for Keyboard controls line on path encoding activities.</li>
<li class="puce">Fix bottom of the activities list not visible when scrolled down to the end.</li>
<li class="puce">Add an optional exit confirmation dialog on desktop platforms.</li>
<li class="puce">On Windows, remove the blurriness on HiDPI screens when installing GCompris.</li>
</ul>
<br/>
<p>On the translation side:</p>
<ul>
<li class="puce">Breton and Macedonian have been completed.</li>
<li class="puce">Czech has returned (partial translation above 80% for now).</li>
</ul>
<br/>
<p>You can find packages of this new version for GNU/Linux, Windows and
 macOS on the <a href="https://gcompris.net/downloads{{ suffix }}.html">download page</a>. This update will be available soon in the Android Play store, the F-Droid repository and the Windows store. The package for Raspberry Pi will also be available soon.</p>
 <p>Thank you all, <br/>Timothée & Johnny</p>
 {% endblock %} 
