{% extends "template/onenews.html" %}
{% set title = 'GCompris stumm 3.3' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r3.3.png' class='col-xs-12 col-md-4' alt='gcompris 3.3' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r3.3.png')"/>

<p>Hiziv e kinnigomp stumm 3.3 GCompris.</p>
<p>Kinnig a ra ar stumm-mañ troidigezhioù an div yezh-mañ ouzhpenn: Arabeg hag Esperanto.</p>
<p>Meur a fazi reizhet evit obererezhioù liesseurt evel  "Kodiñ an hent", "Lizherenn er ger", "Tap ar vell" and "Sonaozouriezh piano".</p>
<p>Gwellaet eo bet un tammig an ober gant ar c'hlavier (lankañ, pishaat...).</p>
<p>Bez' ez eus ivez skeudennoù ha gwelladennoù en obererezh  "Chaseour foto".</p>

<p>Troet eo bet penn-da-benn evit ar yezhoù-mañ:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>Troidigezh diglok evit ar yezhoù-se:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>Bez' e c'hallit kavout pakadoù ar stumm nevez-mañ evit GNU/Linux, Windows, Raspberry Pi ha MacOS war ar <a href="https://gcompris.net/downloads{{ suffix }}.html">bajenn bellgargañ</a>. An hizivaat a vo deus outañ a-benn nebeut en Android Play store, an dastumlec'h arloadoù F-Droid hag er Windows store.</p>

<p>Trugarez d'an holl, <br/>Timothée & Johnny</p>

{% endblock %}
