{% extends "template/onenews.html" %}
{% set title = 'إصدار "فهمت" 3.1' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/gcompris720.png' class='col-xs-12 col-md-4' alt='gcompris 3.1' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/gcompris720.png')"/>

<p>اليوم أطلقنا إصدار "فهمت" 3.1.</p>
<p>لقد لاحظنا أن الإصدار 3.0 فيه خطأ فادح في الإصدار الجديد لنشاط"المقارنة"، قررنا إطلاق النسخة 3.1 بسرعة لحل المشكلة.</p>
<p>كما أن فيها تحديثات بسيطة للترجمة.</p>
<p>يمكنك العثور على حزم هذا الإصدار الجديد لـ لينكس ووندوز وراسبيري اي وماك-أوس على <a href="https://gcompris.net/downloads{{ suffix }}.html">صفحة التنزيل</a>. سيتوفر هذا التحديث قريبًا في متجر أندرويد بلاي ومستودع F-Droid ومتجر وندوز.</p>
<p>شكر جزيل للجميع, <br/>Timothée & Johnny</p>
{% endblock %}
