{% extends "template/onenews.html" %}
{% set title = 'Hedhje në qarkullim e GCompris 3.2' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r3.2.png' class='col-xs-12 col-md-4' alt='gcompris 3.2' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r3.2.png')"/>

<p>Sot hedhim në qarkullim GCompris version 3.2.</p>
<p>Ky version i ri përmban disa ndreqje të metash në një numër veprimtarish, të tilla si “Njihuni me kodin Ndërkombëtar Mors”, “Kontrolloni tubacionin” dhe veprimtari muzikore.</p>
<p>Përmban gjithashtu elementë të rinj grafikë për krejt veprimtaritë për kujtesën dhe për “Baby puzzle”.</p>
<p>Është shtuar një argument i ri për rresht urdhrash (--difficulty {value|min-max}) që u lejon përdoruesve të aplikojnë detyrimisht për filtrin e vështirësisë një vlerë apo një interval të dhënë.</p>
<p>Lloji Andika i shkronjave është përditësuar me versionin e tij më të ri (6.200).</p>

<p>Është i përkthyer plotësisht në gjuhët vijuese:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>Gjithashtu është i përkthyer pjesërisht në gjuhët vijuese:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>Faleminderit të tërëve, <br/>Timothée & Johnny</p>

{% endblock %}
