{% extends "template/onenews.html" %}
{% set title = 'Vydanie GCompris 3.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r3.0.png' class='col-xs-12 col-md-4' alt='gcompris 3.0' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r3.0.png')"/>

<p>S potešením oznamujeme vydanie GComprisu vo verzii 3.0.</p>
<p>Obsahuje 182 aktivít, vrátane 8 nových:</p>
<ul>
<li class="puce">"Cvičenie klikania myšou" je nácvik používania myši klikaním na pravé a ľavé tlačidlo.</li>
<li class="puce">V aktivite "Vytvor zlomky", treba znázorniť desatinné množstvá v koláčovom alebo obdĺžnikovom nákrese.</li>
<li class="puce">Aktivita "Zisti zlomky", je opačný spôsob: napísať zlomok, ktorý zobrazuje koláčový alebo obdĺžnikový nákres.</li>
<li class="puce">"Objavovanie Morzeovky", Vás naučí komunikovať medzinárodnou Morseovou abecedou.</li>
<li class="puce">V "Porovnať čísla", sa naučíte porovnávať číselné hodnoty s použitím porovnávacích znakov.</li>
<li class="puce">"Nájdi doplnok desiatky" je jednoduché cvičenie na výuku pojmu doplnok desiatky.</li>
<li class="puce">"Vymeniť na doplnok desiatky", vymeňte čísla v súčte aby bol optimalizovaný pomocou doplnku na desiatky.</li>
<li class="puce">V aktivite "Použiť doplnok na desiatky", rozkladáte súčet aby bol optimalizovaný použitím doplnku na desiatky.</li>
</ul>
<br/>
<p>Pridali sme 2 nové voľby do príkazového riadku:</p>
<ul>
<li class="puce">Výpis všetkých dostupných aktivít (-l alebo --list-activities)</li>
<li class="puce">Spustiť určitú aktivitu priamo (--launch názovAktivity)</li>
</ul>
<br/>
<p>Táto verzia tiež obsahuje viacero vylepšení a opráv.</p>
<br/>
<p>Čo sa týka prekladov, GCompris 3.0 obsahuje 36 jazykov. 25 je plne preložených: (Azerbajdžansky, Baskicky, Bretónsky, Britská angličtina, Estónsky, Francúzsky, Grécky, Hebrejsky, Holadnsky, Chorvátsky, Katalánsky, Katalánsky (Valencia), Litovsky, Maďarsky, Malayalamsky, Nórsky (Nynórčina), Poľsky, Portugalsky, Rumunsky, Rusky, Slovinsky, Španielsky, Taliansky, Tradičná čínština, Ukrainsky). 11 jazykov je čiastočne preložených: (Albánsky (99%), Bielorusky (83%), Brazílska Portugalčina (94%), Česky (82%), Fínsky (94%), Indonézsky (99%), Macedónsky (94%), Nemecky (91%), Slovensky (77%), Švédsky (94%) a Turecky (71%)).</p>
<p>Osobitnú poznámku si zaslúžia hlasy v Ukrajinskom jazyku, ktoré sa podarilo pridať vďaka organizácii "Save the Children",  ktorá dotovala ich nahrávanie. Nainštalovali GCompris na 8000 tabletov a 1000 notebookov, a poslali ich do Digitálnych vzdelávacích stredísk a ďalších bezpečných prostredí pre deti na Ukraine.</p>
<p>Hlasy v chorvátštine boli tiež nahraté ochotným prispievateľovm.</p>
<br/>
<p>Ako obvykle, možete nájsť balíčky v tejto novej verzii pre GNU/Linux, Windows, Android, Raspberry Pi a macOS na <a href="https://gcompris.net/downloads{{ suffix }}.html">stránke sťahovania</a>. Táto aktuálizácia bude čoskoro dostupná aj v Androidovom Obchode Play, v repozitári F-Droidu a v Obchode Windows.</p>
<p>Pre tvorcov balíčkov pre GNU/Linux distribúcie poznamenávame, že tu máme novú závyslosť na QtCharts QML plugine a najnižšia požadovaná verzia Qt5 je teraz 5.12. Tiež sme prešli od používania QtQuick.Controls 1 na QtQuick.Controls 2.</p>
<p>Vďaka Vám všetkým! <br/>Timothée & Johnny</p>
{% endblock %}
