{% extends "template/onenews.html" %}
{% set title = 'Lançamento do GCompris 3.1' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/gcompris720.png' class='col-xs-12 col-md-4' alt='gcompris 3.1' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/gcompris720.png')"/>

<p>Hoje estamos lançando a versão 3.1 do GCompris.</p>
<p>Nós percebemos que a versão 3.0 continha um bug crítico na nova atividade "Comparador", por isso decidimos produzir uma versão de manutenção para corrigir esse problema.</p>
<p>Ela também contém algumas atualizações de tradução.</p>
<p>Você pode encontrar os pacotes desta nova versão para GNU/Linux, Windows, Raspberry Pi e MacOS na <a href="https://gcompris.net/downloads{{ suffix }}.html">página de downloads</a>. Esta atualização também estará disponível em breve na Play Store do Android, no repositório F-Droid e na Windows Store.</p>
<p>Obrigado a todo mundo, <br/>Timothée & Johnny</p>
{% endblock %}
