{% extends "template/onenews.html" %}
{% set title = 'Lanzamiento de GCompris 3.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r3.0.png' class='col-xs-12 col-md-4' alt='gcompris 3.0' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r3.0.png')"/>

<p>Nos complace anunciar el lanzamiento de GCompris versión 3.0.</p>
<p>Contiene 182 actividades, incluidas 8 nuevas:</p>
<ul>
<li class="puce">«Práctica del clic del ratón» es un ejercicio para practicar el uso de un ratón con los clics derecho e izquierdo.</li>
<li class="puce">En «Crea las fracciones» debes representar cantidades decimales con varios gráficos en forma de tarta o de rectángulo.</li>
<li class="puce">En «Encuentra las fracciones» se pide lo contrario: escribe la fracción que representa el gráfico en forma de tarta o de rectángulo.</li>
<li class="puce">Con «Descubre el código morse internacional» aprenderás a comunicarte con el código morse internacional.</li>
<li class="puce">En «Compara números» aprenderás a comparar valores numéricos usando símbolos de comparación.</li>
<li class="puce">«Encuentra el complemento a diez» es un ejercicio sencillo para aprender el concepto de complemento a diez.</li>
<li class="puce">En «Intercambia el complemento a diez» debes cambiar los números de una suma para optimizarla usando el complemento a diez.</li>
<li class="puce">En «Usa el complemento a diez» debes descomponer una suma para optimizarla usando el complemento a diez.</li>
</ul>
<br/>
<p>Hemos añadido dos nuevas opciones a la línea de órdenes:</p>
<ul>
<li class="puce">Listar todas las actividades disponibles (-l o --list-activities)</li>
<li class="puce">Empezar directamente una determinada actividad (--launch nombreDeLaActividad)</li>
</ul>
<br/>
<p>Esta versión también contiene varias mejoras y correcciones de fallos.</p>
<br/>
<p>En cuanto a las traducciones, GCompris 3.0 contiene 36 idiomas. 25 de ellos completamente traducidos: azerí, catalán, catalán de Valencia, bretón, chino tradicional, croata, esloveno, español, estonio, euskera, francés, griego, hebreo, húngaro, inglés británico, italiano, lituano, malabar, neerlandés, noruego nynorsk, polaco, portugués, rumano, ruso y ucraniano. Y los otros 11 están parcialmente traducidos: albanés (99%), alemán (91%), bielorruso (83%), checo (82%), eslovaco (77%), finés (94%), indonesio (99%), macedonio (94%), portugués brasileño (94%), sueco (94%) y turco (71%).</p>
<p>Una nota especial sobre las voces ucranianas que se han añadido gracias a la organización «Save the Children», que financió la grabación. Instalaron GCompris en 8.000 tabletas y 1.000 portátiles, que enviaron a centros de aprendizaje digital y otros espacios seguros para niños en Ucrania.</p>
<p>Las voces croatas también han sido grabadas por un colaborador.</p>
<br/>
<p>Como es habitual, puede encontrar paquetes de esta nueva versión para GNU/Linux, Windows, Android, Raspberry Pi y macOS en la <a href="https://gcompris.net/downloads{{ suffix }}.html">página de descargas</a>. Esta actualización también estará disponible en breve en la Play Store de Android, el repositorio F-Droid y la Windows Store.</p>
<p>Para empaquetadores de distribuciones GNU/Linux, se debe tener en cuenta que hemos añadido una nueva dependencia sobre el complemento QML de QtCharts y que la versión mínima necesaria de Qt5 es ahora la 5.12. También hemos pasado de usar QtQuick.Controls 1 a QtQuick.Controls 2.</p>
<p>Gracias a todos, <br/>Timothée y Johnny</p>
{% endblock %}
