{% extends "template/onenews.html" %}
{% set title = 'Випуск GCompris 3.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r3.0.png' class='col-xs-12 col-md-4' alt='gcompris 3.0' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r3.0.png')"/>

<p>Ми раді оголосити про випуск GCompris версії 3.0.</p>
<p>Містить 182 вправ, зокрема 8 нових:</p>
<ul>
<li class="puce">«Навчання клацанню кнопками миші» — вправа для вивчення клацань лівою і правою кнопками миші.</li>
<li class="puce">У вправі «Створення дробів» можна навчитися відтворювати десяткові дроби за допомогою частинок круга або прямокутника.</li>
<li class="puce">У вправі «Знайдіть дріб» усе навпаки: треба записати десятковий дріб за часткою, яку показано як частину круга або прямокутника.</li>
<li class="puce">У вправі «Вивчення міжнародної азбуки Морзе» ви зможете навчитися обмінюватися кодами міжнародної азбуки Морзе.</li>
<li class="puce">У вправі «Порівняйте числа» можна навчитися порівнювати числові значення за допомогою символів порівняння.</li>
<li class="puce">У вправі «Знайдіть доповнення до десяти» можна познайомитися із поняттям доповнення до десяти.</li>
<li class="puce">У вправі «Обмін доповнень до десяти» треба переставити числа у дії з додавання для оптимізації з використанням доповнення до десяти.</li>
<li class="puce">У вправі «Використання доповнення до десяти» треба розкласти дію додавання для оптимізації з використанням доповнення до десяти.</li>
</ul>
<br/>
<p>Нами додано 2 нових параметри командного рядка:</p>
<ul>
<li class="puce">Показ усіх доступних вправ (-l або --list-activities)</li>
<li class="puce">Безпосередній запуск вказаної вправи (--launch назва_вправи)</li>
</ul>
<br/>
<p>У цій версії також можна скористатися декількома удосконаленнями та виправленнями вад.</p>
<br/>
<p>Якщо говорити про переклади, до пакунків GCompis 3.0 включено 36 переклади. Повністю реалізовано підтримку 25 мов: азербайджанської, баскської, бретонської, британської англійської, каталанської, каталанської (валенсійський діалект), традиційної китайської, хорватської, нідерландської, естонської, французької, грецької, івриту, угорської, італійської, литовської, малаялам, норвезької, польської, португальської, російської, румунської, словенської, іспанської, турецької та української. Маємо також 11 часткових перекладів: албанською (99%), білоруською (83%), бразильською португальською (94%), чеською (82%), фінською (94%), німецькою (91%), індонезійською (99%), македонською (94%), словацькою (77%), шведською (94%) і турецькою (71%).</p>
<p>Особливе зауваження щодо озвучення українською, яке було додано завдяки організації "Save the Children", яка профінансувала запис. Вони встановили GCompris на 8000 планшетів та 1000 ноутбуків і надіслали їх у центри цифрового навчання та інші безпечні для дітей України місця.</p>
<p>Учасником спільноти було записано озвучення для хорватської мови.</p>
<br/>
<p>Як завжди, посилання на пакунки нової версії для GNU/Linux, Windows, Android, Raspberry Pi та MacOS можна знайти на <a href="https://gcompris.net/downloads{{ suffix }}.html">сторінці отримання пакунків</a>. Невдовзі пакунки оновленої версії також з'являться у крамниці Android Play, сховищі F-Droid та крамниці Windows.</p>
<p>Для пакувальників дистрибутивів GNU/Linux: зауважте, що у нас з'явилася нова залежність від додатка QtCharts QML, а мінімальну потрібну версію Qt5 піднято до 5.12. Ми також перейшли від використання QtQuick.Controls 1 до використання QtQuick.Controls 2.</p>
<p>Дякуємо вам усім, <br/>Timothée і Johnny</p>
{% endblock %}
