{% extends "template/onenews.html" %}
{% set title = 'Lançamento do GCompris 3.1' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/gcompris720.png' class='col-xs-12 col-md-4' alt='gcompris 3.1' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/gcompris720.png')"/>

<p>Hoje anunciamos o lançamento do GCompris na versão 3.1.</p>
<p>Como reparámos que a versão 3.0 tinha um erro crítico na nova actividade ede "Comparações", decidimos emitir rapidamente esta nova versão 3.1 para corrigir esse problema.</p>
<p>Também contém algumas pequenas actualizações de traduções.</p>
<p>Poderá encontrar pacotes desta nova versão para o GNU/Linux, Windows, Raspberry Pi e MacOS na <a href="https://gcompris.net/downloads{{ suffix }}.html">página de transferências</a>. Esta actualização também estará disponível em breve na loja Android Play, no repositório F-Droid e na loja do Windows.</p>
<p>Obrigado a todos, <br/>Timothée & Johnny</p>
{% endblock %}
