{% extends "template/onenews.html" %}
{% set title = 'Version 3.2 de GCompris' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r3.2.png' class='col-xs-12 col-md-4' alt='gcompris 3.2' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r3.2.png')"/>

<p>Nous publions aujourd'hui la version 3.2 de GCompris.</p>
<p>Cette version contient des corrections dans plusieurs activités dont « Découvre le code Morse international », « Contrôle l'écoulement d'un tuyau » et les activités musicales.</p>
<p>Elle contient aussi de nouvelles images pour toutes les activités de mémoire et le « Tangram basique ».</p>
<p>Une nouvelle option en ligne de commande (--difficulty {value|min-max}) a été rajoutée. Elle permet de spécifier à quelle difficulté lancer GCompris.</p>
<p>La police « Andika » a été mise à jour à sa dernière version (6.200).</p>

<p>Cette version est entièrement traduite dans ces langues :</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>Elle est partiellement traduite dans ces langues :</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }} %)</li>
  {% endfor %}
</ul>

<p>Merci à vous tous et toutes, <br/>Timothée & Johnny</p>

{% endblock %}
