{% extends "template/onenews.html" %}
{% set title = 'GCompris 3.3-es verzió' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r3.3.png' class='col-xs-12 col-md-4' alt='gcompris 3.3' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r3.3.png')"/>

<p>Bemutatjuk a GCompris 3.3-es verzióját.</p>
<p>Az aktuális verzióban két újabb nyelv került bevezetésre: arab és eszperantó.</p>
<p>Olyan tevékenységekhez tartalmaz hibajavításokat mint"Mintakövetés", "Betűk szavakkal", "Kapd el a labdát" és a "Játssz a zongorán".</p>
<p>Több tevékenységben a billentyűzet kezelése is fejlődött  (gyorsparancsok, fókusz...).</p>
<p>Új grafikát is kapott a hibajavítások mellett a  "Fotóvadász".</p>

<p>A program az alábbi nyelveken érhető el teljes egészében:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>Részben pedig azu alábbi nyelveken érhető el:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>Az új verzió GNU/Linux, Windows, Android, Raspberry Pi és MacOS csomagjai a, <a href="https://gcompris.net/downloads{{ suffix }}.html">letöltési oldalon keresztül érhetőek el</a>. A frissítés hamarosan érkezik a Play Áruházba illetve a Windows store-on keresztül az F-droidra illetve a Windows store-ba is </p>

<p>Mindenkinek köszönjük, <br/>Timothée és Johnny</p>

{% endblock %}
