{% extends "template/onenews.html" %}
{% set title = 'Release GCompris 3.3' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r3.3.png' class='col-xs-12 col-md-4' alt='gcompris 3.3' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r3.3.png')"/>

<p>Today we are releasing GCompris version 3.3.</p>
<p>This version adds translations for 2 more languages: Arabic and Esperanto.</p>
<p>It contains bug fixes on multiple activities such as "Path encoding", "Letter in word", "Ballcatch" and "Piano composition".</p>
<p>Some improvements of keyboard handling (shortcuts, focus...) have been done on several activities.</p>
<p>It also contains new graphics and improvements on "Photo hunter".</p>

<p>It is fully translated in the following languages:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>It is also partially translated in the following languages:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>You can find packages of this new version for GNU/Linux, Windows, Raspberry Pi and macOS on the <a href="https://gcompris.net/downloads{{ suffix }}.html">download page</a>. This update will be available soon in the Android Play store, the F-Droid repository and the Windows store.</p>

<p>Thank you all, <br/>Timothée & Johnny</p>

{% endblock %}
