{% extends "template/onenews.html" %}
{% set title = 'Κυκλοφορία της έκδοσης 3.0 του GCompris.' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r3.0.png' class='col-xs-12 col-md-4' alt='gcompris 3.0' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r3.0.png')"/>

<p>Είμαστε στην ευχάριστη θέση να ανακοινώσουμε την έκδοση 3.0 του GCompris.</p>
<p>Περιλαμβάνει 182 δραστηριότητες, μεταξύ αυτών και 8 νέες:</p>
<ul>
<li class="puce">Η δραστηριότητα "Εξάσκηση στο ποντίκι" είναι μια άσκηση για τη χρήση του ποντικιού με αριστερό και δεξί κλικ.</li>
<li class="puce">Η δραστηριότητα "Δημιουργώ τα κλάσματα" αναπαριστά δεκαδικούς αριθμούς σε σχήματα πίτας ή ορθογωνίου.</li>
<li class="puce">Η δραστηριότητα "Βρίσκω τα κλάσματα" είναι το αντίθετο: γράψτε το κλάσμα που αναπαριστά η πίτα ή το ορθογώνιο.</li>
<li class="puce">Με τον "Κώδικας Μορς" μαθαίνετε να επικοινωνείτε με έναν κώδικα που είχε διεθνή ακτινοβολία.</li>
<li class="puce">Στη δραστηριότητα "Συγκρίνω αριθμούς" μαθαίνετε να συγκρίνετε αριθμούς και να χρησιμοποιείται τα σχετικά σύμβολα.</li>
<li class="puce">Η "Βρες το συμπλήρωμα του 10" είναι μια απλή δραστηριότητα για την εκμάθηση των συμπληρωμάτων του 10.</li>
<li class="puce">Στη δραστηριότητα "Αντάλλαξε το συμπλήρωμα του 10" ανταλλάσσεις αριθμούς για να δημιουργήσεις ζεύγη αριθμών με άθροισμα το δέκα.</li>
<li class="puce">Στη δραστηριότητα "Χρησιμοποιώ το συμπλήρωμα του 10" χρησιμοποιώ το συμπλήρωμα του 10 για να απλοποιήσω πρόσθεση.</li>
</ul>
<br/>
<p>Έχουμε προσθέσεις 2 νέες επιλογές για τη γραμμή εντολών:</p>
<ul>
<li class="puce">Λίστα όλων των διαθέσιμων δραστηριοτήτων (-l or --list-activities)</li>
<li class="puce">Άμεση εκκίνηση συγκεκριμένης δραστηριότητας (--launch activityName)</li>
</ul>
<br/>
<p>Η νέα έκδοση περιλαμβάνει επίσης πολλές βελτιώσεις και διορθώσεις σφαλμάτων.</p>
<br/>
<p>Στον τομέα των μεταφράσεων, το GCompris 3.0 διαθέτει 36 γλώσσες. Οι 25 από αυτές είναι πλήρως μεταφρασμένες: Αζέρικα, Βασκικά, Βρετανικά Αγγλικά, Καταλανικά, Καταλανικά Βαλένθιας, Παραδοσιακά Κινέζικα, Κροατικά, Ολλανδικά, Εσθονικά, Γαλλικά, Ελληνικά, Εβραϊκά, Ουγγρικά, Ιταλικά, Λιθουανικά, Μαλαγιάλαμ, Νέα Νορβηγικά, Πολωνικά, Πορτογαλικά, Ρουμανικά, Ρωσικά, Σλοβένικα, Ισπανικά, Ουκρανικά. Οι 11 από αυτές είναι μερικώς μεταφρασμένες: Αλβανικά (99%), Λευκορωσικά (83%), Πορτογαλικά Βραζιλίας (94%), Τσέχικα (82%), Φινλανδικά (94%), Γερμανικά (91%), Ινδονησιακά (99%), Μακεδονικά (94%), Σλοβάκικα (77%), Σουηδικά (94%) και Τουρκικά (71%).</p>
<p>Μια ειδική σημείωση για τους ήχους της ουκρανικής γλώσσας που προστέθηκαν χάρη στον οργανισμό "Save the Children", ο οποίος χρηματοδότησε την ηχογράφηση. Εγκατέστησαν το GCompris σε 8000 tablet και 1000 φορητούς υπολογιστές και τα έστειλαν σε Ψηφιακά Εκπαιδευτικά Κέντρα και άλλους ασφαλείς χώρους για παιδιά στην Ουκρανία.</p>
<p>Ήχοι της κροατικής γλώσσας έχουν επίσης ηχογραφηθεί από έναν συνεργάτη.</p>
<br/>
<p>Όπως συνήθως, θα βρείτε τα πακέτα αυτής της νέας έκδοσης για GNU/Linux, Windows, Android, Raspberry Pi και MacOS στη <a href="https://gcompris.net/downloads{{ suffix }}.html">σελίδα λήξεων</a>. Αυτή η ενημέρωση θα είναι σύντομα διαθέσιμη στο Android Play store, στο αποθετήριο F-Droid και στο Windows Store.</p>
<p>Για συσκευαστές διανομών GNU/Linux, σημειώστε ότι έχουμε μια νέα εξάρτηση στο πρόσθετο QtCharts QML και η ελάχιστη απαιτούμενη έκδοση του Qt5 είναι τώρα η 5.12. Επίσης, μετακινηθήκαμε από τη χρήση του QtQuick.Controls 1 στο QtQuick.Controls 2.</p>
<p>Σας ευχαριστούμε όλους, <br/>Timothée & Johnny</p>
{% endblock %}
