{% extends "template/onenews.html" %}
{% set title = 'Veröffentlichung GCompris 3.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r3.0.png' class='col-xs-12 col-md-4' alt='gcompris 3.0' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r3.0.png')"/>

<p>Hallo,<br />
wir freuen uns, die Veröffentlichung der Version 3.0 von GCompris bekannt zu geben.</p>
<p>Es enthält 182 Aktivitäten, davon 8 neue:</p>
<ul>
<li class="puce">"Maus-Klick Training" hilft dabei, die Benutzung der linken und rechten Maustaste zu trainieren.</li>
<li class="puce">In "Brüche erstellen" müssen Dezimalzahlen mit Torten- oder Rechteck-Diagrammen dargestellt werden.</li>
<li class="puce">Bei "Finde die Brüche" ist es umgekehrt: schreibe den Bruch, welcher durch das Torten- oder Rechteckdiagramm dargestellt wird.</li>
<li class="puce">In "Erforsche den internationalen Morse Code" lernst du, wie man mit dem Internaltionalen Morse Code kommuniziert.</li>
<li class="puce">In "Vergleiche Zahlen" werden Zahlenwerte durch Vergleichssymbole miteinander verglichen.</li>
<li class="puce">"Finde Zehnerkomplemente" ist eine einfach Übung, um das Konzept von Zehnerkomplementen zu verstehen.</li>
<li class="puce">In "Zehnerkomplemente vertauschen" müssen Zahlen einer Addition vertauscht werden, um sie - unter Verwendung des Zehnerkomplements - zu optimieren.</li>
<li class="puce">Zerlege in "Zehnerkomplemente verwenden" eine Addition.</li>
</ul>
<br/>
<p>Wir haben zwei neue Kommandozeilen-Optionen hinzugefügt:</p>
<ul>
<li class="puce">Alle verfügbaren Aktivitäten auflisten (-l oder --list-activities)</li>
<li class="puce">Eine spezifische Aktivität direkt starten (--launch NameDerAktivität)</li>
</ul>
<br/>
<p>Diese neue Version beinhaltet aktualisierte Übersetzungen für verschiedene Sprachen und ein paar Fehlerkorrekturen.</p>
<br/>
<p>Jetzt werden 36 Sprachen vollständig unterstützt: Albanisch, Baskisch, Weißrussisch, Brasilianisches Portugiesisch, Bretonisch, Britisches Englisch, Katalanisch, Katalanisch (Valencianisch), Chinesisch traditionell, Niederländisch, Französisch, Griechisch, Hebräisch, Ungarisch, Indonesisch, Italienisch, Mazedonisch, Malayalam, Polnisch, Portugiesisch, Rumänisch, Russisch, Slowenisch, Spanisch, Schwedisch, Türkisch und Ukrainisch.</p>
<p>Ein besonderer Hinweis zu den Ukrainischen Stimmen, die dank der Organisation "Save the Children" hinzugefügt werden konnten, welche die Aufnahmen finanziert hat. Diese hat außerdem GCompris auf 8000 Tablets und 1000 Laptops installiert und sie an digitale Lernzentren und andere, sichere Räume und Organisationen für Kinder in der Ukraine geschickt.</p>
<p>Kroatische Stimmen wurden auch von einem Mitwirkendem aufgenommen.</p>
<br/>
<p>Sie finden Pakete dieser neuen Version für GNU/Linux, Windows, Android, Raspberry Pi und MacOS auf der <a href="https://gcompris.net/downloads{{ suffix }}.html">Download-Seite</a>. Diese Aktualisierung wird in Kürze auch im Android Play Store, im F-Droid-Repository und im Windows Store verfügbar sein.</p>
<p>Für Packagers von GNU/Linux Distributionen noch der Hinweis, dass wir eine neue Abhängigkeit auf das "QtCharts QML plugin" haben und das die minimale QT5 Version nun 5.12 ist. Außerdem wurde von QtQuick.Controls 1 nach QtQuick.Controls 2 migriert.</p>
<p>Dank an alle, <br/>Timothée & Johnny</p>
{% endblock %}
