{% extends "template/onenews.html" %}
{% set title = "השקת ג'יקומפריס 3.0" %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r3.0.png' class='col-xs-12 col-md-4' alt='gcompris 3.0' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r3.0.png')"/>

<p>אנו שמחים להכריז על השקת ג'יקומפריס בגירסא 3.0.</p>
<p>המכילה 182 פעילויות, כולל 8 חדשות:</p>
<ul>
<li class="puce">"אימון בלחיצת עכבר" היא פעילות לשיפור השימוש בעכבר ולחיצה ימנית ושמאלית.</li>
<li class="puce">ב"יצירת שברים", מציגים כמויות עשרוניות באמצעות תרשים עוגה או ריבוע.</li>
<li class="puce">ב"למצוא את השברים" זה הפוך וצריך לרשום את השברים שמיוצגים בעזרת תרשים העוגה או הריבוע.</li>
<li class="puce">בעזרת "לגלות את קוד המורס הבינלאומי" לומדים לתקשר עם קוד המורס הבינלאומי.</li>
<li class="puce">ב"להשוות מספרים" לומדים כיצד להשוות ערך של מספרים באמצעות סימני ההשוואה.</li>
<li class="puce">"למצוא משלים לעשר" היא פעילות פשוטה ללימוד עקרון ההשלמה לעשר.</li>
<li class="puce">ב"להחליף משלים לעשר" מחליפים מספרים של חיבור כדי למטב אותו באמצעות משלים לעשר.</li>
<li class="puce">ב"שימוש במשלים לעשר" מפרקים חיבור כדי למטב אותו אותו באמצעות משלים לעשר.</li>
</ul>
<br/>
<p>הוספנו 2 אפשרויות לשורות פקודה:</p>
<ul>
<li class="puce">להפיק רשימה של כל הפעילויות האפשריות ‎(-l or --list-activities)</li>
<li class="puce">להפעיל ישירות פעילות מסויימת ‎ (--launch activityName)</li>
</ul>
<br/>
<p>הגירסה הזו מכילה גם מספר שיפורים ותיקוני באגים.</p>
<br/>
<p>בצד התירגומים ג'יקומפריס 3.0 כוללת 36 שפות. 25 בתמיכה מלאה: (אזרביז'נית, בסקית, פורטוגזית ברזילאית, ברטון, אנגלית בריטית, קטלנית, קטלנית ולנסיאנית, סינית מסורתית, הולנדית, צרפתית, אסטונית, יוונית, עברית :) , הונגרית, אינדונזית, איטלקית, מליאלאם, פולנית, פורטוגזית, רומנית, סלובנית, ספרדית,  ואוקראינית. 11 מתורגמות באופן חלקי: אלבנית (99%) גרמנית (91%), נינורסק נורווגי (96%), ביילרוסית (83%), מקדונית (82%), ברטון (80%), תורכית (76%), שוודית (94%), ורוסית (76%).</p>
<p>הערה מיוחדת לגבי הקולות באוקראינית שנוספו בזכות ארגון "Save the Children" שמימן את ההקלטות. הם התקינו ג'יקומפריס על 8000 טאבלטים ו1000 לפטופים ושלחו אותם למרכזי למידה דיגיטאלית ומרחבים מוגנים אחרים לילדי/ות אוקראינה.</p>
<p>קולות בקרואטית נוספו על-ידי תורם.</p>
<br/>
<p>כרגיל, ניתן למצוא חבילות של הגירסה החדשה הזו לגנוּ/לינוּקס, חלונות, MacOS ורספברי פאי ב<a href="https://gcompris.net/downloads{{ suffix }}.html">דף ההורדה</a>. עידכון זה יהיה זמין בקרוב בחנות Play של אנדרואיד, המאגרים של F-Droid והחנות של חלונות.</p>
<p>לאורזי החבילות להפצות גנו/לינוקס, שימו לב, יש לנו תלויה חדשה בפלאג QtCharts QML וגירסת QT5 המינימאלית שנדרשת היא כעת 5.12. כמו כן עברנו משימוש בQtQuick.Controls 1 ל QtQuick.Controls 2. רק שתדעוץ</p>
<p>תודה רבה לכולכם, <br/>טימות'י וג'וֹנִי</p>
{% endblock %}
