{% extends "template/onenews.html" %}
{% set title = 'ജികോംപ്രി 4.0-ന്റെ പ്രകാശനം' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r4.0.png' class='col-xs-12 col-md-4' alt='gcompris 4.0' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r4.0.png')"/>

<p>ഇന്ന് ജികോംപ്രി പതിപ്പ് 4.0 പ്രകാശനം ചെയ്യുന്നു.</p>
<p>ഈ പതിപ്പിൽ ബൾഗേറിയൻ, ഗലീഷ്യൻ, സ്വഹീലി എന്നീ മൂന്നു ഭാഷകൾക്കുകൂടി തർജ്ജിമകൾ ചേർക്കുന്നു.</p>
<p>ഇതിൽ 8 പുതിയവയടക്കം, 190 പ്രവർത്തനങ്ങൾ ഉണ്ട്:</p>
<ul>
<li class="puce">ഒരു സമയം ഒരു ശബ്ദഭേദം (വ്യാകരണം) എന്ന രീതിയിൽ വാക്കുകളുടെ ശബ്ദഭേദങ്ങൾ തിരിച്ചറിയാൻ പഠിക്കാനായുള്ള ഒരു പ്രവർത്തനമാണ് "ശബ്ദഭേദങ്ങൾ".</li>
<li class="puce">"വ്യാകരണ വിശകലനം" ഓരോ വാചകത്തിനും ഒന്നിലധികം ശബ്ദഭേദങ്ങൾ ചോദിക്കുന്നു എന്നതൊഴിച്ചാൽ, മേൽപറഞ്ഞതിനു സമാനമായ പ്രവർത്തനമാണ്.</li>
<li class="puce">നിശ്ചിത നിയമങ്ങളനുസരിച്ച് സംഖ്യകൾ കൊണ്ട് ഒരു ഗ്രിഡ് പൂരിപ്പിക്കുന്നതു ലക്ഷ്യമിട്ടുള്ള ഒരു ഗണിത കളിയാണ് "കാൽകുഡോക്കു"</li>
<li class="puce">"24 ആക്കാം" എന്നതിൽ, ചോദിച്ചിരിക്കുന്ന നാലു സംഖ്യകളും ക്രിയകളും ഉപയോഗിച്ച് 24 ഉത്തരമാക്കണം!</li>
<li class="puce">"മാതൃക പോലെയാക്കാം" എന്നതിൽ, വിവിധ മാതൃകകൾ പുനർനിർമ്മിക്കുകയും പൂർത്തിയാക്കുകയും ചെയ്യണം.</li>
<li class="puce">കൃത്യമായി ഭാഗിച്ചിട്ടുള്ള ഒരു രേഖയിൽ സൂചിപ്പിച്ചിരിക്കുന്ന മൂല്യം കണ്ടുപിടിക്കുവാനുള്ള ഒരു പ്രവർത്തനമാണ് "അടയാളമിട്ട രേഖ വായിക്കാം".</li>
<li class="puce">"അടയാളമിട്ട രേഖ ഉപയോഗിക്കാം" എന്നതിൽ, ചോദിച്ചിരിക്കുന്ന മൂല്യം രേഖയിൽ കൃത്യമായ സ്ഥാനത്ത് അടയാളപ്പെടുത്തണം.</li>
<li class="puce">"അടുത്തുള്ള സംഖ്യകൾ കണ്ടെത്താം" എന്നതിൽ, ഏതൊക്കെ സംഖ്യകളാണ് ചോദിച്ചിരിക്കുന്ന ശ്രേണിക്കു മുമ്പും ശേഷവും ഉള്ളതെന്നു പഠിക്കാം.</li>
</ul>
<br/>
<p>ഇതിൽ പല പ്രവർത്തനങ്ങൾക്കും ബഗ് ഫിക്സുകളും ഗ്രാഫിക്സ് മെച്ചപ്പെടുത്തലുകളും വരുത്തിയിട്ടുണ്ട്.</p>
<p>ഈ പതിപ്പിൽ ഒരു പ്രധാന നാഴികക്കല്ല് കൈവരിച്ചിരിക്കുന്നു: ഏകദേശം 9 വർഷത്തെ പ്രയത്നത്തിനു ശേഷം, മാർഗ്ഗനിർദ്ദേശങ്ങൾക്കനുസൃതമായി എല്ലാ ഗ്രാഫിക്സുകളും പുനർനിർമ്മിക്കുന്ന ചുമതല പൂർത്തിയായി!</p>

<p>ഈ പതിപ്പ് താഴെ കൊടുത്തിരിക്കുന്ന ഭാഷകളിൽ സമ്പൂർണമായും തർജ്ജിമ ചെയ്തിരിക്കുന്നു:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>കൂടാതെ, താഴെ കൊടുത്തിരിക്കുന്ന ഭാഷകളിൽ ഭാഗികമായി തർജ്ജിമ ചെയ്തിരിക്കുന്നു:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>ഈ പുതിയ പതിപ്പിനായുള്ള ഗ്നു/ലിനക്സ്, വിൻഡോസ്, ആൻഡ്രോയ്ഡ്, റാസ്ബെറി പൈ, മാക്ഒയെസ് പാക്കേജുകൾക്ക് <a href="https://gcompris.net/downloads{{ suffix }}.html">ഡൗൺലോഡ് പേജിൽ</a> നോക്കുക. ഈ അപ്ഡേറ്റ് ആൻഡ്രോയ്ഡ് പ്ലേ സ്റ്റോറിലും എഫ്-ഡ്രോയ്സ് റെപ്പോസിറ്ററിയിലും വിൻഡോസ് സ്റ്റോറിലും ഉടൻ തന്നെ ലഭ്യമാകും.</p>

<p>എല്ലാവർക്കും നന്ദി, <br/>ടിമോത്തെ & ജോന്നി</p>

{% endblock %}
