{% extends "template/onenews.html" %}
{% set title = 'Hedhje në qarkullim 4.3 e GCompris-së' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/gcompris-winter.png' class='col-xs-12 col-md-4' alt='gcompris 4.3' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/gcompris-winter.png')"/>

<p>Sot hedhim në qarkullim GCompris version 4.3.</p>
<p>Përmban ndreqje të metash dhe përmirësime elementësh grafikë në shumë veprimtari.</p>

<p>Është i përkthyer plotësisht në gjuhët vijuese:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>Gjithashtu është i përkthyer pjesërisht në gjuhët vijuese:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>Te <a href="https://gcompris.net/downloads{{ suffix }}.html">faqja e shkarkimeve</a> mund të gjeni paketa të këtij versioni të ri për GNU/Linux, Windows, Android, Raspberry Pi dhe macOS. Ky përditësim do të jetë së shpejti gati edhe te shitorja Android Play, depoja F-Droid dhe shitorja Windows.</p>

<p>Faleminderit të tërëve, <br/>Timothée & Johnny</p>

{% endblock %}
