{% extends "template/onenews.html" %}
{% set title = 'GCompris 4.1-s verzió' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r4.1.png' class='col-xs-12 col-md-4' alt='gcompris 4.1' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r4.1.png')"/>

<p>Bemutatjuk a GCompris 4.1-ás verzióját.</p>
<p>Hibajavításokat és grafikai javításokat tartalmaz több tevékenységre vonatkozóan.</p>

<p>A program az alábbi nyelveken érhető el teljes egészében:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>Részben pedig azu alábbi nyelveken érhető el:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>Szokás szerint az új verzió GNU/Linux, Windows, Android, Raspberry Pi és MacOS csomagjai a, <a href="https://gcompris.net/downloads{{ suffix }}.html">letöltési oldalon keresztül érhetőek el</a>. A frissítés hamarosan érkezik a Play Áruházba illetve a Windows store-on keresztül az F-droidra illetve a Windows store-ba is.</p>

<p>Mindenkinek köszönjük, <br/>Timothée és Johnny</p>

{% endblock %}
