{% extends "template/onenews.html" %}
{% set title = 'GCompris stumm 4.2' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r4.2.png' class='col-xs-12 col-md-4' alt='gcompris 4.2' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r4.2.png')"/>

<p>Hiziv e kinnigomp stumm 4.2 GCompris.</p>
<p>Bez' ez eus meur a dra reizhet ha gwelladennoù grafek e meur a obererezh.</p>
<p>Kinnig a ra ar stumm-mañ troidigezh al Latveg.</p>

<p>Troidigezhioù klok evit ar yezhoù-mañ:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>Bez' ez eus ivez troidigezhioù diglok evit ar yezhoù-se: </p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>Bez' e c'hallit kavout pakadoù ar stumm nevez-mañ evit GNU/Linux, Windows, Android, Raspberry Pi ha MacOS war ar <a href="https://gcompris.net/downloads{{ suffix }}.html">bajenn bellgargañ</a>. An hizivaat a vo deus outañ a-benn nebeut en Android Play store, an dastumlec'h arloadoù F-Droid hag er Windows store.</p>

<p>Trugarez d'an holl, <br/>Timothée & Johnny</p>

{% endblock %}
