{% extends "template/onenews.html" %}
{% set title = 'Llançament del GCompris 4.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r4.0.png' class='col-xs-12 col-md-4' alt='gcompris 4.0' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r4.0.png')"/>

<p>Avui fem el llançament del GCompris versió 4.0.</p>
<p>Aquesta versió afegeix les traduccions de tres idiomes més: búlgar, gallec i suahili.</p>
<p>Conté 190 activitats, incloent-hi 8 de noves:</p>
<ul>
<li class="puce">«Classes gramaticals» és una activitat per a aprendre a identificar les classes gramaticals de paraules, una classe a la vegada.</li>
<li class="puce">«Anàlisi gramatical» és similar a l'anterior, però amb diverses classes demanades per a cada frase.</li>
<li class="puce">«Calcudoku» és un joc d'aritmètica on l'objectiu és omplir una quadrícula amb números segons regles específiques.</li>
<li class="puce">Amb «Endevina 24», utilitzant els 4 números donats i els operadors, trobeu el número 24!</li>
<li class="puce">A «Fris», reproduïu i completeu els diferents frisos.</li>
<li class="puce">«Llegeix una línia graduada» és una activitat on cal trobar un valor representat en una línia graduada.</li>
<li class="puce">A «Usa una línia graduada», situeu el valor indicat en una línia graduada.</li>
<li class="puce">A «Nombres adjacents», apreneu quins nombres venen abans o després de la seqüència indicada.</li>
</ul>
<br/>
<p>Conté correccions d'errors i millores gràfiques en diverses activitats.</p>
<p>Amb aquesta versió s'ha aconseguit una fita important: després de gairebé 9 anys de treball, s'ha completat la tasca de reelaborar tots els gràfics per a ajustar-los a les directrius!</p>

<p>Està traduït completament als idiomes següents:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>També està traduït parcialment als idiomes següents:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>Trobareu els paquets d'aquesta nova versió per a GNU/Linux, Windows, Android, Raspberry Pi i macOS a la <a href="https://gcompris.net/downloads{{ suffix }}.html">pàgina de baixades</a>. Aquesta actualització també estarà disponible aviat a la botiga Android Play, el repositori de F-Droid i a la botiga de Windows.</p>

<p>Gràcies a tots, <br/>Timothée i Johnny</p>

{% endblock %}
