{% extends "template/onenews.html" %}
{% set title = 'Toa GCompris 4.1' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r4.1.png' class='col-xs-12 col-md-4' alt='gcompris 4.1' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r4.1.png')"/>

<p>Leo tunatoa toleo la GCompris 4.1.</p>
<p>Ina marekebisho ya hitilafu na uboreshaji wa michoro kwenye shughuli nyingi.</p>

<p>Imetafsiriwa kikamilifu katika lugha zifuatazo:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>Pia imetafsiriwa kwa kiasi katika lugha zifuatazo:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>Unaweza kupata vifurushi vya toleo hili jipya la GNU/Linux, Windows, Android, Raspberry Pi na macOS kwenye <a href="https://gcompris.net/downloads{{ suffix }}.html">ukurasa wa upakuaji</a> . Sasisho hili pia litapatikana hivi karibuni katika Duka la Android Play, hazina ya F-Droid na duka la Windows.</p>

<p>Asanteni nyote,<br/> Timothy &amp; Johnny</p>

{% endblock %}
