{% extends "template/onenews.html" %}
{% set title = 'Versione GCompris 4.3' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/gcompris-winter.png' class='col-xs-12 col-md-4' alt='gcompris 4.3' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/gcompris-winter.png')"/>

<p>Oggi rilasciamo GCompris versione 4.3.</p>
<p>Contiene correzioni di bug e miglioramenti grafici su diverse attività.</p>

<p>È completamente tradotto nelle seguenti lingue:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>È anche parzialmente tradotto nelle seguenti lingue:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>Puoi trovare i pacchetti di questa nuova versione per GNU/Linux, Windows, Android, Raspberry Pi e macOS sulla <a href="https://gcompris.net/downloads{{ suffix }}.html">pagina Scarica</a>. Questo aggiornamento sarà inoltre disponibile presto nel Play Store di Android, nel deposito di F-Droid e nel Windows Store.</p>

<p>Grazie a tutti, <br/>Timothée e Johnny</p>

{% endblock %}
