{% extends "template/onenews.html" %}
{% set title = 'GCompris 4.2 argitaratzea' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r4.2.png' class='col-xs-12 col-md-4' alt='gcompris 4.2' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r4.2.png')"/>

<p>Gaurkoan GCompris 4.2 bertsioa argitaratzen dugu.</p>
<p>Jarduera askorako akats konponketak eta grafikoen hobekuntzak ditu.</p>
<p>Bertsio honek letonieraren itzulpenak gehitzen ditu.</p>

<p>Ondoko hizkuntzetan osorik itzulita dago:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>Ondoko hizkuntza hauetan ere, hein batean, itzulita dago:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} (%{{ oneStatus }})</li>
  {% endfor %}
</ul>

<p><a href="https://gcompris.net/downloads{{ suffix }}.html">zama-jaisteko orrian</a> bertsio berri honetako GNU/Linux, Windows, Android, Raspberry Pi eta MacOS-rako paketeak aurki ditzakezu. Eguneratze hau laster egongo da eskuragarri Android Play saltokian, F-Droid gordetegian eta Windows saltokian.</p>

<p>Eskerrik asko guztioi, <br/>Timothée eta Johnny</p>

{% endblock %}
