{% extends "template/onenews.html" %}
{% set title = 'Κυκλοφορία της έκδοσης 4.0 του GCompris.' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r4.0.png' class='col-xs-12 col-md-4' alt='gcompris 4.0' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r4.0.png')"/>

<p>Σήμερα κυκλοφορούμε την έκδοση 4.0 του GCompris.</p>
<p>Σε αυτή την έκδοση έχουν προστεθεί μεταφράσεις τριών ακόμη γλωσσών: Βουλγαρικά, Γαλικιανά και Σουαχίλι.</p>
<p>Περιλαμβάνει 190 δραστηριότητες, μεταξύ αυτών και 8 νέες:</p>
<ul>
<li class="puce">Στη δραστηριότητα "Τα μέρη του λόγου 1" σε κάθε πρόταση που εμφανίζεται θα μάθεις να αναγνωρίζεις ένα μέρος του λόγου.</li>
<li class="puce">Η δραστηριότητα "Μέρη του λόγου 2" είναι παρόμοια με την προηγούμενη, αλλά για κάθε πρόταση ζητούνται περισσότερα μέρη του λόγου.</li>
<li class="puce">Η δραστηριότητα "Calcudoku" είναι ένα αριθμητικό παιχνίδι στο οποίο θα πρέπει να συμπληρώσεις με αριθμούς ένα πλέγμα, σύμφωνα με συγκεκριμένους κανόνες.</li>
<li class="puce">Στη δραστηριότητα "Μάντεψε 24", χρησιμοποιείς τέσσερις αριθμούς και πράξεις για να βρεις τον αριθμό 24.</li>
<li class="puce">Στη δραστηριότητα "Διακοσμητική ταινία", αναπαράγεις και συμπληρώνεις διαφορετικές διακοσμητικές ταινίες.</li>
<li class="puce">Η "Ανάγνωση αριθμογραμμής" είναι μια δραστηριότητα στην οποία θα πρέπει να βρίσκεις κάθε φορά έναν αριθμό πάνω σε μια αριθμογραμμή.</li>
<li class="puce">Στη δραστηριότητα "Χρήση αριθμογραμμής", τοποθετείς μια δεδομένη τιμή στην αριθμογραμμή.</li>
<li class="puce">Στη δραστηριότητα "Γειτονικοί αριθμοί", θα μάθεις ποιοι αριθμοί βρίσκονται πριν και μετά σε μια δεδομένα ακολουθία αριθμών.</li>
</ul>
<br/>
<p>Περιέχει επίσης διορθώσεις σφαλμάτων και βελτιώσεις στα γραφικά πολλών δραστηριοτήτων.</p>
<p>Ένας σημαντικός στόχος επιτεύχθηκε με αυτήν την έκδοση: μετά από σχεδόν 9 χρόνια δουλειάς, ολοκληρώθηκε η επανεπεξεργασία όλων των γραφικών ώστε να ταιριάζουν με τις οδηγίες!</p>

<p>Είναι πλήρως μεταφρασμένο στις ακόλουθες γλώσσες:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>Έχει επίσης μεταφραστεί εν μέρει στις ακόλουθες γλώσσες:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>Όπως συνήθως, θα βρείτε τα πακέτα αυτής της νέας έκδοσης για GNU/Linux, Windows, Android, Raspberry Pi και MacOS στη <a href="https://gcompris.net/downloads{{ suffix }}.html">σελίδα λήψεων</a>. Αυτή η ενημέρωση θα είναι σύντομα διαθέσιμη στο Android Play store, στο αποθετήριο F-Droid και στο Windows Store.</p>

<p>Σας ευχαριστούμε, <br/>Timothée & Johnny</p>

{% endblock %}
