{% extends "template/onenews.html" %}
{% set title = 'Κυκλοφορία της έκδοσης 4.1 του GCompris.' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r4.1.png' class='col-xs-12 col-md-4' alt='gcompris 4.1' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r4.1.png')"/>

<p>Σήμερα κυκλοφορούμε την έκδοση 4.1 του GCompris.</p>
<p>Περιέχει επίσης διορθώσεις σφαλμάτων και βελτιώσεις στα γραφικά πολλών δραστηριοτήτων.</p>

<p>Είναι πλήρως μεταφρασμένο στις ακόλουθες γλώσσες:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>Έχει επίσης μεταφραστεί εν μέρει στις ακόλουθες γλώσσες:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>Όπως συνήθως, θα βρείτε τα πακέτα αυτής της νέας έκδοσης για GNU/Linux, Windows, Android, Raspberry Pi και MacOS στη <a href="https://gcompris.net/downloads{{ suffix }}.html">σελίδα λήψεων</a>. Αυτή η ενημέρωση θα είναι σύντομα διαθέσιμη στο Android Play store, στο αποθετήριο F-Droid και στο Windows Store.</p>

<p>Σας ευχαριστούμε, <br/>Timothée & Johnny</p>

{% endblock %}
