{% extends "template/onenews.html" %}
{% set title = 'GCompris 4.3-es kiadás' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/gcompris-winter.png' class='col-xs-12 col-md-4' alt='gcompris 4.3' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/gcompris-winter.png')"/>

<p>Bemutatjuk a GCompris 4.3-as verzióját.</p>
<p>Hibajavításokat és grafikai javításokat tartalmaz több tevékenységre vonatkozóan.</p>

<p>A program az alábbi nyelveken érhető el teljes egészében:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>Részben pedig az alábbi nyelveken érhető el:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>Az új verzió csomagjai GNU/Linux, Windows, Android és Raspberry Pi operációs rendszerekhez megtalálhatók a <a href=\„https://gcompris.net/downloads{{ utótag }}.html\”>letöltési oldalon</a>. Ez a frissítés hamarosan elérhető lesz az Android Play áruházban, az F-Droid tárolóban és a Windows áruházban is.</p>

<p>Mindenkinek köszönjük, <br/>Timothée és Johnny</p>

{% endblock %}
