{% extends "template/onenews.html" %}
{% set title = 'ജികോംപ്രി 4.1-ന്റെ പ്രകാശനം' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r4.1.png' class='col-xs-12 col-md-4' alt='gcompris 4.1' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r4.1.png')"/>

<p>ഇന്ന് ജികോംപ്രി പതിപ്പ് 4.1 പ്രകാശനം ചെയ്യുന്നു.</p>
<p>ഇതിൽ പല പ്രവർത്തനങ്ങൾക്കും ബഗ് ഫിക്സുകളും ഗ്രാഫിക്സ് മെച്ചപ്പെടുത്തലുകളും വരുത്തിയിട്ടുണ്ട്.</p>

<p>ഈ പതിപ്പ് താഴെ കൊടുത്തിരിക്കുന്ന ഭാഷകളിൽ സമ്പൂർണമായും തർജ്ജിമ ചെയ്തിരിക്കുന്നു:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>കൂടാതെ, താഴെ കൊടുത്തിരിക്കുന്ന ഭാഷകളിൽ ഭാഗികമായി തർജ്ജിമ ചെയ്തിരിക്കുന്നു:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>ഈ പുതിയ പതിപ്പിനായുള്ള ഗ്നു/ലിനക്സ്, വിൻഡോസ്, ആൻഡ്രോയ്ഡ്, റാസ്ബെറി പൈ, മാക്ഒയെസ് പാക്കേജുകൾക്ക് <a href="https://gcompris.net/downloads{{ suffix }}.html">ഡൗൺലോഡ് പേജിൽ</a> നോക്കുക. ഈ അപ്ഡേറ്റ് ആൻഡ്രോയ്ഡ് പ്ലേ സ്റ്റോറിലും എഫ്-ഡ്രോയ്സ് റെപ്പോസിറ്ററിയിലും വിൻഡോസ് സ്റ്റോറിലും ഉടൻ തന്നെ ലഭ്യമാകും.</p>

<p>എല്ലാവർക്കും നന്ദി, <br/>ടിമോത്തെ & ജോന്നി</p>

{% endblock %}
