{% extends "template/onenews.html" %}
{% set title = 'GCompris 4.0 Çıktı' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r4.0.png' class='col-xs-12 col-md-4' alt='gcompris 4.0' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r4.0.png')"/>

<p>Bugün, GCompris’in 4.0 sürümünü yayımlıyoruz.</p>
<p>Bu sürüm, üç dil için daha çeviriler ekler: Bulgarca, Galiçyaca ve Suahili.</p>
<p>8’i yeni olmak üzere 190 etkinlik içerir:</p>
<ul>
<li class="puce">“Dilbilgisi sınıflandırmaları”, sözcüklerin türlerini tanımlamak için bir etkinliktir.</li>
<li class="puce">“Dilbilgisi çözümlemesi”, bir öncekine benzerdir; ancak her bir tümce için birden çok sınıf tanımlamanız istenir.</li>
<li class="puce">“Hesapdoku”, bir ızgarayı belirli kurallara göre sayılarla doldurmanız istenen bir aritmetik oyundur.</li>
<li class="puce">“24’ü Bul” ile, verilen dört sayıyı ve işleçleri kullanarak 24 sayısına ulaşın!</li>
<li class="puce">“Friz” oyununda, çeşitli frizleri yeniden oluşturup tamamlayın.</li>
<li class="puce">“Dereceli bir çizgi oku”, dereceli bir çizgideki değeri bulmanız gereken bir etkinliktir.</li>
<li class="puce">“Dereceli bir çizgi kullan” ile, verilen değeri dereceli bir çizgi üzerine yerleştirin.</li>
<li class="puce">“Bitişik sayıları bul” ile, verilen diziden önce veya sonra hangi numaraların geldiğini öğrenin.</li>
</ul>
<br/>
<p>Birden fazla etkinlikte hata düzeltmeleri ve grafik iyileştirmeleri içerir.</p>
<p>Bu sürümle önemli bir dönüm noktasına ulaşıldı: Neredeyse 9 yıllık çalışmanın ardından, tüm grafiklerin kılavuzlara uyacak şekilde yeniden işlenmesi görevi tamamlandı!</p>

<p>GCompris çevirileri aşağıdaki diller için tamdır:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>Aşağıdaki diller için çevirilerde eksikler vardır:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} (%{{ oneStatus }})</li>
  {% endfor %}
</ul>

<p>Bu yeni sürümün paketlerini <a href="https://gcompris.net/downloads{{ suffix }}.html">indirme sayfasında</a> GNU/Linux, Windows, Android, Raspberry Pi ve macOS için bulabilirsiniz. Bu güncelleme, kısa bir süre içinde Google Play Store, F-Droid deposu ve Microsoft Store’da da kullanılabilir olacaktır.</p>

<p>Herkese teşekkürler!<br/>Timothée ve Johnny</p>

{% endblock %}
