{% extends "template/onenews.html" %}
{% set title = 'Издание 4.0 на GCompris' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r4.0.png' class='col-xs-12 col-md-4' alt='gcompris 4.0' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r4.0.png')"/>

<p>Днес пускаме GCompris версия 4.0.</p>
<p>Тази версия добавя преводи за още 3 езика: български, галисийски и суахили.</p>
<p>Съдържа 190 дейности, включително 8 нови:</p>
<ul>
<li class="puce">"Курсове по граматика" е занимание, с което се научавате да определяте граматичните класове на думите, на един път по един клас.</li>
<li class="puce">"Граматически анализ" е подобно на предишното занимание, но за всяко изречение се изискват няколко класа.</li>
<li class="puce">"Калкудоку" е аритметична игра, в която целта е да се попълни решетка с числа по определени правила.</li>
<li class="puce">В "Познай 24" като използвате 4-те дадени числа и операторите, трябва да намерете числото 24!</li>
<li class="puce">Във "Фриз" трябва да възпроизвеждате и завършвате различни видове фризове.</li>
<li class="puce">"Разчитане на линийка"е занимание, при което трябва да намерите стойност, изобразена на линийка.</li>
<li class="puce">В "Използване на линийка" трябва да поставите дадена стойност върху линийка.</li>
<li class="puce">В "Съседни числа" научете, кои числа се намират преди или след дадената последователност.</li>
</ul>
<br/>
<p>Тя съдържа корекции на грешки и графични подобрения за множество дейности.</p>
<p>С тази версия беше постигнат един важен крайъгълен камък: след почти 9 години работа, задачата за преработка на всички графики, за да отговарят на препоръките, беше завършена!</p>

<p>Тя е напълно преведена на следните езици:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>Също така е частично преведен на следните езици:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>Можете да намерите пакети от тази нова версия за GNU/Linux, Windows, Android, Raspberry Pi и macOS на <a href="https://gcompris.net/downloads{{ suffix }}.html">download page</a>. Тази актуализация също ще бъде налична скоро в магазините на Android Play и Windows, както на хранилището на F-Droid.</p>

<p>Благодаря на всички, <br/>Timothée & Johnny</p>

{% endblock %}
