{% extends "template/onenews.html" %}
{% set title = 'Випуск GCompris 3.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r4.0.png' class='col-xs-12 col-md-4' alt='gcompris 4.0' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r4.0.png')"/>

<p>Сьогодні нами випущено GCompris версії 4.0.</p>
<p>У цій версії додано переклади ще 3 мовами: болгарською, галісійською та суахілі.</p>
<p>Містить 190 вправ, зокрема 8 нових:</p>
<ul>
<li class="puce">«Граматичні класи» — вправа для вивчення розподілу слів за граматичними класами, по одному класу на вправу.</li>
<li class="puce">«Граматичний аналіз» — подібна до попередньої вправа, але із декількома класами у кожному реченні.</li>
<li class="puce">«Калькудоку» — арифметична гра, де метою є заповнення таблиці числами за вказаними правилами.</li>
<li class="puce">У вправі «Вгадайте 24» за допомогою 4 вказаних чисел та операторів слід скласти число 24!</li>
<li class="puce">У вправі «Фриз» слід відтворити і доповнити різні фризи.</li>
<li class="puce">«Читання каліброваної лінії» — вправа, у якій вам потрібно знайти значення, яке показано на каліброваній лінії.</li>
<li class="puce">У вправі «Використання каліброваної лінії» слід розташувати вказане значення на каліброваній лінії.</li>
<li class="puce">У вправі «Сусідні числа» ви вивчите числа, які йдуть до або після вказаної послідовності.</li>
</ul>
<br/>
<p>Виправлено вади та удосконалено графіку у декількох вправах.</p>
<p>Одним із основних етапів, який було завершено у цій версії є те, що у результаті 9 років роботи було виконано завдання з перемальовування усієї графіки таким чином, щоб вона відповідала нашими настановами зі створення графічних робіт!</p>

<p>Повністю перекладено такими мовами:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>Також частково перекладено такими мовами:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>Посилання на пакунки нової версії для GNU/Linux, Windows, Android, Raspberry Pi та MacOS можна знайти на <a href="https://gcompris.net/downloads{{ suffix }}.html">сторінці отримання пакунків</a>. Невдовзі пакунки оновленої версії також з'являться у крамниці Android Play, сховищі F-Droid та крамниці Windows.</p>

<p>Дякуємо вам усім, <br/>Timothée і Johnny</p>

{% endblock %}
