{% extends "template/onenews.html" %}
{% set title = 'Llançament de GCompris 25.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r25.0.png' class='col-xs-12 col-md-4' alt='gcompris 25.0' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r25.0.png')"/>

<p>Hui fem el llançament de GCompris versió 25.0.</p>
<p>Com poden veure, ara estem basant el número de versió principal en l'any de llançament. Açò té sentit, ja que estem fent una versió important cap a l'any. També és una bona ocasió per a fer-ho ara per a celebrar els 25 anys de GCompris.</p>
<p>Esta versió afig la traducció d'un idioma més: sànscrit.</p>
<p>Esta versió nova conté 195 activitats, incloent-hi 5 de noves:</p>
<ul>
<li class="puce">«Esbós» és una activitat per a dibuixar lliurement amb diverses eines per a permetre als infants explorar la seua creativitat.</li>
<li class="puce">«Calcula amb el complement a deu» és la continuació de les activitats existents de complement a deu. Esta ajuda els infants a intercanviar els números per a calcular amb facilitat una suma.</li>
<li class="puce">«Suma vertical» és una activitat per a escriure una suma i resoldre-la.</li>
<li class="puce">«Resta vertical», és pareixent a l'activitat de suma però amb la resta amb el mètode de portant-ne per reagrupament.</li>
<li class="puce">«Resta vertical (compensació)», és pareixent a la resta amb el mètode de portant-ne per compensació.</li>
</ul>
<br/>
<p>Conté esmenes d'errors i millores gràfiques en múltiples activitats.</p>
<p>Amb l'ajuda dels professors, hem reescrit una gran part de la descripció de les activitats perquè siguen més clares.</p>
<p>Quan canviem d'idioma al menú, l'idioma nou s'aplica directament, sense haver de reiniciar GCompris.</p>
<p>En l'aspecte tècnic, també és el primer llançament amb les Qt6.</p>
<p>També hem establit el renderitzador gràfic a «direct3d11» a Windows de manera predeterminada.</p>

<p>Està traduït completament als idiomes següents:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>També està traduït parcialment als idiomes següents:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>Trobareu els paquets d'esta nova versió per a GNU/Linux, Windows, Android i Raspberry Pi a la <a href="https://gcompris.net/downloads{{ suffix }}.html">pàgina de baixades</a>. Esta actualització també estarà disponible prompte en la botiga Android Play, el repositori de F-Droid i en la botiga de Windows.</p>

<p>Gràcies a tots, <br/>Timothée i Johnny</p>

{% endblock %}
