{% extends "template/onenews.html" %}
{% set title = 'Lançamento do GCompris 25.1 e 4.3.1' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r25.1.png' class='col-xs-12 col-md-4' alt='gcompris 25.1 and 4.3.1' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r25.1.png')"/>

<p>Hoje estamos lançando a versão 25.1 do GCompris.</p>
<p>Ela contém correções de erros e melhorias gráficas em várias atividades.</p>

<p>Ele foi totalmente traduzido para os seguintes idiomas:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>E também foi parcialmente traduzido para os seguintes idiomas:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>Você encontra os pacotes desta nova versão para GNU/Linux, Windows, Android e Raspberry Pi na <a href="https://gcompris.net/downloads{{ suffix }}.html">página de downloads</a>. Esta atualização também estará disponível, em breve, na loja do Android, no repositório F-Droid e na Windows Store.</p>

<p>Hoje estamos lançando a versão 4.3.1 do GCompris.</p>
<p>Esta é uma versão de manutenção para sistemas de 32 bits que contém apenas algumas correções de bugs retroportadas.</p>

<p>Obrigado a todo mundo, <br/>Timothée & Johnny</p>

{% endblock %}
