{% extends "template/onenews.html" %}
{% set title = 'Izdaja GCompris 25.1 in 4.3.1' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r25.1.png' class='col-xs-12 col-md-4' alt='gcompris 25.1 and 4.3.1' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r25.1.png')"/>

<p>Danes izdajamo GCompris verzija 25.1.</p>
<p>Vsebuje popravke napak in grafične izboljšave pri več dejavnostih.</p>

<p>Je popolnoma prevedena v naslednje jezike:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>Je tudi delno prevedena v naslednje jezike:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>Pakete te nove različice lahko najdete za GNU/Linux, Windows, Android, Raspbery Pi in MacOS na <a href="https://gcompris.net/downloads{{ suffix }}.html">strani za prenos</a>. Ta posodobitev bo kmalu na voljo tudi v trgovini Android Play, skladišču F-Droid in skladišču za Windows.</p>

<p>Danes izdajamo GCompris verzijo 4.3.1.</p>
<p>To je vzdrževalna različica za 32-bitne sisteme, ki vsebuje le nekaj popravkov napak, prenesenih v starejše različice.</p>

<p>Hvala vsem,<br/>Timothée in Johnny</p>

{% endblock %}
