{% extends "template/onenews.html" %}
{% set title = 'الإصدار "فهمت" 25.1 و 4.3.1' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r25.1.png' class='col-xs-12 col-md-4' alt='gcompris 25.1 and 4.3.1' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r25.1.png')"/>

<p>اليوم أطلقنا إصدار "فهمت" 25.1.</p>
<p>فيه صور جديدة ورسوم  وتحسينات لعدة أنشطة.</p>

<p>تُرجم بالكامل للغات التالية:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>تُرجم جزئيا باللغات التالية:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>يمكنك العثور على حزم هذا الإصدار الجديد لـ لينكس ووندوز وراسبيري وأندرويد على <a href="https://gcompris.net/downloads{{ suffix }}.html">صفحة التنزيل</a>. سيتوفر هذا التحديث قريبًا في متجر أندرويد بلاي ومستودع F-Droid ومتجر وندوز.</p>

<p>أطلقنا أيضا إصدار "فهمت" 4.3.1.</p>
<p>هذه نسخة صيانة لأنظمة 32 بت تحتوي فقط على بعض إصلاحات الأخطاء التي رُدت إليها.</p>

<p>شكر جزيل للجميع, <br/> تيموثي وجوني</p>

{% endblock %}
