{% extends "template/onenews.html" %}
{% set title = 'Izdaja GCompris 25.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r25.0.png' class='col-xs-12 col-md-4' alt='gcompris 25.0' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r25.0.png')"/>

<p>Danes izdajamo GCompris verzija 25.0.</p>
<p>Kot lahko vidite, številko glavne različice zdaj temeljimo na letu izdaje. To je smiselno, saj delamo eno večjo različico na leto. Prav tako je dobra priložnost, da to storimo zdaj, da proslavimo 25 let GComprisa.</p>
<p>Ta verzija dodaja prevode še za en jezik: Sanskrit.</p>
<p>Ta nova različica vsebuje 195 dejavnosti, vključno s 5 novimi:</p>
<ul>
<li class="puce">"Skica" je dejavnost za prosto risanje z več orodji, ki otrokom omogočajo raziskovanje njihove ustvarjalnosti.</li>
<li class="puce">"Računanje s komplementom desetic" je nadaljevanje obstoječih dejavnosti komplementa desetic. Ta otrokom pomaga zamenjati številki in tako enostavno izračunati vsoto.</li>
<li class="puce">"Navpično seštevanje" je dejavnost za pisanje seštevka in njegovo reševanje.</li>
<li class="puce">"Navpično odštevanje", je podobno dejavnosti seštevanja, vendar za odštevanje z izposojo z metodo ponovnega združevanja.</li>
<li class="puce">"Vertikalno odštevanje (kompenzacija)", je podobno odštevanju pri metodi izposoje po kompenzaciji.</li>
</ul>
<br/>
<p>Vsebuje popravke napak in grafične izboljšave pri več dejavnostih.</p>
<p>Velik del opisa dejavnosti smo s pomočjo učiteljev prepisali, da bi bile bolj jasne.</p>
<p>Ko v meniju preklopimo jezik, se novi jezik zdaj uporabi neposredno, ne da bi morali ponovno zagnati GCompris.</p>
<p>S tehnične strani je to tudi prva izdaja, ki uporablja Qt6.</p>
<p>Prav tako smo v sistemu Windows privzeto nastavili grafični upodobilnik na direct3d11.</p>

<p>Je popolnoma prevedena v naslednje jezike:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>Je tudi delno prevedena v naslednje jezike:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>Pakete te nove različice lahko najdete za GNU/Linux, Windows, Android, Raspbery Pi in MacOS na <a href="https://gcompris.net/downloads{{ suffix }}.html">strani za prenos</a>. Ta posodobitev bo kmalu na voljo tudi v trgovini Android Play, skladišču F-Droid in skladišču za Windows.</p>

<p>Hvala vsem,<br/>Timothée in Johnny</p>

{% endblock %}
