{% extends "template/onenews.html" %}
{% set title = 'الإصدار "فهمت" 25.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r25.0.png' class='col-xs-12 col-md-4' alt='gcompris 25.0' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r25.0.png')"/>

<p>اليوم أطلقنا إصدار "فهمت" 25.0.</p>
<p>كما ترى، سنتبنى سنة الإصدار رقمًا للإصدار لأننا نطلق إصدارًا رئيسيا كل سنة، كما أنها مناسبة جيدة لفعل ذلك احتفالًا بمرور 25 عامًا على إطلاق فهمت.</p>
<p>يضيف هذا الإصدار ترجمات للغة واحدة: السنسكريتية.</p>
<p>تحوي على 195 نشاطاً منها 5 أنشطة جديدة:</p>
<ul>
<li class="puce">"Sketch" نشاط رسم حرّ بأدوات مختلفة تتيح للأطفال اكتشاف إبداعهم.</li>
<li class="puce">"الحساب بمتمم العشرة" تكملة لأنشطة متمم العشرة الحالية. يساعد هذا النشاط الأطفال على تبديل الأرقام لحساب المجموع بسهولة.</li>
<li class="puce">"الجمع العمودي" نشاط لتعليم الجمع عموديا.</li>
<li class="puce">"الطرح العمودي" نشاط لتعليم الطرح عموديا بالاستعارة وطريقة التجميع.</li>
<li class="puce">"الطرح العمودي (التعويض)" نشاط لتعليم الطرح عموديا بالاستعارة وطريقة التعويض.</li>
</ul>
<br/>
<p>فيه تحسينات لرسومات والأخطاء لعدة أنشطة.</p>
<p>بمساعدة المعلمين، أعدنا كتابة جزء كبير من وصف الأنشطة لتصبح واضحة أكثر.</p>
<p>عند تبديل اللغة في القائمة، تُطبّق الآن اللغة الجديدة تطبيقًا مباشرًا، دون الحاجة إلى إعادة تشغيل فهمت.</p>
<p>ومن الناحية الفنية، فهو أيضًا أول إصدار يستخدم Qt6.</p>
<p>لقد ضبطنا أيضًا برنامج العرض الرسومي إلى direct3d11 مبدئيًا على نظام التشغيل Windows.</p>

<p>تُرجم بالكامل للغات التالية:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>تُرجم جزئيا لللغات الآتية:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>تجد حزم هذا الإصدار الجديد لـأنظمةلينكس ووندوز وراسبيري واي وماك-أوس وأندرويد على <a href="https://gcompris.net/downloads{{ suffix }}.html">صفحة التنزيل</a>. سيتوفر هذا التحديث قريبًا في متجر أندرويد بلاي ومستودع F-Droid ومتجر وندوز.</p>

<p>شكرًا جزيلًا للجميع, <br/>Timothée & Johnny</p>

{% endblock %}
