{% extends "template/onenews.html" %}
{% set title = 'השקת ג׳יקומפרי 25.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r25.0.png' class='col-xs-12 col-md-4' alt='gcompris 25.0' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r25.0.png')"/>

<p>היום אנו משיקים את גרסה 25.0 של ג׳יקומפרי.</p>
<p>כפי שניתן להבחין, מעתה אנו מבססים את מספר הגרסה העיקרי של שנת ההוצאה לאור. יש בזה היגיון מכיוון שאנו מוציאים גרסה עיקרית כל שנה. זאת גם הזדמנות פז לעשות זאת דווקא עכשיו כדי לחגוג 25 שנה לג׳יקומפרי.</p>
<p>הגרסה הזאת מוסיפה תרגום לשפה נוספת: סנסקריט.</p>
<p>הגרסה החדשה מכילה 195 פעילויות, כולל 5 חדשות:</p>
<ul>
<li class="puce">\„איור\” היא פעילות לאיור חופשי עם מגוון כלים כדי להעניק לילדים לחקור את היצירתיות שלהם.</li>
<li class="puce">\„חישוב עם המשלים לעשר\” הוא המשך של הפעילויות הקיימות של משלים לעשר. הפעילות הזאת מסייעת לילדים להחליף את המספרים בקלות ולחשב סכום.</li>
<li class="puce">\„חיבור במאונך\” היא פעילות במעונך לכתיבת חיבור ולפתירתו.</li>
<li class="puce">\„חיסור במאונך\”, דומה לפעילות החיסור אבל לחיסור עם שיטת ההשאלה על ידי קיבוץ מחדש.</li>
<li class="puce">\„חיסור במאונך (פריטה)\”, דומה לחיסור אבל עם שיטת ההשאלה לפי פריטה.</li>
</ul>
<br/>
<p>מכילה תיקוני תקלות ושיפורים גרפיים במגוון פעילויות.</p>
<p>בעזרתם של מורים ומורות, שכתבנו חלקים נרחבים בתיאורי הפעילויות כדי שיהיו ברורים יותר.</p>
<p>החלפת השפה מהתפריט מתבצעת ישירות, ללא צורך בהפעלת ג׳יקומפרי מחדש.</p>
<p>מהפן הטכני, זאת גם המהדורה הראשונה שמשתמשת ב־Qt6.</p>
<p>בחלונות/Windows הגדרנו את מעבד התצוגה ל־direct3d11 כברירת מחדל.</p>

<p>מתורגמת במלואה לשפות הבאות:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>היא גם מתורגמת חלקית גם לשפות הבאות:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>אפשר למצוא חבילות לגרסה החדשה הזאת לגנו/לינוקס, Windows,‏ Android, ו־Raspberry Pi ב<a href="https://gcompris.net/downloads{{ suffix }}.html">עמוד ההורדות</a>. העדכון הזה יהיה זמין בקרוב ב־Play Store של Android, במאגר F-Droid ובחנות Windows.</p>

<p>תודה רבה לכולכם, <br/>טימות׳י וְז׳וֹנִי</p>

{% endblock %}
