{% extends "template/onenews.html" %}
{% set title = 'Llançament de GCompris 25.1 i 4.3.1' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r25.1.png' class='col-xs-12 col-md-4' alt='gcompris 25.1 and 4.3.1' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r25.1.png')"/>

<p>Hui fem el llançament de GCompris versió 25.1.</p>
<p>Conté esmenes d'errors i millores gràfiques en moltes activitats.</p>

<p>Està traduït completament en els idiomes següents:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>També està traduït parcialment en els idiomes següents:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>Trobareu els paquets d'esta nova versió per a GNU/Linux, Windows, Android i Raspberry Pi en la <a href="https://gcompris.net/downloads{{ suffix }}.html">pàgina de baixades</a>. Esta actualització també estarà disponible prompte en la botiga Android Play, el repositori de F-Droid i en la botiga de Windows.</p>

<p>També fem el llançament de GCompris versió 4.3.1.</p>
<p>Esta és una versió de manteniment per a sistemes de 32 bits que només conté algunes retroadaptacions d'esmenes d'errors.</p>

<p>Gràcies a tots, <br/>Timothée i Johnny</p>

{% endblock %}
