{% extends "template/onenews.html" %}
{% set title = 'Versione GCompris 26.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r26.0.png' class='col-xs-12 col-md-4' alt='gcompris 26.0' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r26.0.png')"/>

<p>Oggi rilasciamo GCompris versione 26.0.</p>
<p>Stiamo anche rilasciando la prima versione ufficiale del nostro strumento complementare per gli insegnanti: GCompris-teachers! Puoi trovare maggiori informazioni sulla <a href="https://gcompris.net/schools{{ suffix }}.html#gcompris-teachers">pagina dedicata alle scuole</a>.</p>
<p>Questa nuova versione contiene 197 attività, tra cui 2 nuove:</p>
<ul>
<li class="puce">"Ruote che disegnano" è un'attività di disegno che utilizza un ingranaggio che ruota in unaruota dentata.</li>
<li class="puce">«Domande a risposta multipla» è un'attività a scelta multipla. Si noti che questa attività è nascosta per impostazione predefinita. Diventa visibile dopo che alcuni insiemi di dati sono stati inviati da GCompris-teachers.</li>
</ul>
<br/>
<p>Contiene inoltre correzioni di bug e miglioramenti in numerose attività.</p>

<p>Rilasciamo le traduzioni per altre due lingue: Kannada e Tamil.</p>
<p>È completamente tradotto nelle seguenti lingue:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>È anche parzialmente tradotto nelle seguenti lingue:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>Puoi trovare i pacchetti di questa nuova versione per GNU/Linux, Windows, Android, Raspberry Pi sulla <a href="https://gcompris.net/downloads{{ suffix }}.html">pagina Scarica</a>. Questo aggiornamento sarà inoltre disponibile presto nel Play Store di Android, nel deposito di F-Droid e nel Windows Store.</p>

<p>Grazie a tutti, <br/>Timothée e Johnny</p>

{% endblock %}
