{% extends "template/onenews.html" %}
{% set title = 'Version 26.0 de GCompris' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r26.0.png' class='col-xs-12 col-md-4' alt='gcompris 26.0' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r26.0.png')"/>

<p>Nous publions aujourd'hui la version 26.0 de GCompris.</p>
<p>Nous sortons également la première version officiel de notre outil d'accompagnement des enseignants : GCompris-teachers ! Vous pouvez trouver plus d'information sur cet outil dans la page <a href="https://gcompris.net/schools{{ suffix }}.html#gcompris-teachers">Écoles</a>.</p>
<p>Cette version contient 197 activités, dont 2 nouvelles :</p>
<ul>
<li class="puce">« Roues de dessin » est une activité d'art utilisant un engrenage dans une roue dentée pour tracer le dessin.</li>
<li class="puce">« Questions à choix multiples » est une activité générique qui est cachée par défaut mais devient visible une fois que des jeux de données ont été envoyé depuis GCompris-teachers.</li>
</ul>
<br/>
<p>Elle contient des corrections de bogues et des améliorations dans de nombreuses activités.</p>

<p>Cette version ajoute deux nouvelle langues : le Kannada et le Tamoul.</p>
<p>Elle est entièrement traduite dans les langues suivantes :</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>Elle est partiellement traduite dans les langues suivantes :</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }} %)</li>
  {% endfor %}
</ul>

<p>Vous pouvez trouver les paquets de cette nouvelle version pour GNU / Linux, Windows, Android et Raspberry Pi sur la <a href="https://gcompris.net/downloads{{ suffix }}.html">page de téléchargement</a>. Cette version sera également disponible très bientôt dans les boutiques « Android Play » et « Windows », ainsi dans le dépôt de F-Droid.</p>

<p>Merci à vous tous et toutes, <br/>Timothée & Johnny</p>

{% endblock %}
