{% extends "template/onenews.html" %}
{% set title = 'GCompris 26.0 argitaratzea' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r26.0.png' class='col-xs-12 col-md-4' alt='gcompris 26.0' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r26.0.png')"/>

<p>Gaurkoan GCompris 26.0 bertsioa argitaratzen dugu.</p>
<p>Irakasleentzako gure tresna osagarriaren aurreneko bertsio ofiziala ere kaleratzen dugu: GCompris-teachers! <a href="https://gcompris.net/schools{{ suffix }}.html#gcompris-teachers">Ikastetxeak orrialdean</a> honi buruzko informazio gehiago aurkituko duzu.</p>
<p>Bertsio berri honek 197 jarduera ditu, 2 berri haien artean:</p>
<ul>
<li class="puce">"Marrazteko gurpilak"\ hortz dun gurpil batean biratzen duen engranaje bat erabiliz marrazteko jarduera bat da.</li>
<li class="puce">"Aukera anitzeko galderak" MCQ jarduera bat da. Jakizu jarduera hau era lehenetsian ezkutuan dagoela. GCompris-teachers-etik harentzako datu-multzo batzuk bidali ondoren ikusgai jartzen da.</li>
</ul>
<br/>
<p>Jarduera askotan akats konponketak eta hainbat jardueratan hobekuntzak ere baditu.</p>

<p>Bi hizkuntza gehiagorako itzulpenak kaleratzen ditugu: Kannada eta tamilera.</p>
<p>Ondoko hizkuntzetan osorik itzulita dago:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>Ondoko hizkuntzatan ere, hein batean, itzulita dago:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} (%{{ oneStatus }})</li>
  {% endfor %}
</ul>

<p><a href="https://gcompris.net/downloads{{ suffix }}.html">zama-jaisteko orrialdean</a> bertsio berri honetako GNU/Linux, Windows, Android, eta Raspberry Pi-rako paketeak aurki ditzakezu. Eguneratze hau laster egongo da eskuragarri Android Play saltokian, F-Droid gordetegian eta Windows saltokian.</p>

<p>Eskerrik asko guztioi, <br/>Timothée eta Johnny</p>

{% endblock %}
