{% extends "template/onenews.html" %}
{% set title = 'Випуск GCompris 26.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r26.0.png' class='col-xs-12 col-md-4' alt='gcompris 26.0' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r26.0.png')"/>

<p>Сьогодні нами випущено GCompris версії 26.0.</p>
<p>Нами також випущено першу офіційну версію нашого додаткового інструменту для вчителів: GCompris-teachers! Дізнатися більше про нього можна на <a href="https://gcompris.net/schools{{ suffix }}.html#gcompris-teachers">сторінці школ</a>.</p>
<p>Містить 197 вправ, зокрема 2 нових:</p>
<ul>
<li class="puce">«Колеса для малювання» — вправа з малювання за допомогою шестерень і зубчастих колес.</li>
<li class="puce">«Питання з вибором» — вправа з декількома правильними відповідями. Зауважте, що типово цю вправу приховано. Вона стане видимою, лише після того, як буде надіслано декілька наборів даних з GCompris-teachers.</li>
</ul>
<br/>
<p>Також виправлено вади та удосконалення у декількох вправах.</p>

<p>Ми включили до пакунка дві нових мови перекладу: каннадську та тамільську.</p>
<p>Повністю перекладено такими мовами:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>Також частково перекладено такими мовами:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>Посилання на пакунки нової версії для GNU/Linux, Windows, Android та Raspberry можна знайти на <a href="https://gcompris.net/downloads{{ suffix }}.html">сторінці отримання пакунків</a>. Невдовзі пакунки оновленої версії також з'являться у крамниці Android Play, сховищі F-Droid та крамниці Windows.</p>

<p>Дякуємо вам усім, <br/>Timothée і Johnny</p>

{% endblock %}
