{% extends "template/onenews.html" %}
{% set title = 'Vydání GCompris 26.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r26.0.png' class='col-xs-12 col-md-4' alt='gcompris 26.0' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r26.0.png')"/>

<p>Dnes vydáváme GCompris verze 26.0.</p>
<p>Také vydáváme první oficiální verzi našeho doprovodného nástroje pro učitele: GCompris-teachers! Více informací najdete na stránce<a href="https://gcompris.net/schools{{ suffix }}.html#gcompris-teachers">Školy</a>.</p>
<p>Tato nová verze obsahuje 197 aktivit, včetně 2 nových:</p>
<ul>
<li class="puce">\„Kreslící kolečka\“ jsou aktivitou pro kreslení pomocí ozubeného kolečka otáčejícího se kolem pastorku.</li>
<li class="puce">\„Otázky s více volbami\“ jsou aktivitou pro kvízy. Pozor, tato aktivita je ve výchozím stavu skrytá. Zobrazí se v případě, že jsou do ní z aplikace pro učitele GCompris-teachers zaslány soubory dat.</li>
</ul>
<br/>
<p>Obsahuje opravy chyb a grafická vylepšení ve vícero aktivitách.</p>

<p>Do této verze přibyly další dva jazyky: kannadština a tamilština.</p>
<p>Je plně přeloženo do následujících jazyků:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>Také je částečně přeloženo do následujících jazyků:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>Balíčky této nové verze můžete najít pro GNU/Linux, Windows, Android a Raspberry Pi <a href="https://gcompris.net/downloads{{ suffix }}.html">stránce stahování</a>. Tato aktualizace také bude brzy dostupná v obchodě Google Play, repozitáři F-Droidu a obchodu Windows Store.</p>

<p>Díky všem, <br/>Timothée & Johnny</p>

{% endblock %}
