{% extends "template/onenews.html" %}
{% set title = 'השקת ג׳יקומפרי 26.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r26.0.png' class='col-xs-12 col-md-4' alt='gcompris 26.0' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r26.0.png')"/>

<p>היום אנו משיקים את גרסה 26.0 של ג׳יקומפרי.</p>
<p>אנחנו גם משיקים את הגרסה הרשמית הראשונה של כלי הליווי שלנו למורים: ג׳יקומפרי למורים! אפשר למצוא מידע נוסף עליו ב<a href="https://gcompris.net/schools{{ suffix }}.html#gcompris-teachers">עמוד בתי הספר</a>.</p>
<p>הגרסה החדשה מכילה 197 פעילויות, כולל 2 חדשות:</p>
<ul>
<li class="puce">„גלגלי איור” היא פעילות איור שבה משתמשים בגלגלי שיניים שמסתובבים בתוך חישוק מקיף.</li>
<li class="puce">שאלון ריבוי אפשרויות (מבחן אמריקאי) היא פעילות MCQ. נא לשים לב שהפעילות הזאת מוסתרת כברירת מחדל. היא מופיעה לאחר שכמה סדרות נתונים נוספו אליה דרך ג׳יקומפרי למורים.</li>
</ul>
<br/>
<p>מכילה גם תיקוני תקלות ושיפורים במגוון פעילויות.</p>

<p>אנחנו משיקים תרגומים לשתי שפות חדשות: קאנדה וטמילית.</p>
<p>מתורגמת במלואה לשפות הבאות:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>היא גם מתורגמת חלקית גם לשפות הבאות:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>אפשר למצוא חבילות לגרסה החדשה הזאת לגנו/לינוקס, Windows,‏ Android, ו־Raspberry Pi ב<a href="https://gcompris.net/downloads{{ suffix }}.html">עמוד ההורדות</a>. העדכון הזה יהיה זמין בקרוב ב־Play Store של Android, במאגר F-Droid ובחנות Windows.</p>

<p>תודה רבה לכולכם, <br/>טימות׳י וְז׳וֹנִי</p>

{% endblock %}
