{% extends "template/onenews.html" %}
{% set title = 'Hedhje në qarkullim e GCompris 26.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r26.0.png' class='col-xs-12 col-md-4' alt='gcompris 26.0' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r26.0.png')"/>

<p>Sot hedhim në qarkullim GCompris version 26.0.</p>
<p>Po hedhim në qarkullim edhe versionin e parë zyrtar të mjetit tonë ndihmës për mësuesit: GCompris-teachers! Më tepër informacion për të mund të gjeni te <a href="https://gcompris.net/schools{{ suffix }}.html#gcompris-teachers">faqja e shkollave</a>.</p>
<p>Ky version i ri përmban 197 veprimtari, përfshi 2 të reja:</p>
<ul>
<li class="puce">“Rrota vizatimi” është një veprimtari për të vizatuar duke përdorur një ingranazh rrotullues në një rrotë të dhëmbëzuar.</li>
<li class="puce">“Pyetje me shumë përgjigje” është një veprimtari MCQ. Kini parasysh se kjo veprimtari, si parazgjedhje, është e fshehur. Bëhet e dukshme vetëm pasi nga GCompris-teachers të jenë dërguar disa grupe të dhënash për të.</li>
</ul>
<br/>
<p>Përmban ndreqje të metash dhe përmirësime elementësh grafikë në shumë veprimtari.</p>

<p>Ky version shton përkthime për dy gjuhë më tepër: kannada dhe tamilisht.</p>
<p>Është plotësisht i përkthyer në gjuhët vijuese:</p>
<ul>
  {% for oneLocale in fullyTranslatedLocales %}
  <li class="puce">{{ oneLocale }}</li>
  {% endfor %}
</ul>

<p>Gjithashtu është i përkthyer pjesërisht në gjuhët vijuese:</p>
<ul>
  {% for oneLocale,oneStatus in partiallyTranslatedLocales %}
  <li class="puce">{{ oneLocale }} ({{ oneStatus }}%)</li>
  {% endfor %}
</ul>

<p>Te <a href="https://gcompris.net/downloads{{ suffix }}.html">faqja e shkarkimeve</a> mund të gjeni paketa të këtij versioni të ri për GNU/Linux, Windows, Android dhe Raspberry Pi. Ky përditësim do të jetë së shpejti gati edhe te shitorja Android Play, depoja F-Droid dhe shitorja Windows.</p>

<p>Thank you all, <br/>Timothée & Johnny</p>

{% endblock %}
