{% extends "template/base.html" %}
{% set page = '404' %}
{% block content %}
<div class="container bs-docs-container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="row">
	<img class="projectImg" alt="Large GCompris Logo" src="largeGComprisLogo.png">
      </div>
    </div>
    <div class="col-xs-12 col-md-6 news">
      <h1 class="bigtitle">GCompris</h1>
      <div class="projectDescription">
	<h1>404 error: page not found</h1>
	<h1>We just remade our web site please discover it again.</h1>
	<h4>Please check your links, or contact bruno.coudoin@gcompris.net if you think there should be something here.</h4>
</div>
    </div>
  </div>
</div>
{% endblock %}
