<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ locale }}" dir="{{ direction }}">
  <head>
    {% block head %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="free educational software gnu gpl education game children kid logiciel libre educatif education apprentissage informatique ordinateur computer keyboard mouse learning skills mathematique enfant math electricity teaching"/>
    <meta name="description" content="educational software gcompris. Logiciel educatif gcompris"/>
    <meta name="author" content="Timothée Giet"/>
    <link href="{{ rootFolder }}js/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ rootFolder }}gcompris.css?version=20220725" />
    <link href='https://fonts.googleapis.com/css?family=Ruluko&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'/>
    <link rel="icon" TYPE="image/png" href="{{ rootFolder }}favicon.png"/>
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{title}}" />
    <meta property="og:image" itemprop="image" content="https://gcompris.net/images/gcompris.png" />
    <meta property="og:site_name" content="GCompris" />
    <meta property="og:url" content="https://www.gcompris.net/{{page}}-{{ locale }}.html" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@g_compris">

    {% for suffix, language in locales %}
    <link rel="alternate" hreflang="{{ suffix |replace("_", "-") }}" href="{{page}}-{{ suffix }}.html">
    <link rel="alternate" type="application/rss+xml" title="RSS flux" href="https://www.gcompris.net/feed-{{ suffix }}.xml" />

    {% endfor %}
    <script src="{{ rootFolder }}js/jquery/jquery.min.js"></script>
    <script src="{{ rootFolder }}js/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ rootFolder }}js/platform.js"></script>

    <script type="text/javascript">
      /* Toggle a div */
function toggle(id, toggleId) {
	  var ele = document.getElementById(id);
	  var toggle = document.getElementById(toggleId);
	  if(ele.style.display == "block") {
	      ele.style.display = "none";
	      toggle.innerHTML = '+ + +';
	  }
	  else {
	      ele.style.display = "block";
	      toggle.innerHTML = '- - -';
	  }
      }
      var pagePath = window.location.href.replace("{{ suffix }}.html", "");
    </script>

    <title>{{title}}</title>
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-default">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
	<a class="headerLogo" href="{{ rootFolder }}index-{{ locale }}.html"></a>
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	  <span class="sr-only">Toggle navigation</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
	<ul class="nav navbar-nav">
	  <li class="{% if page == 'index' %}active{% else %}non-active{% endif %}"><a href="{{ rootFolder }}index{{ suffix }}.html">GCompris</a></li>
	  <li class="{% if page == 'downloads' %}active{% else %}non-active{% endif %}"><a href="{{ rootFolder }}downloads{{ suffix }}.html">{% trans %}Download{% endtrans %}</a></li>
	  <li class="{% if page == 'donate' %}active{% else %}non-active{% endif %}"><a href="{{ rootFolder }}donate{{ suffix }}.html">{% trans %}Donate{% endtrans %}</a></li>
	  <li class="{% if page == 'screenshots' %}active{% else %}non-active{% endif %}"><a href="{{ rootFolder }}screenshots{{ suffix }}.html">{% trans %}Screenshots{% endtrans %}</a></li>
	  <li class="{% if page == 'schools' %}active{% else %}non-active{% endif %}"><a href="{{ rootFolder }}schools{{ suffix }}.html">{% trans %}Schools{% endtrans %}</a></li>
	  <li class="{% if page == 'manual' %}active{% else %}non-active{% endif %}"><a href="https://gcompris.net/{{ manual }}" target="_blank" rel="noopener noreferrer">{% trans %}Manual{% endtrans %}</a></li>
	  <li class="{% if page == 'contribute' %}active{% else %}non-active{% endif %}"><a href="https://gcompris.net/wiki/Developer%27s_corner" target="_blank" rel="noopener noreferrer">{% trans %}Contribute{% endtrans %}</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	  <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ language }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
	      {% for suffix, language in locales %}
                <li><a href="{{page}}-{{ suffix }}.html" onclick="location.href=pagePath+'-{{ suffix }}.html';return false;">{{ language }}</a></li>
	      {% endfor %}
            </ul>
	  </li>
	</ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    <div class="hero-container">{% block hero %}{% endblock %}
    </div>
    <div class="container">{% block content %}{% endblock %}
    </div>
    <svg width="0" height="0">
      <defs>
        <clipPath id="clip-footer" clipPathUnits="objectBoundingBox">
          <path d="M 0,1 C 0,1 0.2,0.55 0.5,0.3 0.8,0.05 1,0 1,0 v 1 z"></polygon>
        </clipPath>
      </defs>
    </svg>
    <hr class="footer-top"/>
    <footer class="bs-footer">
      <div class="footer"><a href="https://kde.org/"><img alt="KDE" src="{{ rootFolder }}kde-logo-white.svg" height="32"></a>
        <br/><br/>
        Copyright 2000-{{ current_year }} <a href="mailto:support@gcompris.net">Timothée Giet and others</a>.
        <br/>
        {% trans %}Site last updated the {{ revision_date }}.{% endtrans %}
        <br/><br/>
        <a href='https://www.gnu.org/licenses/agpl-3.0.html'>{{ license_info }}</a>
        <br/><br/>
        {% if translators_names != "Your names" %}
            {% trans %}Site translated by: {{ translators_names }}.{% endtrans %}<br/><br/>
        {% endif %}
        <a rel="privacy" href="https://gcompris.net/mobile-privacy-policy.html">Privacy policy</a>.
        <br/><br/>
        This site is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 License</a>.<br/>
        <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="ccbysa_88x31.png" /></a><br/><br/>
      </div>
    </footer>
  </body>
</html>
