{% extends "template/base.html" %}
{% set page = 'donate' %}
{% set title = _('Donate') + " - GCompris" %}
{% block content %}
<div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h1 class="bigtitle2">{% trans %}Donate{% endtrans %}</h1>
	  <div class="col-xs-12 col-md-12">
	<div class="row news">
	  <div class="col-xs-12 col-md-12">
	    <div>
	        <p>{% trans %}You, your children or your school love GCompris. You can support the project with a donation.{% endtrans %}</p>
	        <p>{% trans %}Developing software takes a lot of time, it needs hardware, and other requirements that have a cost.{% endtrans %}</p>
	        <br/>
	        <p>{% trans %}If you want to support the development of GCompris in a sustainable way, please become a patron of GCompris on Patreon:{% endtrans %}</p>
            <div class="buttonLine">
                <a id="patreonButton" class="buttonGlobal" href="https://www.patreon.com/join/animtim?">☀ {% trans %}Become a Patron{% endtrans %}</a>
            </div>
	        <br/>
	        <p>{% trans %}Also, you can donate the amount of your choice to KDE:{% endtrans %}</p>
	        <p><a href="https://kde.org/community/donations/">{% trans %}Donate to KDE{% endtrans %}</a></p>
	        <br/>
	        <p>{% trans %}Thanks for supporting Free Software in education.{% endtrans %}</p>
	        <br/>
            <div>
              <div id="patreon" class="newstitle" style="float: {{ direction }}; text-align: {{ direction }};">{% trans %}Patreon{% endtrans %}</div>
              <div style="clear: both;"></div>
              <div class="newscontent">
                <p style="font-size: x-large;">{% trans %}Thanks to everyone supporting GCompris on Patreon!{% endtrans %}</p>
                <br/>
                <img class="patreoncards" src="images/patreon-companies.png"/>
                <p class="patronslist" style="font-size: large;"><img src="images/thriiver-handsfree.png" width=200px/><br />
                    ☀ <br />
                    The Baiel Family<br /> <!-- The Baiel Family is for Zachary-->
                    </p>
                <img class="patreoncards" src="images/patreon-dragons.png"/>
                <p class="patronslist" style="font-size: large;">Alexey Vazhnov ☀ Andrei Baltuta ☀ Anthony Stalker ☀ A Distinguished Robot ☀ Bart Van Loon ☀ Chandresh Prakash ☀ Denys Yakubets ☀ Fabien Benetou ☀ Fabio Armon Camichel ☀ Jim Garrison ☀ Patrick Nafarrete ☀ Sebastian Tur ☀ 郝晨煜</p>
                <img class="patreoncards" src="images/patreon-pandas.png"/>
                <p class="patronslist" style="font-size: medium;">Albert Astals Cid ☀ Alexander Riethmüller ☀ Ilya Diallo ☀ Karl Ove Hufthammer ☀ Philipp Leibelt ☀ roman_the_ant ☀ Stephen Paul Weber</p>
                <img class="patreoncards" src="images/patreon-cats.png"/>
                <p class="patronslist" style="font-size: small;">Bruno Rocha ☀ Chris Niewlotti ☀ Chris Olsen ☀ Cyrille Largillier ☀ Danny Ricard-Lavergne ☀ Entesar Alruhidy ☀ Errepunto ☀ Filip Sedlák ☀ Gastão ☀ Hasan adnan khawaja ☀ karina ☀ Nikodimos ☀ PlayKodo - Aprendizaje Digital ☀ Sebastian Blei ☀ Simon Chatain ☀ svuorela</p>
              </div>
            </div>
	        <br/><br/>
	        <img class="col-xs-12 col-md-12" src="images/gcompris_thank_you.png" alt="GCompris Thank-you">
	        <br/><br/>
	      </div>
	    </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
