{% extends "template/base.html" %}
{% set page = 'downloads' %}
{% set title = _('Download') + " - GCompris" %}
{% block content %}
<div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h1 class="bigtitle2">{% trans %}Download{% endtrans %}</h1>
      <div class="buttonLine">
          <a id="patreonButton" class="buttonGlobal" href="https://www.patreon.com/join/animtim?">☀ {% trans %}Become a Patron{% endtrans %}</a>
      </div>
      <div class="col-xs-12 col-md-12" id="windows">
	<div class="row news">
	  <div class="col-xs-12 col-md-12">
	    <div>
	      <div class="newstitle" style="float: {{ direction }}; text-align: {{ direction }};">{% trans %}Windows{% endtrans %}</div>
	    </div>
	    <div style="clear: both;"></div>
	    <div class="newscontent">
	      <p>{% trans %}You can install GCompris <a href="https://www.microsoft.com/en-us/store/p/gcompris/9pgxjtcxn8qm">from the Windows Store</a>.{% endtrans %}</p>
	      <p>{% trans %}Note: the Windows Store requires Windows 10.{% endtrans %}</p>
	      <br/>
	      <p>{% trans %}Else, you can download the installer from the links below.{% endtrans %}</p>
	      <p>{% trans %}System requirements: Windows 10 or 11.{% endtrans %}</p>
<pre>
• <a href="https://download.kde.org/stable/gcompris/qt/windows/gcompris-qt-{{ version }}-win64-gcc.exe">GCompris {{ version }} - Windows 64bit</a>
</pre>
          <p>{% trans %}We also provide an msi installer.{% endtrans %}</p>
<pre>
• <a href="https://download.kde.org/stable/gcompris/qt/windows/gcompris-qt-{{ version }}-win64-gcc.msi">GCompris {{ version }} - Windows 64bit</a>
</pre>
          <p>{% trans %}Note: If your system doesn't have Direct3D 11 support or if it's not working properly, please use the entry GCompris (Safe Mode) in the start menu to launch GCompris with the software rendering mode.{% endtrans %}</p>
          <p>{% trans %}The last version available for Windows 7 and 8 can be downloaded from the link below.{% endtrans %}</p>
<pre>
• <a href="https://download.kde.org/stable/gcompris/qt/windows/gcompris-qt-4.3-win64-gcc.exe">GCompris 4.3 - Windows 64bit</a>
• <a href="https://download.kde.org/stable/gcompris/qt/windows/gcompris-qt-4.3.1-win32-gcc.exe">GCompris 4.3.1 - Windows 32bit</a>
</pre>
          <p>{% trans %}If you really need a version that runs on Windows XP, or if your system doesn't support the new version, you can use the last installer from the old GCompris 15.10.{% endtrans %}</p>
<pre>
• <a href="https://download.kde.org/stable/gcompris/gtk/windows/gcompris-15.10.exe">GCompris 15.10-Windows 32bit</a>
</pre>
	      <p>{% trans %}To enable all the activities in this old version, you can use the code 200202 in the entry box that contains the word CODE when you start the application.{% endtrans %}</p>
	    </div>
	  </div>
	</div>
      </div>

      <div class="col-xs-12 col-md-12" id="android">
	<div class="row news">
	  <div class="col-xs-12 col-md-12">
	    <div>
	      <div class="newstitle" style="float: {{ direction }}; text-align: {{ direction }};">{% trans %}Android{% endtrans %}</div>
	    </div>
	    <div style="clear: both;"></div>
	    <div class="newscontent">
	      <p>{% trans %}The version for Android is distributed in the Play Store.{% endtrans %}</p>
<!-- TODO: remove .1 from text for next release! -->
<pre>
• <a href="https://play.google.com/store/apps/details?id=net.gcompris.full">GCompris {{ version }}.1 for Android</a>
</pre>
          <p>{% trans %}We support both android 32bit and 64bit from the Play Store. The appropriate version is downloaded automatically depending on your Android operating system.{% endtrans %}</p>
          <br/>
           <p>{% trans %}GCompris is also available from F-Droid, the Free and Open Source Android app repository.{% endtrans %}<br/>
<pre>
• <a href="https://f-droid.org/en/packages/net.gcompris.full/">GCompris {{ version }} from F-Droid</a>
</pre>
          <br/>
          <p>{% trans %}You can also directly download the apk from our website to install it manually on your device.{% endtrans %}</p>
<pre>
• <a href="https://download.kde.org/stable/gcompris/qt/android/GCompris-Android-release-signed-aligned-arm64-v8a-dl-{{ version }}.apk">GCompris {{ version }} apk for Android 64bit</a>
• <a href="https://download.kde.org/stable/gcompris/qt/android/GCompris-Android-release-signed-aligned-armeabi-v7a-dl-{{ version }}.apk">GCompris {{ version }} apk for Android 32bit</a>
</pre>
          <p>{% trans %}For devices running Android 4.1 to 8.0, the last compatible version is <a href= "https://gcompris.net/download/qt/android/GCompris-Android-release-signed-aligned-armeabi-v7a-dl-4.3.1.apk">GCompris 4.3.1</a>.{% endtrans %}</p>
          <p>{% trans %}For devices running Android 2.3 to 4.0, the last compatible version is <a href= "https://gcompris.net/download/qt/android/GCompris-Android-release-signed-aligned-armeabi-v7a-dl-0.81.apk">GCompris 0.81</a>.{% endtrans %}</p>
          <br/>
	    </div>
	  </div>
	</div>
      </div>

      <div class="col-xs-12 col-md-12" id="osx">
	<div class="row news">
	  <div class="col-xs-12 col-md-12">
	    <div>
	      <div class="newstitle" style="float: {{ direction }}; text-align: {{ direction }};">{% trans %}macOS{% endtrans %}</div>
	    </div>
	    <div style="clear: both;"></div>
	    <div class="newscontent">
	      <p>{% trans %}The latest version is not yet available on macOS due to lack of infrastructure to build and test it.{% endtrans %}</p>
	      <p>{% trans %}You can download the last version available macOS from the link below.{% endtrans %}</p>
	      <p>{% trans %}Built and tested on macOS 10.13.{% endtrans %}</p>
<pre>
• <a href="https://download.kde.org/stable/gcompris/qt/macos/gcompris-qt-4.3-Darwin.dmg">GCompris 4.3 - Darwin</a>
</pre>
	    </div>
	  </div>
	</div>
      </div>

      <div class="col-xs-12 col-md-12" id="linux">
	<div class="row news">
	  <div class="col-xs-12 col-md-12">
	    <div>
	      <div class="newstitle" style="float: {{ direction }}; text-align: {{ direction }};">{% trans %}GNU/Linux{% endtrans %}</div>
	    </div>
	    <div style="clear: both;"></div>
	    <div class="newscontent">
	      <p>{% trans %}You can check if your distribution provides a package for the latest version of GCompris.{% endtrans %}</p>
	      <p>{% trans %}We also provide standalone packages for GNU/Linux. They should work on any recent distribution.{% endtrans %} {% trans %}System requirements: linux kernel 4.18, glibc 2.28.{% endtrans %}</p>
<pre>
• <a href="https://download.kde.org/stable/gcompris/qt/linux/gcompris-qt-{{ version }}-Linux64.sh">GCompris {{ version }} - Linux 64bit</a>
</pre>
          <p>{% trans %}To use it, open a terminal in the folder where you downloaded the installer and run these commands:{% endtrans %}</p>
<pre dir="ltr">
chmod u+x gcompris-qt-{{ version }}-Linux64.sh
./gcompris-qt-{{ version }}-Linux64.sh
</pre>
	      <p>{% trans %}Then read the license or press q to skip it, answer yes to the questions, and the software will be installed in a new folder next to the installer.{% endtrans %}</p>
	      <p>{% trans %}Finally, to launch gcompris, go in the new folder, in bin, and double-click on gcompris-qt.sh.{% endtrans %}</p>
	      <p>{% trans %}Note: If your system doesn't have OpenGL 2 support or if it's not working properly, please add the option "--software-renderer" at the end of the last line of the script gcompris-qt.sh. Another way is to edit the configuration file (in ~/.config/gcompris-qt/gcompris-qt.conf): find the line renderer=auto , replace auto with software and save the file.{% endtrans %}</p>
	      <p>{% trans %}Alternatively, you can install GCompris from <a href="https://flathub.org/apps/details/org.kde.gcompris">Flathub</a> or from the <a href="https://snapcraft.io/gcompris">Snap store</a>.{% endtrans %}</p>
          <p>{% trans %}The last version available for 32bit Linux distributions can be downloaded from the following link.{% endtrans %} {% trans %}System requirements: linux kernel 3.10, glibc 2.17, pulseaudio, gstreamer 1.0.{% endtrans %}</p>
<pre>
• <a href="https://download.kde.org/stable/gcompris/qt/linux/gcompris-qt-4.3.1-Linux32.sh">GCompris 4.3.1 - Linux 32bit</a>
</pre>
	    </div>
	  </div>
	</div>
      </div>


      <div class="col-xs-12 col-md-12" id="rpi">
	<div class="row news">
	  <div class="col-xs-12 col-md-12">
	    <div>
	      <div class="newstitle" style="float: {{ direction }}; text-align: {{ direction }};">{% trans %}Raspberry Pi{% endtrans %}</div>
	    </div>
	    <div style="clear: both;"></div>
	    <div class="newscontent">
	      <p>{% trans %}We provide a standalone package for Raspberry Pi (64bit).{% endtrans %} {% trans %}It was tested only on Raspberry Pi 3.{% endtrans %}</p>
<pre>
• <a href="https://download.kde.org/stable/gcompris/qt/raspberrypi/gcompris-qt-{{ version }}-Raspberry64.sh">GCompris {{ version }} - Raspberry Pi 3 64bit</a>
</pre>
	      <p>{% trans %}The last version available for 32bit is the version 4.3 at the following link:{% endtrans %}</p>
<pre>
• <a href="https://download.kde.org/stable/gcompris/qt/raspberrypi/gcompris-qt-4.3-Raspberry.sh">GCompris 4.3 - Raspberry Pi 3 32bit</a>
</pre>

          <p>{% trans %}To use it, open a terminal in the folder where you downloaded the installer and run these commands:{% endtrans %}</p>
<pre dir="ltr">
chmod u+x gcompris-qt-{{ version }}-Raspberry64.sh
./gcompris-qt-{{ version }}-Raspberry.sh
</pre>
	      <p>{% trans %}Then read the license or press q to skip it, answer yes to the questions, and the software will be installed in a new folder next to the installer.{% endtrans %}</p>
	      <p>{% trans %}Finally, to launch gcompris, go in the new folder, in bin, and double-click on gcompris-qt.sh.{% endtrans %}</p>
	    </div>
	  </div>
	</div>
      </div>

            <div class="col-xs-12 col-md-12" id="gcompris-teachers">
	<div class="row news">
	  <div class="col-xs-12 col-md-12">
	    <div>
	      <div class="newstitle" style="float: {{ direction }}; text-align: {{ direction }};">{% trans %}GCompris-teachers{% endtrans %}</div>
	    </div>
	    <div style="clear: both;"></div>
	    <div class="newscontent">
	      <p>{% trans %}GCompris-teachers is the companion application for teachers to enhance their use of GCompris in their classroom. You can learn more about it from our <a href="https://gcompris.net/schools{{ suffix }}.html#gcompris-teachers">Schools page</a>. Note that to use it, you should use the same version of the main GCompris application.{% endtrans %}</p>
		  <p>{% trans %}GCompris-teachers is available for GNU/Linux and Windows operating systems.{% endtrans %}</p>
<pre>
• <a href="https://download.kde.org/stable/gcompris/qt/linux/gcompris-teachers-{{ version }}-Linux64.sh">GCompris {{ version }} - Linux 64bit</a>
• <a href="https://download.kde.org/stable/gcompris/qt/windows/gcompris-teachers-{{ version }}-win64-gcc.exe">GCompris-teachers {{ version }} - Windows 64bit</a>
</pre>
	    </div>
	  </div>
	</div>
      </div>

      <div class="col-xs-12 col-md-12" id="source">
	<div class="row news">
	  <div class="col-xs-12 col-md-12">
	    <div>
	      <div class="newstitle" style="float: {{ direction }}; text-align: {{ direction }};">{% trans %}Source code{% endtrans %}</div>
	    </div>
	    <div style="clear: both;"></div>
	    <div class="newscontent">
	      <p>{% trans %}The source code is available under the AGPLv3 license.{% endtrans %}</p>
<pre>
• <a href="https://download.kde.org/stable/gcompris/qt/src/gcompris-qt-{{ version }}.tar.xz">GCompris {{ version }} - source code</a>
</pre>
	    </div>
	  </div>
	</div>
      </div>

          <div class="col-xs-12 col-md-12">
	<div class="row news">
	  <div class="col-xs-12 col-md-12">
	    <div>
	      <div class="newstitle" style="float: {{ direction }}; text-align: {{ direction }};">{% trans %}SHA-256 and GPG{% endtrans %}</div>
	    </div>
	    <div style="clear: both;"></div>
	    <div class="newscontent">
	      <p>{% trans %}To check the integrity of your downloads, you can get the original SHA-256 hash of the files by adding ".sha256" at the end of their download url.{% endtrans %}</p>
	      <p>{% trans %}The source tarball and the Linux installer are signed with the GPG key from Timothée Giet (public key: {{ public_gpg_key }}){% endtrans %}</p>
<pre>
{% trans %}sig files:{% endtrans %}

• <a href="https://download.kde.org/stable/gcompris/qt/src/gcompris-qt-{{ version }}.tar.xz.sig">GCompris {{ version }} - source code</a>
• <a href="https://download.kde.org/stable/gcompris/qt/linux/gcompris-qt-{{ version }}-Linux64.sh.sig">GCompris {{ version }} - Linux 64bit</a>
• <a href="https://download.kde.org/stable/gcompris/qt/linux/gcompris-teachers-{{ version }}-Linux64.sh.sig">GCompris-teachers {{ version }} - Linux 64bit</a>
</pre>
	    </div>
	  </div>
	</div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
 
