{% extends "template/base.html" %}
{% set page = 'download_macosx' %}
{% block content %}
<div class="container bs-docs-container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="row">
	<img class="projectImg" alt="Large GCompris Logo" src="largeGComprisLogo.png">
	<a id="downloadButton" href='http://gcompris.net/download/gcompris-12.11-2_intel.dmg'>
	  <img alt="{% trans %}Download GCompris{% endtrans %}" src="downloadGCompris.png" style="position: absolute; top: -10px; left: -10px;">
	  <span class="downloadText">{% trans %}Download GCompris{% endtrans %}</span>
	  <span id="downloadDetails" style="font-size: 12px; color: white;">{% trans %}Version {{version}}{% endtrans %} <b>Snow Leopard and After</b></span>
	  <span id="downloadOS"></span>
	</a>
      </div>
      <div class="row">
	<a id="downloadButton" href='http://gcompris.net/download/gcompris-12.05_intel.dmg'>
	  <img alt="{% trans %}Download GCompris{% endtrans %}" src="downloadGCompris.png" style="position: absolute; top: -10px; left: -10px;">
	  <span class="downloadText">{% trans %}Download GCompris{% endtrans %}</span>
	  <span id="downloadDetails" style="font-size: 12px; color: white;">{% trans %}Version {{version}}{% endtrans %} <b>Tiger, Leopard</b></span>
	  <span id="downloadOS"></span>
	</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
