{% extends "template/base.html" %}
{% import "template/social.html" as social %}
{% set page = 'downloads' %}
{% set title = _('Download') + " - GCompris" %}
{% block content %}
<div class="container bs-docs-container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h1 class="bigtitle2">{% trans %}Download{% endtrans %}</h1>
      {{ social.block(locale) }}

      <div class="container bs-docs-container" id="windows">
	<div class="row news">
	  <div class="col-xs-12 col-md-12">
	    <div>
	      <div class="newstitle" style="float: left; text-align: left;">{% trans %}Windows{% endtrans %}</div>
	    </div>
	    <div style="clear: both;"></div>
	    <div class="newscontent">
	      <p>{% trans %}You can buy the full version of GCompris <a href="https://www.microsoft.com/en-us/store/p/gcompris/9pgxjtcxn8qm">in the Windows Store</a>.{% endtrans %}</p>
	      </br>
	      <p>{% trans %}Else, you can get the demo from the links below, and <a href="buy-{{ locale }}.html">buy on our website</a> the activation code to unlock the full version.{% endtrans %}</p>
	      <p>{% trans %}System requirements: Windows 7, 8 or 10 with OpenGL 2 support.{% endtrans %}</p>
	      <pre>
	      <li class="puce"><a class="extraInfoLink" href="http://gcompris.net/download/qt/windows/gcompris-qt-{{ version }}-win64-gcc.exe">GCompris {{ version }}-Windows 64bit</a></li>
          <li class="puce"><a class="extraInfoLink" href="http://gcompris.net/download/qt/windows/gcompris-qt-{{ version }}-win32-gcc.exe">GCompris {{ version }}-Windows 32bit</a></li>
          </pre>
          <p>{% trans %}Note: If your system doesn't have OpenGL 2 support or if it's not working properly, please use the entry GCompris (Safe Mode) in the start menu to launch GCompris with the software rendering mode which doesn't use OpenGL.{% endtrans %}</p>
          <p>{% trans %}If you really need a version that runs on Windows XP, or if your system doesn't support the new version, you can use the last installer from the old GCompris 15.10.{% endtrans %}</p>
          <pre>
	      <li class="puce"><a class="extraInfoLink" href="http://gcompris.net/download/gtk/windows/gcompris-15.10.exe">GCompris 15.10-Windows 32bit</a></li>
	      </pre>
	    </div>
	  </div>
	</div>
      </div>
     
      <div class="container bs-docs-container" id="android">
	<div class="row news">
	  <div class="col-xs-12 col-md-12">
	    <div>
	      <div class="newstitle" style="float: left; text-align: left;">{% trans %}Android{% endtrans %}</div>
	    </div>
	    <div style="clear: both;"></div>
	    <div class="newscontent">
	      <p>{% trans %}The version for Android is distributed in the Play Store. The demo and the full version have separate installers.{% endtrans %}</p>
	      <pre>
	      <li class="puce"><a class="extraInfoLink" href="https://play.google.com/store/apps/details?id=net.gcompris.full">GCompris {{ version }}-Full version for Android</a></li>
          <li class="puce"><a class="extraInfoLink" href="https://play.google.com/store/apps/details?id=net.gcompris">GCompris {{ version }}-Demo version for Android</a></li>
          </pre>
          <p>{% trans %}Note: It is recommended to buy directly the full version from the store, not from the button in the demo. This way, you can share it with 5 family members using the Google Play Family Library. Also, a few users reported issues to unlock the demo.{% endtrans %}</p>
	    </div>
	  </div>
	</div>
      </div>
     
      <div class="container bs-docs-container" id="osx">
	<div class="row news">
	  <div class="col-xs-12 col-md-12">
	    <div>
	      <div class="newstitle" style="float: left; text-align: left;">{% trans %}macOS{% endtrans %}</div>
	    </div>
	    <div style="clear: both;"></div>
	    <div class="newscontent">
	      <p>{% trans %}You can get the demo from the link below, and <a href="buy-{{ locale }}.html">buy on our website</a> the activation code to unlock the full version.{% endtrans %}</p>
	      <p>{% trans %}Built and tested on macOS 10.13.{% endtrans %}</p>
	      <pre>
	      <li class="puce"><a class="extraInfoLink" href="http://gcompris.net/download/qt/macos/gcompris-qt-{{ version }}-Darwin.dmg">GCompris {{ version }}-Darwin</a></li>
	      </pre>
	    </div>
	  </div>
	</div>
      </div>
     
      <div class="container bs-docs-container" id="linux">
	<div class="row news">
	  <div class="col-xs-12 col-md-12">
	    <div>
	      <div class="newstitle" style="float: left; text-align: left;">{% trans %}GNU/Linux{% endtrans %}</div>
	    </div>
	    <div style="clear: both;"></div>
	    <div class="newscontent">
	      <p>{% trans %}We provide standalone packages for GNU/Linux. They should work on any distribution (requires at least linux kernel 3.10, and gstreamer 1.0).{% endtrans %}</p>
	      <pre>
	      <li class="puce"><a class="extraInfoLink" href="http://gcompris.net/download/qt/linux/gcompris-qt-{{ version }}-Linux64.sh">GCompris {{ version }}-Linux 64bit</a></li>
          <li class="puce"><a class="extraInfoLink" href="http://gcompris.net/download/qt/linux/gcompris-qt-{{ version }}-Linux32.sh">GCompris {{ version }}-Linux 32bit</a></li>
          </pre>
          <p>{% trans %}To use it, open a terminal in the folder where you downloaded the installer and run these commands:{% endtrans %}</p>
          <pre>
          <p>chmod u+x gcompris-qt-{{ version }}-Linux64.sh</p>
          <p>./gcompris-qt-{{ version }}-Linux64.sh</p>
	      </pre>
	      <p>{% trans %}Then read the license or press q to skip it, answer yes to the questions, and the software will be installed in a new folder next to the installer.{% endtrans %}</p>
	      <p>{% trans %}Finally, to launch gcompris, go in the new folder, in bin, and double-click on gcompris-qt.sh.{% endtrans %}</p>
	      <p>{% trans %}Note: If your system doesn't have OpenGL 2 support or if it's not working properly, please add the option --software-renderer at the end of the last line of the script gcompris-qt.sh. Another way is to edit the configuration file (in ~/.config/gcompris-qt/gcompris-qt.conf): find the line renderer=auto , replace auto with software and save the file.{% endtrans %}</p>
	    </div>
	  </div>
	</div>
      </div>
      
      
      <div class="container bs-docs-container" id="rpi">
	<div class="row news">
	  <div class="col-xs-12 col-md-12">
	    <div>
	      <div class="newstitle" style="float: left; text-align: left;">{% trans %}Raspberry Pi{% endtrans %}</div>
	    </div>
	    <div style="clear: both;"></div>
	    <div class="newscontent">
	      <p>{% trans %}We provide a standalone package for Raspberry Pi.{% endtrans %} This package is a beta version. It was tested only on Raspberry Pi 3.</p>
	      <pre>
	      <li class="puce"><a class="extraInfoLink" href="http://gcompris.net/download/qt/raspberrypi/gcompris-qt-{{ version }}-Raspberry.sh">GCompris {{ version }} -Raspberry Pi 3 (beta)</a></li>
          </pre>
          <p>{% trans %}To use it, open a terminal in the folder where you downloaded the installer and run these commands:{% endtrans %}</p>
          <pre>
          <p>chmod u+x gcompris-qt-{{ version }}-raspberry-beta.sh</p>
          <p>./gcompris-qt-{{ version }}-raspberry-beta.sh</p>
	      </pre>
	      <p>{% trans %}Then read the license or press q to skip it, answer yes to the questions, and the software will be installed in a new folder next to the installer.{% endtrans %}</p>
	      <p>{% trans %}Finally, to launch gcompris, go in the new folder, in bin, and double-click on gcompris-qt.sh.{% endtrans %}</p>
	    </div>
	  </div>
	</div>
      </div>

      <div class="container bs-docs-container" id="source">
	<div class="row news">
	  <div class="col-xs-12 col-md-12">
	    <div>
	      <div class="newstitle" style="float: left; text-align: left;">{% trans %}Source code{% endtrans %}</div>
	    </div>
	    <div style="clear: both;"></div>
	    <div class="newscontent">
	      <p>{% trans %}The source code is available under the GPLv3 license.{% endtrans %}</p>
	      <pre>
	      <li class="puce"><a class="extraInfoLink" href="http://gcompris.net/download/qt/src/gcompris-qt-{{ version }}.tar.xz">GCompris {{ version }}-source code</a></li>
          </pre>
	    </div>
	  </div>
	</div>
      </div>
      
          <div class="container bs-docs-container">
	<div class="row news">
	  <div class="col-xs-12 col-md-12">
	    <div>
	      <div class="newstitle" style="float: left; text-align: left;">{% trans %}MD5 and GPG{% endtrans %}</div>
	    </div>
	    <div style="clear: both;"></div>
	    <div class="newscontent">
	      <p>{% trans %}To check the integrity of your downloads, you can compare the md5sums with those in this file: <a href="http://gcompris.net/download/qt/md5sums-{{ version }}.txt">MD5SUMS</a>{% endtrans %}</p>
	      <p>{% trans %}The source tarball and the Linux installers are signed with the GPG key from Timothée Giet (public key: {% endtrans %}<a href="https://share.kde.org/index.php/s/YjKzYs1bgDsOo5V">0x63d7264c05687d7e.asc</a>)</p>
	      <pre>
	      <p>{% trans %}sig files:{% endtrans %}</p>
	      <li class="puce"><a class="extraInfoLink" href="http://gcompris.net/download/qt/src/gcompris-qt-{{ version }}.tar.xz.sig">GCompris {{ version }}-source code</a></li>
	      <li class="puce"><a class="extraInfoLink" href="http://gcompris.net/download/qt/linux/gcompris-qt-{{ version }}-Linux64.sh.sig">GCompris {{ version }}-Linux 64bit</a></li>
          <li class="puce"><a class="extraInfoLink" href="http://gcompris.net/download/qt/linux/gcompris-qt-{{ version }}-Linux32.sh.sig">GCompris {{ version }}-Linux 32bit</a></li>
          </pre>
	    </div>
	  </div>
	</div>
      </div>
    
    </div>
  </div>
</div>
{% endblock %}
 
