{% extends "template/base.html" %}
{% set page = 'download_macosx' %}
{% block content %}
<div class="container bs-docs-container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="row">
	<img class="projectImg" alt="Large GCompris Logo" src="largeGComprisLogo.png"/>
	<b>Warning: GCompris does not run on Mavericks. We are doing a
	port in Qt Quick of GCompris to address desktop and tablet
	users. A beta version that runs on Mavericks is available at
	the bottom of this page.</b>
	<a id="downloadButton" href='http://gcompris.net/download/gcompris-13.11_intel.dmg'>
	  <img alt="{% trans %}Download GCompris{% endtrans %}" src="downloadGCompris.png" style="position: absolute; top: -10px; left: -10px;">
	  <span class="downloadText">{% trans %}Download GCompris{% endtrans %}</span>
	  <span id="downloadDetails" style="font-size: 12px; color: white;">Version 13.11 <b>Snow Leopard to Mountain Lion</b></span>
	  <span id="downloadOS"></span>
	</a>
      </div>
      <div class="row">
	<a id="downloadButton" href='http://gcompris.net/download/gcompris-12.05_intel.dmg'>
	  <img alt="{% trans %}Download GCompris{% endtrans %}" src="downloadGCompris.png" style="position: absolute; top: -10px; left: -10px;">
	  <span class="downloadText">{% trans %}Download GCompris{% endtrans %}</span>
	  <span id="downloadDetails" style="font-size: 12px; color: white;">{% trans %}Version 12.05{% endtrans %} <b>Tiger, Leopard</b></span>
	  <span id="downloadOS"></span>
	</a>
      </div>
      <div class="row">
	<p style="margin-top:2em">A beta preview of the work in progress rewrite of GCompris in Qt Quick.</p>
	<a id="downloadButton" href='http://gcompris.net/download/beta/GCompris-qt-0.26_intel.dmg'>
	  <img alt="{% trans %}Download GCompris{% endtrans %}" src="downloadGCompris.png" style="position: absolute; top: -10px; left: -10px;">
	  <span class="downloadText">{% trans %}Download GCompris{% endtrans %}</span>
	  <span id="downloadDetails" style="font-size: 12px; color: white;">{% trans %}Version Qt 0.26{% endtrans %} <b>Snow Leopard and beyond</b></span>
	  <span id="downloadOS"></span>
	</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
