{% extends "template/base.html" %}
{% import "template/social.html" as social %}
{% set page = 'index' %}
{% set title = _('GCompris Educational Software') %}
{% block head %}
    {{ super() }}
    <script type="text/javaScript">
      window.onload = function()
      {
        var winarch = "win32-gcc";
        if ( platform.os.architecture = 64){
            winarch = "win64-gcc";
        }
        var linarch = "Linux32";
        if ( platform.os.architecture = 64){
            linarch = "Linux64";
        }
        windowsURL = "downloads{{ suffix }}.html#windows";
        macURL = "https://itunes.apple.com/us/app/gcompris-educational-game/id1019161041";
        linuxURL = "downloads{{ suffix }}.html#linux";
        androidURL = "downloads{{ suffix }}.html#android";
        iOSURL = "https://itunes.apple.com/us/app/gcompris-educational-game/id1020904808";
        if ( (/^Windows/).test(platform.os.family)) {
          document.getElementById("downloadButton").href = windowsURL;
          document.getElementById("downloadOS").innerHTML = "Windows";
          document.getElementById("downloadButtonImg").src = "downloadGCompris.png";
          document.getElementById("downloadDetails").innterHTML = "{% trans %}Version {{version}}{% endtrans %}";
          document.getElementById("otherDownloadOS0Link").href = androidURL;
          document.getElementById("otherDownloadOS0Link").innerHTML = "Android";
          document.getElementById("otherDownloadOS1Link").href = macURL;
          document.getElementById("otherDownloadOS1Link").innerHTML = "MacOSX";
          document.getElementById("otherDownloadOS2Link").href = iOSURL;
          document.getElementById("otherDownloadOS2Link").innerHTML = "iPad";
          document.getElementById("otherDownloadOS3Link").href = linuxURL;
          document.getElementById("otherDownloadOS3Link").innerHTML = "Linux";
        } else if ( (/(Mac|OS X)/).test(platform.os.family)) {
          document.getElementById("downloadButton").href = "macappstore://itunes.apple.com/us/app/id1019161041";
          document.getElementById("downloadOS").innerHTML = "MacOSX";
          document.getElementById("downloadButtonImg").src = "downloadGCompris.png";
          document.getElementById("downloadDetails").innterHTML = "";
          document.getElementById("otherDownloadOS0Link").href = iOSURL;
          document.getElementById("otherDownloadOS0Link").innerHTML = "iPad";
          document.getElementById("otherDownloadOS1Link").href = androidURL;
          document.getElementById("otherDownloadOS1Link").innerHTML = "Android";
          document.getElementById("otherDownloadOS2Link").href = windowsURL;
          document.getElementById("otherDownloadOS2Link").innerHTML = "Windows";
          document.getElementById("otherDownloadOS3Link").href = linuxURL;
          document.getElementById("otherDownloadOS3Link").innerHTML = "Linux";
        } else if ( (/^Android/).test(platform.os.family)) {
          document.getElementById("downloadButton").href = androidURL;
          document.getElementById("downloadOS").innerHTML = "Android";
          document.getElementById("downloadButtonImg").src = "downloadAndroid.png";
          document.getElementById("downloadDetails").innterHTML = "";
          document.getElementById("otherDownloadOS0Link").href = windowsURL;
          document.getElementById("otherDownloadOS0Link").innerHTML = "Windows";
          document.getElementById("otherDownloadOS1Link").href = macURL;
          document.getElementById("otherDownloadOS1Link").innerHTML = "MacOSX";
          document.getElementById("otherDownloadOS2Link").href = iOSURL;
          document.getElementById("otherDownloadOS2Link").innerHTML = "iPad";
          document.getElementById("otherDownloadOS3Link").href = linuxURL;
          document.getElementById("otherDownloadOS3Link").innerHTML = "Linux";
        } else if ( (/^iOS/).test(platform.os.family)) {
          document.getElementById("downloadButton").href = iOSURL;
          document.getElementById("downloadOS").innerHTML = "iPAD / iPhone";
          document.getElementById("downloadButtonImg").src = "downloadiOS.png";
          document.getElementById("downloadDetails").innterHTML = "";
          document.getElementById("otherDownloadOS0Link").href = windowsURL;
          document.getElementById("otherDownloadOS0Link").innerHTML = "Windows";
          document.getElementById("otherDownloadOS1Link").href = macURL;
          document.getElementById("otherDownloadOS1Link").innerHTML = "MacOSX";
          document.getElementById("otherDownloadOS2Link").href = iOSURL;
          document.getElementById("otherDownloadOS2Link").innerHTML = "iPad";
          document.getElementById("otherDownloadOS3Link").href = linuxURL;
          document.getElementById("otherDownloadOS3Link").innerHTML = "Linux";
        } else {
          document.getElementById("downloadButton").href = linuxURL;
          document.getElementById("downloadOS").innerHTML = "Linux";
          document.getElementById("downloadButtonImg").src = "downloadGCompris.png";
          document.getElementById("downloadDetails").innterHTML = "{% trans %}Version {{version}}{% endtrans %}";
          document.getElementById("otherDownloadOS0Link").href = androidURL;
          document.getElementById("otherDownloadOS0Link").innerHTML = "Android";
          document.getElementById("otherDownloadOS1Link").href = windowsURL;
          document.getElementById("otherDownloadOS1Link").innerHTML = "Windows";
          document.getElementById("otherDownloadOS2Link").href = macURL;
          document.getElementById("otherDownloadOS2Link").innerHTML = "MacOSX";
          document.getElementById("otherDownloadOS3Link").href = iOSURL;
          document.getElementById("otherDownloadOS3Link").innerHTML = "iPad";
        }
      }
    </script>
    <script type="text/javascript">
      $(document).ready(function () {
      $('.carousel').carousel({
      interval: 3000
      });
      $('.carousel').carousel('cycle');
      });
</script>
{% endblock %}
{% block content %}
<div class="container bs-docs-container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="row">
	<div style="width: 400px; margin: 0 auto">
	  <a id="downloadButton">
	    <img id="downloadButtonImg" alt="{% trans %}Download GCompris{% endtrans %}" src="empty.png" style="position: absolute; top: -10px; left: -10px;"/>
	    <span class="downloadText">{% trans %}Download GCompris{% endtrans %}</span>
	    <span id="downloadDetails" style="font-size: 12px; color: white;"></span>
	    <span id="downloadOS"></span>
	  </a>
	</div>
      </div>
      <div class="row" style="width: 420px; margin: 0 auto">
	<span><a class="extraInfoLink" id="otherDownloadOS0Link"></a></span>
	<span><a class="extraInfoLink" id="otherDownloadOS1Link"></a></span>
	<span><a class="extraInfoLink" id="otherDownloadOS2Link"></a></span>
	<span><a class="extraInfoLink" id="otherDownloadOS3Link"></a></span>
	<span><a class="extraInfoLink" href="downloads{{ suffix }}.html">{# notes other platform #}{% trans %}All{% endtrans %}</a></span>
      </div>
      <div class="row" style="margin-top: 10px">
	<div id="carousel" class="carousel slide" style="width: 400px; margin: 0 auto">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel" data-slide-to="1"></li>
	    <li data-target="#carousel" data-slide-to="2"></li>
	    <li data-target="#carousel" data-slide-to="3"></li>
	    <li data-target="#carousel" data-slide-to="4"></li>
	    <li data-target="#carousel" data-slide-to="5"></li>
	    <li data-target="#carousel" data-slide-to="6"></li>
	    <li data-target="#carousel" data-slide-to="7"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	    <div class="item active">
	      <img src="screenshots_qt/small/erase.png" alt="screenshot clic or tap">
	      <div class="carousel-caption">
		<h3 class="carousel-text">{{ 'Click or tap'|trans }}</h3>
	      </div>
	    </div>
	    <div class="item">
	      <img src="screenshots_qt/small/advanced_colors.png" alt="screenshot colors">
	      <div class="carousel-caption">
		<h3 class="carousel-text">{{ 'Identifying colours'|trans }}</h3>
	      </div>
	    </div>
	    <div class="item">
	      <img src="screenshots_qt/small/clockgame.png" alt="screenshot learning clock">
	      <div class="carousel-caption">
		<h3 class="carousel-text">{{ 'Learning Clock'|trans }}</h3>
	      </div>
	    </div>
	    <div class="item">
	      <img src="screenshots_qt/small/wordsgame.png" alt="screenshot keyboard">
	      <div class="carousel-caption">
		<h3 class="carousel-text">{{ 'Keyboard training'|trans }}</h3>
	      </div>
	    </div>
	    <div class="item">
	      <img src="screenshots_qt/small/magic-hat-plus.png" alt="screenshot addition">
	      <div class="carousel-caption">
		<h3 class="carousel-text">{{ 'Addition'|trans }}</h3>
	      </div>
	    </div>
	    <div class="item">
	      <img src="screenshots_qt/small/watercycle.png" alt="screenshot watercycle">
	      <div class="carousel-caption">
		<h3 class="carousel-text">{{ 'Watercycle'|trans }}</h3>
	      </div>
	    </div>
	    <div class="item">
	      <img src="screenshots_qt/small/chess_partyend.png" alt="screenshot chess">
	      <div class="carousel-caption">
		<h3 class="carousel-text">{{ 'Chess'|trans }}</h3>
	      </div>
	    </div>
	    <div class="item">
	      <img src="screenshots_qt/small/click_on_letter.png" alt="screenshot click on a lower case letter">
	      <div class="carousel-caption">
		<h3 class="carousel-text">{{ 'Click on a lowercase letter'|trans }}</h3>
	      </div>
	    </div>
	  </div>
	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel" data-slide="prev">
	    <span class="icon-prev"></span>
	  </a>
	  <a class="right carousel-control" href="#carousel" data-slide="next">
	    <span class="icon-next"></span>
	  </a>
	  <a class="extraInfoLink" href="screenshots{{ suffix }}.html">{% trans %}View all screenshots{% endtrans %}</a>
	</div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 news">
      <img class="indexProjectImg" alt="Large GCompris Logo" src="middleGComprisLogo.png"/>
      <h1 class="bigtitle">GCompris</h1>{{ social.block(locale) }}
      <div class="projectDescription"><p>{% trans %}GCompris is a high quality educational software suite, including a large number of activities for children aged 2 to 10.{% endtrans %}</p>
	<p>{% trans %}Some of the activities are game orientated, but nonetheless still educational.{% endtrans %}</p>
	<p>{% trans %}Here is the list of activity categories with some examples:{% endtrans %}</p>
	<ul>
	  <li class="puce">{% trans %}computer discovery: keyboard, mouse, touchscreen ...{% endtrans %}</li>
	  <li class="puce">{% trans %}reading: letters, words, reading practice, typing text ...{% endtrans %}</li>
	  <li class="puce">{% trans %}arithmetic: numbers, operations, table memory, enumeration, double entry table ...{% endtrans %}</li>
	  <li class="puce">{% trans %}science: the canal lock, the water cycle, renewable energy ...{% endtrans %}</li>
	  <li class="puce">{% trans %}geography: countries, regions, culture ...{% endtrans %}</li>
	  <li class="puce">{% trans %}games: chess, memory, align 4, hangman, tic-tac-toe ...{% endtrans %}</li>
	  <li class="puce">{% trans %}other: colors, shapes, Braille, learn to tell time ...{% endtrans %}</li>
	</ul>
	<p>{% trans %}Currently GCompris offers more than 100 activities, and more are being developed. GCompris is free software, it means that you can adapt it to your own needs, improve it, and most importantly share it with children everywhere.{% endtrans %}</p>
	<p>{% trans %}The GCompris project is hosted and developed by <a target="_blank" rel="noopener" href="https://www.kde.org/">the KDE community</a>.{% endtrans %}</p>
      </div>
    </div>
  </div>
</div>
<hr class="featurette-divider"/>
<a href="http://www.gcompris.net/feed-{{ locale }}.xml"><img class="rssIcons" src="images/rss-gcompris-48.png"></a>
<h1 class="bigtitle2">{% trans %}Latest news{% endtrans %}</h1>
{% for onenews in news %}
  {%- if loop.index <= 2 %}{{ onenews }}{% endif %}
{% endfor %}
<a class="extraInfoLink" href="news{{ suffix }}.html">{% trans %}All the news{% endtrans %}</a>
{% endblock %}
