<html>
<body>
<h2 style="text-align: center;">PRIVACY POLICY</h2> 
<p>This privacy policy governs your use of the software application GCompris ('Application') that was created by Timothee Giet. The Application is an educational game for children 2 to 10.</p> 
<p><strong>The Application does not request and does not record any user provided information</strong></p> 
<p><strong>The Application does not collect information automatically.</strong></p>
<p>Contact us</p> 
<p>If you have any questions regarding privacy while using the Application, or have questions about our practices, please contact us via email at sales@gcompris.net</p>
</body>
</html>
