<html>
<body>
<h2 style="text-align: center;">PRIVACY POLICY</h2> 
<p>This privacy policy governs your use of the software application GCompris ('Application') for mobile devices that was created by Bruno Coudoin. The Application is an educational game for children 2 to 10.</p> 
<p><strong>The Application does not request and does not record any user provided information</strong></p> 
<p><strong>The Application does not collect information automatically.</strong></p> 
<p><strong>If you purchase the Application from Google or Apple, it shares with Bruno Coudoin an anonymous information about your purchase. This includes only a purchase number and your country. This number can be use for any claim you may have about your purchase.</strong></p> 
<p>Contact us</p> 
<p>If you have any questions regarding privacy while using the Application, or have questions about our practices, please contact us via email at bruno.coudoin@gcompris.net</p>
</body>
</html>
