{% set newsFolder = "https://gcompris.net/news/" %}
{% block onenews %}
<div id="{{ newsDate }}" class="col-xs-12 col-md-12">
  <div class="row news">
    <div class="col-xs-12 col-md-12">
      <div>
      <div style="float: right;">
	<a href="#{{ newsDate }}" style="color: black" aria-label="News {{ newsDate }}">
	  <span class="glyphicon glyphicon-share"></span>
	</a>
      </div>
      {% if direction == 'ltr' %}
      <div class="newstitle" style="float: left; text-align: left;"><a href= "https://gcompris.net/news/{{ newsDate }}-{{ locale }}.html">{{ title }}</a></div>
      <div class="newsdate" style="float: right; text-align: right;">{{ newsDate }}&nbsp;</div>
      {% else %}
      <div class="newsdate" style="float: right; text-align: right;">{{ newsDate }}&nbsp;</div>
      <div class="newstitle" style="float: right; text-align: left;"><a href= "https://gcompris.net/news/{{ newsDate }}-{{ locale }}.html">{{ title }}</a></div>
      {% endif %}
      </div>
      <div style="clear: both;"></div>
      <div class="newscontent">{% block content %}{% endblock %}
	<div>{% block longcontent %}{% endblock %}</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
