<div id="{{ screenshot.name }}" class=".screenshotCard" data-section="{{ screenshot.section }}">
    <div class="col-xs-12 news">
    <div class="screenshotContainer" style="position: relative;">
      <div style="float: right;">
	<a href="#{{ screenshot.name }}" style="color: #4f4f4f">
	  <span class="glyphicon glyphicon-share"></span>
	</a>
      </div>
        <div class="newstitle screenshotInfo">{{ screenshot.title }}</div>
        <div class='screenshotLeftSide'>
        {% if screenshot.icon %}
            {% if screenshot.name != 'root' %}
          <img class='screenshotIcon' src='boardicons/{{ screenshot.icon }}' alt='icon {{ screenshot.icon }}' loading="lazy"/>
           <img class='screenshotStar' src='boardicons/difficulty_star{{ screenshot.difficulty }}.svg' alt='difficulty level {{ screenshot.difficulty }}' loading="lazy"/>
            {% endif %}
        {% endif %}
        </div>
        <img class='screenshotImg' src='screenshots_qt/small/{{ screenshot.name }}.png' alt='screenshot {{ screenshot.name }}'
             {% if screenshot.name != 'root' %}
             loading="lazy"
             {% endif %}
             />
      <div style="clear: both;"></div>
      <div class='screenshotDivAuthor'>
        <p class="screenshotSection screenshotInfo">{{ screenshot.section }} {{ screenshot.name }}</p>
      {% if screenshot.author %}
        <p class="screenshotAuthor">{{ screenshot.author }}</p>
      {% endif %}
      </div>
      <div style="clear: both;"></div>
    </div>
    <div class="screenshotContainer">
      <div class="newstitle"><b>{% trans %}Description:{% endtrans %}</b> {{ screenshot.description }}</div>
      {% if screenshot.prerequisite %}
        <br/>
        <div><b>{% trans %}Prerequisite:{% endtrans %}</b> {{ screenshot.prerequisite }}</div>
      {% endif %}
      {% if screenshot.goal %}
      <br/>
      <div><b>{% trans %}Goal:{% endtrans %}</b> {{ screenshot.goal }}</div>
      {% endif %}
      {% if screenshot.manual %}
      <br/>
      <div><b>{# notes activity handbook #}{% trans %}Manual:{% endtrans %}</b> {{ screenshot.manual }}</div>
      {% endif %}
      {% if screenshot.credit %}
      <br/>
      <div style="word-break: break-word"><b>{# notes activity thanks to #}{% trans %}Credit:{% endtrans %}</b> {{ screenshot.credit }}</div>
      {% endif %}
    </div>
  </div>
</div>
