{% extends "template/base.html" %}
{% import "template/social.html" as social %}
{% set page = 'screenshots' %}
{% set title = _('Screenshots') + " - GCompris" %}
{% block content %}
<div class="container">
  <h1 class="bigtitle2">{% trans %}Screenshots{% endtrans %}</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 bs-docs-sidebar">
      {{ social.block(locale) }}
      <ul class="nav nav-list bs-docs-sidenav">
	{% for activity in screenshotsmenu %}
          {% if activity.type == 'menu' %}
            <li class="active2">
	      <a href="#{{ activity.name }}"><div class="bs-docs-sidenav-depth{{ activity.depth }}">{{ activity.title }}</div></a>
	    </li>
	  {% endif %}
	{% endfor %}
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
      {% for screenshot in screenshots %}
        {{ screenshot }}
        <p></p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
