<div id="{{ screenshot.name }}">
  {% if screenshot.type != 'menu' %}
    <div class="row screenshot">
  {% else %}
    <div class="row screenshotmenu{{ depth }}">
  {% endif %}
    <div class="screenshotContainer" style="position: relative;">
      <div style="float: right;">
	<a href="#{{ screenshot.name }}" style="color: black">
	  <span class="glyphicon glyphicon-share"></span>
	</a>
      </div>
      {% if screenshot.type != 'menu' %}
        <div class="newstitle">{{ screenshot.title }}</div>
        <img class='screenshotImg' src='screenshots_qt/small/{{ screenshot.name }}.png' alt='screenshot {{ screenshot.name }}'/>
      {% else %}
        <div class="newstitle">{{ screenshot.title }}</div>
      {% endif %}
      {% if screenshot.icon %}
        {% if screenshot.name != 'root' %}
          <img class='screenshotIcon' src='boardicons/{{ screenshot.icon }}' alt='icon {{ screenshot.icon }}'/>
	{% endif %}
      {% endif %}
      {% if screenshot.name != 'root' %}
        <img class='screenshotStar' src='boardicons/difficulty_star{{ screenshot.difficulty }}.svg' alt='difficulty level {{ screenshot.difficulty }}'/>
      {% endif %}
      <div style="clear: both;"></div>
      <div class='screenshotDivAuthor'>
      {% if screenshot.type != 'menu' %}
        <p class="screenshotSection">{{ screenshot.section }} {{ screenshot.name }}</p>
      {% else %}
        <p class="newsdate">{{ screenshot.section }}/{{ screenshot.name }}</p>
      {% endif %}
      {% if screenshot.author %}
        <p class="screenshotAuthor">&#xa0;{{ screenshot.author }}</p>
      {% endif %}
      </div>
      <div style="clear: both;"></div>
    </div>
    <div class="screenshotContainer">
      <div class="newstitle"><b>{% trans %}Description:{% endtrans %}</b> {{ screenshot.description }}</div>
      {% if screenshot.prerequisite %}
        <br/>
        <div><b>{% trans %}Prerequisite:{% endtrans %}</b> {{ screenshot.prerequisite }}</div>
      {% endif %}
      {% if screenshot.goal %}
      <br/>
      <div><b>{% trans %}Goal:{% endtrans %}</b> {{ screenshot.goal }}</div>
      {% endif %}
      {% if screenshot.manual %}
      <br/>
      <div><b>{# notes activity handbook #}{% trans %}Manual:{% endtrans %}</b> {{ screenshot.manual }}</div>
      {% endif %}
      {% if screenshot.credit %}
      <br/>
      <div><b>{# notes activity thanks to #}{% trans %}Credit:{% endtrans %}</b> {{ screenshot.credit }}</div>
      {% endif %}
    </div>
  </div>
</div>
