staticweb:
  stage: build
  image: invent-registry.kde.org/sysadmin/ci-images/staticweb:latest
  tags:
    - Linux
  interruptible: true
  script:
    - make clean update all
    - ./tools/check_updated_news.sh
    - git push -o ci.skip
