#####################################################################
# Miscellaneous configuration
#####################################################################

AddType application/octet-stream .dmg

ErrorDocument 404 /404.html

RewriteEngine on

# ---------- Start WIKI
RewriteRule ^/?wiki(/.*)?$ %{DOCUMENT_ROOT}/mediawiki-1.21.2/index.php [L]

RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
RewriteRule ^/?mediawiki-1.21.2/images/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/([^/]+)/([0-9]+)px-.*$ %{DOCUMENT_ROOT}/mediawiki-1.21.2/thumb.php?f=$1&width=$2 [L,QSA,B]

RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
RewriteRule ^/?mediawiki-1.21.2/images/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/([^/]+)/([0-9]+)px-.*$ %{DOCUMENT_ROOT}/mediawiki-1.21.2/thumb.php?f=$1&width=$2&archived=1 [L,QSA,B]
# ---------- End Wiki

RewriteRule \.git /404.html [L]
RewriteRule ^-ar-$ /index-en.html [R=permanent,L]
RewriteRule ^-br-$ /index-fr.html [R=permanent,L]
RewriteRule ^-da-$ /index-da.html [R=permanent,L]
RewriteRule ^-de-$ /index-de.html [R=permanent,L]
RewriteRule ^-el-$ /index-el.html [R=permanent,L]
RewriteRule ^-en-$ /index-en.html [R=permanent,L]
RewriteRule ^-es-$ /index-es.html [R=permanent,L]
RewriteRule ^-fr-$ /index-fr.html [R=permanent,L]
RewriteRule ^-he-$ /index-en.html [R=permanent,L]
RewriteRule ^-it-$ /index-en.html [R=permanent,L]
RewriteRule ^-nl-$ /index-el.html [R=permanent,L]
RewriteRule ^-nn-$ /index-nn.html [R=permanent,L]
RewriteRule ^-pl-$ /index-pl.html [R=permanent,L]
RewriteRule ^-pt-$ /index-pt-br.html [R=permanent,L]
RewriteRule ^-pt-br-$ /index-pt-br.html [R=permanent,L]
RewriteRule ^-ru-$ /index-ru.html [R=permanent,L]
RewriteRule ^-sk-$ /index-sk.html [R=permanent,L]
RewriteRule ^-sv-$ /index-sv.html [R=permanent,L]
RewriteRule ^-zh-CN-$ /index-zh-TW.html [R=permanent,L]
RewriteRule ^-download-$ /index-en.html [R=permanent,L]
RewriteRule ^-Download-$ /index-en.html [R=permanent,L]
RewriteRule ^-Descargar-$ /index-es.html [R=permanent,L]
RewriteRule ^-Telecharger-$ /index-fr.html [R=permanent,L]
RewriteRule ^-Sur-une-page-$ /screenshots-fr.html [R=permanent,L]

RewriteRule ^(.*)-gnumch-factors /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-bargame /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-clockgame /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-reading /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-play_rhythm /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-magic_hat_minus /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-redraw_symmetrical /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-algorithm /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-mazeInvisible /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-smallnumbers2 /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-details /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-mosaic /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-algebra_by /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-hangman /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-hexagon /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-explore_world_animals /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-braille_fun /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-chess_computer /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-braille_lotto /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-memory_div /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-connect4-2players /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-algebra_minus /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-billard /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-gnumch-equality /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-memory_minus_tux /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-memory_op_group /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-magic_hat_plus /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-searace1player /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-memory /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-maze /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-railroad /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-memory_add_minus_tux /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-scalesboard_weight /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-chess /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-algebra_group /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-readingv /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-guessnumber /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-memory_tux /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-algebra_plus /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-discovery /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-login /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-memory_op_group_tux /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-lang-people /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-gnumch-primes /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-sudoku /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-algebra_guesscount /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-click_on_letter /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-erase_2clic /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-numeration /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-pythontemplate /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-instruments /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-mining /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-maze2DRelative /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-crane /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-lang-nature /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-planegame /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-memory_minus /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-money /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-traffic /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-gletters /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-memory_mult_tux /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-money_back_cents /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-paratrooper /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-chess_partyend /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-explore_world_music /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-braille /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-memory_mult /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-puzzle /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-gnumchmenu /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-colors /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-memory_add_minus_mult_div /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-paintings /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-memory_div_tux /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-piano_composition /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-scalesboard /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-imageid /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-mazeMenu /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-land_safe /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-lang-other /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-draw /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-missing_letter /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-math /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-fun /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-tangram /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-erase /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-algebramenu /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-canal_lock /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-imagename /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-lightsoff /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-geo_country /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-experience /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-geometry /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-photohunter /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-memory_add /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-electric /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-click_on_letter_up /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-money_group /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-money_back /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-money_cents /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-wordsgame /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-penalty /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-play_piano /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-gnumch-multiples /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-chat /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-computer /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-mouse /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-intro_gravity /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-lang /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-anim /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-demineur /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-tuxpaint /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-wordprocessor /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-connect4 /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-babymatch /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-memory_wordnumber /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-maze3D /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-hanoi_real /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-memory_mult_div_tux /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-memory_sound_tux /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-colors_group /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-awele /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-keyboard /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-strategy /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-experimental /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-followline /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-smallnumbers /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-pythontest /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-memory_enumerate /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-lang-object /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-color_mix /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-memory_add_minus_mult_div_tux /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-memory_mult_div /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-enumerate /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-readingh /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-administration /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-redraw /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-braille_alphabets /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-note_names /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-sound_group /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-place_your_satellite /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-miscelaneous /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-watercycle /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-leftright /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-color_mix_light /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-gnumch-inequality /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-ballcatch /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-advanced_colors /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-chronos /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-drawnumber /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-memory_add_tux /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-erase_clic /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-fifteen /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-reversecount /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-explore_farm_animals /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-louis_braille /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-memory_sound /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-searace /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-target /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-chess_movelearn /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-submarine /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-clickanddraw /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-doubleentry /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-geography /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-hanoi /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-babyshapes /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-memory_group /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-superbrain /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-hydroelectric /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-memory_add_minus /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-clickgame /screenshots-$1.html [R=permanent,L]
RewriteRule ^(.*)-melody /screenshots-$1.html [R=permanent,L]

