#####################################################################
# Miscellaneous configuration
#####################################################################

AddType application/octet-stream .dmg
AddDefaultCharset utf-8

ErrorDocument 404 /404.html

RewriteEngine on

RewriteCond %{HTTPS} off
RewriteCond %{REQUEST_URI} !^/data.*
RewriteCond %{REQUEST_URI} !^/download/qt/src.*
RewriteCond %{REQUEST_URI} !^/download/.*7z
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# ---------- Start WIKI
RewriteCond %{HTTPS} !=on
RewriteRule ^/?wiki/(.*) http://%{SERVER_NAME}/wiki/$1 [R,L]

RewriteRule ^/?wiki(/.*)?$ %{DOCUMENT_ROOT}/mediawiki-1.31.0/index.php [L]

RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
RewriteRule ^/?mediawiki-1.31.0/images/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/([^/]+)/([0-9]+)px-.*$ %{DOCU$

RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
RewriteRule ^/?mediawiki-1.31.0/images/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/([^/]+)/([0-9]+)px-.*$
# ---------- End Wiki

RewriteRule \.git /404.html [L]
RewriteRule ^-ar-$ /index-en.html [R=permanent,L]
RewriteRule ^-bg-$ /index-bg.html [R=permanent,L]
RewriteRule ^-br-$ /index-fr.html [R=permanent,L]
RewriteRule ^-cs-$ /index-cs.html [R=permanent,L]
RewriteRule ^-da-$ /index-da.html [R=permanent,L]
RewriteRule ^-de-$ /index-de.html [R=permanent,L]
RewriteRule ^-el-$ /index-el.html [R=permanent,L]
RewriteRule ^-en-$ /index-en.html [R=permanent,L]
RewriteRule ^-eo-$ /index-eo.html [R=permanent,L]
RewriteRule ^-es-$ /index-es.html [R=permanent,L]
RewriteRule ^-fr-$ /index-fr.html [R=permanent,L]
RewriteRule ^-he-$ /index-en.html [R=permanent,L]
RewriteRule ^-it-$ /index-en.html [R=permanent,L]
RewriteRule ^-nl-$ /index-el.html [R=permanent,L]
RewriteRule ^-nn-$ /index-nn.html [R=permanent,L]
RewriteRule ^-pl-$ /index-pl.html [R=permanent,L]
RewriteRule ^-pt-$ /index-pt-br.html [R=permanent,L]
RewriteRule ^-pt-br-$ /index-pt-br.html [R=permanent,L]
RewriteRule ^-ru-$ /index-ru.html [R=permanent,L]
RewriteRule ^-sk-$ /index-sk.html [R=permanent,L]
RewriteRule ^-sv-$ /index-sv.html [R=permanent,L]
RewriteRule ^-sw-$ /index-sw.html [R=permanent,L]
RewriteRule ^-zh-CN-$ /index-zh-TW.html [R=permanent,L]
RewriteRule ^-download-$ /index-en.html [R=permanent,L]
RewriteRule ^-Download-$ /index-en.html [R=permanent,L]
RewriteRule ^-Descargar-$ /index-es.html [R=permanent,L]
RewriteRule ^-Telecharger-$ /index-fr.html [R=permanent,L]
RewriteRule ^-Sur-une-page-$ /screenshots-fr.html [R=permanent,L]

<IfModule mod_headers.c>
Header always set X-FRAME-OPTIONS "DENY"
Header always set X-Content-Type-Options "nosniff"
</IfModule>
