
body {
    background-color: #e7e7e7;
    font-family: Arial;
}
a {
    color: #fd1b1b;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    color: #000000;
    font-size: 30px;
    margin-top: 24px;
}
h1.bigtitle {
    border-bottom: 2px solid #f94343;
    font-family: 'Ruluko', sans-serif;
    font-size: 55px;
    letter-spacing: -0.04em;
    margin-left: -5px;
    margin-top: 10px;
    padding-bottom: 10px;
}
h1.bigtitle2 {
    font-family: 'Ruluko', sans-serif;
    font-size: 55px;
    letter-spacing: -0.04em;
    margin-left: -5px;
    margin-top: 10px;
    padding-bottom: 10px;
}
h2 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 2px;
    margin-top: 10px;
}
.extraInfoLink {
    float: left;
    font-size: 13px;
    padding-right: 40px;
    padding-top: 10px;
}
.extraInfoLink:hover {
    float: left;
    font-size: 13px;
    padding-right: 40px;
    padding-top: 10px;
    text-decoration: underline;
}
#downloadButton {
    background-color: #6fb734;
    border: 1px solid white;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0 0 10px #222222;
    clear: both;
    color: #FFFFFF;
    float: left;
    margin-top: 30px;
    padding: 15px 15px 15px 90px;
    position: relative;
}
#downloadButton:hover {
    text-decoration: none;
    background-color: #84CC48;
}
#downloadDetails {
    color: #FFFFFF;
    padding-left: 3px;
}
.downloadText {
    display: block;
    font-family: "trebuchet MS",Arial,"Sans-Serif";
    font-size: 30px;
    letter-spacing: 0.03em;
    line-height: 32px;
    padding-bottom: 6px;
}
.smallProjectImg {
    float: left;
    padding-left: 7px;
    padding-right: 23px;
}
.projectScreenshot {
    clear: both;
    display: block;
    padding-top: 26px;
    width: 414px;
    height: 189px;
}
.screenshotImg {
    float: left;
    padding-left: 20px;
    width: 400px;
    height: 260px;
}
.projectImg {
    clear: both;
    display: block;
    padding-top: 26px;
    padding-left: 40px;
    padding-right: 40px;
    width: 300px;
    height: 187px;
}
.footer {
    text-align: center;
}
.puce {
  display: list-item;
  list-style-image: url(puce.gif);
  list-style-position: inside;
  text-align: left;
}
.news {
  border: 1px solid #999;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 5px #555;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.newstitle {
    font-weight: bold;
    font-size: 16px;
}
.newsdate {
    color: rgb(153, 153, 153);
    font-size: 12px;
    padding-bottom: 10px;
}
.newscontent {
    border-top: 2px solid #f94343;
    padding-top: 10px;
    text-align: justify;
}
.screenshot1 {
}
.screenshot2 {
    padding-left: 20px;
}
.screenshot3 {
    padding-left: 20px;
}
.screenshot {
  border: 2px solid #999;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 5px #555;
  padding-top: 12px;
  padding-bottom: 12px;
}
.screenshotmenu1 {
  border: 2px solid #999;
  border-radius: 5px;
  background: #ffedd3;
  box-shadow: 0px 0px 5px #555;
}
.screenshotmenu2 {
  border: 2px solid #999;
  border-radius: 5px;
  background: #ffe4bb;
  box-shadow: 0px 0px 5px #555;
}
.screenshotmenu3 {
  border: 2px solid #999;
  border-radius: 5px;
  background: #ffd89c;
  box-shadow: 0px 0px 5px #555;
}
.navbar-header {
}
.active {
  box-shadow: 0px 0px 5px #555;
}
.non-active {
}
.featurette-divider {
    border-color: #FFF;
    box-shadow: 0px 0px 5px #555;
}

.bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
}
.bs-docs-sidenav > li > a {
  color: #000;
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #666;
}
.bs-docs-sidenav > li:first-child > a {
    border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
    border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active2 > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  background-color: #fff;
  border: 1;
  box-shadow: 0px 0px 5px #555;
}
.bs-docs-sidenav > .active2 > a:hover {
    text-decoration: none;
    background-color: #fae33f;
}

.bs-docs-sidenav-depth1 {
  padding-left: 0px;
}
.bs-docs-sidenav-depth2 {
  padding-left: 15px;
}
.bs-docs-sidenav-depth3 {
  padding-left: 30px;
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
  /* Adjust sidenav width */
  .bs-docs-sidenav {
    width: auto;
    margin-top: 20px;
  }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* Sidenav */
  .bs-docs-sidenav {
    width: auto;
    margin-bottom: 20px;
  }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
}
