/*font overrides for Noto Sans Malayalam*/
html {
  font-family: sans-serif, "Noto Sans Malayalam";
}

kbd,
samp {
  font-family: monospace, serif,"Noto Sans Malayalam";
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Noto Sans Malayalam", sans-serif;
}

@font-face {
  font-family: "Noto Sans Malayalam";
  src: url("../fonts/NotoSansMalayalam-Regular.ttf") format("truetype"),
       url('../fonts/notosansmalayalam-regular.woff2') format('woff2'),
       url('../fonts/notosansmalayalam-regular.woff') format('woff');
}

code,
pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", "Noto Sans Malayalam", monospace;
}

/*end of font overrides*/

body {
    background-color: #efefef;
    font-family: Arial, "Noto Sans Malayalam";
}
a {
    color: #e05f0f;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul {
    padding: 0 0 0 0;
}
h1 {
    color: #000000;
    font-size: 30px;
    margin-top: 24px;
}
h1.bigtitle {
    border-bottom: 2px solid #e77935;
    font-family: 'Ruluko', "Noto Sans Malayalam", sans-serif;
    font-size: 55px;
    letter-spacing: -0.04em;
    margin-left: -5px;
    margin-top: 10px;
    padding-bottom: 10px;
}
h1.bigtitle2 {
    font-family: 'Ruluko', "Noto Sans Malayalam", sans-serif;
    font-size: 55px;
    letter-spacing: -0.04em;
    margin-left: -5px;
    margin-top: 10px;
    padding-bottom: 10px;
}
h2 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 2px;
    margin-top: 10px;
}
.extraDlLink {
    display: inline-block;
    font-size: 13px;
    padding-right: 40px;
    padding-top: 10px;
}
.extraInfoLink {
    float: left;
    font-size: 13px;
    padding-right: 40px;
    padding-top: 10px;
}
.extraInfoLink:hover {
    float: left;
    font-size: 13px;
    padding-right: 40px;
    padding-top: 10px;
    text-decoration: underline;
}
.rssIcons {
    float: right;
}

.buttonLine {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.buttonGlobal {
    display: inline-block;
    min-width: 70%;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: bold;
    margin: 1em auto 1em auto;
    padding: 0.5em 2em 0.5em 2em;
    font-family: "trebuchet MS",Arial,"Noto Sans Malayalam", "Sans-Serif";
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.15rem;
    color: #FFF;
    text-decoration: none;
    background: linear-gradient(to right, #D79B35, #E77935);
    border-radius: 0.33em;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
    box-shadow: 0 2px 0px 0px rgba(0,0,0,0.3);   
}

.buttonGlobal:hover {
    filter: brightness(1.2);
    transition: all 0.2s ease-in;
    color: #FFF;
    text-decoration: none;
}

#downloadButton {
    min-width: 70%;
    padding: 1em 2em 1em 2em;
}

#newsButton {
    min-width: 50%;
    background: transparent;
    color: #00A4EB;
    border: 0.2em solid #00A4EB;
    border-radius: 0.33em;
    text-shadow: none;
    box-shadow: none;   
}

#newsButton:hover {
    filter: none;
    background: #00A4EB;
    color: #fff;   
}

#screenshotButton {
    font-size: 1rem;
    min-width: 50%;
    padding: 0.5em 0.5em 0.5em 0.5em;
    background: transparent;
    color: #00A4EB;
    border: none;
    text-shadow: none;
    box-shadow: none;
}

#screenshotButton:hover {
    filter: none;
}

#patreonButton {
    min-width: 50%;
}

.patreoncards {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #e77935;
}
.patronslist {
  text-align: center;
  padding-top: 10px;
  background: #fff;
  box-shadow: 0px 0px 5px #e77935;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px;
}
.smallProjectImg {
    float: left;
    padding-left: 7px;
    padding-right: 23px;
}

.headerLogo {
  background-image: url("gcompris-logo-48.svg");
  background-repeat: no-repeat;
  float: left;
  margin-left: 7px;
  width: 72px;
  height: 48px;
}

.indexProjectImg {
    float: right;
    padding: 3px 0 3px 0;
}
.projectScreenshot {
    clear: both;
    display: block;
    padding-top: 26px;
    width: 414px;
    height: 189px;
}
.screenshotImg {
    float: left;
    padding-left: 100px;
    width: 500px;
    height: 260px;
}
.screenshotStar {
    position: absolute;
    left: 490px;
    top: 10px;
}
.screenshotPay {
    position: absolute;
    left: 480px;
    top: 60px;
}
.screenshotDivAuthor {
    width: 500px;
    padding-bottom: 25px;
}
.screenshotAuthor {
    margin: 0;
    color: rgb(153, 153, 153);
    font-size: 12px;
    float: right;
    text-align: right;
}
.screenshotSection {
    margin: 0;
    color: rgb(153, 153, 153);
    font-size: 12px;
    float: left;
    text-align: left;
}
.screenshotIcon {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
}
.projectImg {
    clear: both;
    display: block;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 164px;
    height: 144px;
}
.footer {
  text-align: center;
  background-color: #4da849;
  color: #ffffff;
}

.footer > a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-top {
  background: #4da849;
  height: 7em;
  margin-top: 2em;
  margin-bottom: 0em;
  clip-path: url("#clip-footer");
}

.puce {
  display: list-item;
  list-style-image: url(puce.gif);
  list-style: disc outside none;
  margin-left: 14px;
}
.news {
  border: 1px solid #f8f8f8;
  background: #fff;
  box-shadow: 1px 1px 1px #888;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.newstitle {
    font-weight: bold;
    font-size: 16px;
}
.newsdate {
    color: rgb(153, 153, 153);
    font-size: 12px;
    padding-bottom: 10px;
}
.newscontent {
    border-top: 2px solid #e77935;
    padding-top: 10px;
    text-align: justify;
}
.screenshot1 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.screenshot2 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.screenshot3 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.screenshot {
  border: 1px solid #f8f8f8;
  background: #fff;
  box-shadow: 1px 1px 1px #888;
  padding-top: 12px;
  padding-bottom: 12px;
}
.screenshotmenu1 {
  border: 2px solid #999;
  border-radius: 5px;
  background: #ffedd3;
  box-shadow: 0px 0px 5px #555;
}
.screenshotmenu2 {
  border: 2px solid #999;
  border-radius: 5px;
  background: #ffe4bb;
  box-shadow: 0px 0px 5px #555;
}
.screenshotmenu3 {
  border: 2px solid #999;
  border-radius: 5px;
  background: #ffd89c;
  box-shadow: 0px 0px 5px #555;
}

.navbar {
  position: relative;
  z-index: 1000;
  min-height: 50px;
  margin-bottom: 0;
  border: 0px solid transparent;
}

.navbar-header {
}

.navbar-default {
  background-color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #00A4EB;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e77935;
  background-color: #fff;
}

.navbar-default .navbar-nav > .active {
  border-bottom: 3px solid #e77935;
}

.navbar-default .navbar-nav > .non-active {
  border-bottom: 3px solid #ffffff;
}

.navbar-default .navbar-nav > .non-active:hover {
  border-bottom: 3px solid #00A4EB;
}

.dropdown-menu > li > a {
    color: #777777;
}

.dropdown-menu > li > a:hover {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #00A4EB;
}

.navbar-toggle {
  border-width: 2px;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #00A4EB;
  border-bottom-color: #00A4EB;
}

.navbar-collapse {
  max-height: none;
}

.hero-container {
  margin-bottom: 20px;
}

.main-page-container {
  margin-top: -25em;
}

.hero-content {
  margin-bottom: 2em;
}

#hero-bg{
  width: 100%;
  margin: 0;
  height: 30em;
  background: #85D8F6;
}

#hero-bottom {
  background: #EFEFEF;
  width: 100%;
  height: 7em;
  clip-path: url("#clip-footer");
  position: relative;
  top: 23em;
}

#hero-title {
  background: url("images/gcompris-logo-full.svg")no-repeat;
  background-size: contain;
  height: 15em;
}

#hero-character {
  background: url("images/hero-character.svg")no-repeat;
  background-size: contain;
  background-position: right bottom;
  height: 30em;
}

#hero-character-mobile {
  background: url("images/hero-character.svg")no-repeat;
  background-size: contain;
  background-position: right bottom;
  height: 0;
}

.bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
}
.bs-docs-sidenav > li > a {
  color: #000;
  display: block;
  width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #666;
}
/*.bs-docs-sidenav > li:first-child > a {
    border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
    border-radius: 0 0 6px 6px;
}*/
.bs-docs-sidenav > .active2 > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 1px solid #f8f8f8;
  background: #fff;
  box-shadow: 1px 1px 1px #888;
}
.bs-docs-sidenav > .active2 > a:hover {
    text-decoration: none;
    background-color: #f1b28b;
}

.bs-docs-sidenav-depth1 {
  padding-left: 0px;
}
.bs-docs-sidenav-depth2 {
  padding-left: 15px;
}
.bs-docs-sidenav-depth3 {
  padding-left: 30px;
}

h3.carousel-text {
  background-color: rgba(33, 33, 33, 0.7);
}

.carousel {
  margin-bottom: 3rem;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: -2rem;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.carousel-indicators {
  position: absolute;
  bottom: -4rem;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.carousel-indicators li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  border: 2px solid #00A4EB;
  border-radius: 6px;
  background-color: transparent;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 1px;
  background-color: #00A4EB;
}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  opacity: 1;
  filter: none;
}

.carousel-control.left {
  background-image: none;
  background-repeat: repeat-x;
  filter: none;
}

.carousel-control.right {
  right: 0;
  left: auto;
  background-image: none;
  background-repeat: repeat-x;
  filter: none;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 1;
  filter: none;
}

.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 3em;
  height: 3em;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif,"Noto Sans Malayalam";
}

.carousel-control .icon-prev {
  left: 50%;
}

.carousel-control .icon-next {
  right: 50%;
}

.carousel-control .icon-prev:before {
  content: none;
}

.carousel-control .icon-next:before {
  content: none;
}

.carousel-icon {
  width: 2em;
  height: 2em;
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 991px) {
  /* Adjust sidenav width */
  .bs-docs-sidenav {
    width: auto;
    margin-top: 20px;
  }
  .extraDlLink {
    padding-right: 20px;
  }
  #hero-title {
    height: 10em;  
  }
  #hero-character-mobile {
    height: 15em;
 }
  #hero-character {
    height: 0;
 }
 .carousel-control .icon-prev {
    left: 40%;
 }

 .carousel-control .icon-next {
    right: 40%;
 }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* Sidenav */
  .bs-docs-sidenav {
    width: auto;
    margin-bottom: 20px;
  }
  .extraDlLink {
    padding-right: 20px;
  }
  .screenshotImg {
    padding-left: 75px;
    width: 375px;
    height: 195px;
  }
  .screenshotIcon {
    width: 75px;
    height: 75px;
  }
  .screenshotStar {
    position: absolute;
    left: 375px;
    top: 10px;
    width: 45px;
    height: 45px;
  }
  .screenshotPay {
    position: absolute;
    left: 250px;
    top: 50px;
    width: 35px;
    height: 35px;
  }
  .screenshotDivAuthor {
    width: 375px;
  }
  
  #downloadButton {
    min-width: 100%;
  }

  #newsButton {
    min-width: 100%;
  }

  #patreonButton {
    min-width: 100%;
  }
  
  #screenshotButton {
    min-width: 100%;
  }

  #hero-title {
    height: 10em;  
  }
  #hero-character-mobile {
    height: 15em;
 }
  #hero-character {
    height: 0;
 }
}


/* Landscape phones
------------------------- */
@media (max-width: 480px) {
    .screenshotImg {
    padding-left: 50px;
	width: 250px;
	height: 130px;
    }
    .screenshotIcon {
	width: 50px;
	height: 50px;
    }
    .screenshotStar {
	position: absolute;
	left: 250px;
	top: 10px;
	width: 30px;
	height: 30px;
    }
    .screenshotPay {
	position: absolute;
	left: 250px;
	top: 50px;
	width: 23px;
	height: 23px;
    }
    .screenshotDivAuthor {
	width: 200px;
    }
    .screenshotSection {
	font-size: 10px;
    }
    .screenshotAuthor {
	font-size: 10px;
	float: left;
	text-align: left;
    }
    .extraDlLink {
    padding-right: 20px;
    }
}

div.fb-like
{
    top:-5px;
    left:-19px;
}
