{% extends "template/onenews.html" %}
{% set title = 'Release 9.6.1' %}
{% block content %}
<h4>This is a bug fix release that includes the following changes:</h4>
<ul>
<li class="puce">submarine: Reworked it deeply. It had several stability issues. At the same time, improved the graphism a little bit. Fixed major crash in submarine that arrived when the children won.</li>
<li class="puce">click and draw: Fixed, it was not starting at all.</li>
<li class="puce">renewable energy: On some system the wind farm was taking too much CPU.</li>
</ul>
{% endblock %}
