{% extends "template/onenews.html" %}
{% set title = 'Release 12.11' %}
{% block content %}
<p>The GCompris development team is happy to propose you a new version of GCompris numbered <b>12.11</b>. This release includes 13 new activities, probably more than any release of GCompris so far. </p>

<p>GCompris is a popular high quality educational software suite comprising of numerous activities for children aged 2 to 10.</p>

<p>And when we say multi-activities, we really mean a lot.  We now have 136 activities in GCompris!</p>

<p>I would like to give a special thanks to Gnome and Google for their support in allowing us to have two students working three months full time  on GCompris last summer.</p>

<p>Here is a summary of the new activities sorted by contributors:</p>

<h4>Beth Hadley</h4>
<p>
  <li class='puce'>Learn about farm animals, what sounds they make, and interesting facts</li>
  <li class='puce'>Learn about world animals, interesting facts and their location on a map</li>
  <li class='puce'>Learn about the music of the world</li>
  <li class='puce'>Learn the names of the notes, in bass and treble clef, with the help of sounds and colors</li>
  <li class='puce'>An activity to learn how the piano keyboard works, how notes are written on a musical staff and explore music composition by loading and saving your work</li>
  <li class='puce'>Learn to play melodies on the piano keyboard!</li>
  <li class='puce'>Learn to listen to, read, and play musical rhythms</li>
</p>

<h4>Clément Coudoin</h4>
<p>
  <li class='puce'>Geography, new asia map level</li>
</p>

<h4>Peter Albrecht</h4>
<p>
  <li class='puce'>Use the mouse wheel to approach the rock wall an look for gold nuggets</li>
</p>

<h4>Matilda Bernard</h4>
<p>
  <li class='puce'>To understand color mixing</li>
  <li class='puce'>Understanding mixing of colors of light</li>
  <li class='puce'>Introduction to the concept of gravity. Maintain the spaceship in the middle without crashing into the planets or the asteroids</li>
  <li class='puce'>Understanding acceleration due to gravity. Pilot the spaceship towards the green landing area</li>
  <li class='puce'>Understanding effect of mass and distance on orbital velocity</li>
</p>
<h4>Jozef Riha</h4>
<p>
  <li class='puce'>Added Slovak voive set</li>
</p>
<h4>Philip Morris and Julia Wycherley</h4>
<p>
  <li class='puce'>Updated English voices</li>
</p>
<h4>And thanks a lot to our translators</h4>
<p>
  <li class='puce'>Alexandre Franke: French translation</li>
  <li class='puce'>Andrej Žnidaršič: Updated Slovenian translation</li>
  <li class='puce'>Aurimas Černius: Updated Lithuanian translation</li>
  <li class='puce'>Chris Leonard: Updated Russian translation</li>
  <li class='puce'>Christian Kirbach: Updated German translation by Peter Albrecht</li>
  <li class='puce'>Daniel Mustieles: Updated Spanish translation</li>
  <li class='puce'>Dominik Granada: Updated Polish translation</li>
  <li class='puce'>Fran Diéguez: Updated Galician translations</li>
  <li class='puce'>Frederico Goncalves Guimaraes: Updated Brazilian Portuguese translation</li>
  <li class='puce'>Gabor Kelemen: Updated Hungarian translation</li>
  <li class='puce'>Gonçalo Cordeiro: Updated Galician translations</li>
  <li class='puce'>Marek Černocký: Updated Czech translation</li>
  <li class='puce'>Martin Srebotnjak: Updated Slovenian translation</li>
  <li class='puce'>Matej Urbančič: Updated Slovenian translation</li>
  <li class='puce'>Michal Kaukič: Updated slovak translation</li>
  <li class='puce'>Piotr Drąg: Updated Polish translation</li>
  <li class='puce'>Sasi Bhushan Boddepalli: Updated Telugu Translation</li>
  <li class='puce'>Tirumurti Vasudevan: Updated Tamil translation</li>
  <li class='puce'>Yannis Kaskamanidis: Updated Greek translation</li>
  <li class='puce'>Yuri Myasoedov: Updated Russian translation</li>
  <li class='puce'>Мирослав Николић: Updated Serbian translation</li>
</p>
{% endblock %}
