{% extends "template/onenews.html" %}
{% set title = 'Foillseachadh 13.11' %}
{% block content %}
<h4>Na prìomh-fheartan</h4>
<ul>
<li class="puce">Tha cleas ùr san roinn leughaidh a chuireas seachad seataichean dhe dhealbh, teacsa is guth dhan chlann is eacarsaich an cois.
 Gabhaidh seo a-steach mu 1000 dealbh is guth sa Bheurla, Spàinntis, Fraingis is Gàidhlig.
 Fhuair sinn dealbhan is guthan on <a href="http://www.art4apps.org/">phròiseact Art4Apps</a> is gach taing dhaibh airson goireas cho feumail a sholar (fo
CC&nbsp;BY-SA).
Nam bu toil leat taing a thoirt do Art4Apps airson an cuid obrach chruaidh, saoil an toir thu tìodhlac dhaibh air an làrach-lìn aca?</li>

<li class="puce">Ma tha thu airson sùil a thoirt air a' chleas ùr seo, 's urrainn dhut <a href="http://gcompris.net/activity/lang">a chluich air loidhne.</a></li>

<li class="puce">Chaidh mòran dhe na cleasan co-cheangailte ri teacsa ath-phrògramachadh gus taic a thoirt ri cànanan a chleachdas ioma-ghrafaichean.
Chaidh seo a bhrosnachadh le sgioba luchd-cleachdaidh na Gàidhlig.</li>

<li class="puce">Chuir sinn smachd air taghadh a' chruth-chlò ann an GCompris ri faidhle rèiteachaidh a' chraicinn.
Gabhaidh cruth-clò eile taghadh a-nis ma dh'atharraicheas tu e a làimh gu fear a tha stàlaichte air an t-siostam agad.
Mar eisimpleir, ann an
boards/skin/babytoy/skin.xml, lorg an loidhne "font
id="gcompris/fontface" name="sans" is cuir "ruluko" an àite "sans".
Tha an cruth-clò <a href="http://www.google.com/fonts/specimen/Ruluko">Ruluko</a> 'ga solar 
le Google fo cheadachas <a href="http://scripts.sil.org/OFL">SIL Open Font License 1.1</a>
is chaidh a dhealbhadh gus a bhith taiceil don fheadhainn a tha ag ionnsachadh leughadh.
Tha sinn an dùil gun gabh an cruth-clò a thaghadh aig ìre an rèiteachadh ann an tionndaidhean ri teachd.</li>
</ul>

<h4>Càraichean air bhugaichean</h4>
<ul>
<li class="puce">On a tha fèill mhòr air seo, tha tionndadh as simplidhe dhen chleas bàta-tumaidh ann a-nis le chiad leibheil as fhasa.
Chaidh gliocasan-sgrìn a chur ris gus nithean a mhìneachadh.</li>

<li class="puce">Chaidh tuisleachadh a chàradh a thachradh às dèidh an ro-ràdh no cleas land_safe fhàgail.</li>

<li class="puce">Mapa na h-Alba ùr le Fòram na Gàidhlig.</li>

<li class="puce">Chaidh luachan nan dath a chàradh sa chleas nan dathan adhartach. Tha <a href="http://gcompris.net/wiki/Color_translation">an duilleag seo</a> ag aithris an seann luach is an luach ùr.</li>

<li class="puce">Tha roghainn ann a-nis gus an leibheil shoirbheachail mu dheireadh a chuimhneachadh air a phrògramachadh le Roopesh Shenoy.
Leis an roghainn seo, ma thèid pàiste a-steach do chleas, thèid an leibheil mu dheireadh a bha soirbheachail a thoirt dha.</li>

<li class="puce">Mapaichean cruinn-eòlais ùra airson Aimeireaga Mheadhanaich is Roinn a' Chuain Sèimh le GunChleoc</li>

<li class="puce">Liosta nam facal neo-eisimeileach airson nan cleasan leughaidh le GunChleoc</li>

<li class="puce">Cluinnear guth an ro-ràdh a-nis nuair a nithear briogadh air a' chobhair.</li>

<li class="puce">Chaidh buga a chàradh a dh'adhbharaicheadh nach robh clàr-taice na rianachd ri làimh</li>

<h4>Eadar-theangachaidhean</h4>

Ùrachadh air a' Phortagailis Bhraisileach, Breatnais, Seacais, Danmhairgis, Fraingis, Gailìsis, Gearmailtis, Greugais, Ungairis, Laitbheis, Liotuainis, Pòlainnis, Ruisis, Gàidhlig, Sèirbis, Sèirbis (Laideann), Slòbhacais, Slòbhainis, Spàinntis, Tamilis.

<p>Thoir sùil air staid an eadar-theangachaidh <a href='https://l10n.gnome.org/module/gcompris/#master'>an-seo</a>.</p>
</ul>
{% endblock %}