{% extends "template/onenews.html" %}
{% set title = 'GCompris clone on Android' %}
{% block content %}
<p>A few month ago a developer team made an iOS port of GCompris. They just made another port, this time for Android. It is available under the name <a href="https://play.google.com/store/apps/details?id=name.w.yellowduck&feature=search_result#?t=W251bGwsMSwyLDEsIm5hbWUudy55ZWxsb3dkdWNrIl0.">'yellow duck'</a> on Google Play.</p>

<p>The code is under GPL but you have to ask them to get the source, there is no public repository.</p>

<p>There are a lot of activities, sadly many are not enough polished as we may expect but what this team did is impressive.</p>
{% endblock %}
