{% extends "template/onenews.html" %}
{% set title = 'Làrach-lìn ùr' %}
{% block content %}
<p>Bha an làrach-lìn againn corr is deich bliadhna a dh'aois is feumach air ath-nuadhachadh.</p>
<p>Chan eil an tè ùr stèidhichte air inneal CMS a bharrachd ach chaidh a chòdachadh ann am python le <a href='http://jinja.pocoo.org/'>inneal theamplaidean jinja2</a> is thèid a ghintinn gu stadaigeach.</p>
<p>Thèid an làrach-lìn a ghintinn nuair a choimheadas tu oirre a-nis, a' gabhail a-steach duilleagan nan glacaidhean-sgrìn. Na tha cudromach dhuinn, 's e gun stiùirich sinn eadar-theangachadh na làraich ùire le faidhlichean po mar a nì sinn leis a' chòd aig GCompris fhèin agus le sin bi e nas fhasa don luchd eadar-theangachaidh an làrach-lìn ionadaileadh.</p>
<p>Lorgaidh sibh bun-tùs na làraich-lìn <a href='https://github.com/bdoin/GCompris-site'>air github an-seo</a>.</p>
{% endblock %}
