{% extends "template/onenews.html" %}
{% set title = 'Aidez nous à financer de nouveaux graphismes' %}
{% set withlongcontent = 0 %}
{% block content %}
<p>Nous lançons une campagne de <a href=http://igg.me/at/gcompris-unified-graphics>financement participatif sur IndieGoGo</a> dans l'objectif de créer des nouveaux graphismes unifiés.</p>

<p>Actuellement, les graphismes sont l'un des points faibles, car ils furent principalement assemblés par les développeurs à base d'éléments graphiques libres divers, ou viennent de contributions ponctuelles d'artistes.</p>

<p>Pour résoudre ce problème, nous avons trouvé Timothée Giet, un graphiste talentueux intéressé pour travailler sur une refonte complète des graphismes. Il est un contributeur de logiciel libre de longue date, membre actif de l'équipe du logiciel de dessin Krita et de la communauté KDE.</p>

<p>Merci de nous aider en <a href=http://igg.me/at/gcompris-unified-graphics>participant à cette campagne de financement</a>.</p>
{% endblock %}
