{% extends "template/onenews.html" %}
{% set title = 'GCompris au Capitole du Libre 2014' %}
{% set withlongcontent = 0 %}
{% block content %}
<p>GCompris sera présent au prochain <a href="http://2014.capitoledulibre.org/programme/">Capitole du Libre</a> les 15 et 16 novembre avec une conférence et un atelier.</p>

<p>Au menu de cette année, une conférence samedi 15 nov, 13:30 – 14:20 : <a href="http://2014.capitoledulibre.org/programme/presentation/113/">GCompris passe à Qt Quick avec l'aide de KDE.</a></p>

<p>Et un atelier dimanche 16 nov, 14:00 – 17:00 <a href="http://2014.capitoledulibre.org/programme/presentation/114/">Développer une activité pédagogique dans GCompris avec Qt Quick.</a></p>

<p>Pour l'atelier, vous pouvez déjà <a href="http://2014.capitoledulibre.org/subscribe/presentation/114/">vous inscrire.</a></p>

<p>Ce sera l'occasion de présenter les raisons qui nous ont amenées à se lancer dans le projet fou de re-coder GCompris en Qt Quick. Pour ceux qui veulent aller plus loin, l'atelier vous permettra de vous lancer dans l'écriture d'une activité et ainsi participer au développement.</p>

<p>Au delà de GCompris, la programmation du Capitole du Libre est comme d'habitude vraiment très large, l'événement à ne pas rater.</p>

<p>Au plaisir de vous y retrouver.</p>

<p>Bruno.</p>
{% endblock %}
