{% extends "template/onenews.html" %}
{% set title = 'Global Learning XPRIZE' %}
{% set withlongcontent = 0 %}
{% block content %}
<h4>Be a part of bringing reading, writing, and arithmetic to 250 million kids. </h4>
<img src='news/xprize.jpg'
     alt='picture of an african girl with a tablet'
     style='float: right; padding-left: 10px; cursor: pointer;'
     class='col-xs-12 col-md-4'
     />
<p>XPRIZE has launched the Global Learning XPRIZE to incentivize teams to create tablet-based Open Source software that will teach a child to read, write, and perform arithmetic, fully autonomously. The impact of this technology is to bring literacy to over 250 million children around the world. <a href='http://igg.me/at/learningxprize/x/8752658'>Give a child the gift of literacy.</a><p/>

<p>Do you think GCompris has something to bring and should participate. Do you have ideas on how to reach this goal? Join the GCompris developer mailing list and tell us, we need your feedback, we need you.</p>
{%endblock %}
