{% extends "template/onenews.html" %}
{% set title = 'GCompris\'s future' %}
{% set withlongcontent = 1 %}
{% block content %}
<p>Tha mi air a bhith gu sònraichte sàmhach fad mìosan a-nis. Chan e sanas a th' ann nach biodh ùidh agam sa phròiseact seo tuilleadh ach an caochladh gus an fhìrinn innse.</p>

<p>Mar a shaouldeadh tu, tha iomadh cleachdaiche air fhaighneachd dhuinn gun dèan sinn tionndadh tablaid de GCompris agus bha mi a' feuchainn ri dòighean teicnigeach a mheas gus GCompris a thoirt dhan t-saoghal ud. Gu mì-fhortanach, cha sholair Gtk+, an teicneòlas air a bheil sinn stèidhichte dòigh fhurasta gus ruith air tablaid.</p>
{% endblock %}
{% block longcontent %}
<p>'S e a' phrìomh fheumalachd agam nach bi feum againn ach air aon bhun-tùs airson nan coimpiutairean deasg agus nan tablaidean.</p>

<p>Às dèidh sùil a thoirt air iomadh roghainn, thagh mi <a href='http://qt-project.org/doc/qt-5.0/qtquick/qtquick-index.html'>Qt
Quick</a>. Seo cruinneachadh innealan ùr-nodha a tha stèidhichte air cànan mìneachaidh ùr-ghnàthach air a bheil QML 's a leigeas leat an eadar-aghaidh agus 
javascript a mhìneachadh a thèid ri chèile gus loidsig a' gheama a chòdachadh. Tha e comasach cuideachd a' phàirt dhen aplacaid nach eil ceangailte ri grafaigeachd a leasachadh ann an C++
le Qt.</p>

<p>Tha e stèidhichte air OpenGL scene graph agus 's urrainn dhuinn sgàileadairean agus mirean a chruthachadh mar èifeachdan grafaigeach agus beòthachaidhean rèidhe a dhèanamh.</p>

<p>Chruthaich mi ball-eisimpleir gus an taghadh seo a dhearbhadh agus dhearbh seo dhomh gur e roghainn mhath airson GCcompris a th' ann. Cuideachd, chan eil e ro dhoirbh ionnsachadh agus 's urrainn dhut cleas snasail ùr a chruthachadh le beagan còd. Chan eil feum ach air an dàrna leth de chòd gus an t-aon chleas a chruthachadh le Qt Quick na bha le Python agus gheibh sinn càileachd ghrafaigeach as fhearr.</p>

<p>Tha droch naidheachd ann co-dhiù agus 's e seo nach eil e co-chòrdail ris an tionndadh làithreach de GCompris agus feumaidh sinn a h-uile rud a sgrìobhadh às ùr. Chan urrainn dhuinn cumail ach loidsig agus gleusadh a' gheama cho math ris na teacsaichean, na h-eadar-theangachaidhean, a' ghrafaigeachd agus na fuaimean.</p>

<p>Tha mi air an <a href='https://github.com/bdoin/GCompris-qt'>tionndadh GCompris-qt fhoillseachadh air GitHub</a> agus an <a href='http://gcompris.net/wiki/Developer%27s_corner'>duilleag leasachaidh</a> againn ùrachadh gus beagan stiùireadh a thoirt seachad air mar a thogas tu fhèin e.</p>

<p>Airson an fheadhainn nach eil airson a thrusadh leotha fhèin, nach toir sibh sùil air a' <a href='https://www.youtube.com/watch?v=cHFteAemeLo'>video bheag</a>.</p>

<p>Tha cuspair cudromach eile ann, on nach eil e stèidhichte air Gtk+ tuilleadh, chan fhaod sinn an tionndadh ùr seo òstadh le Gnome mar a b' àbhaist. Chan urrainn dhuinn pàirt a ghabhail ann an Google Summer of Code nar phàirt de Gnome ri linn seo. Chlàraich mi fhìn GCompris airson GsoC am bliadhna agus dh'aontaich
Frederico Gonçalves Guimarães a bhith na cho-oide oifigeil.</p>

<p>Ma tha ùidh agad ann an taic a thoirt do GCompris, mholainn gun ionnsaich thu Qt
Quick agus gum portaich thu cleas no dhà. Seo cothrom math gus teicneolas ùr ionnsachadh fhad 's a bhios tu a' dèanamh rudeigin feumail. Feumaidh mi fhathast gleus a chur air a' phròiseas gus cleas ùr a chruthachadh agus a mhìneachadh ach chan eil e ro thoinnte.</p>

<p>Tha GCompris air Gtk+ air a bhith ann fad 14 bliadhnaichean. Tha e fìor gun toir an imrich  ùine mhath, iomadh bliadhna 's dòcha, ach feumaidh sinn seo a dhèanamh ma tha sinn airson a bhith buntainneach fhathast san àm ri teachd.</p>

<p>Bruno.</p>
{% endblock %}
