{% extends "template/onenews.html" %}
{% set title = 'KDE Randa Meeting' %}
{% set withlongcontent = 0 %}
{% block content %}
<h4>GCompris coding session in the Alps</h4>

GCompris is now officially a KDE application. As such, our development
community is proud to participate for the first time to
the <a href='http://randa-meetings.ch/'>KDE Randa meeting</a>.

This is an excellent opportunity for the GCompris developers to meet
in real life and get in touch with experienced KDE developers.

Please
consider <a href='http://www.kde.org/fundraisers/randameetings2014/'>making
a donation</a> to help us finance this development sprint.  {%
endblock %}
