{% extends "template/onenews.html" %}
{% set title = 'GCompris is now released on Android' %}
{% set withlongcontent = 1 %}
{% block content %}
<p>We are happy to announce that we published on <a href='https://play.google.com/store/apps/details?id=net.gcompris'>Google play store the first public version of GCompris</a>.</p>
{% endblock %}
{% block longcontent %}
<p>One year ago we took the hard decision to fully rewrite GCompris in QtQuick in order to address tablet users while keeping PC compatibility. As you imagine it's a daunting task and something for sure I could not do alone. Thanks to the help of the many contributors who joined the project we have been able to port 86 activities of the 140 of the legacy version in a year. You can look <a href='http://gcompris.net/wiki/Qt_Quick_Migration_status'>at this page to see the status of the port</a>. We can hope to complete the port in one more year. The new version is far from perfect and we continue to polish it everyday but we already provide a better user experience than the legacy version.</p>

<p>I would like to take this opportunity to thanks the KDE community at large who took us under its cute umbrella and allowed us to attract numerous contributors, developers, translators and provided us development support.</p>

<p>Some numbers, within a year GCompris had 1211 commits made by 19 contributors representing 34000 lines of code plus the 8 KDE translation teams who reached 100% (Ukrainian, Swedish, Portuguese, Polish, French, Dutch, Chinese Traditional and Brazilian Portuguese).</p>

<p>As you will see, the full Android version is sold for 6€ now but the price will have to be adjusted to find the optimal one. Software development is a lot of work, paying for GCompris is a good way to reward us and give us the opportunity to sustain the development on our beloved project. Another very easy way to help us is to share the news and rate us on Google play.</p>
{% endblock %}
