{% extends "template/onenews.html" %}
{% set title = 'Release GCompris Qt 0.41' %}
{% set withlongcontent = 0 %}
{% block content %}
<p>The release 0.41 is available on
the <a href="https://play.google.com/store/apps/details?id=net.gcompris">Google
play store</a>.</p>

<p>Since last version (0.34), we added 17 activities making GCompris
going over 100 activities (103 to be precise): algebra_div, babymatch,
babyshapes, braille_fun, chronos, details, geo-country, geography,
hanoi, hanoi_real, imagename, intro_gravity, louis-braille,
simplepaint, superbrain, tic_tac_toe and tic_tac_toe_2players.</p>

<p>Moreover, thanks to KDE translation teams, we have 16 languages
fully supported: Ukrainian, Swedish, Spanish, Slovenian (new),
Portuguese, Polish, Norwegian Nynorsk, Italian, German (new), Galician
(new), French, Dutch, Chinese Traditional, Catalan, British English
and Brazilian Portuguese.</p>

<p>Also, following out indiegogo campaign, Timothée Giet managed to
update all icons (activities + core ones) along with some background
images. You can see the result
in <a href='http://timotheegiet.com/blog/misc/result-of-the-work-on-gcompris-is-ready.html'>this
video</a>.</p>
{% endblock %}
