{% extends "template/onenews.html" %}
{% set title = 'Version 0.41 de GCompris Qt' %}
{% set withlongcontent = 0 %}
{% block content %}
<p>La version 0.41 de GCompris est disponible sur le <a href="https://play.google.com/store/apps/details?id=net.gcompris&hl=fr">Google play store</a>.</p>

<p>Par rapport à la version précédente (0.34), nous avons ajouté 17 nouvelles
  activités faisant dépasser la barre des 100 activités (103 pour être exact) :
  algebra_div (exercice sur la division),
  babymatch (trouver les objets qui correspondent),
  babyshapes (associer un objet à sa forme),
  braille_fun (exercice pour trouver les lettres braille),
  chronos (raconter dans l'ordre une histoire),
  details (trouver dans une image des bouts de celle-ci),
  geo-country (placer les régions des pays),
  geography (placer les pays/continents sur une carte),
  hanoi (modèle simplifié de la tour de Hanoï),
  hanoi_real (la tour de Hanoï),
  imagename (correspondance entre une image et son nom),
  intro_gravity (introduction au concept de la gravité),
  louis-braille (l'histoire de Louis Braille),
  simplepaint (activité de dessin libre),
  superbrain (le mastermind),
  tic_tac_toe (morpion contre l'ordinateur) et tic_tac_toe_2players (morpion avec un ami).</p>

<p>De plus, grâce au travail des équipes de traduction de KDE, GCompris est traduit en 16 langues :
  ukrainien, suédois, espagnol, slovène (nouveau), portugais, polonais,
  norvégien nynorsk, italien, allemand (nouveau), galicien (nouveau),
  français, néerlandais, chinois traditionnel, catalan, anglais britannique et portugais brésilien.</p>

<p>Suite à la campagne de financement participative sur Indiegogo,
  Timothée Giet a pu mettre à jour tous les icônes (des activités et du noyau)
  ainsi que certaines images de fond. Le résultat est visible sur cette
  <a href='http://timotheegiet.com/blog/misc/result-of-the-work-on-gcompris-is-ready.html'>vidéo</a>.</p>
{% endblock %}
