{% extends "template/onenews.html" %}
{% set title = 'Выпуск GCompris Qt 0.61' %}
{% set withlongcontent = 0 %}
{% block content %}

<img src='news/images/r0.61-small.png'
     alt='screenshots of the new activities in version 0.61'
     style='float: right; width: 383px; padding-left: 10px; cursor: pointer;'
     onclick="window.open('news/images/r0.61.png')"/>

<p>7 месяцаў пасля мы маем гонар абвесціць новую версію Gompris 0.61.</p>

<p>Адна важная змена на камерцыйным баку GCompris. <b>На змену Bruno
Coudoin прыйшоў Timothée Giet у якасці камерцыйнага
дырэктара</b>. Timothée ёсць мастаком у графіцы з доўгім спісам
унёскаў у GCompris ды ў супольнасць KDE. Пасля шаснаццаці гадоў
працяглай распрацоўкі GCompris, Bruno жадае саступіць магчымасць
новай камандзе кіраваць праект наперад. Цяпер,
увесь продаж ідзе Timothée, і ён адказны за камерцыйную
падтрымку. Умовы ліцэнзіі не цярпелі зменаў, як і працэс
распрацоўкі, які па-ранейшаму належыць суполцы KDE
(Johnny Jazeix як найбольш актыўны ўдзельнік).</p>

<p>Новыя практыкаванні:</p>
<li class="puce">Просты тэкставы рэдактар (baby_word_processor by Bruno
Coudoin), гэтае практыкаванне не даступнае на мабільных платформах з-за
асаблівасцяў віртуальных клавіятур: калі мы карыстаем толькі рэальную калівіятуру,
то не прымяняюцца стылі, а калі толькі віртуальную - мы пазбаўляемся 
магчымасці перасоўвацца па тэксце, вылучаць яго...</li>
<li class="puce">Танграм (by Bruno Coudoin). Гульня пачынаецца з вельмі простага ўзроўню,
каб пакрысе паказаць усе канцэпцыі, а напрыканцы вынікае
ў сапраўдны танграм.</li>
<li class="puce">Даведвацца пра манументы ў свеце (explore_monuments
by Ayush Agrawal during SoK).</li>
<li class="puce">Практыкаванне, у якім дзеці размалёўваюць граф так,
каб дзве суседнія ячэйкі былі аднолькавага колеру (graph_coloring by
Akshat Tandon during SoK).</li>
<li class="puce">Кіраваць касмічным караблём для пасадкі на зялёную пляцоўку
(land_safe by Holger Kaelberer).</li>
<li class="puce">Знайсці адрозненні паміж двума малюнкамі
(photo_hunter by Stefan Toncu).</li>

<p>Timothée Giet аднавіў выявы для шахмат, вісельні ды
гарызантальнага/вертыкальнага чытання, разам з лагатыпам gcompris
</p>

<p>Зробленыя шмат невялікіх выпраўленняў/паляпшэнняў (захаванне ды
ўзнаўленне памераў вакна пры запуску, аднаўленне правадніцтваў,
бонусныя выявы/узроўні, дадаццё ўнутраных сбораў звестак для слоўнікавых гульняў, каб
не патрабаваць наяўнасці інтэрнэт-злучэння для запуску GCompris (акрамя
запісаў галасоў, але і яны таксама могуць пастаўляцца разам з праграмай).</p>

<p>У рэчышчы перакладаў мы маем поўную падтрымку 17 моваў:
Беларуская, Ангельская (Брытанія), Партугальская (Бразілія), Каталонская, Каталонская (Валенсійская), спрошчаная Кітайская, Датская, Французская, Галісійская, Італьянская,
Нованарвежская, Польская, Партугальская, Румынская, Іспаская, Шведская,
Украінская, а таксама частковая падтрымка: Брэтонская (88%), традыцыйная Кітайская (97%),
Эстонская (82%), Фінская (74%), Нямецкая (93%), Руская (83%), Славацкая
(76%), Славенская (82%), Турэцкая (82%)</p>

<p>Калі Вы жадаеце дапамагчы, калі ласка, падзяліцеся ў Вашым асяродку весткай пра GCompris.</p>

<p>Архіў з зыходным кодам
 <a href='http://gcompris.net/download/qt/src/gcompris-qt-0.61.tar.xz'>даступны
тут</a> (вітаем стваральнікаў GNU/Linux пакункаў)

<p>Для Android праграма даступная
на <a href="https://play.google.com/store/apps/details?id=net.gcompris">Google
сховішчы</a>.</p>

{% endblock %}
