{% extends "template/onenews.html" %}
{% set title = 'Version GCompris Qt 0.50' %}
{% set withlongcontent = 0 %}
{% block content %}

<p>Je suis heureux d'annoncer que GCompris est maintenant disponible sur l'Apple Store iOS (iPad et iPhone).</p>

<p>Il y a deux ans, j'ai lancé le projet fou de réécriture de GCompris en Qt Quick et fournir une version pour les utilisateurs de mobile. Beaucoup d'entre vous ont rejoint le projet et fait de ce rêve une réalité. Nous avons maintenant un logiciel libre pour les enfants disponibles sur toutes les plateformes majeures et plus important que nous leur donnons la possibilité de choisir un système d'exploitation libre.</p>

<p>Nous avons maintenant un socle logiciel solide, une petite communauté dynamique et presque achevé le portage Gtk +. Il y a encore beaucoup de choses à faire. Je voudrais voir des activités plus innovantes, nous pouvons expérimenter, échanger avec les enseignants et trouver des activités qui les aideront ainsi que les enfants dans leurs apprentissages.</p>

{% endblock %}
