{% extends "template/onenews.html" %}
{% set title = 'GCompris цяпер даступны на Apple iOS Store (iPad ды iPhone)' %}
{% set withlongcontent = 0 %}
{% block content %}

<p>Я рады абвесціць, што GCompris цяпер даступны на Apple iOS сховішчы (iPad ды iPhone).</p>

<p>Два гады назад я неяк прыйшоў да "вар'яцкай" ідэі перапісаць GCompris у Qt Quick і выпусціць версію для мабільных карыстачоў. Шмат хто з Вас далучыўся да праекту і дапамог гэтай мары здзейсніцца. Цяпер мы маем вольную праграму для дзяцей, даступную для ўсіх папулярных платформ, і, што яшчэ важна, мы надалей падтрымліваем вольныя аперацыйныя сістэмы.</p>

<p>Цяпер мы заснавалі цэласную карпарацыю па распрацоўцы праграмнага забеспячэння, непарушную супольнасць, і амаль што скончылі партаванне Gtk+ версіі. Яшчэ багата спраў, што трэба зрабіць. Я буду рады новым вынаходніцкім прапановам, мы можам эксперыментаваць, абменьвацца досведам з настаўнікамі і ствараць практыкаванні, якія будуць дапамагаць ім і дзецям у навучанні.</p>

{% endblock %}
