{% extends "template/onenews.html" %}
{% set title = 'Sortie GCompris Qt 0.80' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='news/images/r0.80-small.png'
     alt='captures d&apos;écran des nouvelles activités de la version 0.80'
     style='float: right; width: 375px; padding-left: 10px; cursor: pointer;'
     onclick="window.open('news/images/r0.80.png')"/>

     
<p>Bonjour,</p>

<p>Nous sommes heureux de vous annoncer la publication de la nouvelle version de GCompris.</p>

<p>Cette nouvelle version contient 6 nouvelles activités :</p>

<li class="puce">une activité de catégorisation où l'enfant doit catégoriser les images selon un thème (par Divyam Madaan)</li>
<li class="puce">une activité où il faut à partir des nombres et différentes opérations proposés trouver un nombre donné (par Rahul Yadav)</li>
<li class="puce">un jeu où l'on doit faire en sorte que l'adversaire place la dernière boule sur une ligne en version contre l’ordinateur (par Utkarsh Tiwari)</li>
<li class="puce">le même jeu mais avec un ami (par Utkarsh Tiwari)</li>
<li class="puce">le jeu de dames contre l'ordinateur (par Johnny Jazeix)</li>
<li class="puce">le jeu de dames avec un ami (par Johnny Jazeix)</li>

<br/>

<p>Nous avons aussi de nouvelles fonctionnalités et améliorations :</p>

<li class="puce">liste de mots pour le polonais par Łukasz Wojniłowicz</li>
<li class="puce">liste de mots pour le suédois par Stefan Asserhäll</li>
<li class="puce">liste de mots pour l'ukrainien by Yuri Chornoivan</li>
<li class="puce">nouveaux icônes</li>
<li class="puce">images mises à jour dans plusieurs activités</li>
<li class="puce">beaucoup de corrections de bugs</li>
<li class="puce">traduction du site internet migrée dans l'infrastructure KDE. La traduction a été ajoutée pour le bélarusse, le catalan, le catalan (Valence), le roumain, le portugais et l'ukrainien.</li>
<li class="puce">pour Windows, les binaires officiels sont maintenant créés avec le compilateur mingw</li>
<li class="puce">GCompris est maintenant partiellement traduit en grec et indien</li>

<p>Vous pouvez trouver cette nouvelle version ici :<br/>

<li class="puce">Android :</li>
<p>La nouvelle version est disponible dans le <a href='https://play.google.com/store/apps/details?id=net.gcompris'>store Android</a></br></p>

<li class="puce">Windows :</li>
<p>Version <a href='http://gcompris.net/download/qt/windows/gcompris-qt-0.80-win32-gcc.exe'>Windows 32bit</a> ou <a href='http://gcompris.net/download/qt/windows/gcompris-qt-0.80-win64-gcc.exe'>Windows 64bit</a></p>

<li class="puce">Linux :</li>
<p>Si votre distribution ne fournit pas un paquet à jour, vous pouvez utiliser un des paquets auto-extractibles ci-dessous. Ils doivent être lancés à partir de la ligne de commande, après avoir ajouté la permission d'exécution sur le fichier (chmod +x file). (les paquets ont été créés sur Centos7 - il se peut qu'ils ne fonctionnent pas sur des distributions avec des bibliothèques systèmes plus anciennes).<br/>
Version <a href='http://gcompris.net/download/qt/linux/gcompris-qt-0.80-Linux32.sh'>Linux 32bit</a> ou <a href='http://gcompris.net/download/qt/linux/gcompris-qt-0.80-Linux64.sh'>Linux 64bit</a></p>

<li class="puce"><a href='http://gcompris.net/download/qt/src/gcompris-qt-0.80.tar.xz'>Code source</a>
</li><br/>

<li class="puce">md5sums :</li>
<p>Pour tous les fichiers: <a href='http://gcompris.net/download/qt/md5sums-0.80.txt'>md5sums</a></p>

<li class="puce">GPG verification :</li>
 L'archive des sources, les installeurs pour windows et linux sont signés. Vous pouvez récupérer la clé public par https ici: <a href='https://share.kde.org/index.php/s/YjKzYs1bgDsOo5V'>0x63d7264c05687d7e.asc</a>.</p>

<br/>
<p>Cette version est complètement traduite en 17 langues grâce au travail de la communauté KDE : biélorusse, anglais britannique, portugais brésilien, catalan, catalan (Valence), néerlandais, français, galicien, italien, norvégien nynorsk, polonais, portugais, roumain, espagnol, suédois, turc, ukrainien. Elle est aussi partiellement traduite en : breton (75%), chinois simplifié (88%), chinois traditionnel (90%), estonien (91%), finnois (63%), allemand (92%), grec (90%), indien (98%), russe (88%), slovaque (88%) et slovène (88%)</p>


<p>Si vous voulez aidez, n'hésitez pas à parler de GCompris dans votre communauté.</p>

<p>Merci à tous, <br/>
Timothée & Johnny </p>


{% endblock %}
