{% extends "template/onenews.html" %}
{% set title = 'Release GCompris Qt 0.81' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='news/images/gcompris360.png'
     alt='gcompris banner'
     style='float: right; padding-left: 10px; cursor: pointer;'
     class='col-xs-12 col-md-4'
     onclick="window.open('news/images/gcompris360.png')"/>

     
<p>We are happy to bring you GCompris 0.81.</p>

<p>This is a bugfix release to correct some issues in previous version.
All GNU/Linux distributions shipping 0.80 should update to 0.81.</p>

<p>Also, we introduce a new "light" version that doesn't require OpenGL to run. This means that it should work on any computer. We provide some special windows packages using this option, and also the standalone installer for Linux 32bit is using this option. In this light version, the transparency gradient on the menu is gone, and we had to adapt a dozen of activities that will look a little different in this mode, but should still be usable.</p>

<p>We also added a new <a href="http://gcompris.net/downloads-en.html">Download page</a> on the website, with instructions for each operating system.</p>

<p>Last but not least, we now have translation for Indonesian, thanks to some very nice contributors who organised a sprint in Indonesia to work on it.</p>

<p>The most important changes in this version are:</p>

<li class="puce">Categorization, fix the "Shape" category</li>
<li class="puce">Categorization, fix the menu layout</li>
<li class="puce">Categorization, display score in expert mode</li>
<li class="puce">Guesscount, fix invalid result</li>
<li class="puce">Add Indonesian locale</li>
<li class="puce">Fix the missing copyright and licence info</li>
<li class="puce">Fix a font issue on windows version</li>
<li class="puce">Add a new minimal version with software rendering (requires Qt 5.8)</li>
<br/>
<p>Activities modified to run with software rendering:</p>
<li class="puce">crane</li>
<li class="puce">categorization</li>
<li class="puce">lang</li>
<li class="puce">hanoi</li>
<li class="puce">tangram</li>
<li class="puce">land_safe</li>
<li class="puce">click_on_letter</li>
<li class="puce">left/right</li>
<li class="puce">hexagon</li>
<li class="puce">magic_hat</li>
<li class="puce">color_mix</li>
<li class="puce">color_mix_light</li>

<br/>

<p>You can find this new version here:<br/>

<li class="puce">Android:</li>
<p>The new version is available in the <a href='https://play.google.com/store/apps/details?id=net.gcompris'>Android store</a><br/></p>

<li class="puce">Windows:</li>
<p><a href='http://gcompris.net/download/qt/windows/gcompris-qt-0.81-win32-gcc.exe'>Windows 32bit</a> or <a href='http://gcompris.net/download/qt/windows/gcompris-qt-0.81-win64-gcc.exe'>Windows 64bit</a> version<br/></p>

<li class="puce">Windows (light version - No OpenGL):</li>
<p><a href='http://gcompris.net/download/qt/windows/gcompris-qt-0.81-win32-NoOpenGL.exe'>Windows 32bit - No OpenGL</a> or <a href='http://gcompris.net/download/qt/windows/gcompris-qt-0.81-win64-NoOpenGL.exe'>Windows 64bit - No OpenGL</a> version<br/></p>

<li class="puce">Linux:</li>
<p>If your distribution doesn't provide an updated package, use one of those standalone installers. They must be launched from command line, after adding executable permission on the file. Check the <a href="http://gcompris.net/downloads-en.html">Download page</a> for more info.<br/>
<a href=' http://gcompris.net/download/qt/linux/gcompris-qt-0.81-Linux32.sh'>Linux 32bit</a> or <a href=' http://gcompris.net/download/qt/linux/gcompris-qt-0.81-Linux64.sh'>Linux 64bit</a> version</p>

<li class="puce"><a href='http://gcompris.net/download/qt/src/gcompris-qt-0.81.tar.xz'>Source code</a></li><br/>

<li class="puce">md5sums :</li>
<p>For all downloads: <a href='http://gcompris.net/download/qt/md5sums-0.81.txt'>md5sums</a></p>

<li class="puce">GPG verification :</li>
 The source tarball, the windows and the linux installers are signed. You can retrieve the public key over https here: <a href='https://share.kde.org/index.php/s/YjKzYs1bgDsOo5V'>0x63d7264c05687d7e.asc</a>.</p>

</p>

<p>Thank you all, <br/>
Timothée & Johnny </p>


{% endblock %}
