{% extends "template/onenews.html" %}
{% set title = 'Выпуск GCompris 0.91' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='news/images/gcompris360.png'
     alt='gcompris banner'
     style='float: right; width: 360px; padding-left: 10px; cursor: pointer;'
     onclick="window.open('news/images/gcompris360.png')"/>

     
<p></p>

<p></p>

<p></p>

<p></p>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<br/>
<p></p>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>


<br/>

<p></p>

<p></p>

<p></p>

<p></p>

<p></p>


{% endblock %}
