{% extends "template/onenews.html" %}
{% set title = 'Випуск GCompris 0.91' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='news/images/gcompris360.png'
     alt='gcompris banner'
     style='float: right; width: 360px; padding-left: 10px; cursor: pointer;'
     onclick="window.open('news/images/gcompris360.png')"/>

     
<p>Привіт,<br />
Ось і GCompris 0.91 — новий випуск із виправленнями певних вад у попередній версії та поліпшенням деяких аспектів роботи програми.</p>

<p>Усім дистрибутивам GNU/Linux, до складу яких включено 0.90, варто оновити версію пакунка до 0.91.</p>

<p>З часу попереднього випуску було зроблено 68 внесків до сховища коду. Повний список змін є надто довгим для цього допису.
Нижче наведено лише резюме змін.</p>

<p>Вправи:</p>
<li class="puce">виправлено текст англійською у декількох вправах</li>
<li class="puce">виправлено розташування результату у декількох вправах</li>
<li class="puce">реалізовано блокування деяких кнопок та елементів керування за потреби</li>
<li class="puce">багато виправлень у звуковому супроводі декількох вправ</li>
<li class="puce">number_sequence (та інші вправи, які засновано на ній), виправлено базове компонування</li>
<li class="puce">оновлено набір даних для clickanddraw, drawnumbers і drawletters</li>
<li class="puce">кран, додано локалізований набір даних</li>
<li class="puce">lightsoff, додано підтримку керування за допомогою клавіатури, інші виправлення</li>
<li class="puce">algorithm, додано підтримку керування за допомогою клавіатури, інші виправлення</li>
<li class="puce">money, виправлено використання місцевих валют</li>
<li class="puce">ballcatch, поліпшено звуковий супровід</li>
<li class="puce">calendar, декілька незначних виправлень</li>
<li class="puce">memory-case-association, виправлено розмір піктограм</li>
<br/>
<p>Інші зміни:</p>
<li class="puce">знову увімкнено звукові ефекти у linux</li>
<li class="puce">поліпшено відтворення звукових ефектів, усунено затримки</li>
<li class="puce">додано підписи до зображень та теґи OARS у appdata</li>
<li class="puce">додано підтримку шотландської гельської до ядра програми і оновлено набори даних для цієї мови</li>
<li class="puce">виправлено розміри деяких пунктів на головній панелі</li>
<li class="puce">вилучено невикористані зображення</li>


<br/>

<p>Отримати цю нову версію ви можете за допомогою <a href="https://gcompris.net/downloads-en.html">нашої сторінки пакунків</a>. Невдовзі ця версія з'явиться у крамницях Play та Windows.</p>

<p>Щодо перекладів, то ми маємо повні переклади 16 мовами: 
британською англійською, 
каталанською, 
валенсійською каталанською, 
традиційною китайською, 
голландською, 
французькою, 
грецькою, 
індонезійською, 
ірландською гельською, 
італійською, 
польською, 
португальською, 
румунською, 
іспанською, 
шведською, 
українською. 
<br />
Також маємо часткову підтримку перекладу 15 мовами: 

норвеською (нюноршк) (97%), 
хінді (96%), 
турецькою (90%), 
шотландською гельською (86%), 
галісійською (86%), 
бразильською португальською (84%), 
білоруською (84%), 
німецькою (81%), 
спрощеною китайською (79%), 
російською (78%), 
естонською (77%), 
словацькою (76%), 
фінською (76%), 
словенською (69%), 
бретонською (65%).</p>

<p>Якщо ви хочете доповнити один із перекладів або виконати переклад ще якоюсь мовою, будь ласка, зв'яжіться із нами.</p>

<p>Крім того, ви можете допомогти, розміщуючи дописи про програму GCompris у вашій спільноті та надсилаючи нам ваші відгуки.</p>

<p>Дякуємо вам усім, <br/>
Timothée і Johnny </p>


{% endblock %}
