{% extends "template/onenews.html" %}
{% set title = 'Release GCompris Qt 0.90' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='news/images/r0.90-small.png'
     alt='nouvelles activités de la version 0.90'
     style='float: right; width: 375px; padding-left: 10px; cursor: pointer;'
     onclick="window.open('news/images/r0.90.png')"/>

     
<p>Bonjour,</p>

<p>Nous sommes heureux de vous annoncer la sortie de GCompris 0.90.</p>

<p>Cette nouvelle version contient 8 nouvelles activités:</p>

<li class="puce"> L'activité Calendrier pour apprendre à l'utiliser (par Amit Sagtani)</li>
<li class="puce"> Une autre activité basée sur Calendrier pour apprendre à effectuer des opérations sur une date (par Amit Sagtani))</li>
<li class="puce"> Une activité pour apprendre le nom des différents membres d'une famille (commencée par Rajdeep Kaur lors d'un GSoC précédent, et complétée par Rudra Nil Basu lors du dernier GSoC)</li>
<li class="puce"> Une autre activité similaire avec des questions sur les membres d'une famille</li>
<li class="puce"> Une extension de l'activité Memory avec les lettres minuscules et majuscules (par Aman Gupta)</li>
<li class="puce"> La même activité en mode deux joueurs (by Aman Gupta)</li>
<li class="puce"> Le port de l'activité Sous-marin de l'ancienne version Gtk+, pour apprendre les bases du fonctionnement d'un sous-marin (par Rudra Nil Basu)</li>
<li class="puce"> L'activité Electronique numérique pour créer un schéma électronique à l'aide des différents composants. Un mode tutoriel permet d'apprendre l'utilisation de chaque composant (démarée par Pulkit Gupta lors du précédent GSoC, et complétée par Rudra Nil Basu)</li>

<br/>
<p>Cette version apporte aussi de nouvelles fonctions, du nouveau contenu et des corrections de bug:</p>

<li class="puce"> Graphismes mis à jour sur plusieurs activités par Timothée Giet</li>
<li class="puce"> Traduction, voix et datasets Irlandais par Séamus Ó Briain</li>
<li class="puce"> De nombreuses corrections d'éléments se superposant sur certaines tailles d'écran</li>
<li class="puce"> Ajout d'un objet Tutorial pour pouvoir ajouter des images aux textes d'introduction</li>
<li class="puce"> Ajout d'un mode facile avec moins de mots dans "Lettre dans quel mot"</li>
<li class="puce"> Ajout de la page License</li>
<li class="puce"> De nombreuses petites corrections de bug</li>


<br/>

<p>Vous pouvez trouver cette nouvelle version <a href="https://gcompris.net/downloads-fr.html">sur la page Téléchargements</a>.</p>

<br/>

<p>Au niveau des traductions, elles sont complètes pour 14 langues: Anglais Britanique, Catalan, Catalan (Valence), Chinois traditionel, Néerlandais, Français, Grec, Indonésien, Italien, Portugais, Roumain, Espagnol, Suédois, Ukrainien; <br/> D'autres langues disposent de traductions incomplètes: Biélorusse (87%), Portugais Brésilien (87%), Breton (65%), Chinois simplifié (80%), Estonien (79%), Finnois (78%), Galicien (87%), Allemand (83%), Hindi (86%), Gaélique Irlandais (99%), Norvégien Nynorsk (86%), Russe (80%), Slovaque (76%), Slovène (70%), Polonais (99%), Turc (93%).</p>

<p>Si vous voulez nous aidez, merci de parler de GCompris autour de vous, et n'hésitez pas à nous envoyer vos commentaires.</p>

<p>Merci à tous, <br/>
Timothée et Johnny </p>


{% endblock %}
