{% extends "template/onenews.html" %}
{% set title = 'Випуск GCompris 0.95' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='news/images/gcompris360.png'
     alt='gcompris banner'
     class='col-xs-12 col-md-4'
     style='float: right; padding-left: 10px; cursor: pointer;'
     onclick="window.open('news/images/gcompris360.png')"/>

     
<p>Привіт,<br />
Ми плануємо оголошення випуску GCompris версії 0.95.</p>

<p>У новій версії реалізовано 7 нових вправ:</p>
<li class="puce">Двійкові лампи: вивчення двійкового запису чисел</li>
<li class="puce">Вправа із залізницею: тренування візуальної пам'яті</li>
<li class="puce">Сонячна система: вивчення відомостей щодо нашої Сонячної системи</li>
<li class="puce">Назви цю ноту: вивчення музичних нот та їхніх назв</li>
<li class="puce">Гра на піаніно: навчання читанню нот за нотним записом</li>
<li class="puce">Відтворення ритму: навчання музичному ритму</li>
<li class="puce">Композиція на піаніно: вивчення композиторського мистецтва запису нот</li>

<br/>

<p>Пакунки цієї нової версії для GNU/Linux та Windows можна знайти на сторінці отримання даних. За декілька днів нова версія стане доступною у крамницях Android та Windows. Пакунок для встановлення на Raspberry Pi буде приготовано на початку 2019 року. Усе ще є проблеми зі створенням нових версій пакунків для MacOS та iOS. Сподіваємося, нам вдасться вирішити їх протягом наступного року.</p>

<p>Щодо перекладів, то ми маємо повні переклади 15 мовами: британською англійською, каталанською, валенсійською каталанською, традиційною китайською, голландською, французькою, галісійською, грецькою, угорською, італійською, малаяламською, португальською, румунською, шведською, українською. 
<br />
Також маємо часткову підтримку перекладу 19 мовами: баскською (78%), білоруською (69%), бразильською португальською (74%), бретонською (54%), спрощеною китайською (69%), естонською (63%), фінською (61%), німецькою (86%), хінді (77%), індонезійською (84%), ірландською гельською (82%), норвезькою (нюноршк) (89%), російською (74%), шотландською гельською (82%), словацькою (62%), словенською (57%), іспанською (95%), польською (94%), турецькою (74%).</p>

<p>Зазвичай, ми постачаємо переклади, які є повними принаймні на 80%. Втім, цього разу рівень деяких перекладів впав до позначки, яка є нижчою за 80%. Ми вирішити зробити виняток для цього випуску і сподіваємося, що наші давні та нові перекладачі невдовзі доповнять ці переклади. Якщо матимемо оновлення перекладів, обов'язково випустимо оновлену версію із оновленими перекладами.
<br/>
Отже, якщо переклад вашою рідною мовою потрапив до списку частково підтримуваних або його ще немає у списку перекладів взагалі, а ви хочете допомогти нам, будь ласка, зв'яжіться із нами для отримання настанов щодо того, як розпочати переклад.</p>

<p>Крім того, ви можете допомогти, розміщуючи дописи про програму GCompris у вашій спільноті та надсилаючи нам ваші відгуки.</p>

<p>Нотатки:</p>
<li class="puce">Зауваження:
-Для GNU/Linux і Windows нами раніше використовувалися два різних пакунки для встановлення у режимах OpenGL та програмного відтворення. Тепер програми для обох режимів відтворення є частиною одного пакунка. Типово, програма намагається скористатися режимом OpenGL. Якщо ж це не вдасться зробити, буде показано повідомлення щодо помилки, а програма продовжить працювати у режимі програмного відтворення. Таке автоматичне перемикання є новою можливістю програми, отже, ймовірно, працює не усюди. Якщо автоматика не спрацює, ви можете вибрати режим програмного відтворення вручну. Для цього слід внести зміни до файла налаштувань (він зберігається за адресою ~/.config/gcompris/gcompris-qt.conf у GNU/Linux і за адресою %LocalAppData%/gcompris/GCompris.conf у Windows). Знайдіть у файлі рядок «renderer=auto» і замініть «auto» на «software», потім збережіть внесені зміни. Нам буде корисно отримати ваш відгук, щоб поліпшити можливості із автоматичного визначення режиму роботи програми.
<br/>
</li>
<li class="puce">Нами помічено проблеми із типовим шрифтом «Andika-R» у малаяламській. Рекомендуємо користувачам малаяламської версії вибрати шрифт Noto-Sans-Malayalam у меню програми (якщо цього шрифту немає у списку, вам доведеться встановити його у вашій системі, щоб скористатися ним).
</li>
<p>Дякуємо вам усім, <br/>
Timothée і Johnny</p>


{% endblock %}
