{% extends "template/onenews.html" %}
{% set title = 'Sortie de GCompris 0.95' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='news/images/r095-small.png'
     alt='gcompris banner'
     style='float: right; width: 360px; padding-left: 10px; cursor: pointer;'
     onclick="window.open('news/images/r095.png')"/>

     
<p>Bonjour,<br />
Nous sommes heureux de vous annoncer la sortie de GCompris version 0.95.</p>

<p>Cette nouvelle version contient 7 nouvelles activités :</p>
<li class="puce">Les nombres binaires : pour apprendre à compter en binaire</li>
<li class="puce">Assemble le train : pour entraîner la mémoire visuelle</li>
<li class="puce">Le système solaire : pour apprendre des choses sur notre système solaire</li>
<li class="puce">Donne un nom à cette note : pour apprendre à reconnaître les notes de musique et leur nom</li>
<li class="puce">Jouer du piano : pour s'entraîner à lire une partition</li>
<li class="puce">Battre la mesure : pour s'entraîner à suivre un rythme musical</li>
<li class="puce">Composition pour piano : pour apprendre à composer une partition musicale</li>

<br/>

<p>Vous trouverez les paquets de cette nouvelle version pour Linux et Windows dans la page Téléchargements. Cette mise à jour sera également disponible d'ici quelques jours dans le play-store d'Android et le Windows-store. Pour la version Raspberry Pi, nous fournirons un installateur au début de l'année 2019. Les versions à jour pour MacOS et iOS ne sont toujours pas disponibles pour l'instant. Nous espérons pouvoir les fournir au cours de l'année prochaine.</p>

<p>Au niveau des traductions, elles sont complètes pour 15 langues : Anglais Britannique, Catalan, Catalan (Valence), Chinois traditionnel, Néerlandais, Français, Galicien, Grec, Hongrois, Italien, Malayalam, Portugais, Roumain, Suédois et Ukrainien. 
<br />
Nous avons également les traductions partielles pour 19 langues :  Basque (78%), Biélorusse (69%), Portugais Brésilien (74%), Breton (54%), Chinois simplifié (69%), Estonien (63%), Finnois (61%), Allemand (86%), Hindi (77%), Indonésien (84%), Gaélique Irlandais (82%), Nynorsk Norvégien (89%), Russe (74%), Gaélique Écossais (71%), Slovaque (62%), Slovène (57%), Espagnol (95%), Polonais (94%) et Turc (74%).</p>

<p>Habituellement, nous fournissons seulement les traductions au moins complètes à 80%. Cependant pour cette version, de nombreuses traductions sont passées sous la barre des 80%. Nous avons décidé exceptionnellement de les conserver pour cette version, en espérant les voir complétées par leurs traducteurs précédents ou par de nouveaux. Si nous avons des traductions mises à jour ou de nouvelles langues supportées, nous publierons une nouvelle mise à jour les contenant.
<br/> 
Donc, si votre langue fait partie des traductions partiellement supportées, ou n'est pas supportée du tout pour l'instant, et que vous voulez nous aider, veuillez nous contacter et nous vous donnerons les instructions pour vous permettre de contribuer aux traductions.</p>

<p>Un autre moyen de nous aider est de parler de GCompris autour de vous, et n'hésitez pas à nous envoyer vos commentaires.</p>

<p>Remarques :</p>
<li class="puce">Pour Linux et Windows, nous fournissions auparavant deux installateurs séparés pour les modes de rendu OpenGL et logiciel. Dorénavant ces deux modes sont disponibles avec la même installation. Par défaut nous essayons d'utiliser le mode de rendu OpenGL, et si celui-ci ne fonctionne pas, nous affichons une erreur et activons automatiquement le mode de rendu logiciel. Cependant, ce changement automatique est tout nouveau et peut ne pas fonctionner correctement partout. Au cas où cela ne fonctionnerait pas, vous pouvez sélectionner manuellement le mode de rendu logiciel en éditant le fichier de configuration (dans ~/.config/gcompris/gcompris-qt.conf sous Linux, %LocalAppData%/gcompris/GCompris.conf sous Windows): trouvez la ligne renderer=auto, et remplacez auto par software et enregistrez le fichier. Dans ce cas, vos commentaires nous intéressent aussi pour nous permettre d'améliorer ce système d'auto-détection.
</li>
<li class="puce">Pour la traduction en Malayalam, nous avons remarqué quelques problèmes avec la police de caractères par défaut « Andika-R ». Nous recommandons aux utilisateurs du Malayalam de sélectionner la police de caractères Noto-Sans-Malayalam depuis le menu de l'application (si celle-ci n'est pas disponible dans la liste, vous devez d'abord l'installer sur votre système pour pouvoir la sélectionner).
</li>
<p>Merci à tous, <br/>
Timothée & Johnny</p>


{% endblock %}
