{% extends "template/onenews.html" %}
{% set title = 'Utgivning av GCompris 0.95' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='news/images/gcompris360.png'
     alt='gcompris banner'
     class='col-xs-12 col-md-4'
     style='float: right; padding-left: 10px; cursor: pointer;'
     onclick="window.open('news/images/gcompris360.png')"/>
     
<p>Hej,<br />
Vi är glada att tillkännage lanseringen av GCompris version 0.95.</p>

<p>Den här versionen innehåller sju nya aktiviteter:</p>
<li class="puce">Binära glödlampor: för att lära sig hur man räknar binärt</li>
<li class="puce">Järnvägsaktivitet: för att träna synminnet</li>
<li class="puce">Solsystem: för att lära sig om vårt solsystem</li>
<li class="puce">Namnge noten: för att lära sig känna igen noter och deras namn</li>
<li class="puce">Spela piano: för att öva på att läsa noter på ett notblad</li>
<li class="puce">Spela rytm: för att öva på att följa en musikalisk rytm</li>
<li class="puce">Pianokomposition: för att lära sig komponera ett musikstycke</li>

<br/>

<p>Paket av den nya versionen för Linux och Windows finns på nerladdningssidan. Uppdateringen kommer också att vara tillgänglig i Android och Windows Store om några dagar. Vi kommer att tillhandahålla ett installationsprogram för Raspberry Pi i början av 2019. De uppdaterade versionerna för MacOS och iOS är ännu inte tillgängliga, men vi hoppas på att kunna ge ut dem under nästa år.</p>

<p>På översättningssidan har vi fullständigt stöd för 15 språk: brittisk engelska, franska, galiciska, grekiska, holländska, italienska, katalanska, katalanska (valencianska), malayalam, portugisiska, rumänska, svenska, traditionell kinesiska, ukrainska, ungerska. 
<br />
Vi har också 19 språk med partiellt stöd: baskiska (78%), brasiliansk portugisiska (74 %), bretonska (65 %), estniska (63 %), finska (61 %), förenklad kinesiska (69 %), hindi (77 %), indonesiska (84 %), irländsk gäliska (82 %), nynorska (89 %), polska (94%), ryska (74 %), skotsk gäliska (71 %), slovakiska (62 %), slovenska (57 %), spanska (95 %), turkiska (74 %), tyska (86 %), vitryska (69 %).</p>

<p>Oftast levererar vi bara översättningar som är minst 80 % färdiga. Dock har flera översättningar fallit under 80 % för den här utgåvan. Vi bestämde oss för att behålla dem som ett undantag för den här utgåvan, och hoppas på att tidigare eller nya översättare färdigställer översättningarna. Om vi får uppdateringar eller nya översättningar, kommer vi att göra en uppdatering av utgåvan för dem.
<br/>
Om ditt språk finns i listan över partiellt stödda språk, eller inte ännu stöds alls, och du vill hjälpa till, kontakta oss gärna så ger vi instruktioner om hur man kommer igång med översättningen.</p>

<p>Ett annat sätt att hjälpa till är att göra några inlägg i din gemenskap om GCompris, och tveka inte att ge oss återkoppling.</p>

<p>Anmärkningar:</p>
<li class="puce">På Linux och Windows hade vi tidigare två separata installationsprogram för OpenGL och programvaruåtergivning. Nu är båda återgivningsmetoderna tillgängliga från samma installationsprogram. Normalt försöker vi använda OpenGL-återgivning, och om det inte fungerar visar vi ett felmeddelande och byter till programvaruåtergivning. Det automatiska bytet är nytt och kanske inte fungerar överallt. Om det inte gör det kan man välja programvaruåtergivning manuellt genom att redigera inställningsfilen (~/.config/gcompris-qt/gcompris-qt.conf på Linux, %LocalAppData%/gcompris/GCompris.conf på Windows): sök efter raden "renderer=auto", ersätt auto med software och spara filen. Vi är också intresserade av att få återkoppling för att hjälpa oss att förbättra den automatiska detekteringen.
</li>
<li class="puce">För språket Malayalam observerade vi några problem med standardteckensnittet "Andika-R". Vi rekommenderar att användare av Malayalam väljer teckensnittet Noto-Sans-Malayalam i programmenyn (om det inte är tillgängligt i listan måste teckensnittet installeras på systemet för att kunna välja det).
</li>
<p>Tack allesamman, <br/>
Timothée och Johnny </p>


{% endblock %}
