{% extends "template/onenews.html" %}
{% set title = 'Release GCompris 0.95' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='news/images/r095-small.png'
     alt='gcompris banner'
     style='float: right; width: 360px; padding-left: 10px; cursor: pointer;'
     onclick="window.open('news/images/r095.png')"/>

     
<p>Hi,<br />
We are pleased to announce the release of GCompris version 0.95.</p>

<p>This new version contains 7 new activities:</p>
<li class="puce">Binary bulbs: to learn how to count in binary</li>
<li class="puce">Railroad activity: to train visual memory</li>
<li class="puce">Solar System: to learn about our solar system</li>
<li class="puce">Name that Note: to learn to recognize musical notes and their names</li>
<li class="puce">Play Piano: to train reading notes on a score</li>
<li class="puce">Play Rhythm: to train following a musical rhythm</li>
<li class="puce">Piano Composition: to learn composition of a musical score</li>

<br/>

<p>You can find packages of this new version for Linux and Windows on the download page. This update will also be available in a few days on the Android and Windows store. For Raspberry Pi, we'll provide an installer in the beginning of 2019. The updated versions for MacOS and iOS are still not available, we hope to be able to release those during next year.</p>

<p>On the translation side, we have 15 languages fully supported: British English, Catalan, Catalan (Valencian), Chinese Traditional, Dutch, French, Galician, Greek, Hungarian, Italian, Malayalam, Portuguese, Romanian, Swedish, Ukrainian. 
<br />
We also have 19 languages partially supported: Basque (78%), Belarusian (69%), Brazilian Portuguese (74%), Breton (54%), Chinese Simplified (69%), Estonian (63%), Finnish (61%), German (86%),  Hindi (77%), Indonesian (84%), Irish Gaelic (82%), Norwegian Nynorsk (89%), Russian (74%), Scottish Gaelic (71%), Slovak (62%), Slovenian (57%), Spanish (95%), Polish (94%), Turkish (74%).</p>

<p>Usually we only ship translations that are at least 80% complete. However for this release, several translations dropped below 80%. We decided to keep them exceptionally for this release, and hope to see former or new translators complete those translations. If we get updates or new translations, we will make a release update for those.
<br/>
So if your language is in the partially supported list, or is not yet supported at all, and you want to help, please contact us and we will give you instructions to get started translating.</p>

<p>Another way to help is to write some posts in your community about GCompris, and don't hesitate to give us feedbacks.</p>

<p>Notes:
-On Linux and Windows, we used to have two separate installers for OpenGL and software rendering. Now both rendering modes are available from the same installer. By default we try to use the OpenGL rendering, and if not working, we show an error and switch to the software rendering. This automatic switch is new and may not work everywhere. In case it doesn't, you can manually select the software rendering mode by editing the configuration file (in ~/.config/gcompris-qt/gcompris-qt.conf for Linux, %LocalAppData%/gcompris/GCompris.conf for Windows): find the line renderer=auto , replace auto with software and save the file. We are also interested to get some feedback to help us improve this auto-detection.
<br/>
-For the Malayalam language, we noticed some issues with the default font "Andika-R". We recommend Malayalam users to select the font Noto-Sans-Malayalam from the application menu (if it is not available in the list you need to install this font on your system to be able to select it).</p>

<p>Thank you all, <br/>
Timothée & Johnny</p>


{% endblock %}
