{% extends "template/onenews.html" %}
{% set title = 'Llançament del GCompris 0.96' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='news/images/gcompris360.png'
     class='col-xs-12 col-md-4'
     alt='gcompris banner'
     style='float: right; padding-left: 10px; cursor: pointer;'
     onclick="window.open('news/images/gcompris360.png')"/>

     
<p>Hola,<br />
Ens complau anunciar l'alliberament del GCompris versió 0.96.</p>

<p>Aquesta nova versió inclou la traducció actualitzada de diversos idiomes i algunes correccions d'errors.</p>

<p>Traduccions que han rebut una gran actualització:</p>

<li class="puce">Portuguès brasiler (100%)</li>
<li class="puce">Bretó (100%)</li>
<li class="puce">Finès (90%)</li>
<li class="puce">Indonesi (100%)</li>
<li class="puce">Noruec nynorsk (97%)</li>
<li class="puce">Polonès (100%)</li>

<br/>

<p>Això vol dir que ara tenim 19 idiomes completament admesos: anglès britànic, portuguès brasiler, bretó, català, català (valencià), xinès tradicional, neerlandès, francès, gallec, grec, hongarès, indonesi, italià, malai, polonès, suec i ucraïnès.</p>

<p>Tenim 15 idiomes parcialment admesos: basc (78%), bielorús (68%), xinès simplificat (69%), estonià (62%), finlandès (90%), alemany (84%), hindi (76%), gaèlic irlandès (82%), noruec nynorsk 97%), rus (77%), gaèlic escocès (70%), eslovac (62%), eslovè (56%), espanyol (93%), turc (73%).</p>

<p>Vam decidir de nou per a aquest llançament mantenir les traduccions que baixaven per sota del 80%. Seria trist haver de desactivar 10 idiomes de l'aplicació, però si ningú actualitza les següents traduccions, es veuran inhabilitades en el proper llançament: basc, bielorús, xinès simplificat, estonià, hindi, rus, gaèlic escocès, eslovac, eslovè i turc.</p>

<p>Per a la versió de Windows, hem afegit una nova entrada al menú d'inici anomenada GCompris (mode segur) per a llançar-la amb el mode de representació per programari. Això era necessari perquè la detecció automàtica de l'OpenGL no era fiable. Ara, els usuaris poden triar amb facilitat entre OpenGL i la representació per programari sense canviar el fitxer de configuració.</p>

<p>Problemes coneguts:</p>
<li class="puce">La barra de progrés de les baixades ja no funciona. Aquest és un efecte secundari del nostre canvi a https per allotjar els fitxers. Estem buscant millorar-ho per al pròxim llançament.
</li>

<br/>

<p>Com a nota lateral dedicada als empaquetadors per a la distribució GNU/Linux, aquesta nova versió ara requereix OpenSSL per a poder baixar les veus i imatges addicionals.</p>

<p>Com és habitual, podeu baixar aquesta nova versió des de la nostra <a href="https://gcompris.net/downloads{{ suffix }}.html">pàgina de baixades</a>. Aviat també estarà disponible a la botiga d'Android i Windows.</p>

<p>Gràcies a tots, <br/>
Timothée i Johnny</p>


{% endblock %}
