{% extends "template/onenews.html" %}
{% set title = 'Veröffentlichung GCompris 0.96' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='news/images/gcompris360.png'
     class='col-xs-12 col-md-4'
     alt='gcompris banner'
     style='float: right; padding-left: 10px; cursor: pointer;'
     onclick="window.open('news/images/gcompris360.png')"/>

     
<p>Hallo,<br />
wir freuen uns, die Veröffentlichung der Version 0.96 von GCompris bekannt zu geben.</p>

<p>Diese neue Version beinhaltet aktualisierte Übersetzungen für verschiedene Sprachen und ein paar Fehlerkorrekturen.</p>

<p>Übersetzungen, die eine große Aktualisierung erhalten haben:</p>

<li class="puce">Brasilianisches Portugiesisch (100%)</li>
<li class="puce">Bretonisch (100%)</li>
<li class="puce">Finnisch (90%)</li>
<li class="puce">Indonesisch (100%)</li>
<li class="puce">Norwegisches Nynorsk (97%)</li>
<li class="puce">Polnisch (100%)</li>

<br/>

<p>Dies bedeutet, dass wir nun 19 Sprachen voll unterstützen: Britisches Englisch, Brasilianisches Portugiesisch, Bretonisch, Katalanisch, Katalanisch (Valencian), Traditionelles Chinesisch, Niederländisch, Französisch, Galicisch, Griechisch, Ungarisch, Indonesisch, Italienisch, Malayalam, Polnisch, Portugiesisch, Rumänisch, Schwedisch, Ukrainisch.</p>

<p>We still have 15 partially supported languages: Basque (78%), Belarusian (68%), Chinese Simplified (69%), Estonian (62%), Finnisch (90%), German (84%), Hindi (76%), Irish Gaelic (82%), Norwegisches Nynorsk (97%), Russian (77%), Scottish Gaelic (70%), Slovak (62%), Slovenian (56%), Spanish (93%), Turkish (73%).</p>

<p>Wir haben für diese Veröffentlichung wieder entschieden, die Übersetzungen, die unter 80% gefallen sind, aufzubewahren. Es wäre schade, wenn 10 Sprachen aus der Applikation gesperrt werden müssten, aber wenn niemand die folgenden Sprachen übersetzt, werden sie in der nächsten Veröffentlichung deaktiviert: Baskisch, Weißrussisch, Vereinfachtes Chinesisch, Estnisch, Hindi, Russisch, Schottisch-Gälisch, Slowakisch, Slowenisch, Türkisch.</p>

<p>Für die Windows-Version haben wir einen neuen Eintrag namens GCompris (Safe Mode) im Startmenü hinzugefügt, um im Software-Rendering-Modus zu starten. Dies war nötig, da die Auto-Erkennung der OpenGL-Unterstützung nicht zuverlässig war. Nun können Nutzer einfach zwischen OpenGL und Software-Rendering auswählen, ohne die Konfigurationsdatei zu ändern.</p>

<p>Bekannte Probleme:</p>
<li class="puce">Der Fortschrittsbalken für Downloads funktioniert nicht mehr. Dies ist ein Nebeneffekt unseres Wechsels auf https bezüglich der Datenbewahrung. Wir versuchen, dies für die nächste Veröffentlichung zu verbessern.
</li>

<br/>

<p>Eine Nebenbemerkung an Ersteller von GNU/Linux-Distributionen, diese neue Version benötigt nun OpenSSL, um Stimmen und zusätzliche Bilder herunterladen zu können.</p>

<p>Wie immer können Sie diese neue Version von unserer <a href="https://gcompris.net/downloads{{ suffix }}.html">Herunterladen-Seite</a> erhalten. Sie wird ebenso zeitnah im Android und Windows Store verfügbar sein.</p>

<p>Dank an alle, <br/>
Timothée & Johnny</p>


{% endblock %}
