{% extends "template/onenews.html" %}
{% set title = 'Utgivning av GCompris 0.97' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='news/images/r097-small.png'
     class='col-xs-12 col-md-4'
     alt='gcompris banner'
     style='float: right; padding-left: 10px; cursor: pointer;'
     onclick="window.open('news/images/r097.png')"/>

     
<p>Hej,<br />
Vi är glada att tillkännage lanseringen av GCompris version 0.97.</p>

<p>Den här versionen innehåller två nya aktiviteter:</p>

<li class="puce"></li>
<li class="puce"></li>

<br />

<p></p>

<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>

<br/>

<p>Paket av den nya versionen för GNU/Linux, Windows och MacOS finns på <a href="https://gcompris.net/downloads{{ suffix }}.html">nerladdningssidan</a>. Uppdateringen kommer också snart att vara tillgänglig i Android Play Store och Windows Store. Vi kommer snart att tillhandahålla ett installationsprogram för Raspberry Pi. Den uppdaterade versionen för iOS är ännu inte tillgänglig. Observera att MacOS-paketet är inte ännu är attesterat, men vi hoppas på att kunna göra det under nästa år.</p>

<p></p>

<p>Det betyder att vi nu har fullständigt stöd för 20 språk: baskiska, brasiliansk portugisiska, bretonska, brittisk engelska, franska, galiciska, grekiska, holländska, indonesiska, italienska, katalanska, katalanska (valencianska), malayalam, polska, portugisiska, rumänska, svenska, traditionell kinesiska, ukrainska, ungerska.</p>

<p>Vi har ännu 15 språk med partiellt stöd: estniska (93 %), finska (86 %), förenklad kinesiska (66 %), hindi (73 %), indonesiska (95 %), irländsk gäliska (78 %), katalanska (valensianska 95%), nynorska (93 %), ryska (76 %), skotsk gäliska (67 %), slovenska (54 %), turkiska (95 %), tyska (96 %), ungerska (95 %), vitryska (65 %).</p>

<p>Oftast levererar vi bara översättningar som är minst 80 % färdiga. Dock har flera översättningar fallit mycket under 80 % för den här utgåvan ( i synnerhet slovenska, vitryska och skotsk gäliska, men också hindi, ryska och irländsk gäliska). Vi bestämde oss för att behålla dem som ett undantag för den här utgåvan, och hoppas på att tidigare eller nya översättare färdigställer översättningarna. Om vi får uppdateringar eller nya översättningar, kommer vi att göra en uppdatering av utgåvan för dem.</p>

<p></p>

<p>Ett annat sätt att hjälpa till är att göra några inlägg i din gemenskap om GCompris, och tveka inte att ge oss återkoppling.</p>

<p>Anmärkningar:</p>
<li class="puce">För språket Malayalam observerade vi några problem med standardteckensnittet "Andika-R". Vi rekommenderar att användare av Malayalam väljer teckensnittet Noto-Sans-Malayalam eller RaghuMalaylamSans i programmenyn (om det inte är tillgängligt i listan måste teckensnittet installeras på systemet för att kunna välja det).
</li>

<br/>

<p>Tack allesamman, <br/>
Timothée och Johnny</p>


{% endblock %}
