{% extends "template/onenews.html" %}
{% set title = 'GCompris stumm 0.97' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='news/images/r097-small.png'
     class='col-xs-12 col-md-4'
     alt='gcompris banner'
     style='float: right; padding-left: 10px; cursor: pointer;'
     onclick="window.open('news/images/r097.png')"/>

     
<p>Salud d'an holl,<br />
Plijet omp o kemenn eo deuet er-maez GCompris 0.97.</p>

<p>Ar stumm nevez-mañ a ro bod da 2 obererezh nevez :</p>

<li class="puce">Programmiñ ur milendall : evit deskiñ diazezoù ar programmiñ gant un nebeut urzhioù.</li>
<li class="puce">Tangram ar re vihan : evit deskiñ diazezoù an tangram (liveoù izelañ an obererezh tangram kent a gaver en oberezh-mañ)</li>

<br />

<p>Hag ar bern dibaboù nevez :</p>

<li class="puce">izrummadoù nevez evit frammañ an obererezhioù</li>
<li class="puce">dibab nevez evit ar sonerezh a-dreñv hag an tonioù</li>
<li class="puce">dibaboù nevez evit nerzh ar sonioù</li>
<li class="puce">dibab nevez evit an tizh e meur a obererezh (Lizherennoù eeun, Pennlizherennoù, Sammadur, Lamadur, Liesadur, Rannadur, Pleustriñ war al lenn a-blaen, Ro anv an notenn)</li>
<li class="puce">dibab nevez en obererezhioù an echedoù evit diskouez ar pezhioù paket</li>
<li class="puce">dibab nevez evit mont e-unan ul live uheloc'h en oberezhioù Tresañ lizherennoù ha Tresañ niveroù</li>
<li class="puce">mouezhioù nevez evit saozneg Amerika</li>
<li class="puce">skeudennoù nevez evit Livioù</li>
<li class="puce">Skeudennoù nevez evit Livioù diaes</li>
<li class="puce">Skeudennoù nevez evit C'hoari ar gwenn</li>
<li class="puce">framm gwellaet evit an dibaboù</li>
<li class="puce">framm gwellaet evit Dasparzh ar madigoù</li>
<li class="puce">framm gwellaet evit Rummadiñ</li>
<li class="puce">war dafariad KDE (https://cdn.kde.org/) emañ bremañ ar restroù rannadus</li>
<li class="puce">ur mod deskiñ ouzhpennet evit Niveroù par hag ampar</li>
<li class="puce">digoradur ouzhpennet evit Sonaozouriezh piano</li>
<li class="puce">lizherennoù ar malayalameg ouzhpennet evit Lizherennoù eeun ha Pennlizherennoù</li>
<li class="puce">lizherennoù brezhoneg ouzhpennet evit Pinvidika da c'heriaoueg</li>
<li class="puce">mouezhioù na c'helled ket klevet dreset e Geografiezh</li>
<li class="puce">sonioù na c'helled ket klevet dreset e Klask aour er vengleuz</li>
<li class="puce">stumm poltred dreset e Klogorennoù-tredan daouredel</li>
<li class="puce">karg uhel ar CPU dreset el lañser pennañ</li>
<li class="puce">skeudenn-skoazell dreset e Chaseour foto</li>
<li class="puce">framm dreset e Kemmesk al livioù</li>
<li class="puce">hag ur bern dresoùigoù all ...</li>

<br/>

<p>Bez' e c'hallit kavout pakadoù ar stumm nevez-mañ evit GNU/Linux, Windows ha MacOS war ar <a href="https://gcompris.net/downloads{{ suffix }}.html">bajenn bellgargañ</a>. An hizivaat a vo deus outañ a-benn nebeut en Android Play store hag er Windows store. Evit Raspberry Pi e kinnigfomp ur stalier a-benn nebeut. N'eus ket deus ar stumm hivizaet evit iOS c'hoazh. Da c'houzout : n'eo ket bet gwiriet ar pakad evit MacOS c'hoazh, a-benn ar bloaz da zont e vo klasket ganeomp hen ober.</p>

<p>Evit ar pezh a sell ouzh ar mouezhioù hon eus ouzhpennet ur vouezh nevez "klask adarre" hag a vez implijet e meur a obererezh e lec'h  "ret eo dit gwiriañ c'hoazh". Bez' e c'hallit gwiriañ hag-eñ ez eus deus ar vouezh-se evit ho yezh war ar bajenn-mañ : <a href="https://gcompris.net/voicestats/">https://gcompris.net/voicestats/</a> (e-barzh al lodenn "Misc"). Sikour ac'hanomp da gaout ar mouezhioù diank evit ho yezh deoc'h a c'hallit ober en ur enrollañ brav ho mouezh.</p>

<p>Evit ar pezh a sell ouzh an troidigezhioù, setu ugent yezh klok evidomp : Brezhoneg, Euskareg, Galisianeg, Galleg, Gresianeg, Hollandeg, Italianeg, Katalaneg, Makedoneg, Malayameg, Poloneg, Portugaleg, Portugaleg Bro-Vrazil, Roumaneg, Slovakeg, Saozneg Bro-Saoz, Sinaeg hengounel, Spagnoleg, Svedeg, Ukraineg.</p>

<p>Bez' ez eus ivez 15 yezh all bet troet tamm pe damm: Alamaneg (96%), Belaruseg (65%), Estonieg (93%),  Finneg (86%), Hindeg (73%), Gouezeleg Bro-Iwerzhon (78%), Gouezeleg Bro-Skos (67%), Hungareg (95%), Indonezieg (95%), Katalaneg (Valensianeg 95%), Nynorsk / Neveznorvegeg (93%), Ruseg (76%),  Sinaeg Eeunaet (66%), Sloveneg (54%), Turkeg (95%).</p>

<p>Normalamant ne ginnigomp nemet troidigezhioù kaset da benn betek 80% da nebeutañ. Koulskoude ez eus bet meur a droidigezh o tiskenn dindan 80% (dreist-holl Sloveneg, Belaruseg ha Gouezeleg Bro-Skos ; met Hindi, Ruseg ha Gouezeleg Bro-Iwerzhon ivez). Dibabet hon eus mirout anezhe evit ar stumm-diwezhañ-mañ eus GCompris gant ar spi da welet troerien a-gozh pe nevez o peurglokaat an troidigezhioù-se. Ma resevomp hizivadennoù pe troidigezhioù nevez e raimp un hizivadenn d'ar stumm-mañ.</p>

<p>Neuze, m'emañ ho yezh er roll ar re damdroet pe ma n'eo ket bet troet c'hoazh, ha ma fell deoc'h reiñ dorn deomp, kit e darempred ganeomp hag e roimp deoc'h titouroù evit gallout kregiñ da dreiñ.</p>

<p>Bez' e c'hallit ivez skrivañ kemennadennoù d'hor c'hummuniezh evit reiñ dorn deomp. Arabat tortañ: roit ho soñj deomp.</p>

<p>Notennoù :</p>
<li class="puce">Evit ar pezh a sell ouzh ar Malayalameg hon eus merket e oa kudennoù gant an nodrezh diazez "Andika-R". Aliañ a reomp da implijourien ar Malayalameg dibab an nodrezh Noto-Sans-Malayam pe RaghuMalaylamSans e lañser ar meziant (ma n'emañ er roll e vo ret stalian an nodrezh-se diwar ho reizhiad evit gallout dibab anezhañ).
</li>

<br/>

<p>Trugarez d'an holl, <br/>
Timothée & Johnny</p>


{% endblock %}
