{% extends "template/onenews.html" %}
{% set title = 'Выпуск GCompris 0.97' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='news/images/r097-small.png'
     class='col-xs-12 col-md-4'
     alt='gcompris banner'
     style='float: right; padding-left: 10px; cursor: pointer;'
     onclick="window.open('news/images/r097.png')"/>

     
<p>Здравствуйте,<br />
Мы рады объявить о выпуске GCompris версии 0.97.</p>

<p></p>

<li class="puce"></li>
<li class="puce"></li>

<br />

<p></p>

<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>

<br/>

<p></p>

<p></p>

<p></p>

<p></p>

<p></p>

<p></p>

<p></p>

<p>Notes:</p>
<li class="puce"></li>

<br/>

<p></p>


{% endblock %}
