{% extends "template/onenews.html" %}
{% set title = 'GCompris está de volta ao Mac OSX' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='news/images/gcompris360.png'
     alt='gcompris banner'
     style='float: right; width: 360px; padding-left: 10px; cursor: pointer;'
     onclick="window.open('news/images/gcompris360.png')"/>

     
<p>Olá,<br />
Notícia boa para usuários do Mac: nós finalmente temos uma nova versão do GCompris para o OSX!</p>

<p>A última versão do GCompris para OSX foi a 0.52, de três anos atrás. Desde então ninguém da equipe conseguiu atualizá-la por falta de hardware. Graças ao Boudewijn, da Krita Foundation, agora temos um mac mini antigo, mas bom o suficiente para construir nossos pacotes. O aprendizado dessa nova plataforma me tomou vários dias de trabalho dedicado para aprender essa nova plataforma e atualizar o sistema de construção do software para produzir um pacote distribuível.</p>

<br/>

<p></p>

<p></p>

<p></p>

<p></p>

<p></p>


{% endblock %}
