{% extends "template/onenews.html" %}
{% set title = 'Випуск GCompris 0.96' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='news/images/gcompris360.png'
     class='col-xs-12 col-md-4'
     alt='gcompris banner'
     style='float: right; padding-left: 10px; cursor: pointer;'
     onclick="window.open('news/images/gcompris360.png')"/>

     
<p>Привіт,<br />
Ми плануємо оголошення випуску GCompris версії 0.96.</p>

<p>У цій новій версії оновлено переклади декількома мовами та виправлено декілька вад.</p>

<p>Переклади, які було значно оновлено:</p>

<li class="puce">Бразильською португальською (100%)</li>
<li class="puce">Бретонською (100%)</li>
<li class="puce">Фінською (90%)</li>
<li class="puce">Індонезійською (100%)</li>
<li class="puce">Норвезькою нюноршк (97%)</li>
<li class="puce">Польською (100%)</li>

<br/>

<p>Це означає, що повністю реалізовано підтримку 19 мов: британської англійської, бразильської португальської, бретонської, каталанської, каталанської (валенсійської), традиційної китайської, голландської, французької, галісійської, грецької, угорської, індонезійської, італійської, малаялам, польської, португальської, румунської, шведської, української.</p>

<p>Підтримку 15 мов усе ще реалізовано не повністю: баскської (78%), білоруської (68%), китайської спрощеної (69%), естонської (62%), фінської (90%), німецької (84%), хінді (76%), ірландської гельської (82%), норвезької нюноршк (97%), російської (77%), шотландської гельської (70%), словацької (62%), словенської (56%), іспанської (93%), турецької (73%).</p>

<p>Ми знову вирішили включити до цього випуску переклади, рівень яких впав нижче 80%. Було б сумно виключити 10 мов з програми, але якщо ніхто не оновить вказані нижче переклади, їх буде виключено з наступного випуску: баскська, білоруська, китайська спрощена, естонська, хінді, російська, шотландська гельська, словацька, словенська та турецька.</p>

<p>У версії для Windows ми додали новий пункт меню «Пуск» із назвою GCompris (Безпечний режим) для запуску програми у режимі програмної обробки зображення. Цей пункт знадобиться, якщо автовиявлення підтримки OpenGL не спрацює належним чином. Тепер, користувачам простіше буде вибирати між OpenGL та програмною обробкою зображення без внесення змін до файла налаштувань.</p>

<p>Відомі вади:</p>
<li class="puce">Смужка поступу для завдань з отримання даних не працює. Це наслідок переходу до https у сховищі файлів. Ми намагатимемося виправити це до наступного випуску.
</li>

<br/>

<p>Додаткова нотатка для пакувальників випуску для дистрибутивів GNU/Linux: для нової версії потрібна бібліотека OpenSSL для отримання голосових даних та додаткових зображень.</p>

<p>Як завжди, ви можете отримати пакунок цієї версії з нашої <a href="https://gcompris.net/downloads{{ suffix }}.html">сторінки пакунків</a>. Невдовзі версія з'явиться у крамницях програм Android та Windows.</p>

<p>Дякуємо вам усім, <br/>
Timothée і Johnny</p>


{% endblock %}
