{% extends "template/onenews.html" %}
{% set title = 'GComprise väljalase 0.97' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='news/images/r097-small.png'
     class='col-xs-12 col-md-4'
     alt='gcompris banner'
     style='float: right; padding-left: 10px; cursor: pointer;'
     onclick="window.open('news/images/r097.png')"/>

     
<p>Hei,<br />
Meil on suur rõõm teada anda GComprise versiooni 0.97 väljaandmisest.</p>

<p>Uus versioon sisaldab kaht uut tegevust:</p>

<li class="puce"></li>
<li class="puce"></li>

<br />

<p>Ja rohkelt uusi omadusi:</p>

<li class="puce">uued alamkategooriad tegevuste korraldamiseks</li>
<li class="puce">uus taustamuusika võimalus ja muusikapalad</li>
<li class="puce">uus heliefektide helitugevuse seadistused</li>
<li class="puce"></li>
<li class="puce">uus võimaluse maletegevuses näidata ära võetud nuppe</li>
<li class="puce"></li>
<li class="puce">USA inglise keele uued hääled</li>
<li class="puce">Värvide tegevuse uued pildid</li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce">seadistuste paigutuse täiustamine</li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce">ressursifailide salvestamine nüüdsest KDE serverisse (https://cdn.kde.org/)</li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce">suure protsessorikoormuse tekkimise veaparandus menüüs</li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce">ja veel palju pisemaid parandusi ...</li>

<br/>

<p></p>

<p></p>

<p>Tõlkimise poole pealt on nüüd täielikult toetatud 20 keelt: baski, Brasiilia portugali, bretooni, Briti inglise, galeegi, Hiina traditsiooniline, hispaania, hollandi, itaalia, katalaani, kreeka, makedoonia, malajalami, poola, portugali, prantsuse, rootsi, rumeenia, slovaki, ukraina.</p>

<p>Lisaks on osaliselt toetatud veel 15 keelt: eesti (93%), hiina lihtsustatud (66%), hindi (73%), indoneesia (95%), iiri gaeli (78%), Norra nynorsk (93%), saksa (96%), sloveeni (54%), soome (86%), šoti gaeli (67%), türgi (95%), ungari (95%), Valencia katalaani (95%), valgevene (65%), vene (76%).</p>

<p></p>

<p></p>

<p></p>

<p>Märkused:</p>
<li class="puce">Malajalami keele puhul täheldasime mõningaid probleeme vaikimisi fondiga "Andika-R". Me soovitame malajalami keele kasutajatel valida rakenduse menüüst fondi Noto-Sans-Malayalam või RaghuMalaylamSans (kui neid seal pole, siis tuleb kõigepealt font süsteemi paigaldada).
</li>

<br/>

<p>Suur tänu teile kõigile, <br/>
Timothée & Johnny</p>


{% endblock %}
