{% extends "template/onenews.html" %}
{% set title = 'ജികോംപ്രി 0.96 ൻ്റെ പ്രകാശനം' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='news/images/gcompris360.png'
     class='col-xs-12 col-md-4'
     alt='gcompris banner'
     style='float: right; padding-left: 10px; cursor: pointer;'
     onclick="window.open('news/images/gcompris360.png')"/>

     
<p>നമസ്കാരം,<br />
ജികോംപ്രി വേ‍ർഷൻ 0.96 ൻ്റെ പ്രകാശനം ഞങ്ങൾ സസന്തോഷം പ്രഖ്യാപിക്കുന്നു. </p>

<p>ഈ പുതിയ വേർഷൻ, പല ഭാഷകൾക്കുള്ള അപ്ഡേറ്റഡ് തർജ്ജിമകളും കുറച്ച് ബഗ് ഫിക്സുകളും ഉൾപ്പെടുന്നു.</p>

<p>വലിയ അപ്ഡേറ്റുകൾ വന്നിട്ടുള്ള തർജ്ജിമകൾ:</p>

<li class="puce">ബ്രസീലിയൻ പോ‍ർച്ചുഗീസ് (100%)</li>
<li class="puce">ബ്രിട്ടൺ (100%)</li>
<li class="puce">ഫിന്നിഷ് (90%)</li>
<li class="puce">ഇന്തോനേഷ്യൻ (100%)</li>
<li class="puce">നോർവീജിയൻ നിനോർസ്ക് (97%)</li>
<li class="puce">പോളിഷ് (100%)</li>

<br/>

<p>അതായത്, ഇപ്പോൾ 19 ഭാഷകളുടെ സമ്പൂർണ സപ്പോർട്ട് ഞങ്ങൾക്കുണ്ട് : ബ്രിട്ടീഷ് ഇംഗ്ലീഷ്, ബ്രസീലിയൻ പോർച്ചുഗീസ്, ബ്രിട്ടൺ, കത്തലൻ, കത്തലൻ (Valencian), ട്രഡിഷണൽ ചൈനീസ്, ഡച്ച്, ഫ്രഞ്ച്, ഗലീഷ്യൻ, ഗ്രീക്ക്, ഹംഗേറിയൻ, ഇന്തോനേഷ്യൻ, ഇറ്റാലിയൻ, മലയാളം, പോളിഷ്, പോർച്ചുഗീസ്, റൊമേനിയൻ, സ്വീഡിഷ്, ഉക്രേനിയൻ.</p>

<p>കൂടാതെ 15 ഭാഷകൾ ഭാഗികമായ സപ്പോർട്ട് ഉണ്ട് : ബാസ്ക്ക് (78%), ബെലാറൂഷ്യൻ (68%), സിംപ്ലിഫൈഡ് ചൈനീസ് (69%), ഇസ്തോണിയൻ (62%), ഫിന്നിഷ് (90%), ജർമൻ (84%), ഹിന്ദി (76%), ഐറിഷ് ഗാലിക് (82%), നോർവീജിയൻ നിനോർസ്ക് (97%), റഷ്യൻ (77%), സ്കോട്ടിഷ്  ഗാലിക് (70%), സ്ലോവാക് (62%), സ്ലോവേനിയൻ (56%), സ്പാനിഷ് (93%), തുർക്കിഷ്  (73%).</p>

<p>ഈ തവണത്തെ പ്രകാശനത്തിനും 80% നു താഴെയുള്ള തർജ്ജിമകൾ ഞങ്ങൾ നിലനിർത്തിയിട്ടുണ്ട്. പക്ഷേ താഴെ കൊടുത്തിരിക്കുന്ന തർജ്ജിമകൾ ആരും അപ്ഡേറ്റ് ചെയ്തില്ലെങ്കിൽ അടുത്ത പ്രകാശനത്തിന് അവ ഉപേക്ഷിക്കേണ്ടി വരും: ബാസ്ക്, ബെലാറൂഷ്യൻ, സിംപ്ലിഫൈഡ് ചൈനീസ്, ഇസ്തോണിയൻ, ഹിന്ദി, റഷ്യൻ, സ്കോട്ടിഷ് ഗാലിക്, സ്ലോവാക്, സ്ലോവേനിയൻ, തുർക്കിഷ് .</p>

<p>ജികോംപ്രി വിൻഡോസ് വേർഷന്, ഞങ്ങളൊരു പുതിയ എൻട്രി സ്റ്റാർട്ട് മെനുവിൽ ചേർത്തിട്ടുള്ളത് സോഫ്റ്റ്‌വെയർ റെൻ്ററിങ് മോഡിൽ ലോഞ്ച് ചെയ്യാനുള്ളതാണ്. ഓപൺജിഎൽ സപ്പോർട്ടിൻ്റെ ഓട്ടോ ഡിറ്റക്ഷൻ എല്ലായിപ്പോഴും ആശ്രയിക്കാവുന്നതല്ലാത്തതുകൊണ്ടാണ് ഇതാവശ്യം വന്നത്. ഇപ്പോൾ, കോൺഫിഗറേഷൻ ഫയൽ മാറ്റാതെ തന്നെ ഉപഭോക്തോവിന്  ഓപൺജിഎൽ, സോഫ്റ്റ്‌വെയർ റെൻ്ററിങ് എന്നിവയിൽ ഒന്ന് എളുപ്പത്തിൽ തെരഞ്ഞെടുക്കാവുന്നതാണ്. </p>

<p>അറിയാവുന്ന പ്രശ്നങ്ങൾ:</p>
<li class="puce">ഡൗൺലോഡ് ചെയ്യുമ്പോഴുള്ള പ്രോഗ്രസ് ബാ‍ർ പ്രവ‍ർത്തിക്കുന്നില്ല. ഫയലുകൾ ഹോസ്റ്റു ചെയ്യാനായി എച്ച്ടിടിപിഎസ്-ലേക്ക് മാറിയതാണ് ഇതിനു കാരണം. അടുത്ത പ്രകാശനത്തിനു മുൻപ് ഇത് പരിഹരിക്കാൻ ഞങ്ങൾ ശ്രമിക്കുന്നതാണ്.
</li>

<br/>

<p>ഗ്നൂ/ലിനക്സ് ഡിസ്ട്രിബ്യൂഷൻ പാക്കേജു ചെയ്യുന്നവരുടെ ശ്രദ്ധയ്ക്ക്, ശബ്ദങ്ങളും കൂടുതലായി ചേർത്തിട്ടുള്ള ചിത്രങ്ങളും ഡൗൺലോഡ് ചെയ്യാൻ ഈ പുതിയ വേർഷന് ഓപൺഎസ്എസ്എൽ ആവശ്യമാണ്.</p>

<p>പതിവുപോലെ, ഈ പുതിയ വേർഷൻ  ഞങ്ങളുടെ  <a href="https://gcompris.net/downloads{{ suffix }}.html">ഡൗൺലോഡ് പേജിൽ</a> നിന്നും ഡൗൺലോഡ് ചെയ്യാം. ഇത് ഉടൻ തന്നെ ആൻഡ്രോയ്ഡ് സ്റ്റോറിലും വിൻഡോസ് സ്റ്റോറിലും ലഭ്യമാകും.</p>

<p>എല്ലാവർക്കും നന്ദി, <br/>
ടിമോത്തെ & ജോന്നി</p>


{% endblock %}
