{% extends "template/onenews.html" %}
{% set title = 'Выпуск GCompris 0.96' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='news/images/gcompris360.png'
     class='col-xs-12 col-md-4'
     alt='gcompris banner'
     style='float: right; padding-left: 10px; cursor: pointer;'
     onclick="window.open('news/images/gcompris360.png')"/>

     
<p></p>

<p></p>

<p></p>

<li class="puce"></li>
<li class="puce"></li>
<li class="puce">Финский (90%)</li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce"></li>

<br/>

<p></p>

<p>We still have 15 partially supported languages: Basque (78%), Belarusian (68%), Chinese Simplified (69%), Estonian (62%), Финский (90%), German (84%), Hindi (76%), Irish Gaelic (82%), , Russian (77%), Scottish Gaelic (70%), Slovak (62%), Slovenian (56%), Spanish (93%), Turkish (73%).</p>

<p></p>

<p></p>

<p></p>
<li class="puce"></li>

<br/>

<p></p>

<p></p>

<p></p>


{% endblock %}
