{% extends "template/onenews.html" %}
{% set title = 'GCompris повертається на Mac OSX' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='news/images/gcompris360.png'
     alt='gcompris banner'
     class='col-xs-12 col-md-4'
     style='float: right; padding-left: 10px; cursor: pointer;'
     onclick="window.open('news/images/gcompris360.png')"/>

     
<p>Привіт,<br />
Добрі новини для користувачів Mac: нарешті маємо нову версію GCompris для OSX !</p>

<p>Останньою версією GCompris для OSX була 0.52, випущена 3 роки тому. З того часу ніхто з команди не міг оновити версію, оскільки у нас не було відповідного обладнання. Завдяки Бодевайну з Krita Foundation, у нас тепер є малий Mac Mini, старий, але достатньо добрий для наших пакунків. Для вивчення цієї нової системи, оновлення системи збирання і створення пакунка розробникам знадобилося лише декілька днів напруженої роботи.</p>

<br/>

<p>Цей пакунок було зібрано і перевірено на OSX 10.13. Якщо ви можете спробувати його на іншій версії OSX, будь ласка, повідомте нам, чи працює він на ній.</p>

<p>Пакунок для встановлення .dmg можна отримати на <a href="https://gcompris.net/downloads{{ suffix }}#osx.html">сторінці пакунків</a>.</p>

<p>Цього разу ми вирішили не розповсюджувати пакунок за допомогою крамниці програм. Щодо версії для iOS, то вона потребуватиме ще певного часу, і у нас все ще немає пристрою для її тестування.
</p>

<p>Зауваження: цей пакунок засновано на GCompris версії 0.95. Його зібрано на основі найсвіжішої версії Qt (5.12.0), використання якої може призвести до певних регресій. Нами виправлено усі помічені недоліки, але деякі з виправлень все ще лишаються виправленнями у версії, розробка якої ще триває. Деякі вправи не працюють як слід (checkers, braille, braille_alphabet, algorithm), але ми випустимо нову версію наступного місяця. У ній ці незначні вади буде виправлено. 
</p>

<p>Дякуємо усім вам, <br/>
Timothée — Команда GCompris</p>


{% endblock %}
