{% extends "template/onenews.html" %}
{% set title = 'GCompris volve estar dispoñíbel para Mac OSX' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='news/images/gcompris360.png'
     alt='gcompris banner'
     class='col-xs-12 col-md-4'
     style='float: right; padding-left: 10px; cursor: pointer;'
     onclick="window.open('news/images/gcompris360.png')"/>

     
<p>Ola,<br />
Boas novas para os usuarios de Mac: por fin temos unha nova versión de GCompris para OSX!</p>

<p>A última versión de GCompris para OSX foi a 0.52 de hai 3 anos. Desde entón ningunha persoa do equipo puido actualizala por falta de hardware. Grazas a Boudewijn, da Fundación Krita, agora temos un pequeno Mac Mini, vello pero suficiente para construír os nosos paquetes. Levoume varios días de dedicación aprender a nova plataforma e actualizar o sistema de construción para producir un paquete para distribuír.</p>

<br/>

<p>Este paquete construíuse en probouse en OSX 10.13. Se ten a oportunidade de probalo noutra versión de OSX, agradeceríamos que nos informase sobre se funciona.</p>

<p>O instalador .dmg está dispoñíbel <a href="https://gcompris.net/downloads{{ suffix }}#osx.html">na páxina de descargas</a>.</p>

<p>Esta vez decidimos deixar de distribuílo mediante a tenda de aplicativos. Sobre a versión de iOS, de momento non me vou poñer con ela, e aínda non temos ningún dispositivo co que probala.
</p>

<p>Notas: este paquete está baseado na versión 0.95 de GCompris. Está construído coa última versión de Qt (5.12.0), o que introduciu algunhas regresións. Corriximos todos eses problemas, pero algunhas desas correccións aínda non saíron da versión de desenvolvemento. Algunhas das actividades están rotas (damas, braille, alfabeto braille, algoritmo), pero publicaremos unha nova versión o mes que ven que tamén corrixirá eses pequenos problemas.
</p>

<p>Grazas a todos, <br/>
Timothée, do equipo de GCompris</p>


{% endblock %}
