{% extends "template/onenews.html" %}
{% set title = 'Lançamento do GCompris 0.97' %}
{% set withlongcontent = 0 %}
{% block content %} 

<img src='news/images/r097-small.png'
     class='col-xs-12 col-md-4'
     alt='gcompris banner'
     style='float: right; padding-left: 10px; cursor: pointer;'
     onclick="window.open('news/images/r097.png')"/>

     
<p>Olá,<br />
Estamos felizes em anunciar o lançamento do GCompris versão 0.97.</p>

<p>Esta nova versão contém 2 novas atividades:</p>

<li class="puce">Um labirinto de programação: para aprender o básico de programação com poucas instruções</li>
<li class="puce">Remonte as peças: para aprender o básico do Tangram (esta atividade corresponde aos níveis mais baixos da atividade Tangrama anterior)</li>

<br />

<p>Muitas outras funcionalidades:</p>

<li class="puce">novas sub-categorias para organizar as atividades</li>
<li class="puce">novo recurso de música de fundo e faixas de áudio</li>
<li class="puce">novas configurações de volume para os efeitos de áudio</li>
<li class="puce"></li>
<li class="puce">novo recuros nas atividades de xadrez para exibir as peças capturadas</li>
<li class="puce">nova opção de ir para o próximo nível manualmente no desenhe letras e desenhe números</li>
<li class="puce">novas vozes para en_US</li>
<li class="puce">novas imagens para atividades de colorir</li>
<li class="puce">novas imagens para a atividade cores avançadas</li>
<li class="puce">novas imagens para a atividade de tiro ao alvo</li>
<li class="puce">layout de configurações melhorado</li>
<li class="puce">layout de atividade de compartilhar melhorado</li>
<li class="puce">layout de atividade de categorização melhorado</li>
<li class="puce">os arquivos de recursos agora são armazenados no servidor KDE (https://cdn.kde.org/)</li>
<li class="puce">adicionado um tutorial para números pares/ímpares</li>
<li class="puce">adicionado introdução na composição de piano</li>
<li class="puce"></li>
<li class="puce"></li>
<li class="puce">corrigido as vozes que não tocavam na geografia</li>
<li class="puce">corrigido os sons que não tocavam na mineração</li>
<li class="puce">corrigido o modo retrato na lâmpada binária</li>
<li class="puce">corrigido a alta carga de CPU no menu</li>
<li class="puce">corrigido a dica de tamanho da imagem no analisador de fotos</li>
<li class="puce">corrigido o layout na mistura de cores</li>
<li class="puce">e muitas outras pequenas correções...</li>

<br/>

<p>Você pode encontrar os pacotes desta nova versão para GNU/Linux, Windows e MacOS na <a href="https://gcompris.net/downloads{{ suffix }}.html">página de download</a>. Esta atualização também será disponibilizada na Play Store do Android e na Microsoft Store. Para o Raspberry Pi, forneceremos um instalador em breve. A versão atualizada para o iOS ainda não está disponível. Note que o pacote para o MacOS package ainda não está assinado, veremos isto durante o próximo ano.</p>

<p>No lado das vozes, adicionamos uma nova voz "tente novamente" que é usada em várias atividades ao invés de "verifique sua resposta". Você pode olhar nesta página se esta voz está disponível em seu idioma: <a href="https://gcompris.net/voicestats/">https://gcompris.net/voicestats/</a> (na seção "Misc"). Você pode nos ajudar fornecendo uma bela gravação de sua voz para todas as entradas faltantes em seu idioma nativo.</p>

<p>No lado das traduções temos 20 idiomas completamente suportados: basco, bretão, catalão, chinês tradicional, eslovaco, espanhol, francês, galício, grego, holandês, inglês britânico, italiano, macedônio, malaio, polonês, português, português brasileiro, romeno, suéco e ucraniano.</p>

<p>Temos também 15 idiomas parcialmente suportados: alemão (96%), bielorrusso (65%), catalão (Valência 95%), chinês simplificado (69%), esloveno (54%), estoniano (93%), finlandês (86%), gaélico escocês (67%), gaélico irlandês (78%), húngaro (95%), indonésio (95%), indu (73%), novo norueguês (93%), russo (76%), turco (95%).</p>

<p>Geralmente incluímos apenas traduções que estão pelo menos 80% concluídas. No entanto, várias traduções ficaram abaixo de 80% (especialmente bielorrusso, esloveno e gaélico escocês; mas também gaélico irlandês, indu e russo). Decidimos manter estas traduções excepcionalmente para esta versão e esperamos que os antigos ou novos tradutores concluam estas traduções. Se tivermos atualizações ou novas traduções, a lançaremos uma atualização.</p>

<p>Portanto, se seu idioma está na lista dos parcialmente suportados ou ainda não está suportado e você queira ajudar, contate-nos e iremos fornecer as instruções para você começar a traduzir.</p>

<p></p>

<p>Notas:</p>
<li class="puce"></li>

<br/>

<p>Obrigado a todos, <br/>
Timothée e Johnny</p>


{% endblock %}
