{% extends "template/onenews.html" %}
{% set title = 'GCompris 1.0-s verzió' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='news/images/gcompris-20years.png' class='col-xs-12 col-md-4' alt='GCompris 1.0-s verzió' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('news/images/gcompris-20years.png')"/>

<p>Üdv!<br />
A GCompris 20 éves születésnapjának alkalmából örömmel jelentjük be a program 1.0-s változatát.</p>
<p>Az új változat egyik fő lehetősége: a Tevélkenység beállítások menüadatkészlet választási lehetőséggel több mint 50 feladat esetén, amelynek segyítségével még inkább testreszabhatóak a tevékenységek a tanulás során.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/1CAgIAIRxRE" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Ez a változat négy új alkalmazást tartalmaz:</p>
<li class="puce">A régóta várt Analóg elektromosság tevékenységet, mely segyítségével áramköröket tervezhetünk és szimulálhatjuk működésüket.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8TbbVhdqZUw" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">A számtanulást illetve két alkategóriában az összeadást és a kivonás tanulását. Mindkét feladat a kisebb gyerekeket célozza egyszerűbb számolási feladatokon keresztül.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/_xxA97bVLO8" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/rdJbGiytyCg" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">A Baba billentyűzet ahol a leütött billentyű alakja megjelenik a képernyőn illetve a hozzátartozó hang is hallatszik.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-PdEtP3YqjQ" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">A Garvitáció amely a régi Bevezetés a gravitációba alkalmazást váltja fel, ami jobban és élethűbben magyarázza annak jelenségét.</li><br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/fiklpq8JldA" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>A GNU/Linux felhasználásra szánt új csomagok is elkészültek, Windows és MacOS a és Raspberry Pi-ra a <a href="https://gcompris.net/downloads{{ suffix }}.html">letöltési oldalon keresztül</a>. A frissítés hamarosan érkezik Androidra is a Play Áruházon illetve a Windows store-on keresztül. A MacOS csomag várhatóan későbbikben készül el.</p>
<p>A alábbi oldalon ellenőrizheted milyen százalékon áll a program hangadatbázisa az anyanyelveden: <a href="https://gcompris.net/voicestats/">https://gcompris.net/voicestats/</a>. Segíthetsz nekünk ha jó hangod van. Küldd el a hiányzó hangokat az anyanyelveden!</p>

<p>Fordítási oldalról jelenleg 22 nyelven "beszél" a program teljesen: Baszk, Breton, Brit Angol, Francia, Görög, Héber, Holland, Indonéz, Katalán, Lengyel,Magyar Maláj, Olasz, Portugál, Román, Spanyol, Szlovén, , Török, Tradícionális Kínai, Ukrán és Velencei-Katalán.</p>

<p>Négy nyelv részben támogatott: Brazil Portugál (92%), Fehérorrosz (85%), Litván (84%), Német (89%).</p>

<p>Kotábbi ígéretünkhöz híven csak a 80% feletti állapotú fordítások kerültek bele a programba, a gyerekek jobb élménye miatt. Nem szerettünk volna félig kész szoftvert kiadni. Sajnos az alábbi fordításokat így ki kellett hagynunk: Észt, Finn, Ír, Gall, Skót, Kelta, Galíciai, Hindi, macedón, Norvég, Orosz, Szlovák, Norvég-Nynorsk,és az Egyszerűsített Kínia.</p>

<p>Ha az anyanyelved a részben készek listáján van, vagy nem találtad meg köztük, és szívesen segítenél, kérlek keress meg minket, hogy segíthessünk a fordítás elkészítésében. (support@gcompris.net)</p>
<p>A GCompris fórumába adott visszajelzéseiddel is segytheted munkánkat. </p><br/>

<p>Mindenkinek köszönjükl, <br/>
Timothée és Johnny</p>{% endblock %}
