{% extends "template/onenews.html" %}
{% set title = 'GCompris är nu fri att installera överallt' %}
{% set withlongcontent = 0 %}
{% block content %} 

     
<p>Hej,<br />
Vi är glada att tillkännage att den fullständiga versionen av GCompris är nu tillgänglig utan kostnad för alla plattformar som stöds.</p>

<p>Installationsverktygen för Windows och maxOS på vår webbplats har uppdaterats för att inte längre kräva aktiveringskoder, och den fullständiga versionen på Play Store och Microsoft Store är nu gratis.</p>

<p>Vi hoppas att denna förändring gör det enklare för barn i hela värden att få tillgång till den bästa utbildningsprogramvaran.</p>

<br/>

<p>Tack allesamman, <br/>
Timothée och Johnny</p>


{% endblock %}
