{% extends "template/onenews.html" %}
{% set title = 'GCompris se puede instalar ahora gratis en cualquier lugar' %}
{% set withlongcontent = 0 %}
{% block content %} 

     
<p>¡Hola!<br />
Nos complace anunciar que la versión completa de GCompris está ahora disponible sin ningún tipo de coste para todas las plataformas soportadas.</p>

<p>Los instaladores para Windows y macOS que hay en nuestra web se han actualizado para que no soliciten código de activación. Además, la versión completa de Play Store y de Microsoft Store son ahora gratuitas.</p>

<p>Esperamos que este movimiento facilite a todos los niños del mundo el acceso al mejor software educativo.</p>

<br/>

<p>Gracias a todos, <br/>
Timothée y Johnny</p>


{% endblock %}
