{% extends "template/onenews.html" %}
{% set title = 'GCompris kan nu overal vrij geïnstalleerd worden' %}
{% set withlongcontent = 0 %}
{% block content %} 

     
<p>Hallo,<br />
We zijn verheugd aan te kondigen dat de volledige versie van GCompris nu zonder kosten beschikbaar is voor elk ondersteund platform!</p>

<p>De installatieprogramma's voor Windows en macOS op onze website zijn bijgewerkt en vereisen geen activering meer via een code en de volledige versie op de Play store en Microsoft store zijn nu gratis.</p>

<p>We hopen dat dit gebaar het gemakkelijker maakt voor alle kinderen in de wereld om toegang te krijgen tot de beste educatieve software.</p>

<br/>

<p>Beiden hartelijk dank, <br/>
Timothée & Johnny</p>


{% endblock %}
