{% extends "template/onenews.html" %}
{% set title = 'Nuo šiol „GCompris“ galima nemokamai įdiegti visur' %}
{% set withlongcontent = 0 %}
{% block content %} 

     
<p>Labas,<br />
Džiaugiamės galėdami pranešti, kad pilna „GCompris“ versija dabar yra nemokamai prieinama visoms palaikomoms platformoms!</p>

<p>Diegimo programos „Windows“ ir „macOS“ sistemoms mūsų tinklapyje buvo atnaujintos ir daugiau nereikalauja aktyvavimo kodo, o pilnos versijos „Play“ ir „Microsoft“ parduotuvėse dabar yra nemokamos.</p>

<p>Mes tikimės, kad šis žingsnis viso pasaulio vaikams suteiks lengvesnę prieigą prie geriausios mokomosios programos.</p>

<br/>

<p>Ačiū Jums visiems, <br/>
Timothée & Johnny</p>


{% endblock %}
