{% extends "template/onenews.html" %}
{% set title = 'GCompris 1.0 argitaratzea' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='news/images/gcompris-20years.png' class='col-xs-12 col-md-4' alt='GCompris 1.0 argitaratzea' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('news/images/gcompris-20years.png')"/>

<p>Kaixo,<br />
GCompris-en 20 urteak ospatzeko, pozarren iragartzen dugu GCompris 1.0 bertsioa.</p>
<p>Bertsio berri horrek ezaugarri nagusi berri bat du: «Jarduera ezarpenak» menua, 50 jarduera baino gehiagorako datu-multzo hautapenarekin, eta horrek jardueretan zer ikas daitekeen zehatzago aukeratzen uzten du.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/1CAgIAIRxRE" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>4 jarduera berri ere gehitu ditugu:</p>
<li class="puce">Luzaroan itxaron dugun «Elektrizitate analogikoa» jarduera, zirkuituak marrazten eta haien simulazioa egiten uzten diguna.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8TbbVhdqZUw" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">«Digituak ikastea», eta bi azpijarduera, batuketak eta kenketak ikasteko. Kontzeptu horiek haur txikiei irakastea da helburua, kalkulu errazak eginez.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/_xxA97bVLO8" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/rdJbGiytyCg" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">«Haur teklatua» non, teklatuan karaktere bat tekleatzen denean, pantailan azaldu eta, dagoenean, dagokion ahotsa jotzen dugun.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-PdEtP3YqjQ" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">«Grabitatea», «Grabitaterako sarrera» zaharra ordezkatzen duena, kontzeptua hobeto azaltzen du eta errealistagoa da.</li><br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/fiklpq8JldA" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Bertsio berri honen paketeak aurki ditzakezu GNU/Linux, Windows, MacOS eta Raspberry Pi-rako, <a href="https://gcompris.net/downloads{{ suffix }}.html">zama-jaisteko orrian</a>. Eguneratze hau laster egongo da eskuragarri Android Play dendan, F-Droid gordetegian eta baita Windows dendan ere. Jakizu MacOS-rako paketea oraindik ez dela notarioak izenpetua izan.</p>
<p>Orri honetan egiazta dezakezu ahotsen egoera zure hizkuntzan: <a href="https://gcompris.net/voicestats/">https://gcompris.net/voicestats/</a>. Zure jatorrizko hizkuntzan falta diren sarrera guztietarako zure ahotsaren grabaketa atsegin bat emanez lagun diezagukezu.</p>

<p>Itzulpenei dagokienean, euskarri osoa duten 22 hizkuntza ditugu: bretoiera, Britainiako ingelesa, errumaniera, esloveniera, euskara, frantsesa, gaztelania, grekoa, hebreera, hungariera, indonesiera, italiera, katalana, katalana (valentziera), malabarera, nederlandera, poloniera, portugesa, suediera, txinera tradizionala, turkiera eta ukrainera.</p>

<p>Partzialki onartutako 4 hizkuntza ere baditugu: bielorrusiera (% 85), Brasilgo portugesa (% 92), alemana (% 89) eta lituaniera (% 84).</p>

<p>Aurreko albistean aipatu bezala, gutxienez % 80 osatutako itzulpenak kaleratzen ditugu, haurrek esperientzia hobea izan dezaten, eta ez dezaten erdi itzulitako softwarerik erabili behar izan. Tamalez, ondoko itzulpenak kanpoan utzi behar izan ditugu: estoniera, finlandiera, Irlandako gaelera, Eskoziako gaelera, galiziera, hindi, mazedoniera, norvegiera nynorsk, errusiera, eslovakiera eta txinera sinplifikatua.</p>

<p>Zure hizkuntza partzialki euskarria dutenen zerrendan badago, edo dagoeneko ez badu, edo oraindik ez badu euskarririk, eta lagundu nahi duzu, jar zaitez gurekin harremanean (support@gcompris.net) eta itzultzen hasteko jarraibideak emango dizkizugu.</p>
<p>Laguntzeko beste era bat, zure komunitatean GCompris-en inguruko postak idaztea da, ez izan guri erreakzioak bidaltzeko zalantzarik.</p><br/>

<p>Eskerrik asko guztiei, <br/>
Timothée & Johnny</p>{% endblock %}
