{% extends "template/onenews.html" %}
{% set title = "ג'יקומפריס חופשית כעת להתקנה בכל מקום" %}
{% set withlongcontent = 0 %}
{% block content %} 

     
<p>שלום,<br />
אנו שמחים להודיע כי הגירסא המלאה של GCompris זמינה ללא עלות לכל הפלטפורמות הנתמכות!</p>

<p>תוכנת ההתקנה לווינדוז ומקאוס באתר שלנו עודכנה כך שלא תדרוש קוד הפעלה יותר והגירסה המלאה בPlay store ובחנות של מייקרוסועפט הן חינמיות.</p>

<p>אנו מקווים שצעד זה יקל על ילדים/ות בכל העולם לגשת לתוכנת הלומדות הטובה ביותר.</p>

<br/>

<p>תודה רבה לכולכם, <br/>
Timothée & Johnny</p>


{% endblock %}
