{% extends "template/onenews.html" %}
{% set title = 'Lanzamiento de GCompris 1.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='news/images/gcompris-20years.png' class='col-xs-12 col-md-4' alt='Lanzamiento de GCompris 1.0' style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('news/images/gcompris-20years.png')"/>

<p>¡Hola!<br />
Para celebrar el 20 aniversario de GCompris, nos complace anunciar el lanzamiento de GCompris versión 1.0.</p>
<p>Esta nueva versión contiene una importante nueva funcionalidad: se ha añadido un menú de preferencias de las actividades que permite escoger entre más de 50 actividades, facilitando una selección más específica de lo que se puede aprender en las actividades.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/1CAgIAIRxRE" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>También hemos añadido 4 nuevas actividades:</p>
<li class="puce">La largamente esperada actividad sobre electricidad analógica, que nos permite dibujar circuitos y realizar su simulación.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8TbbVhdqZUw" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">Aprender los números y dos subactividades para aprender a sumar y a restar. El objetivo es enseñar estos conceptos a los más pequeños con cálculos fáciles.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/_xxA97bVLO8" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/rdJbGiytyCg" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">El teclado para niños, donde cada vez que se pulsa una tecla se muestra en la pantalla y se reproduce su correspondiente voz, si existe.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-PdEtP3YqjQ" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">La gravedad, que sustituye a la anterior introducción a la gravedad, y que explica mejor el concepto y es más realista.</li><br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/fiklpq8JldA" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Puede encontrar paquetes de esta nueva versión para GNU/Linux, Windows, MacOS y Raspberry Pi en la <a href="https://gcompris.net/downloads{{ suffix }}.html">página de descargas</a>. Esta actualización también estará disponible en breve en la Play Store de Android, el repositorio F-Droid y en la Windows Store. Tenga en cuenta que el paquete para MacOS no ha sido certificado.</p>
<p>Puede comprobar en esta página el estado de las voces de su idioma: <a href="https://gcompris.net/voicestats/">https://gcompris.net/voicestats/</a>. Puede ayudarnos proporcionándonos una bonita grabación de su voz con todas las entradas que faltan en su idioma nativo.</p>

<p>En cuanto a traducciones se refiere, disponemos de 22 idiomas completamente traducidos: bretón, catalán, catalán de Valencia, chino tradicional, esloveno, español, euskera, francés, griego, hebreo, holandés, húngaro, inglés británico, indonesio, italiano, malabar, polaco, portugués, rumano, sueco, turco y ucraniano.</p>

<p>También tenemos 4 idiomas parcialmente traducidos: bielorruso (85%), portugués brasileño (92%), alemán (89%) y lituano (84%).</p>

<p>Como se ha dicho en otras ocasiones, hemos decidido proporcionar solo las traducciones que se han completado al menos un 80% para que los niños tengan una mejor experiencia en lugar de software a medio traducir. Desafortunadamente, hemos excluido la traducción para los siguientes idiomas: estonio, finlandés, gaélico irlandés, gaélico escocés, gallego, hindi, macedonio, noruego nynorsk, ruso, eslovaco y chino simplificado.</p>

<p>Si su idioma está en la lista de parcialmente completados (o ya no aparece en ella o no se ha empezado su traducción) y desea colaborar, contacte con nosotros (support@gcompris.net) para que le indiquemos cómo empezar a traducir.</p>
<p>También puede ayudar escribiendo algún artículo en su comunidad sobre GCompris, y no dude en hacernos llegar sus comentarios.</p><br/>

<p>Gracias a todos, <br/>
Timothée y Johnny</p>{% endblock %}
