{% extends "template/onenews.html" %}
{% set title = 'Versione GCompris 1.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='news/images/gcompris-20years.png' class='col-xs-12 col-md-4' alt='gcompris banner'     style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('news/images/gcompris-20years.png')"/>

<p>Ciao,<br />\Per celebrare i 20 anni di GCompris, abbiamo il piacere di annunciare il rilascio della versione 1.0 di GCompris.</p>
<p>Questa nuova versione contiene una nuova caratteristica principale: l'aggiunta del menu Impostazioni attività con la selezione dell'insieme di dati per più di 50 attività, che consente di scegliere in modo più specifico cosa è possibile apprendere sulle attività.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/1CAgIAIRxRE" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Abbiamo aggiunto 4 nuove attività:</p>
<li class="puce">La tanto attesa attività di Elettricità analogica che ci permette di disegnare circuiti ed eseguire la loro simulazione.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8TbbVhdqZUw" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">Imparare le cifre e due attività secondarie per imparare addizioni e sottrazioni. L'obiettivo è insegnare questi concetti ai bambini più piccoli, con semplici calcoli.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/_xxA97bVLO8" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/rdJbGiytyCg" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">Mini tastiera dove, quando un carattere viene digitato sulla tastiera, lo visualizziamo sullo schermo e suoniamo la voce corrispondente se esiste.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-PdEtP3YqjQ" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">Gravity, che sostituisce il vecchio Intro Gravity, spiega meglio il concetto ed è più realistico.</li><br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/fiklpq8JldA" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Puoi trovare i pacchetti di questa nuova versione per GNU/Linux, Windows, MacOS e Raspberry Pi sulla <a href="https://gcompris.net/downloads{{ suffix }}.html">pagina Scarica</a>. Questo aggiornamento sarà inoltre disponibile presto nel Play Store di Android, nel deposito di F-Droid e nel Windows Store. Notare che il pacchetto per MacOS non è ancora convalidato.</p>
<p>Puoi controllare su questa pagina lo stato delle voci nella tua lingua: <a href="https://gcompris.net/voicestats/">https://gcompris.net/voicestats/</a>. Puoi aiutarci fornendo una buona registrazione della tua voce per tutte le voci mancanti nella tua lingua nativa.</p>

<p>Sul lato delle traduzioni, abbiamo 22 lingue completamente supportate: basco, bretone, inglese britannico, catalano, catalano (valenziano), cinese tradizionale, olandese, francese, greco, ebraico, ungherese, indonesiano, italiano, macedone, malayalam, polacco, portoghese, rumeno, slovacco, spagnolo, svedese, turco, ucraino.</p>

<p>Abbiamo anche 4 lingue parzialmente supportate: bielorusso (85%), portoghese brasiliano (92%), tedesco (89%), lituano (84%).</p>

<p>Come detto nelle comunicazioni precedenti, abbiamo deciso di rilasciare solo le traduzioni completate almeno all'80% per consentire ai bambini di avere un'esperienza migliore e un programma tradotto a metà. Sfortunatamente, abbiamo dovuto rinunciare alle traduzioni per: estone, finlandese, gaelico irlandese, gaelico scozzese, galiziano, hindi, macedone, norvegese nynorsk, russo, slovacco e cinese semplificato.</p>

<p>Se la tua lingua è nell'elenco delle lingue parzialmente supportate, o non è affatto supportata, e vuoi contribuire, contattaci (support@gcompris.net) e ti forniremo le istruzioni per iniziare a tradurre.</p>
<p>Inoltre, puoi aiutarci anche pubblicando commenti nella tua comunità su GCompris e non esitare a fornirci riscontri.</p><br/>

<p>Grazie a tutti, <br/>
Timothée & Johnny</p>{% endblock %}
