{% extends "template/onenews.html" %}
{% set title = 'GCompris 1.0 er ute' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='news/images/gcompris-20years.png' class='col-xs-12 col-md-4' alt='gcompris banner'     style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('news/images/gcompris-20years.png')"/>

<p>Hei!<br />
Me er glade for å kunna feira 20 år med GCompris med ei kunngjering av versjon 1.0.</p>
<p>Denne versjonen inneheld ein stor ny funksjon: Meir enn 50 aktivitetar har no ein innstillings­meny der du kan velja meir detaljert kva innhald dei skal ha.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/1CAgIAIRxRE" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Me har òg lagt til fire nye aktivitetar:</p>
<li class="puce">Den etterlengta aktiviteten om analog elektrisitet, der ein kan teikna og simulera straumkrinsar.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8TbbVhdqZUw" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">Lær siffera og to under­aktivitetar for å læra addisjon og subtraksjon. Målet er å læra dette til yngre barn, med lette utrekningar.</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/_xxA97bVLO8" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/rdJbGiytyCg" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">Babytastatur der ein kan trykkja på tastar og få sjå bokstaven på skjermen, eventuelt med uttale (dersom tilgjengeleg).</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-PdEtP3YqjQ" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<li class="puce">Tyngdekraft, som erstattar den gamle tyngdekraft-innføringa og som både forklarer fenomenet betre og er meir realistisk.</li><br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/fiklpq8JldA" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Du finn pakkar for denne nye versjonen for GNU/Linux, Windows, MacOS og Raspberry Pi på <a href="https://gcompris.net/downloads{{ suffix }}.html">nedlastings­sida</a>. Denne oppdateringa er òg snart tilgjengeleg på Android Play Store, i F-Droid og på Windows Store. Merk at MacOS-pakken ikkje er attestert.</p>
<p>På denne sida finn du status for stemme­filer på ditt språk: <a href="https://gcompris.net/voicestats/">https://gcompris.net/voicestats/</a>. Du kan hjelpa oss ved å sjølv spela inn stemme­filer der det manglar.</p>

<p>GCompris er no fullstendig omsett til 22 språk: baskisk, bretonsk, engelsk (britisk og amerikansk), fransk, gresk, hebraisk, indonesisk, italiensk, katalansk (og valensiansk), kinesisk (tradisjonell), mayalam, nederlandsk, polsk, portugisisk, rumensk, slovensk, spansk, svensk, tyrkisk, ukrainsk og ungarsk.</p>

<p>Det er òg fire språk som GCompris berre er delvis omsett til: kviterussisk (85%), Brasil-portugisisk (92%), tysk (89%) og litauisk (84%).</p>

<p>Som nemnt i eit tidlegare innlegg publiserer me no berre omsetjingar som er minst 80 % fullført, for å sikra barna ei god oppleving og ikkje eit halvvegs omsett program. Men dette medfører dessverre at me måtta fjerna omsetjingane for estisk, finsk, galisisk, gælisk (irsk og skotsk), hindi, kinesisk (forenkla), makedonsk, norsk (nynorsk), russisk og slovakisk.</p>

<p>Viss språket ditt er eit av dei som GCompris berre har delvis eller inga støtte for og du ønskjer å hjelpa, ta kontakt med oss (support@gcompris.net) for instruksjonar om korleis du kan bidra med omsetjing.</p>
<p>Ein annan måte å hjelpa til er å skriva blogg­innlegg om GCompris. Og ikkje nøl med å gje oss tilbakemeldingar.</p><br/>

<p>Takk, alle saman!<br/>
Timothée & Johnny</p>{% endblock %}
