{% extends "template/onenews.html" %}
{% set title = 'Digoust eo bremañ staliañ GCompris mod pe vod.' %}
{% set withlongcontent = 0 %}
{% block content %} 

     
<p>Salud d'an holl,<br />
Plijet omp o kemenn eo digoust stumm klok GCompris 0.97 evit pep dasparzh skoret !</p>

<p>Ar meziantoù staliañ dindan Windows ha macOS war hol lec'hienn zo bet hizivaet ha n'o deus ket ezhomm eus kod dibrennañ ebet ken. Digoust eo bremañ ar stumm klok er Play Store ha Microsoft Store.</p>

<p>Spi hon eus e vo aesoc'h evel-se d'an holl vugale er bed-holl evit gallout ober gant ar gwellañ meziant kelennadel.</p>

<br/>

<p>Trugarez d'an holl, <br/>
Timothée & Johnny</p>


{% endblock %}
