{% extends "template/onenews.html" %}
{% set title = 'ജികോംപ്രി ഇപ്പോൾ എല്ലായിടത്തും സൗജന്യമായി ഇൻസ്റ്റാൾ ചെയ്യാം ' %}
{% set withlongcontent = 0 %}
{% block content %} 

     
<p>നമസ്കാരം,<br />
സപ്പോർട്ടു ചെയ്യുന്ന എല്ലാ പ്ലാറ്റ്ഫോമിലും ജികോംപ്രിയുടെ സമ്പൂർണ പതിപ്പ് ഇപ്പോൾ സൗജന്യമായി ലഭിക്കുമെന്ന് ഞങ്ങൾ സസന്തോഷം അറിയിക്കുന്നു! </p>

<p>ഞങ്ങളുടെ വെബ്സൈറ്റിലെ വിൻഡോസിന്റെയും മാക്ഒയെസിന്റെയും ഇൻസ്റ്റാളറുകൾ ആക്ടിവേഷൻ കോഡ് ആവശ്യമില്ലാത്തതിലേക്ക് അപ്ഡേറ്റു ചെയ്തിട്ടുണ്ട്, മാത്രമല്ല പ്ലേ സ്റ്റോറിലെയും വിൻഡോസ് സ്റ്റോറിലെയും സമ്പൂർണ പതിപ്പ് ഇപ്പോൾ സൗജന്യമാണ്.</p>

<p>ലോകത്തെമ്പാടുമുള്ള എല്ലാ കുട്ടികൾക്കും ഏറ്റവും നല്ല വിദ്യാഭ്യാസ സോഫ്റ്റ്‍വെയർ ലഭ്യമാക്കുന്നതിന് ഈ നീക്കം സഹായിക്കുമെന്നു ഞങ്ങൾ പ്രതീക്ഷിക്കുന്നു.</p>

<br/>

<p>എല്ലാവർക്കും നന്ദി, <br/>
ടിമോത്തെ & ജോന്നി</p>


{% endblock %}
