{% extends "template/onenews.html" %}
{% set title = 'GCompris può essere installato ovunque gratuitamente' %}
{% set withlongcontent = 0 %}
{% block content %} 

     
<p>Ciao,<br />
Siamo felici di annunciare che la versione completa di GCompris è ora disponibile gratuitamente per tutte le piattaforme supportate.</p>

<p>Gli installatori per Windows e macOS sul nostro sito web sono stati aggiornati per non richiedere più alcun codice di attivazione, e la versione completa sul Play Store e sullo store di Microsoft è ora gratuita.</p>

<p>Speriamo che questa mossa renda più facile l'accesso al miglior software per la didattica a tutti i bambini del mondo.</p>

<br/>

<p>Grazie a tutti, <br/>
Timothée e Johnny</p>


{% endblock %}
