{% extends "template/onenews.html" %}
{% set title = 'Тепер GCompris можна безкоштовно встановити на будь-якій платформі' %}
{% set withlongcontent = 0 %}
{% block content %} 

     
<p>Hi,<br />
Раді оголосити про те, що повна версія GCompris тепер безкоштовно доступна для усіх підтримуваних платформ!</p>

<p>Пакунки для Windows і macOS на нашому сайті було оновлено. Нові пакунки не потребують для роботи коду активації. Тепер повна версія програми у Play store та Microsoft store є безкоштовною.</p>

<p>Сподіваємося, цей крок спростить доступ до найкращого освітнього програмного забезпечення для дітей з усього світу.</p>

<br/>

<p>Дякуємо вам усім, <br/>
Timothée і Johnny</p>


{% endblock %}
