{% extends "template/onenews.html" %}
{% set title = 'Hedhje në qarkullim e GCompris 1.1' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='news/images/r1.1-small.png' class='col-xs-12 col-md-4' alt='gcompris 1.1'     style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('news/images/r1.1.png')"/>

<p>Njatjeta,<br />
Jemi të gëzuar të njoftojmë hedhjen në qarkullim të GCompris version 1.1.</p>
<p>Kjo është një hedhje në qarkullim mirëmbajtje, pra, çdo shpërndarje GNU/Linux që jep 1.0 duhet të përditësohet me 1.1.</p>

<p>Ja një përmbledhje e ndryshimeve të përfshira:</p>
<li class="puce">Janë përditësuar elementë grafikë për 21 veprimtari.</li>
<li class="puce">Kemi ndrequr plot të meta.</li>
<li class="puce">U shtua një montim për Ubuntu Touch.</li>
<li class="puce">U ndreq drejtshkrimi i distrikteve të Turqisë.</li>
<li class="puce">Shtuam një paketë minimale alternative .msi për Windows.</li>
<li class="puce">I ekzekutueshmi GCompris u rilicencua nën AGPLv3 për shkak të një varësi në veprimtarinë për elektricitet analog.</li>
<br/>
<p>Për sa i përket përkthimit:</p>
<li class="puce">Janë plotësuar shqipja, bjellorusishtja, portugalishtja e Brazilit dhe rusishtja.</li>
<li class="puce">Janë rikthyer gaelikla e Irlandës dhe maqedonishtja (përkthim i pjesshëm, mbi 80% tani për tani).</li>
<li class="puce">U shtuan grupe fjalësh për veprimtari fjalori për shqipen dhe maqedonishten.</li>
<li class="puce">Janë shtuar krejt zërat për lituanishten.</li>
<br/>

<p>Tanimë kemi 27 gjuhë që mbulohen plotësisht: anglishte britanike, baskisht, bjellorusisht, bretone, frëngjisht, greqisht, hebraisht, holandisht, hungarisht, indoneziane, italisht, katalanisht, katalanisht (Valencie), kinezçe tradicionale, malajalame, maqedonisht, polonisht, portugalishte Brazili, portugalisht, rumanisht, rusisht, shqip, sllovenisht, spanjisht, suedisht, turqisht, ukrainase.</p>

<p>Kemi gjithashtu 4 gjuhë të mbuluara pjesërisht: gjermanisht (91%), gaelike Irlande (87%), lituanisht (96%) dhe norvegjishte Nynorsk (85%).</p>

<p>Te <a href="https://gcompris.net/downloads{{ suffix }}.html">faqja e shkarkimit</a> mund të gjeni paketa të këtij versioni të ri për GNU/Linux, Windows, dhe MacOS. Ky përditësim do të jetë gjithashtu së shpejti i passhëm te shitorja Android Play, depoja F-Droid dhe shitorja Windows. Së shpejti do të jetë gati edhe paketa për Raspberry Pi.</p>

<p>Faleminderit të tërëve, <br/>
Timothée & Johnny</p>{% endblock %}
