{% extends "template/onenews.html" %}
{% set title = 'Випуск GCompris 1.1' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='news/images/r1.1-small.png' class='col-xs-12 col-md-4' alt='gcompris 1.1'     style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('news/images/r1.1.png')"/>

<p>Привіт,<br />
Ми раді оголосити про випуск GCompris версії 1.1.</p>
<p>Цей випуск є проміжним, тому усім дистрибутивам GNU/Linux, до складу яких включено версію 1.0, варто оновити версію пакунка до 1.1.</p>

<p>Ось резюме змін:</p>
<li class="puce">Оновлено графіку для 21 вправи.</li>
<li class="puce">Виправлено багато вад.</li>
<li class="puce">Додано збірку для Ubuntu Touch.</li>
<li class="puce">Виправлено написання назв провінцій Туреччини.</li>
<li class="puce">Додано мінімальний альтернативний пакунок .msi для Windows.</li>
<li class="puce">Змінено умови ліцензування виконуваного файла GCompris на AGPLv3 через залежність від даних вправи з аналогової електроніки.</li>
<br/>
<p>Переклади:</p>
<li class="puce">Завершено переклади албанською, білоруською, бразильською португальською та російською.</li>
<li class="puce">Повернуто переклади ірландською гельською та македонською мовами (тепер це часткові переклади із рівнем більше 80%).</li>
<li class="puce">Додано набори слів для вправ зі словником для албанської і македонської мов.</li>
<li class="puce">Додано усі голоси для литовської мови.</li>
<br/>

<p>У цій версії повністю реалізовано підтримку 27 мов: албанської, баскської, білоруської, бразильської португальської, бретонської, британської англійської, каталанської, каталанської (валенсійський діалект), традиційної китайської, голландської, французької, грецької, івриту, угорської, індонезійської, італійської, македонської, малаялам, польської, португальської, румунської, російської, словенської, іспанської, шведської, турецької та української.</p>

<p>Крім того, 4 мови мають часткову підтримку: німецька (91%), ірландська гельська (87%), литовська (96%) та норвезька (85%).</p>

<p>Посилання на пакунки нової версії для GNU/Linux, Windows та MacOS можна знайти на <a href="https://gcompris.net/downloads{{ suffix }}.html">сторінці отримання пакунків</a>. Невдовзі пакунки оновленої версії з'являться у крамниці Android Play, сховищі F-Droid та крамниці Windows. Також невдовзі з'явиться пакунок для Raspberry Pi.</p>

<p>Дякуємо вам усім, <br/>
Timothée і Johnny</p>{% endblock %}
