{% extends "template/onenews.html" %}
{% set title = 'Release GCompris 1.1' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='news/images/r1.1-small.png' class='col-xs-12 col-md-4' alt='gcompris 1.1'     style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('news/images/r1.1.png')"/>

<p>Hi,<br />
We are pleased to announce the release of GCompris version 1.1.</p>
<p>This is a maintenance release, so every GNU/Linux distribution shipping 1.0 should update to 1.1.</p>

<p>Here is a summary of included changes:</p>
<li class="puce">Graphics have been updated for 21 activities.</li>
<li class="puce">We have fixed lots of bugs.</li>
<li class="puce">A build for Ubuntu Touch has been added.</li>
<li class="puce">The spelling of the Turkish districts has been fixed.</li>
<li class="puce">We added a minimal .msi alternative package for Windows.</li>
<li class="puce">The GCompris executable has been relicenced to AGPLv3 due to a dependency of analog electricity.</li>
<br/>
<p>On the translation side:</p>
<li class="puce">Albanian, Belarusian, Brazilian Portuguese and Russian have been completed.</li>
<li class="puce">Irish Gaelic and Macedonian have returned (partial translation above 80% for now).</li>
<li class="puce">Wordset for vocabulary activities has been added for Albanian and Macedonian.</li>
<li class="puce">All the voices have been added for Lithuanian.</li>
<br/>

<p>We have now 27 languages fully supported: Albanian, Basque, Belarusian, Brazilian Portuguese, Breton, British English, Catalan, Catalan (Valencian), Chinese Traditional, Dutch, French, Greek, Hebrew, Hungarian, Indonesian, Italian, Macedonian, Malayalam, Polish, Portuguese, Romanian, Russian, Slovenian, Spanish, Swedish, Turkish and Ukrainian.</p>

<p>We also have 4 languages partially supported: German (91%), Irish Gaelic (87%), Lithuanian (96%) and Norwegian Nynorsk (85%).</p>

<p>You can find packages of this new version for GNU/Linux, Windows and MacOS on the <a href="https://gcompris.net/downloads{{ suffix }}.html">download page</a>. This update will be available soon in the Android Play store, the F-Droid repository and the Windows store. The package for Raspberry Pi will also be available soon.</p>

<p>Thank you all, <br/>
Timothée & Johnny</p>{% endblock %}
